<div class="container" container-fluid-responsive="">
    <div class="page-header">
        <h1>Check-In: {{event.displayName}}</h1>
    </div>

    <div uib-alert type="info" ng-if="showAlert" close="hideAlert()">
        <div class="row">
            <div class="col-xs-12">
                <h4><i class="fa fa-info-circle"></i> Scan tickets for event <i>{{event.displayName}}</i> using the <a href="https://play.google.com/store/apps/details?id=alfio.scan" target="_blank">Android app</a>, <a href="https://itunes.apple.com/us/app/alf-io-scan/id1425492093" target="_blank">iOS app</a> or the <a data-ng-click="goToScanPage()">embedded scan functionality</a></h4>
            </div>
            <div class="col-xs-2">
                <a href='https://play.google.com/store/apps/details?id=alfio.scan'><img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png' style="height: auto; width: 150px;"/></a>
            </div>
            <div class="col-xs-2">
                <a href="https://itunes.apple.com/us/app/alf-io-scan/id1425492093" style="display:inline-block;overflow:hidden;background:url(https://tools.applemediaservices.com/api/badges/download-on-the-app-store/black/en-us?size=250x83) no-repeat;width:135px;height:40px;background-size:contain;margin-top:9px;"></a>
            </div>
            <div class="col-xs-12 text-muted">
                <small>Google Play and the Google Play logo are trademarks of Google LLC.</small>
            </div>
        </div>
    </div>

    <div uib-alert type="warning" ng-if="disabled">
        <i class="fa fa-warning"></i> This page requires state-of-the-art features which your browser doesn't have yet. Try updating it or <a href="https://browsehappy.com" target="_blank">download a new one</a>
    </div>

    <div class="wMarginBottom" ng-if="!disabled">
        <uib-progressbar class="progress-striped" value="completedChunks" max="chunks" title="loading..." ng-if="loading" type="success">loading...</uib-progressbar>
    </div>

    <uib-tabset active="active" ng-if="!disabled">
        <uib-tab index="0">
            <uib-tab-heading>
                <i class="fa fa-qrcode"></i> Pending <span class="badge">{{count}}</span>
            </uib-tab-heading>
            <div class="row" style="margin: 15px 0 15px 0">
                <div class="col-xs-6 col-md-2 col-md-push-8">
                    <button data-ng-click="reloadTickets()" class="btn btn-default" type="button"><i class="fa fa-refresh "></i> Refresh</button>
                </div>
                <div class="col-xs-6 col-md-2 col-md-push-8">
                    <button ng-click="newReservationsModal(event)" class="btn btn-success pull-right" type="button"><i class="fa fa-plus"></i> Add new attendees</button>
                </div>
                <div class="col-xs-12 col-md-8 col-md-pull-4">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search"></i></div>
                        <input type="text" class="form-control" data-ng-model="selection.freeText" ng-change="triggerSearch()" ng-model-options="{'debounce':500}" placeholder="Search by first, last name, category name or ticket uuid">
                        <div class="input-group-addon cursor-pointer" data-ng-click="selection.freeText = undefined; triggerSearch()">Reset</div>
                    </div>
                </div>

            </div>
            <div>
                <table class="table check-in-data">
                    <thead>
                    <tr>
                        <th><span class="sr-only">Status</span></th>
                        <th>Holder's name</th>
                        <th>Holder's e-mail</th>
                        <th>Type</th>
                        <th>Ref Nr.</th>
                        <th data-ng-if="!event.freeOfCharge">Payment Type</th>
                        <th><span class="sr-only">Display QR Code</span></th>
                        <th><span class="sr-only">Manual Check-In</span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="ticket in tickets">
                        <td data-ng-class-even="'active'" data-label="Status"><i data-ng-class="evaluateTicketStatus(ticket.status)" title="{{::ticket.status | statusText}}"></i></td>
                        <td data-ng-class-even="'active'" data-label="Holder's name">{{::ticket.fullName}}</td>
                        <td data-ng-class-even="'active'" data-label="Holder's e-mail">{{::ticket.email}}</td>
                        <td data-ng-class-even="'active'" data-label="Type">{{::ticket.ticketCategory.name | limitTo:10}}{{::ticket.ticketCategory.name.length > 10 ? '...':''}}</td>
                        <td data-ng-class-even="'active'" data-label="Reference Number"><button ng-click="showReservationModal(event, ticket)" class="btn btn-xs btn-link">{{::ticket.publicUuid | limitTo:8}}</button></td>
                        <td data-ng-class-even="'active'" data-ng-if="!event.freeOfCharge" data-label="Payment Type">{{::ticket.ticketReservation.paymentMethod}}</td>
                        <td data-ng-class-even="'active'" data-label="Display QR-Code"><button type="button" class="btn btn-primary btn-xs" data-ng-click="showQrCode(ticket, event)"><i class="fa fa-qrcode"></i> QR-Code</button></td>
                        <td data-ng-class-even="'active'" data-label="Manual Check-In"><button type="button" class="btn btn-primary btn-xs" data-ng-click="manualCheckIn(ticket)"><i class="fa fa-check"></i> Check-In</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-center wMarginBottom">
                <uib-pagination total-items="count" ng-model="currentPage" ng-change="updatePage(currentPage)" items-per-page="itemsPerPage" max-size="10" force-ellipses="true"></uib-pagination>
            </div>
        </uib-tab>
        <uib-tab index="1">
            <uib-tab-heading>
                <i class="fa fa-check"></i> Checked in <span class="badge">{{ checkedInCount }}</span>
            </uib-tab-heading>
            <div style="margin: 15px 0 15px 0;" class="row">
                <div class="col-xs-11">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search"></i></div>
                        <input type="text" class="form-control" data-ng-model="selection.freeText" ng-change="triggerSearch()" ng-model-options="{'debounce':500}" placeholder="Search by first, last name, category name or ticket uuid">
                        <div class="input-group-addon cursor-pointer" data-ng-click="selection.freeText = undefined;triggerSearch();">Reset</div>
                    </div>
                </div>
                <div class="col-xs-1">
                    <button data-ng-click="reloadTickets()" class="btn btn-default" type="button"><i class="fa fa-refresh "></i> Refresh</button>
                </div>
            </div>
            <div>
                <table class="table check-in-data">
                    <thead>
                    <th>Status</th>
                    <th>Holder's name</th>
                    <th ng-show="event.useFirstAndLastName">Holder's first name</th>
                    <th ng-show="event.useFirstAndLastName">Holder's last name</th>
                    <th>Holder's e-mail</th>
                    <th>Type</th>
                    <th>Reference Number</th>
                    <th>Customer's name</th>
                    <th>Customer's e-mail</th>
                    <th>Order identifier</th>
                    <th>Payment Type</th>
                    <th>Transaction id</th>
                    <th>Transaction timestamp</th>
                    <th>Actions</th>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="ticket in checkedInTickets | filter: checkedInSelection.freeText">
                        <td data-ng-class-even="'active'" data-label="Status">{{::ticket.status | statusText}}</td>
                        <td data-ng-class-even="'active'" data-label="Owner's name">{{::ticket.fullName}}</td>
                        <td data-ng-class-even="'active'" data-label="Owner's first name" ng-show="event.useFirstAndLastName">{{::ticket.firstName}}</td>
                        <td data-ng-class-even="'active'" data-label="Owner's last name" ng-show="event.useFirstAndLastName">{{::ticket.lastName}}</td>
                        <td data-ng-class-even="'active'" data-label="Owner's e-mail">{{::ticket.email}}</td>
                        <td data-ng-class-even="'active'" data-label="Type">{{::ticket.ticketCategory.name}}</td>
                        <td data-ng-class-even="'active'" data-label="Reference Number"><button ng-click="showReservationModal(event, ticket)" class="btn btn-xs btn-link">{{::ticket.publicUuid | limitTo:8}}</button></td>
                        <td data-ng-class-even="'active'" data-label="Customer's name">{{::ticket.ticketReservation.fullName}}</td>
                        <td data-ng-class-even="'active'" data-label="Customer's e-mail">{{::ticket.ticketReservation.email}}</td>
                        <td data-ng-class-even="'active'" data-label="Order identifier">{{::ticket.ticketsReservationId}}</td>
                        <td data-ng-class-even="'active'" data-label="Payment Type">{{::ticket.ticketReservation.paymentMethod}}</td>
                        <td data-ng-class-even="'active'" data-label="Transaction id"><span data-ng-if="ticket.paid">{{::ticket.transaction.id}}</span></td>
                        <td data-ng-class-even="'active'" data-label="Transaction timestamp"><span data-ng-if="ticket.paid">{{::ticket.transactionTimestamp | formatDate:'DD.MM.YYYY HH:mm:ss'}}</span></td>
                        <td data-ng-class-even="'active'" data-label="Display QR-Code"><button type="button" class="btn btn-primary btn-xs" data-ng-click="showQrCode(ticket, event)"><i class="fa fa-qrcode"></i> QR-Code</button></td>
                        <td><button type="button" class="btn btn-primary btn-xs" data-ng-click="revertCheckIn(ticket)">Revert check-in</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-center wMarginBottom">
                <uib-pagination total-items="checkedInCount" ng-model="currentPageCheckedIn" ng-change="updatePageCheckedIn(currentPageCheckedIn)" items-per-page="itemsPerPage" max-size="10" force-ellipses="true"></uib-pagination>
            </div>
        </uib-tab>
    </uib-tabset>

</div>
