<div class="modal-header">
    <h2 class="modal-title">Rearrange categories for {{$ctrl.event.displayName}}</h2>
</div>
<div class="modal-body">
    <ul class="list-group" dragula='"categories-bag"' dragula-model="$ctrl.sortedCategories">
        <li class="list-group-item draggable"
            data-ng-repeat="ticketCategory in $ctrl.sortedCategories | orderBy: ['ordinal', 'formattedInception', 'id']" >
            <div class="row">
                <div class="col-xs-9">
                    <span class="category-name"><i class="fa fa-bars text-muted"></i> <strong>{{ticketCategory.name}}</strong></span>
                </div>
                <div class="col-xs-3">
                    <button class="btn btn-default btn-sm" ng-if="!$first" data-ng-click="$ctrl.swap($index, ticketCategory, true)"><i class="fa fa-arrow-up"></i> move up</button>
                    <button ng-class="{'pull-right': $first}" class="btn btn-default btn-sm" ng-if="!$last" data-ng-click="$ctrl.swap($index, ticketCategory, false)"><i class="fa fa-arrow-down"></i> move down</button>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-md-4 col-md-push-8 col-xs-12">
            <button class="btn btn-lg btn-warning btn-block" data-ng-click="$ctrl.save()" style="margin-bottom: 10px">Save</button>
        </div>
        <div class="col-md-4 col-md-pull-4 col-xs-12">
            <button type="button" class="btn btn-lg btn-default btn-block" data-ng-click="$ctrl.dismiss()" style="margin-bottom: 10px">Cancel</button>
        </div>
    </div>
</div>