<div class="modal-header">
    <h2>Statistics for field {{$ctrl.field.name}} <i class="fa fa-cog fa-spin" ng-if="$ctrl.loading"></i> </h2>
</div>
<div class="modal-body">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Option</th>
                <th>Count</th>
                <th>Percentage</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="stats in $ctrl.field.stats">
                <td>{{stats.name}}</td>
                <td>{{stats.count}}</td>
                <td>{{stats.percentage}}%</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-md-4 col-md-push-8 col-xs-12">
            <button class="btn btn-lg btn-warning btn-block" data-ng-disabled="$ctrl.loading" data-ng-click="$ctrl.refresh()" style="margin-bottom: 10px">Refresh</button>
        </div>
        <div class="col-md-4 col-md-pull-4 col-xs-12">
            <button type="button" class="btn btn-lg btn-default btn-block" data-ng-disabled="$ctrl.loading" data-ng-click="$ctrl.closeWindow()" style="margin-bottom: 10px">Close</button>
        </div>
    </div>
</div>