<div class="modal-header">
    <h2 class="modal-title">Online Event settings</h2>
</div>
<form name="metadataForm" novalidate data-ng-submit="$ctrl.save(metadataForm)" data-error-sensitive="">
    <div class="modal-body">
        <div class="page-header">
            <h3>Meeting Links</h3>
            <span>Please insert one or more target links where the attendees must be redirected to attend the event</span>
        </div>
        <div class="row" data-ng-repeat="callLink in $ctrl.callLinks">
            <div class="col-xs-12 col-md-5">
                <div class="form-group">
                    <label>Meeting Link</label>
                    <input type="url" data-ng-model="callLink.link" required autocomplete="off" class="form-control" url-text-field="">
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="form-group">
                    <label for="{{'start-'+$index}}">Active from</label>
                    <input type="text" required single-date data-start-model="callLink.validFrom" max-date="$ctrl.event.formattedEnd" data-ng-model="callLink.validFromString" class="form-control" id="{{'start-'+$index}}">
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="form-group">
                    <label for="{{'end-'+$index}}">To</label>
                    <input type="text" required single-date data-start-model="callLink.validTo" max-date="$ctrl.event.formattedEnd" data-ng-model="callLink.validToString" class="form-control" id="{{'end-'+$index}}">
                </div>
            </div>
            <div class="col-xs-12 col-md-1">
                <div class="form-group">
                    <label></label>
                    <div class="form-control-static">
                        <button type="button" data-ng-disabled="$last && metadataForm.$invalid" data-ng-click="$ctrl.buttonClick($index)" class="btn btn-block" data-ng-class="{'btn-success': $last, 'btn-danger': !$last}"><i class="fa" data-ng-class="{'fa-plus': $last, 'fa-trash': !$last}"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-header">
            <h3>Prerequisites for attending</h3>
            <span>Here you can define what the attendees are expected to do <b>before</b> attending the event. i.e. what software to install, what to read, etc.</span>
        </div>
        <div class="btn-group" uib-dropdown is-open="isDropDownOpen" data-ng-if="$ctrl.notSelectedLanguages.length > 0">
            <button id="single-button" type="button" class="btn btn-success" uib-dropdown-toggle>
                Add prerequisites <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                <li role="menuitem" data-ng-repeat="language in $ctrl.notSelectedLanguages"><a ng-click="$ctrl.addPrerequisite(language.language)">{{language.displayLanguage}}</a></li>
            </ul>
        </div>
        <div class="form-group" data-ng-repeat="(lang, value) in $ctrl.prerequisites">
            <label for="{{'prerequisite-'+$lang}}">{{$ctrl.languageDescription(lang)}}</label>
            <textarea data-ng-model="$ctrl.prerequisites[lang]" name="{{'prerequisite-'+$lang}}" id="{{'prerequisite-'+$lang}}" class="form-control" placeholder="Prerequisites for attending, {{$ctrl.languageDescription(lang)}}"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-md-4 col-md-push-8 col-xs-12">
                <button class="btn btn-lg btn-warning btn-block" data-ng-disabled="metadataForm.$waiting || metadataForm.$invalid" style="margin-bottom: 10px">Confirm</button>
            </div>
            <div class="col-md-4 col-md-pull-4 col-xs-12">
                <button type="button" class="btn btn-lg btn-default btn-block" data-ng-disabled="metadataForm.$waiting" data-ng-click="$ctrl.cancel()" style="margin-bottom: 10px">Cancel</button>
            </div>
        </div>
    </div>
</form>