<h4 class="text-center text-danger" data-ng-if="$ctrl.showMetadataWarning()"><i class="fa fa-warning"></i> Configuration for online meeting URLs is missing. Please add it before <strong>{{$ctrl.event.formattedBegin | formatDate}}</strong>.</h4>
<div data-ng-if="$ctrl.metadataPresent()">
    <div data-ng-class="{'h3': !$ctrl.categoryLevel, 'h4': $ctrl.categoryLevel}">Meeting Links</div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Link</th>
            <th>Active from</th>
            <th>to</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="callLink in $ctrl.metadata.onlineConfiguration.callLinks">
            <td><a ng-href="{{callLink.link}}" rel="noopener" target="_blank">{{callLink.link}}</a></td>
            <td data-ng-bind="callLink.validFrom | formatDate"></td>
            <td data-ng-bind="callLink.validTo | formatDate"></td>
        </tr>
        </tbody>
    </table>

    <div data-ng-if="$ctrl.showRequirements()">
        <div data-ng-class="{'h3': !$ctrl.categoryLevel, 'h4': $ctrl.categoryLevel}">Prerequisites for attending</div>

        <uib-tabset>
            <uib-tab heading="{{$ctrl.languageDescription(lang)}}" data-ng-repeat="(lang, value) in $ctrl.metadata.requirementsDescriptions">
                <div style="padding-top:2px; text-align:right"><display-commonmark-preview text="value"></display-commonmark-preview></div>
                <pre class="white text-muted">{{value}}</pre>
            </uib-tab>
        </uib-tabset>
    </div>
</div>
<hr>

<div class="row">
    <div data-ng-if="$ctrl.showCapabilitiesMenu" class="col-xs-12 col-md-3">
        <div class="btn-group btn-block" uib-dropdown>
            <button id="capabilities" class="btn btn-default" uib-dropdown-toggle>
                Actions <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="capabilities">
                <li ng-repeat="capability in $ctrl.capabilities" role="menuitem">
                    <a ng-click="$ctrl.capabilitySelected(capability, $event)" href="#">{{capability.text}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xs-12" data-ng-class="{'col-md-offset-6 col-md-3': $ctrl.showCapabilitiesMenu, 'col-md-offset-9 col-md-3': $ctrl.normalLayout, 'col-md-3 col-md-offset-6': $ctrl.categoryLevel}">
        <button type="button" class="btn btn-block" data-ng-click="$ctrl.edit()" data-ng-class="{'btn-warning': !$ctrl.categoryLevel, 'btn-default': $ctrl.categoryLevel}">Edit<span data-ng-if="$ctrl.categoryLevel"> Online settings</span></button>
    </div>
    <div class="col-md-3 col-xs-12" data-ng-if="$ctrl.categoryLevel">
        <div data-ng-transclude=""></div>
    </div>
</div>
<div class="text-success wMarginTop10px" data-ng-if="$ctrl.capabilityResult">
    <hr>
    <button class="btn btn-sm btn-default mr-10" data-ng-click="$ctrl.copyCapabilityResult()"><i class="fa fa-clipboard"></i> Copy</button> <span>{{$ctrl.capabilityResult}}</span>
</div>
