<div ng-class="[$ctrl.boxClass, { 'panel panel-default': $ctrl.panelModeEnabled }]">
    <div class="category-detail" ng-class="{ 'panel-body': $ctrl.panelModeEnabled }">
        <div class="row" ng-if="$ctrl.panelModeEnabled">
            <div class="col-xs-8">
                <h3>{{$ctrl.ticketCategory.name}}</h3>
            </div>
            <div class="col-xs-4">
                <div class="pull-right">
                    <a class="btn btn-sm btn-default" ng-click="$ctrl.ticketCategory.error = null; $ctrl.editHandler($ctrl.ticketCategory)"><i class="fa fa-edit"></i> edit</a>
                    <a class="btn btn-sm btn-danger" ng-click="$ctrl.removeHandler($ctrl.ticketCategory)" data-ng-if="$ctrl.deleteEnabled"><i class="fa fa-trash"></i> delete</a>
                    <a class="btn btn-default btn-sm" ng-if="$ctrl.swapEnabled && !$ctrl.isFirst" data-ng-click="$ctrl.swapHandler($ctrl.ticketCategory, true)"><i class="fa fa-arrow-up"></i> move up</a>
                    <a class="btn btn-default btn-sm" ng-if="$ctrl.swapEnabled && !$ctrl.isLast" data-ng-click="$ctrl.swapHandler($ctrl.ticketCategory, false)"><i class="fa fa-arrow-down"></i> move down</a>
                </div>
            </div>
        </div>
        <hr ng-if="$ctrl.panelModeEnabled" />
        <div class="alert alert-danger" ng-if="$ctrl.ticketCategory.error" ng-switch="$ctrl.ticketCategory.error">
            <i class="fa fa-exclamation"></i>
            <span ng-switch-when="error.validity.date.overflow" class="ml-1">Please check ticket validity dates (from/to)</span>
            <span ng-switch-when="error.checkin.date.overflow" class="ml-1">Please check ticket check-in dates (from/to)</span>
            <span ng-switch-when="error.date.overflow" class="ml-1">Expiration Date cannot be after Event's End Date</span>
            <span ng-switch-when="error.date" class="ml-1">Wrong Validity Range</span>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-5">
                <h5><i class="fa fa-calendar-check-o fa-1_5x"></i> <span class="sr-only">Ticket Sale period</span>
                    <span class="text-muted">
                        <span ng-if="$ctrl.ticketCategory.formattedInception">{{$ctrl.ticketCategory.formattedInception | formatDate}}</span>
                        <span ng-if="!$ctrl.ticketCategory.formattedInception">{{$ctrl.formatDateTimeModification($ctrl.ticketCategory.inception) | formatDate}}</span> -
                        <span ng-if="$ctrl.ticketCategory.formattedExpiration">{{$ctrl.ticketCategory.formattedExpiration | formatDate}}</span>
                        <span ng-if="!$ctrl.ticketCategory.formattedExpiration">{{$ctrl.formatDateTimeModification($ctrl.ticketCategory.expiration) | formatDate}}</span>
                    </span>
                </h5>
                <h5>
                    <i class="fa fa-ticket fa-1_5x"></i><span class="sr-only">Max Tickets</span>
                    <span class="text-muted" ng-switch="$ctrl.ticketCategory.bounded">
                        <span ng-switch-when="true">{{$ctrl.ticketCategory.maxTickets}}</span>
                        <span ng-switch-when="false">dynamic</span>
                    </span>
                    <i class="ml-1 fa fa fa-money fa-1_5x" ng-if="!$ctrl.event.freeOfCharge"></i><span class="sr-only">Ticket Price</span>
                    <span class="text-muted" ng-if="!$ctrl.event.freeOfCharge">
                        {{$ctrl.ticketCategory.price | money : ($ctrl.event.currency || "")}} <span ng-if="$ctrl.plusVat"><i class="text-muted">+ VAT</i></span>
                    </span>
                </h5>
                <h5 ng-if="$ctrl.hasCustomCheckIn()">
                    <i class="fa fa-qrcode fa-1_5x"></i><span class="sr-only">Check-in Interval</span>
                    <span class="text-muted">{{$ctrl.getCheckInFrom() | formatDate}} - {{$ctrl.getCheckInTo() | formatDate}}</span>
                </h5>
                <h5 ng-if="$ctrl.hasCustomTicketValidity()">
                    <i class="fa fa-clock-o fa-1_5x"></i><span class="sr-only">Ticket Validity</span>
                    <span class="text-muted">{{$ctrl.getTicketValidityFrom() | formatDate}} - {{$ctrl.getTicketValidityTo() | formatDate}}</span>
                </h5>
                <h5 ng-if="$ctrl.ticketCategory.code">
                    <i class="fa fa-link fa-1_5x"></i><span class="sr-only">Access Code</span>
                    <span class="text-muted"><span ng-if="$ctrl.event.id">{{$ctrl.baseUrl}}/event/{{$ctrl.event.shortName}}/code/{{ticketCategory.code}}</span>{{$ctrl.ticketCategory.code}}</span>
                </h5>
                <h5 data-ng-if="$ctrl.ticketCategory.id" class="text-muted">ID: {{$ctrl.ticketCategory.id}}</h5>
            </div>
            <div class="col-md-7 category-detail hidden-xs" ng-if="$ctrl.categoryHasDescriptions($ctrl.ticketCategory)">
                <uib-tabset>
                    <uib-tab heading="{{lang}}" data-ng-repeat="(lang, desc) in $ctrl.ticketCategory.description">
                        <div style="position: absolute; right: 15px; margin-top: 5px;"><display-commonmark-preview text="desc"></display-commonmark-preview></div>
                        <pre class="white text-muted">{{desc}}</pre>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
</div>
