<div class="modal-header">
    <h2><span ng-if="!addNewField">Edit</span><span ng-if="addNewField">Add new</span> Field</h2>
</div>
<form name="editFieldForm" ng-submit="editField(editFieldForm, field)">
<div class="modal-body">


    <div class="form-horizontal">
        <div class="form-group" data-ng-if="addNewField">
            <label class="col-xs-2 control-label">From Template</label>
            <div class="col-sm-10">
                <button type="button" data-ng-repeat="template in dynamicFieldTemplates" class="btn btn-default btn-sm mr-10" data-ng-click="addFromTemplate(template)">{{template.name}}</button>
            </div>
        </div>
        <div class="form-group" bs-form-error="editFieldForm.name">
            <label class="col-xs-2 control-label">Name <i class="fa fa-info-circle"></i></label>
            <div class="col-xs-10">
                <input type="text" name="name" ng-model="field.name" class="form-control" required data-ng-if="addNewField">
                <field-error data-form-obj="editFieldForm" data-field-obj="editFieldForm.name" data-field-label="'Field name'" data-show-existing-errors="showExistingErrors" data-required-pattern="'Letters, numbers, hyphen and underscore. Example of valid name: Additional_info1'"></field-error>
                <pre class="form-control-static" data-ng-if="!addNewField">{{field.name}}</pre>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">Type</label>
            <div class="col-xs-10">
                <select ng-model="field.type" ng-options="k as v for (k,v) in fieldTypes" class="form-control" required data-ng-if="addNewField">
                    <option></option>
                </select>
                <pre class="form-control-static" data-ng-if="!addNewField">{{field | fieldType}}</pre>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">Required</label>
            <div class="col-xs-2">
                <div class="checkbox">
                    <label><input type="checkbox" data-ng-model="field.required" name="fieldRequired" id="fieldRequired"></label>
                </div>
            </div>
        </div>
        <div class="form-group" ng-if="!addNewField">
            <label class="col-xs-2 control-label">Read Only</label>
            <div class="col-xs-2">
                <div class="checkbox">
                    <label><input type="checkbox" data-ng-model="field.readOnly" name="fieldReadOnly" id="fieldReadOnly"></label>
                </div>
            </div>
        </div>
    </div>
    <div class="page-header" ng-if="field.type && field.type !== 'country'">
        <h3>Configuration</h3>
        <small>Settings for type '{{field | fieldType}}'</small>
    </div>

    <div class="alert alert-info" ng-if="field.type === 'vat:eu'">
        <div class="row">
            <div class="col-xs-1"><i class="fa fa-info-circle fa-2x"></i></div>
            <div class="col-xs-11"><h5>The Provided Number must be a valid VAT Number for the organizer's country.</h5></div>
        </div>
    </div>

    <div class="form-horizontal" data-ng-if="event && event.ticketCategories.length > 0">
        <div class="form-group">
            <label class="col-xs-2 control-label">Collect for</label>
            <div class="col-xs-10">
                <div class="input-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="category-all" checklist-value="" ng-click="toggleAllCategoriesSelected()" ng-checked="field.categoryIds.length == 0"> All Ticket Categories
                        </label>
                    </div>
                </div>
                <div class="input-group" ng-repeat="category in event.ticketCategories">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="category-{{category.id}}" checklist-model="field.categoryIds" checklist-value="category.id"> {{category.name}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12" ng-if="field.type !== 'country'">
            <div data-ng-if="field.type === 'select' || field.type === 'radio' || field.type === 'checkbox'" class="form-horizontal">
                <div data-ng-repeat="restrictedValue in field.restrictedValues">
                    <div class="form-group">
                        <div class="col-xs-12">
                            <button class="btn btn-sm btn-default" type="button" ng-click="moveRestrictedValue($index, true)" ng-hide="$first"><i class="fa fa-arrow-up"></i> move up</button>
                            <button class="btn btn-sm btn-default" type="button" ng-click="moveRestrictedValue($index, false)"  ng-hide="$last"><i class="fa fa-arrow-down"></i> move down</button>
                            <button class="btn btn-sm btn-default" type="button" data-ng-if="(addNewField || restrictedValue.isNew) && field.restrictedValues.length > 0" ng-click="field.restrictedValues.splice(field.restrictedValues.indexOf(restrictedValue), 1)"><i class="fa fa-trash"></i> Remove</button>
                            <button class="btn btn-sm btn-default" type="button" data-ng-if="!addNewField && !restrictedValue.isNew" ng-click="toggleEnabled(restrictedValue, field)"><i class="fa fa-eye-slash" ng-class="{'fa-eye': !isRestrictedValueEnabled(restrictedValue, field), 'fa-eye-slash': isRestrictedValueEnabled(restrictedValue, field)}"></i> <span ng-if="isRestrictedValueEnabled(restrictedValue, field)">Disable</span><span ng-if="!isRestrictedValueEnabled(restrictedValue, field)">Enable</span></button>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'text-muted disabled-value': !isRestrictedValueEnabled(restrictedValue, field)}">
                        <label class="col-xs-2 control-label">Value</label>
                        <div class="col-xs-10">
                            <input ng-model="restrictedValue.value" class="form-control" required data-ng-if="addNewField || restrictedValue.isNew">
                            <pre class="form-control-static" data-ng-if="!addNewField && !restrictedValue.isNew">{{restrictedValue}}</pre>
                        </div>
                    </div>
                    <div ng-repeat="lang in allLanguages" ng-if="isLanguageSelected(lang.value, locales)" class="form-group" ng-class="{'text-muted disabled-value': !isRestrictedValueEnabled(restrictedValue, field)}">
                        <label class="col-xs-2 control-label">Text ({{lang.displayLanguage}})</label>
                        <div class="col-xs-10">
                            <input ng-model="field.description[lang.locale].restrictedValues[restrictedValue.value]" class="form-control" required data-ng-if="addNewField">
                            <input ng-model="field.description[lang.locale].description.restrictedValues[restrictedValue]" class="form-control" required data-ng-if="!addNewField && !restrictedValue.isNew">
                            <input ng-model="field.description[lang.locale].description.restrictedValues[restrictedValue.value]" class="form-control" required data-ng-if="!addNewField && restrictedValue.isNew">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <button type="button" data-ng-click="addRestrictedValue();" class="btn btn-success">Add value</button>
                    </div>
                </div>
            </div>
            <div class="form-horizontal" data-ng-if="field.type === 'input:text' || field.type === 'input:tel' || field.type === 'textarea' || field.type === 'input:dateOfBirth'">
                <div class="form-group">
                    <label class="col-xs-2 control-label">Min {{ field.type === 'input:dateOfBirth' ? 'age (years)' : 'length'}}</label>
                    <div class="col-xs-10">
                        <input type="number" ng-model="field.minLength" class="form-control" data-ng-if="addNewField">
                        <pre class="form-control-static" data-ng-if="!addNewField">{{field.minLength}}</pre>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-2 control-label">Max {{ field.type === 'input:dateOfBirth' ? 'age (years)' : 'length'}}</label>
                    <div class="col-xs-10">
                        <input type="number" ng-model="field.maxLength" class="form-control" data-ng-if="addNewField">
                        <pre class="form-control-static" data-ng-if="!addNewField">{{field.maxLength}}</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-horizontal" data-ng-if="addNewField && event.additionalServices.length > 0">
        <div class="form-group">
            <label class="col-xs-2 control-label">Only if</label>
            <div class="col-xs-10">
                <div class="input-group">
                    <select data-ng-options="item as joinTitle(item.title) for item in event.additionalServices" data-ng-model="field.forAdditionalService" class="form-control"></select>
                    <div class="input-group-btn"><button type="button" class="btn btn-default" data-ng-click="field.forAdditionalService = undefined"><i class="fa fa-close"></i> <span class="sr-only">reset</span></button></div>
                </div>
                <span class="help-block">Additional option has been selected</span>
            </div>
        </div>
    </div>

    <div class="page-header">
        <h3>Localized messages</h3>
        <small>Configure how to describe the field in the reservation page</small>
    </div>

    <div ng-repeat="lang in allLanguages" ng-if="isLanguageSelected(lang.value, locales)">
        <h4>{{lang.displayLanguage}}</h4>
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-xs-2 control-label">Label</label>
                <div class="col-xs-10">
                    <input ng-model="field.description[lang.locale].label" type="text" placeholder="label" class="form-control mr-10" required data-ng-if="addNewField">
                    <input ng-model="field.description[lang.locale].description.label" type="text" placeholder="label" class="form-control mr-10" required data-ng-if="!addNewField">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label">Placeholder</label>
                <div class="col-xs-10">
                    <input ng-model="field.description[lang.locale].placeholder" type="text" placeholder="placeholder" class="form-control mr-10" data-ng-if="addNewField">
                    <input ng-model="field.description[lang.locale].description.placeholder" type="text" placeholder="placeholder" class="form-control mr-10" data-ng-if="!addNewField">
                </div>
            </div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <control-buttons data-form-obj="editFieldForm" data-success-text="Save"></control-buttons>
</div>
</form>
