body {
    padding-top:70px;
}

div.list-even {
    background: #f5f5f5;
    border-top: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
}

div.category {
    margin-bottom: 15px;
    padding-top: 5px;
    border: 1px solid #c0c0c0;
}

input.ng-invalid.ng-touched, select.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
	border:1px solid red;
}

div.category-danger {
    border-left: 5px solid #d9534f;
    border-radius: 2px;
}

div.category-warning {
    border-left: 5px solid #f0ad4e;
    border-radius: 2px;
}

div.category-info {
    border-left: 5px solid #5bc0de;
    border-radius: 2px;
}

div.category-success {
    border-left: 5px solid #5cb85c;
    border-radius: 2px;
}

div.category-expired {
    border-left: 5px solid #545558;
    border-radius: 2px;
}

a.icon, a.icon:hover {
    text-decoration: none;
}

div.wMarginBottom {
    margin-bottom: 25px;
}

.status-icon {
    -moz-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.drop-file-zone {
    border: 1px dimgray dashed;
}

.drop-file-zone-hover {
    border: 1px green dashed;
}