body {
	background-color: #E5E5E5;
}


div.col-md-8.col-md-offset-2 {
	background-color:white;
}

div.col-md-8.col-md-offset-2 h1 {
	margin-top:0;
}

div.col-md-8.col-md-offset-2 > div {
	padding-top:1em;
	padding-bottom:1em;
}

.text-align-center {
	text-align: center;
}

.event-description {
	margin-top:1em;
}

.img-center {
	margin:auto;
}

.bagarino-lang {
	text-align: right;
}

.event-expired {
	color:#bbb;
}

p.ticket-info {
	padding:15px;
	margin-top:10px;
}

.hide-by-default {
	display: none;
}


.list-group-item {
	border-left:none;
	border-right:none;
}

.list-group-item:first-child {
	border-top:none;
}

.list-group-item:last-child {
	border-bottom:none;
}

.ticket-category-restricted-true {
	background-color: #F5F5DC
}