body {
	background-color: #E5E5E5;
}


div.col-md-8.col-md-offset-2 {
	background-color:white;
}

div.col-md-8.col-md-offset-2 h1 {
	margin-top:0;
}

div.col-md-8.col-md-offset-2 > div {
	padding-top:1em;
	padding-bottom:1em;
}

.text-align-center {
	text-align: center;
}

.event-description {
	margin-top:1em;
}

.img-center {
	margin:auto;
}

.alfio-lang {
	background-color:transparent;
}

.event-expired {
	color:#bbb;
}

p.ticket-info {
	padding:15px;
	margin-top:10px;
}

.hide-by-default {
	display: none;
}

.show-by-default {

}


.list-group-item {
	border-left:none;
	border-right:none;
}

.list-group-item:first-child {
	border-top:none;
}

.list-group-item:last-child {
	border-bottom:none;
}

.ticket-category-restricted-true {
	background-color: #F5F5DC
}

.center {
	text-align: center;
}

.wMarginBottom {
    margin-bottom: 20px;
}

.wMarginTop {
	margin-top:20px;
}

body {
  counter-reset: ticket-counter;
}

.ticket-counter:before {
	counter-increment: ticket-counter;
  	content: counter(ticket-counter)
}

.ticket-header-col {
	width:150px;
	vertical-align: top;
}

.payment-method-container {
	width:80%;
}

.alfio-event-add-to-calendar {
	padding-left: 13px;
}

.alfio-event-add-to-calendar > span:before {
	content: "\00a0 "
}

@media screen and (max-width: 768px) {
	.xs-payment-method {
		width:100%;
		margin-bottom: 5px;
	}
}

@media screen and (min-width: 768px) {
	.j-btn-group {
		display: table;
		width: 100%;
		table-layout: fixed;
		border-collapse: separate;
	}
	.j-btn-group > .btn,
	.j-btn-group > .btn-group {
		display: table-cell;
		float: none;
		width: 1%;
	}
}
