<div class="container">
  <h1 translate="admin.user.new.title"></h1>
  <form [formGroup]="userForm" (ngSubmit)="save()">
    <div class="form-group my-3">
      <label
        for="UserOrganizationId"
        translate="admin.user.new.organization"
      ></label>
      <select
        id="UserOrganizationId"
        class="form-select form-control"
        formControlName="organizationId"
      >
        <option *ngFor="let org of organizations$ | async" [ngValue]="org.id">
          {{ org.name }}
        </option>
      </select>
    </div>
    <div class="form-group my-3">
      <label for="userRole" translate="admin.user.new.role"></label>
      <select id="userRole" class="form-select" formControlName="role">
        <option *ngFor="let role of roles$ | async" [ngValue]="role.role">
          {{ role.description }}
        </option>
      </select>
    </div>
    <div class="form-group my-3">
      <label for="userName" translate="admin.common.username"></label>
      <input
        id="userName"
        type="text"
        class="form-control"
        formControlName="username"
        [class.is-invalid]="
          userName?.invalid && (userName?.dirty || userName?.touched)
        "
      />
    </div>
    <div class="form-group my-3">
      <label for="userFirstName" translate="common.first-name"></label>
      <input
        id="userFirstName"
        type="text"
        class="form-control"
        formControlName="firstName"
        [class.is-invalid]="
          userFirstName?.invalid &&
          (userFirstName?.dirty || userFirstName?.touched)
        "
      />
    </div>
    <div class="form-group my-3">
      <label for="userLastName" translate="common.last-name"></label>
      <input
        id="userLastName"
        type="text"
        class="form-control"
        formControlName="lastName"
        [class.is-invalid]="
          userLastName?.invalid &&
          (userLastName?.dirty || userLastName?.touched)
        "
      />
    </div>

    <div class="form-group my-3">
      <label for="userMail" translate="common.email"></label>
      <input
        id="userMail"
        type="email"
        class="form-control"
        formControlName="emailAddress"
        [class.is-invalid]="
          userMail?.invalid && (userMail?.dirty || userMail?.touched)
        "
      />
    </div>
    <div class="d-flex justify-content-between">
      <div>
        <button
          class="btn btn-lg btn-outline-secondary"
          [routerLink]="['/access-control/users']"
          translate="admin.common.cancel"
        ></button>
      </div>
      <div>
        <button
          type="submit"
          class="btn btn-lg btn-primary"
          [disabled]="userForm.invalid"
          translate="admin.common.save"
        ></button>
      </div>
    </div>
  </form>
</div>
