<div class="page-header">
    <h2>Polls</h2>
    <p>engage your attendees during your event.</p>
</div>
<div class="list-group">
    <a class="list-group-item" data-ng-repeat="poll in $ctrl.polls | orderBy: ['order', 'id']" data-ui-sref="events.single.polls-detail({eventName: $ctrl.event.shortName, pollId: poll.id})">
        <div class="row">
            <div class="col-xs-10">
                <div class="list-group-item-heading">
                    <h3>{{ $ctrl.getFirstLang(poll.title) }}</h3>
                </div>
                <div class="list-group-item-text">
                    {{ $ctrl.getFirstLang(poll.description) }}
                </div>
            </div>
            <div class="col-xs-2">
                <div class="list-group-item-heading text-right">
                    <div class="wMarginBottom30px">
                        <i class="fa fa-chevron-right fa-1_5x"></i> &nbsp;
                    </div>
                    <div class="label label-success" data-ng-if="poll.status === 'OPEN'">OPEN</div>
                </div>
            </div>
        </div>

    </a>
</div>
<a class="btn btn-success" data-ui-sref="events.single.polls-create({eventName: $ctrl.event.shortName})">Create new</a>