<div class="modal-header">
    <h2>Copy event</h2>
</div>

<form name="copyForm" role="form" data-ng-submit="$ctrl.submit()">
    <div class="modal-body" data-ng-if="!$ctrl.loading">
        <div class="form-group" ng-if="!$ctrl.selectedEvent">
            <label>Search event:</label>
            <input class="form-control" type="text" ng-model="selected" data-grab-focus
                   uib-typeahead="event for event in $ctrl.events | filter: $ctrl.match($viewValue)"
                   typeahead-template-url="copy-event-typeahead-event.html"
                   typeahead-input-formatter="$model.displayName"
                   typeahead-on-select="$ctrl.onSelect($item, $model, $label)">
        </div>

        <div data-ng-if="$ctrl.selectedEvent">
            <h3>Copy from:</h3>
            <div class="alert alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" data-ng-click="$ctrl.clearSelection()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="text-center">
                    <h4>{{$ctrl.selectedEvent.displayName}}</h4>
                    <h5 class="text-muted"><b>from</b> {{$ctrl.selectedEvent.formattedBegin | formatDate}} <b>to</b> {{$ctrl.selectedEvent.formattedEnd | formatDate}}</small></h5>
                </div>
            </div>
        </div>

        <div ng-if="$ctrl.additionalFields && $ctrl.additionalFields.length > 0">
            <label>Copy additional fields:</label>
            <ul class="list-unstyled">
               <li data-ng-repeat="af in $ctrl.additionalFields">
                   <label style="font-weight:normal"><input type="checkbox" data-ng-model="$ctrl.selectedAdditionalFields[af.name]"> {{af.name}}</label>
               </li>
            </ul>
        </div>

        <div ng-if="$ctrl.additionalServices && $ctrl.additionalServices.length >0">
            <label>Copy additional options and donations:</label>
            <ul class="list-unstyled">
                <li data-ng-repeat="as in $ctrl.additionalServices">
                    <label style="font-weight:normal">
                        <input type="checkbox" data-ng-model="$ctrl.selectedAdditionalServices[as.id]">
                        <span data-ng-repeat="t in as.title | filter: {type:'TITLE'}">{{t.value}} ({{t.locale}})<span ng-if="!$last">, </span></span>:
                        <span data-ng-if="t.type === 'DONATION'">Donation</span>
                        <span data-ng-if="t.type !== 'DONATION'">Additional option</span>
                    </label>
                </li>
            </ul>
        </div>

        <div>
            <label>New event date:</label>
            <input type="text" data-date-range data-start-model="$ctrl.newEvent.begin" data-end-model="$ctrl.newEvent.end" data-ng-model="$ctrl.newEvent.dateString" name="date" id="date" class="form-control" required />
        </div>
    </div>
    <div class="modal-footer">
        <control-buttons data-form-obj="copyForm" data-success-text="Copy" cancel-handler="$ctrl.cancel"></control-buttons>
    </div>
</form>
