@import "bootstrap/scss/mixins";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

.payment-method-selector {
    width: 100%;
}

.payment-method-selector > label {
    flex-basis: 100%;
    padding:0;
    padding-top:6px;
    padding-bottom:6px;
    font-size: 95%;
}

@include media-breakpoint-up(md) {
    .border-right-md {
        border-right: $border-width solid $border-color !important;
    }
}
