<div class="row" [formGroup]="overviewForm">
    @if(activePaymentsCount > 1) {
        <div class="col-12" [class.col-md-5]="verticalLayout">
            @if(verticalLayout) {
                <div class="mb-md-4">
                    @for(methodID of sortedAvailablePaymentMethodIDs; track methodID) {
                        <div class="form-check pt-3 pb-3"
                            [ngClass]="{ 'fw-bold border-top border-bottom': selectedPaymentMethod == methodID, 'text-body-secondary border-right-md': selectedPaymentMethod != null && selectedPaymentMethod != methodID }">
                            <input class="form-check-input" [attr.id]="methodID" type="radio" [value]="methodID" name="selectedPaymentMethod" formControlName="selectedPaymentMethod" role="radiogroup" [attr.aria-labelledby]="methodID + '-label'">
                            <label class="form-check-label ms-2 w-100 h-100" [attr.for]="methodID" [id]="methodID + '-label'"><fa-icon [icon]="getPaymentMethodDetails(methodID).icon" a11yRole="presentation" class="ms-2 me-3"></fa-icon> {{ getPaymentMethodDetails(methodID).labelKey | translate }}</label>
                        </div>
                    }
                </div>
            } @else {
                <div class="row align-items-center mb-3">
                    @for(methodID of sortedAvailablePaymentMethodIDs; track methodID) {
                        <div class="col-12 col-md-auto mb-2 mb-md-0 me-0 me-md-3" [class.active]="selectedPaymentMethod == methodID">
                            <div class="form-check me-sm-2">
                                <input class="form-check-input" [attr.id]="methodID" type="radio" [value]="methodID" name="selectedPaymentMethod" formControlName="selectedPaymentMethod" [attr.aria-labelledby]="methodID + '-label'">
                                <label class="form-check-label ms-2 w-100 h-100" [attr.for]="methodID" [id]="methodID + '-label'" [ngClass]="{ 'fw-bold': selectedPaymentMethod == methodID, 'text-body-secondary': selectedPaymentMethod != null && selectedPaymentMethod != methodID }">
                                    <fa-icon [icon]="getPaymentMethodDetails(methodID).icon" class="ms-2 me-3" a11yRole="presentation"></fa-icon> {{ getPaymentMethodDetails(methodID).labelKey | translate }}
                                </label>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    } @else if (activePaymentsCount === 1) {
        <div class="col-12">
            <h4 class="mt-2">
                <fa-icon [icon]="getPaymentMethodDetails(selectedPaymentMethod).icon" class="ms-2 me-3" a11yRole="presentation"></fa-icon> {{ getPaymentMethodDetails(selectedPaymentMethod).labelKey | translate }}
            </h4>
        </div>
    }

    <div class="col-12" [class.col-md-7]="verticalLayout" [class.mb-5]="!verticalLayout">
        @if(selectedPaymentMethod) {
            <div [ngClass]="{'h-100 d-flex flex-md-column justify-content-center': verticalLayout }">
                <app-offline-payment-proxy
                    [proxy]="selectedPaymentProxy"
                    [method]="selectedPaymentMethod"
                    [parameters]="activePaymentMethods[selectedPaymentMethod]?.parameters"
                    [overviewForm]="overviewForm"
                    (paymentProvider)="registerCurrentPaymentProvider($event)">
                </app-offline-payment-proxy>
                <app-onsite-payment-proxy
                    [proxy]="selectedPaymentProxy"
                    [method]="selectedPaymentMethod"
                    [parameters]="activePaymentMethods[selectedPaymentMethod]?.parameters"
                    [overviewForm]="overviewForm"
                    (paymentProvider)="registerCurrentPaymentProvider($event)">
                </app-onsite-payment-proxy>
                <app-stripe-payment-proxy
                    [purchaseContext]="purchaseContext"
                    [reservation]="reservationInfo"
                    [proxy]="selectedPaymentProxy"
                    [method]="selectedPaymentMethod"
                    [parameters]="activePaymentMethods[selectedPaymentMethod]?.parameters"
                    (paymentProvider)="registerCurrentPaymentProvider($event)">
                </app-stripe-payment-proxy>
                <app-paypal-payment-proxy
                    [proxy]="selectedPaymentProxy"
                    [method]="selectedPaymentMethod"
                    [reservation]="reservationInfo"
                    (paymentProvider)="registerCurrentPaymentProvider($event)">
                </app-paypal-payment-proxy>
                <app-mollie-payment-proxy
                    [proxy]="selectedPaymentProxy"
                    [method]="selectedPaymentMethod"
                    (paymentProvider)="registerCurrentPaymentProvider($event)">
                </app-mollie-payment-proxy>
                <app-saferpay-payment-proxy
                [proxy]="selectedPaymentProxy"
                [method]="selectedPaymentMethod"
                (paymentProvider)="registerCurrentPaymentProvider($event)">
                </app-saferpay-payment-proxy>
                <app-custom-offline-payment-proxy
                    [proxy]="selectedPaymentProxy"
                    [method]="selectedPaymentMethod"
                    [availableMethods]="customOfflinePaymentMethods"
                    (paymentProvider)="registerCurrentPaymentProvider($event)">
                </app-custom-offline-payment-proxy>
            </div>
        } @else {
            <div class="text-body-secondary" [ngClass]="{'h-100 text-center d-flex flex-md-column justify-content-center': verticalLayout }" translate="reservation-page.payment.select-method"></div>
        }
    </div>
</div>
