<div class="container" container-fluid-responsive="">
    <h1>Extension logs</h1>
    <hr>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>path</th>
            <th>name</th>
            <th>type</th>
            <th>description</th>
            <th>date</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="l in $ctrl.logs">
                <td ng-bind="l.effectivePath"></td>
                <td ng-bind="l.name"></td>
                <td ng-bind="l.type"></td>
                <td ng-bind="l.description"></td>
                <td ng-bind="l.timestamp"></td>
            </tr>
        </tbody>
    </table>

    <div class="text-center wMarginBottom">
        <uib-pagination total-items="$ctrl.totalItems" ng-model="$ctrl.currentPage" ng-change="$ctrl.updateFilteredData()" items-per-page="$ctrl.itemsPerPage" max-size="10" force-ellipses="true"></uib-pagination>
    </div>
</div>