<!--<div class="form-group">-->
<!--    <input placeholder="Find promo codes.." ng-model="searchText" name="searchText" id="searchText" class="form-control"/>-->
<!--</div>-->
<div class="row">
    <div class="col-sm-6">
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-success" title="Add new promo code" type="button" ng-click="$ctrl.addPromoCode($ctrl.promoCodeType)"><i class="fa fa-plus"></i></button>
            </span>
            <input placeholder="Find promo codes.." ng-model="searchText" name="searchText" id="searchText" class="form-control"/>
        </div><!-- /input-group -->
    </div>
    <div class="col-sm-6">
        <button title="Send promo email" class="btn btn-success" data-ng-click="$ctrl.sendPromotionalEmail($ctrl.promocodes)"><i class="fa fa-envelope"></i> Promotional email</button>
    </div>
</div>
<!--<div>TYPE {{$ctrl.promoCodeType}}</div>-->
<div class="table-responsive">
    <table class="table" data-ng-if="$ctrl.promocodes.length > 0">
        <thead>
        <tr>
            <th width="10%">Code</th>
            <th width="2%">#</th>
            <th width="2%">Max</th>
            <th width="10%">Start</th>
            <th width="10%">End</th>
            <th width="10%" ng-if="!$ctrl.isAccess">Amount</th>
            <th ng-if="$ctrl.forEvent">Categories</th>
            <th width="12%">Description</th>
            <th>Contact</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="promocode in $ctrl.promocodes | filter:searchText" data-ng-class="{'text-muted': promocode.expired}">
            <td ng-if="promocode.useCount > 0">
                <div>
                    <a data-ui-sref="events.single.reservationsList({eventName: $ctrl.event.shortName, search: promocode.promoCode})" title="Find all reservations">{{::promocode.promoCode}}</a>
                    <span data-ng-if="promocode.expired">(Expired)</span>
                </div>
                <div ng-if="promocode.alfioMetadata && promocode.alfioMetadata.tags && promocode.alfioMetadata.tags.length > 0">
                    <span class="tag-chip" ng-repeat="tag in promocode.alfioMetadata.tags">{{tag}}</span>
                </div>
            </td>
            <td ng-if="!promocode.useCount || promocode.useCount === 0">{{::promocode.promoCode}}
                <div>
                    <span data-ng-if="promocode.expired">(Expired)</span><span data-ng-if="!promocode.expired && promocode.codeType === 'DYNAMIC'">(auto)</span>
                </div>
                <div ng-if="promocode.alfioMetadata && promocode.alfioMetadata.tags && promocode.alfioMetadata.tags.length > 0">
                    <span class="tag-chip" ng-repeat="tag in promocode.alfioMetadata.tags">{{tag}}</span>
                </div>
            </td>
            <td class="text-right">{{promocode.useCount}}</td>
            <td class="text-right">{{promocode.maxUsage}}</td>
            <td>{{::promocode.formattedStart | formatDate}}</td>
            <td>{{::promocode.formattedEnd | formatDate}}</td>
            <td ng-if="!$ctrl.isAccess">
                <span data-ng-if="!$ctrl.isAccess && promocode.discountType === 'PERCENTAGE'">-{{::promocode.discountAmount}}%</span>
                <span data-ng-if="!$ctrl.isAccess && promocode.discountType !== 'PERCENTAGE'">-{{::promocode.formattedDiscountAmount | money : ($ctrl.event.currency || "")}} <div data-ng-if="promocode.discountType === 'FIXED_AMOUNT'"> per ticket</div></span>
            </td>
            <td ng-if="$ctrl.forEvent">
                <div ng-if="promocode.categories.length > 0"><p ng-repeat="categoryId in promocode.categories">{{::$ctrl.ticketCategoriesById[categoryId].name}}</p></div>
                <div ng-if="promocode.hiddenCategoryId">{{::$ctrl.ticketCategoriesById[promocode.hiddenCategoryId].name}}</div>
                <div class="text-muted" ng-if="promocode.codeType !== 'ACCESS' && (promocode.categories == null || promocode.categories.length == 0)">Apply to all</div>
            </td>
            <td ng-bind="promocode.description"></td>
            <td ng-bind="promocode.emailReference"></td>
            <td>
                <button title="Edit" class="btn btn-xs btn-default" ng-click="$ctrl.changeDate(promocode)"><i class="fa fa-edit"></i></button>
                <button title="Send promocode by email" data-ng-hide="!promocode.emailReference || promocode.expired" class="btn btn-xs btn-success" data-ng-click="$ctrl.sendEmail(promocode)"><i class="fa fa-envelope"></i></button>
                <button title="Disable" data-ng-hide="promocode.expired" class="btn btn-xs btn-warning" data-ng-click="$ctrl.disablePromocode(promocode)"><i class="fa fa-ban"></i></button>
                <button title="Remove" data-ng-show="promocode.useCount === 0" class="btn btn-xs btn-danger" data-ng-click="$ctrl.deletePromocode(promocode)"><i class="fa fa-trash"></i></button>
            </td>
        </tr>
        </tbody>
    </table>
</div>