<div ng-if="$ctrl.forOrganization || $ctrl.isInternal($ctrl.event)">
    <div class="wMarginBottom30px" ng-if="$ctrl.forOrganization || !$ctrl.event.freeOfCharge">
        <div class="page-header">
            <h3><i class="fa fa-percent"></i> {{$ctrl.promoCodeDescription}} codes</h3>
            <h5 class="text-muted">Manage/Handle the {{$ctrl.promoCodeDescription}} codes.</h5>
        </div>
        <promo-code-list for-event="$ctrl.forEvent"
                         event="$ctrl.event"
                         organization-id="$ctrl.organizationId"
                         ticket-categories-by-id="$ctrl.ticketCategoriesById"
                         change-date="$ctrl.changeDate"
                         disable-promocode="$ctrl.disablePromocode"
                         delete-promocode="$ctrl.deletePromocode"
                         promocodes="$ctrl.promocodes"></promo-code-list>
        <div>
            <button type="button" class="btn btn-success" data-ng-click="$ctrl.addPromoCode('DISCOUNT')"><i class="fa fa-plus"></i> add {{$ctrl.promoCodeDescription}} Code</button>
        </div>
    </div>

    <div data-ng-if="$ctrl.forEvent && $ctrl.restrictedCategories.length > 0" class="wMarginTop30px">
        <div class="page-header">
            <h3><i class="fa fa-unlock"></i> Access codes</h3>
            <h5 class="text-muted">Access codes are special {{$ctrl.promoCodeDescription}} codes that give access to hidden categories. By entering an Access Code, an attendee can register one or more tickets, depending on the configuration.</h5>
        </div>
        <promo-code-list for-event="$ctrl.forEvent"
                         event="$ctrl.event"
                         organization-id="$ctrl.organizationId"
                         ticket-categories-by-id="$ctrl.ticketCategoriesById"
                         change-date="$ctrl.changeDate"
                         disable-promocode="$ctrl.disablePromocode"
                         delete-promocode="$ctrl.deletePromocode"
                         promocodes="$ctrl.accesscodes"
                         is-access="true"></promo-code-list>
        <div>
            <button type="button" class="btn btn-success" data-ng-click="$ctrl.addPromoCode('ACCESS')"><i class="fa fa-plus"></i> add Access Code</button>
        </div>
    </div>

    <div class="alert alert-warning wMarginTop30px" ng-if="$ctrl.forEvent && $ctrl.restrictedCategories.length === 0 && $ctrl.event.freeOfCharge">
        <h4><i class="fa fa-warning"></i> Your event cannot have {{$ctrl.promoCodeDescription}} or Access Codes</h4>
    </div>
</div>