<div class="modal-header">
    <h3 >Compose promotional email</h3>
</div>
<form name="mailForm" data-ng-submit="sendEmail()" novalidate data-error-sensitive>
    <div class="modal-body" style="text-align: center;">
        <div class="row">
            <div class="col-sm-4">
                <div class="input-group">
                    <span class="input-group-addon" title="Select all">
                        <input type="checkbox" ng-model="selectAll" ng-click="doSelectAll(selectAll)" >
                    </span>
                    <input placeholder="Find recipients" ng-model="searchText" name="searchText" id="searchText" class="form-control"/>
                </div><!-- /input-group -->
<!--                <div class="checkbox text-left">-->
<!--                    <label><input type="checkbox" ng-model="selectAll" ng-click="doSelectAll(selectAll)" >Select all</label>-->
<!--                </div>-->
                <div style="max-height: 300px; overflow-y: auto">

                    <ul class="list-group">
                        <li style="text-align:left;" class="list-group-item small" data-ng-repeat="recipient in recipients | filter:searchText">
                            <input type="checkbox" ng-model="recipient.selected">
                            <span ng-click="recipient.selected = !recipient.selected" style="cursor: pointer; margin-left: 5px;" title="{{recipient.description}}">{{recipient.emailReference}}</span>
<!--                            <div class="col-sm-2 small">-->
<!--                                -->
<!--                            </div>-->
<!--                            <div class="col-sm-10 small">-->
<!--                                <div>{{recipient.emailReference}}</div>-->
<!--                                <div>{{recipient.description}}</div>-->
<!--                            </div>-->
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="form-group">
                    <label for="subject">Email subject</label>
                    <input type="text" ng-model="subject" name="subject" id="subject" class="form-control">
                </div>
                <div class="form-group">
                    <label for="mailbody">Email content</label>
                    <textarea rows="8" ng-model="message" name="mailbody" id="mailbody" class="form-control"></textarea>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-4 col-md-push-8 col-xs-12">
                        <button type="submit" class="btn btn-warning btn-block" style="margin-bottom: 10px">Send</button>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <button type="button" class="btn btn-default btn-block" ng-click="cancel()" style="margin-bottom: 10px">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</form>