<div class="modal-content">

    <div class="modal-body">
        <div ng-repeat="detail in $ctrl.data">
            <div class="page-header">
                <h3>Event: <em>{{detail.event.displayName}}</em></h3>
            </div>

            <table class="table usage-details">
                <caption class="sr-only">Reservations for event detail</caption>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Customer</th>
                        <th>Payment</th>
                        <th>Amount</th>
                        <th>Confirmation</th>
                    </tr>
                </thead>
                <tbody ng-repeat="reservation in detail.reservations" ng-class-odd="'bg-gray'">
                    <tr>
                        <td><a ui-sref="events.single.view-reservation({ eventName : detail.event.shortName, reservationId: reservation.id})" target="_blank"><reservation-identifier purchase-context="detail.event" purchase-context-type="'event'" reservation="reservation"></reservation-identifier></a></td>
                        <td>{{reservation.firstName}} {{reservation.lastName}} &lt;{{reservation.email}}&gt;</td>
                        <td>{{reservation.paymentType}}</td>
                        <td><span ng-if="reservation.paymentType !== 'NONE'">{{reservation.currency}} {{reservation.formattedAmount}}</span></td>
                        <td>{{reservation.confirmationTimestamp | formatDate}}</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td colspan="4">
                            <table class="table transparent">
                                <caption class="sr-only">Tickets</caption>
                                <thead>
                                    <tr>
                                        <th style="font-weight: normal">Ticket ID</th>
                                        <th style="font-weight: normal">Attendee</th>
                                        <th style="font-weight: normal">Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="ticket in reservation.tickets">
                                    <td>{{ticket.id | limitTo:8 | uppercase}}</td>
                                    <td>{{ticket.firstName}} {{ticket.lastName}}</td>
                                    <td>{{ticket.type}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-md-4 col-md-push-8 col-xs-12">
                <button class="btn btn-lg btn-warning btn-block" style="margin-bottom: 10px" ng-click="$ctrl.close()">Close</button>
            </div>
        </div>
    </div>
</div>
