<div class="container" container-fluid-responsive="">
    <h1>Extension</h1>
    <hr>
    <div class="text-right">
        <a class="btn" ui-sref="extension.log">Show logs</a>
        <a class="btn btn-success" ui-sref="extension.new"><i class="fa fa-plus"></i> add new</a>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>path</th>
                <th>name</th>
                <th>enabled</th>
                <th width="10%"><span class="sr-only">actions</span></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-if="!$ctrl.extensions || $ctrl.extensions.length == 0">
                <td colspan="4">no extensions have been found.</td>
            </tr>
            <tr ng-repeat="ext in $ctrl.extensions">
                <td>
                    <span class="path text-muted">System</span><span class="path text-muted" ng-repeat="path in ext.translatedPath track by $index">&gt; {{path}}</span>
                </td>
                <td>{{ext.name}}</td>
                <td><i class="fa" ng-class="{'fa-check-circle text-success': ext.enabled, 'fa-ban text-danger': !ext.enabled }"></i></td>
                <td class="text-center">
                    <a class="btn btn-sm btn-default" ui-sref="extension.edit({path: ext.path, name: ext.name})"><i class="fa fa-edit"></i><span class="sr-only">edit</span></a>
                    <button class="btn btn-sm btn-danger" ng-click="$ctrl.deleteExtension(ext)"><i class="fa fa-trash"></i><span class="sr-only">delete</span></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
