<div class="container" container-fluid-responsive="">
    <div class="page-header">
        <h2>Groups</h2>
        <small>groups can be used to limit access to certain categories or events</small>
    </div>

    <div ng-if="$ctrl.organizations.length > 1">
        <div class="btn-group" uib-dropdown>
            <button id="organizations" class="btn btn-default" uib-dropdown-toggle>
                {{$ctrl.organization.name}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="organizations">
                <li ng-repeat="org in $ctrl.organizations" role="menuitem">
                    <a ui-sref=".all({orgId: org.id})">{{org.name}}</a>
                </li>
            </ul>
        </div>
    </div>

    <div ui-view></div>
</div>