:root {
    font-size: 16px; /* reset bootstrap css, set default font size as defined in https://shoelace.style/tokens/typography#font-size */
    --sl-font-sans: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --sl-color-danger-600: var(--sl-color-red-700);
}
