/target/
.classpath
.project
.settings/
.idea/
.gradle/
build/
*.iml
*.ipr
*.iws
/build/
deploy*.sh
custom.jvmargs
application-dev.properties
classes/
logs/
/bin/
.DS_Store
out/
.clever.json
!/src/main/webapp/resources/bower_components/angular-growl-v2/build/
alfio-itest
.gradletasknamecache
public/
node_modules/
lsp
