config.stopBubbling = true
lombok.anyConstructor.addConstructorProperties = true
lombok.addLombokGeneratedAnnotation = true

# disable most annotations
lombok.val.flagUsage=error
lombok.var.flagUsage=error
lombok.nonNull.flagUsage=error
lombok.cleanup.flagUsage=error
#lombok.anyConstructor.flagUsage=error
lombok.value.flagUsage=error
lombok.synchronized.flagUsage=error
lombok.getter.lazy.flagUsage=error

# disable _all_ logs usage
lombok.log.flagUsage=error
# as we can't disable all logs, we disable one by one
lombok.log.custom.flagUsage=error
lombok.log.apacheCommons.flagUsage=error
lombok.log.flogger.flagUsage=error
lombok.log.jbosslog.flagUsage=error
lombok.log.javaUtilLogging.flagUsage=error
lombok.log.log4j.flagUsage=error
lombok.log.xslf4j.flagUsage=error


# experimental vvv this disable all experimental
#lombok.experimental.flagUsage=error 

lombok.accessors.flagUsage=error
lombok.extensionMethod.flagUsage=error
lombok.fieldDefaults.flagUsage=error
lombok.onX.flagUsage=error
lombok.helper.flagUsage=error
lombok.fieldNameConstants.flagUsage=error
lombok.superBuilder.flagUsage=error
lombok.jacksonized.flagUsage=error
lombok.standardException.flagUsage=error
lombok.utilityClass.flagUsage=error
lombok.with.flagUsage=error
lombok.builder.flagUsage=error
lombok.toString.flagUsage=error
lombok.sneakyThrows.flagUsage=error
lombok.noArgsConstructor.flagUsage=error
lombok.requiredArgsConstructor.flagUsage=error
lombok.equalsAndHashCode.flagUsage=error

# enable
lombok.setter.flagUsage=allow
lombok.getter.flagUsage=allow
lombok.allArgsConstructor.flagUsage=allow
lombok.data.flagUsage=allow
lombok.delegate.flagUsage=allow
