<div class="container" container-fluid-responsive="">
    <form role="form" name="viewReservation" ng-submit="$ctrl.update(viewReservation)" error-sensitive="viewReservation" novalidate>
        <div class="page-header">
            <h1>View reservation for <i>{{$ctrl.purchaseContextTitle}}</i></h1>
            <small>Reservation ID: {{$ctrl.reservation.id}}</small>
            <small ng-if="$ctrl.reservationDescriptor.reservation.hasInvoiceNumber">Invoice number: {{$ctrl.reservationDescriptor.reservation.invoiceNumber}}</small>
        </div>

        <div uib-alert type="success" close="$ctrl.hideCreationWarning()" data-ng-if="$ctrl.displayCreationWarning">
            <div class="row">
                <div class="col-xs-2 text-center">
                    <i class="fa fa-check-circle fa-5x"></i>
                </div>
                <div class="col-xs-10">
                    <h4>The reservation has been successfully created. Please note that nobody has been notified yet.<br/> <strong>You must send the notifications manually, using the buttons at the end of this page</strong></h4>
                </div>
            </div>
        </div>


        <uib-tabset active="active">
            <uib-tab>
                <uib-tab-heading>
                    Info
                </uib-tab-heading>

                <div class="page-header">
                    <h3>Reservation details
                        <button type="button" ng-click="$ctrl.cancelReservationModal(false)" ng-if="$ctrl.isOwner && $ctrl.reservation.showCreditCancel" class="btn btn-danger pull-right"><i class="fa fa-trash"></i> <span class="hidden-sm hidden-xs">Cancel reservation</span></button>
                        <button type="button" ng-click="$ctrl.cancelReservationModal(true)" ng-if="$ctrl.isOwner && $ctrl.reservation.showCreditCancel && $ctrl.reservation.status === 'OFFLINE_PAYMENT'" class="btn btn-warning pull-right" style="margin-right:10px;"><i class="fa fa-undo"></i> <span class="hidden-sm hidden-xs">Credit reservation</span></button>
                    </h3>
                </div>

                <div class="well">
                    <h4>URL to share: <a ng-href="{{$ctrl.reservationUrl}}" class="hidden-xs hidden-sm" target="_blank" rel="noopener">{{$ctrl.reservationUrl}}</a></h4>
                    <small class="visible-xs visible-sm"><a ng-href="{{$ctrl.reservationUrl}}" target="_blank" rel="noopener">{{$ctrl.reservationUrl}}</a></small>
                </div>

                <div class="row wMarginBottom">
                    <div class="col-xs-12" ng-if="$ctrl.reservation.status === 'PENDING'">
                        <small><i class="fa fa-info-circle"></i> <span class="text-muted">Once the reservation has been created, you can choose whether to confirm it or to leave it pending and send the link to the contact person for the payment.</span></small>
                        <small><span class="text-muted">Being in control of the expiration date can be really useful in case you want to give more time for the payment.</span></small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group" ng-if="!$ctrl.displayPotentialMatch">
                            <label>Status</label>
                            <div class="input-group">
                                <div class="form-control-static" ng-class="{'text-danger': $ctrl.reservation.status === 'STUCK'}">{{$ctrl.reservation.status}}</div>
                                <div class="input-group-addon" style="padding: 0; background-color: transparent; border: 0" ng-if="!$ctrl.onUpdate">
                                    <button type="button" ng-if="$ctrl.displayConfirmButton" class="btn btn-sm btn-success pull-right" ng-disabled="viewReservation.$waiting" ng-click="$ctrl.confirm()" style="margin-bottom:20px">
                                        <i class="fa fa-check"></i>
                                        <span data-ng-if="$ctrl.reservation.status !== 'OFFLINE_PAYMENT'">Mark as Completed</span>
                                        <span data-ng-if="$ctrl.reservation.status === 'OFFLINE_PAYMENT'">Confirm payment received</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div ng-if="$ctrl.displayPotentialMatch">
                            <h4 class="text-success"><i class="fa fa-info-circle"></i> Matching Transaction found</h4>
                            <dl class="dl">
                                <dt>Payment id</dt>
                                <dd ng-bind="$ctrl.paymentInfo.transaction.transactionId"></dd>
                                <dt>Timestamp</dt>
                                <dd ng-bind="$ctrl.paymentInfo.transaction.timestamp | formatDate"></dd>
                                <dt ng-if="$ctrl.paymentInfo.paymentInformation">Paid amount</dt>
                                <dd ng-if="$ctrl.paymentInfo.paymentInformation">{{$ctrl.paymentInfo.paymentInformation.paidAmount}} {{$ctrl.paymentInfo.transaction.currency || $ctrl.purchaseContext.currencyCode}}</dd>
                            </dl>
                            <div class="text-left">
                                <button type="button" class="btn btn-sm btn-success" ng-disabled="viewReservation.$waiting" ng-click="$ctrl.confirm()"><i class="fa fa-check"></i> Confirm</button>
                                <button type="button" class="btn btn-sm btn-danger" ng-disabled="viewReservation.$waiting" ng-click="$ctrl.deleteTransaction()"><i class="fa fa-ban"></i> Flag as not valid</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 wMarginBottom" data-ng-if="$ctrl.purchaseContextType === 'subscription' && $ctrl.reservation.status === 'COMPLETE'">
                        <h5><strong>Subscription Details</strong></h5>
                        <div class="checkbox wMarginBottom">
                            <label><input type="checkbox" ng-model="$ctrl.reservation.updateSubscriptionDetails"> Edit</label>
                        </div>
                        <div class="h4">PIN: <span class="text-success">{{$ctrl.subscriptionDetails.subscription.pin}}</span></div>
                        <div class="row wMarginTop30px">
                            <div class="col-xs-12 col-lg-6">
                                <div class="form-group">
                                    <label>Usage count</label>
                                    <div class="form-control-static">{{$ctrl.subscriptionDetails.usageDetails.used}}</div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-lg-6">
                                <div class="form-group" data-ng-if="$ctrl.subscriptionDetails.usageDetails.total > 0">
                                    <label>Max Allowed</label>
                                    <div class="form-control-static" data-ng-if="!$ctrl.reservation.updateSubscriptionDetails">{{$ctrl.subscriptionDetails.usageDetails.total}}</div>
                                    <input type="number" class="form-control" data-ng-if="$ctrl.reservation.updateSubscriptionDetails" data-ng-model="$ctrl.reservation.subscriptionDetails.maxAllowed"/>
                                </div>
                            </div>
                        </div>
                        <div class="row" data-ng-if="$ctrl.subscriptionDetails.subscription.validityFrom">
                            <div class="col-xs-12 col-lg-6">
                                <div class="form-group">
                                    <label id="validityFromLabel">Validity From</label>
                                    <div class="form-control-static" data-ng-if="!$ctrl.reservation.updateSubscriptionDetails">{{$ctrl.subscriptionDetails.subscription.formattedValidityFrom}}</div>
                                    <input class="form-control" data-ng-if="$ctrl.reservation.updateSubscriptionDetails" single-date start-model="$ctrl.reservation.subscriptionDetails.validityFrom" required data-ng-model="$ctrl.reservation.subscriptionDetails.validityFromStr" aria-labelledby="validityFromLabel"/>
                                </div>
                            </div>
                            <div class="col-xs-12 col-lg-6" data-ng-if="$ctrl.subscriptionDetails.subscription.validityTo">
                                <div class="form-group">
                                    <label id="validityToLabel">Validity To</label>
                                    <div class="form-control-static" data-ng-if="!$ctrl.reservation.updateSubscriptionDetails">{{$ctrl.subscriptionDetails.subscription.formattedValidityTo}}</div>
                                    <input class="form-control" data-ng-if="$ctrl.reservation.updateSubscriptionDetails" single-date start-model="$ctrl.reservation.subscriptionDetails.validityTo" required data-ng-model="$ctrl.reservation.subscriptionDetails.validityToStr" aria-labelledby="validityToLabel"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-lg-6">
                                <div class="form-group">
                                    <label id="subscriptionFirstNameLabel">Owner's First Name</label>
                                    <div class="form-control-static" data-ng-if="!$ctrl.reservation.updateSubscriptionDetails">{{$ctrl.subscriptionDetails.subscription.firstName}}</div>
                                    <input class="form-control" data-ng-if="$ctrl.reservation.updateSubscriptionDetails" required data-ng-model="$ctrl.reservation.subscriptionDetails.firstName" aria-labelledby="subscriptionFirstNameLabel"/>
                                </div>
                            </div>
                            <div class="col-xs-12 col-lg-6">
                                <div class="form-group">
                                    <label id="subscriptionLastNameLabel">Last Name</label>
                                    <div class="form-control-static" data-ng-if="!$ctrl.reservation.updateSubscriptionDetails">{{$ctrl.subscriptionDetails.subscription.lastName}}</div>
                                    <input class="form-control" data-ng-if="$ctrl.reservation.updateSubscriptionDetails" required data-ng-model="$ctrl.reservation.subscriptionDetails.lastName" aria-labelledby="subscriptionLastNameLabel"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label id="subscriptionEmailLabel">Email</label>
                                    <div class="form-control-static" data-ng-if="!$ctrl.reservation.updateSubscriptionDetails">{{$ctrl.subscriptionDetails.subscription.email}}</div>
                                    <input class="form-control" type="email" data-ng-if="$ctrl.reservation.updateSubscriptionDetails" required data-ng-model="$ctrl.reservation.subscriptionDetails.email" aria-labelledby="subscriptionEmailLabel"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3" ng-if="$ctrl.reservation.status !== 'COMPLETE' && $ctrl.reservation.status !== 'CANCELLED'">
                        <div class="form-group">
                            <label for="expiration">Expiration</label>
                            <input class="form-control" id="expiration" name="expiration" ng-model="$ctrl.reservation.expirationStr" single-date start-model="$ctrl.reservation.expiration" required>
                        </div>
                    </div>
                </div>

                <div class="alert alert-danger" ng-if="$ctrl.reservation.status === 'STUCK'">
                    This reservation is in an unknown state. This could happen when we have troubles after receiving a response from the Payment Gateway. Please check the payment status on the Payment Gateway's dashboard and confirm or cancel this reservation.
                </div>

                <div>
                    <div ng-if="$ctrl.displayPaymentInfo()">
                        <div class="page-header">
                            <h3>Payment info</h3>
                        </div>

                        <div ng-if="$ctrl.loadingPaymentInfo">Loading...</div>
                        <div ng-if="!$ctrl.loadingPaymentInfo && !$ctrl.paymentInfo">No payments have been found.</div>
                        <div class="row" ng-if="$ctrl.paymentInfo">
                            <div class="col-xs-12 col-sm-6">
                                <dl class="dl-horizontal" ng-if="$ctrl.paymentInfo.transaction && $ctrl.paymentInfo.transaction.complete">
                                    <dt>Payment method</dt>
                                    <dd><span ng-bind="$ctrl.paymentInfo.paymentMethod">-</span></dd>

                                    <dt ng-if="$ctrl.paymentInfo.transaction">Payment id</dt>
                                    <dd ng-if="$ctrl.paymentInfo.transaction" ng-bind="$ctrl.paymentInfo.transaction.transactionId"></dd>

                                    <dt ng-if="$ctrl.paymentInfo.transaction">Timestamp</dt>
                                    <dd ng-if="$ctrl.paymentInfo.transaction" ng-bind="$ctrl.paymentInfo.transaction.timestamp | formatDate"></dd>

                                    <dt ng-if="$ctrl.paymentInfo.paymentInformation">Paid amount</dt>
                                    <dd ng-if="$ctrl.paymentInfo.paymentInformation">{{$ctrl.paymentInfo.paymentInformation.paidAmount}} {{$ctrl.paymentInfo.transaction.currency || $ctrl.purchaseContext.currencyCode}}</dd>

                                    <dt ng-if="$ctrl.paymentInfo.paymentInformation && $ctrl.paymentInfo.supportRefund">Refunded amount</dt>
                                    <dd ng-if="$ctrl.paymentInfo.paymentInformation && $ctrl.paymentInfo.supportRefund">
                                        {{$ctrl.paymentInfo.paymentInformation.refundedAmount}} {{$ctrl.paymentInfo.transaction.currency}}
                                    </dd>
                                </dl>
                            </div>
                            <div class="col-xs-12 col-sm-6" ng-if="$ctrl.reservation.status !== 'STUCK' && $ctrl.paymentInfo.supportRefund">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><strong>Refund an arbitrary amount</strong></div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-9 col-xs-12">
                                                <div class="form-inline">
                                                    <label for="amountToRefund">Amount</label>
                                                    <div class="input-group">
                                                        <input type="number" class="form-control input-sm" ng-model="$ctrl.amountToRefund" id="amountToRefund">
                                                        <div class="input-group-addon">{{$ctrl.paymentInfo.transaction.currency}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-xs-12 text-right refund-button">
                                                <i ng-show="$ctrl.refundInProgress" class="fa fa-cog fa-2x fa-spin"></i>
                                                <button type="button" class="btn btn-warning" ng-click="$ctrl.confirmRefund()" ng-disabled="$ctrl.refundInProgress"><i class="fa fa-recycle"></i> Refund</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="page-header">
                        <h3>Contact info</h3>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="checkbox">
                                <label><input type="checkbox" ng-model="$ctrl.reservation.updateContactData"> Edit contact info</label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="customerFirstName">First name</label>
                                <div class="form-control-static" ng-if="!$ctrl.reservation.updateContactData">{{$ctrl.reservation.customerData.firstName}}</div>
                                <input class="form-control" id="customerFirstName" ng-if="$ctrl.reservation.updateContactData" name="customerFirstName" ng-model="$ctrl.reservation.customerData.firstName">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="customerLastName">Last name</label>
                                <div class="form-control-static" ng-if="!$ctrl.reservation.updateContactData">{{$ctrl.reservation.customerData.lastName}}</div>
                                <input class="form-control" id="customerLastName" ng-if="$ctrl.reservation.updateContactData" name="customerLastName" ng-model="$ctrl.reservation.customerData.lastName">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="customerEmailAddress">Email Address</label>
                                <div class="form-control-static" ng-if="!$ctrl.reservation.updateContactData">{{$ctrl.reservation.customerData.emailAddress}}</div>
                                <input type="email" class="form-control" id="customerEmailAddress" ng-if="$ctrl.reservation.updateContactData" name="customerEmailAddress" ng-model="$ctrl.reservation.customerData.emailAddress">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label>Language</label>
                                <div class="form-control-static" ng-if="!$ctrl.reservation.updateContactData">{{$ctrl.reservation.customerData.userLanguage}}</div>
                                <select class="form-control"
                                        ng-if="$ctrl.reservation.updateContactData"
                                        ng-model="$ctrl.reservation.customerData.userLanguage"
                                        data-ng-options="lang.locale as lang.locale for lang in $ctrl.allLanguages | selectedLanguages:$ctrl.purchaseContext.locales"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="$ctrl.reservation.updateContactData || $ctrl.reservation.customerData.invoiceRequested">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="customerVat">Tax ID Number (VAT / GST)</label>
                                <div class="form-control-static" ng-if="!$ctrl.reservation.updateContactData">{{$ctrl.reservation.customerData.vatNr}}</div>
                                <input type="text" class="form-control" id="customerVat" ng-if="$ctrl.reservation.updateContactData" name="vatNr" ng-model="$ctrl.reservation.customerData.vatNr">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6" ng-if="$ctrl.reservation.customerData.vatCountryCode">
                            <div class="form-group">
                                <label for="customerVatCountry">Country</label>
                                <div class="form-control-static" ng-if="!$ctrl.reservation.updateContactData">{{$ctrl.reservation.customerData.vatCountryCode}} - <country-name code="$ctrl.reservation.customerData.vatCountryCode"></country-name></div>
                                <select id="customerVatCountry"  class="form-control"
                                        ng-if="$ctrl.reservation.updateContactData"
                                        ng-model="$ctrl.reservation.customerData.vatCountryCode"
                                        data-ng-options="key as key + ' - ' + value for (key , value) in $ctrl.countries"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="$ctrl.reservation.customerData.invoicingAdditionalInfo.italianEInvoicing.referenceType">
                        <div class="col-xs-12 col-sm-12">
                            <div class="form-group">
                                <label>Italian E-Invoicing</label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <div class="form-group">
                                    <label>Codice Fiscale</label>
                                    <div class="form-control-static" ng-if="!$ctrl.reservation.updateContactData" ng-bind="$ctrl.reservation.customerData.invoicingAdditionalInfo.italianEInvoicing.fiscalCode"></div>
                                    <input class="form-control" ng-if="$ctrl.reservation.updateContactData" ng-model="$ctrl.reservation.customerData.invoicingAdditionalInfo.italianEInvoicing.fiscalCode">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12" ng-if="$ctrl.reservation.updateContactData">
                            <div class="form-group">
                                <label><input type="radio" ng-model="$ctrl.reservation.customerData.invoicingAdditionalInfo.italianEInvoicing.referenceType" value="ADDRESSEE_CODE"> Codice destinatario</label>
                                <label><input type="radio" ng-model="$ctrl.reservation.customerData.invoicingAdditionalInfo.italianEInvoicing.referenceType" value="PEC"> PEC</label>
                                <label><input type="radio" ng-model="$ctrl.reservation.customerData.invoicingAdditionalInfo.italianEInvoicing.referenceType" value="NONE"> Nessun codice destinatario o PEC</label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <div class="form-group" data-ng-if="$ctrl.reservation.customerData.invoicingAdditionalInfo.italianEInvoicing.referenceType === 'ADDRESSEE_CODE'">
                                    <label>Codice destinatario</label>
                                    <div class="form-control-static" ng-if="!$ctrl.reservation.updateContactData" ng-bind="$ctrl.reservation.customerData.invoicingAdditionalInfo.italianEInvoicing.addresseeCode"></div>
                                    <input class="form-control" ng-if="$ctrl.reservation.updateContactData" ng-model="$ctrl.reservation.customerData.invoicingAdditionalInfo.italianEInvoicing.addresseeCode">
                                </div>
                                <div class="form-group" data-ng-if="$ctrl.reservation.customerData.invoicingAdditionalInfo.italianEInvoicing.referenceType === 'PEC'">
                                    <label>PEC</label>
                                    <div class="form-control-static" ng-if="!$ctrl.reservation.updateContactData" ng-bind="$ctrl.reservation.customerData.invoicingAdditionalInfo.italianEInvoicing.pec"></div>
                                    <input class="form-control" ng-if="$ctrl.reservation.updateContactData" ng-model="$ctrl.reservation.customerData.invoicingAdditionalInfo.italianEInvoicing.pec">
                                </div>
                                <div class="form-group" data-ng-if="$ctrl.reservation.customerData.invoicingAdditionalInfo.italianEInvoicing.referenceType === 'NONE'">
                                    <label>Nessun codice destinatario o PEC</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="$ctrl.reservation.updateContactData || $ctrl.reservation.customerData.billingAddress">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="customerBillingAddress">Billing address</label>
                                <pre class="form-control-static" ng-if="!$ctrl.reservation.updateContactData">{{$ctrl.reservation.customerData.billingAddress}}</pre>
                                <textarea class="form-control"
                                          id="customerBillingAddress"
                                          ng-if="$ctrl.reservation.updateContactData" name="customerBillingAddress"
                                          ng-model="$ctrl.reservation.customerData.billingAddress">
                                </textarea>
                            </div>
                        </div>
                    </div>
                    <div ng-if="['PENDING', 'OFFLINE_PAYMENT'].indexOf($ctrl.reservation.status) > -1">

                        <div class="form-group">
                            <div class="checkbox">
                                <label><input type="checkbox" ng-model="$ctrl.reservation.updateAdvancedBillingOptions"> Edit advanced invoice data</label>
                            </div>
                        </div>
                        <div class="panel panel-danger" uib-collapse="!$ctrl.reservation.updateAdvancedBillingOptions">
                            <div class="panel-heading">
                                <div class="panel-title">Danger zone!</div>
                            </div>
                            <div class="panel-body">
                                <p class="text-danger">Please modify the following option with care, as they might affect the reservation total price and/or lead to inconsistencies.</p>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="form-group">
                                            <label ng-if="$ctrl.reservation.advancedBillingOptions.vatApplied"><input type="checkbox" ng-model="$ctrl.reservation.advancedBillingOptions.vatApplied" ng-true-value="'Y'" ng-false-value="'N'"> Apply VAT/GST</label>
                                            <label ng-if="!$ctrl.reservation.advancedBillingOptions.vatApplied">VAT/GST Application</label>
                                            <div class="form-control-static" ng-if="!$ctrl.reservation.advancedBillingOptions.vatApplied">VAT/GST not applicable</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="page-header">
                            <h3>Order summary</h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                Payment method: {{$ctrl.reservationDescriptor.reservation.paymentMethod}}
                            </p>
                            <table class="table table-striped">
                                <thead>
                                    <th>Category</th>
                                    <th>Type</th>
                                    <th class="text-center">Qty</th>
                                    <th class="text-right">Price</th>
                                    <th class="text-right">Subtotal</th>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="summaryRow in $ctrl.reservationDescriptor.orderSummary.summary">
                                        <th data-ng-if="summaryRow.type === 'TAX_DETAIL'">Taxes</th>
                                        <td data-ng-if="summaryRow.type !== 'TAX_DETAIL'">{{summaryRow.name}}</td>
                                        <td>{{ summaryRow.type !== 'TAX_DETAIL' ? summaryRow.type : '' }}</td>
                                        <td class="text-center">{{summaryRow.type != 'TAX_DETAIL' ? summaryRow.amount : ''}}</td>
                                        <td class="text-right">{{summaryRow.price}}</td>
                                        <th data-ng-if="summaryRow.type === 'TAX_DETAIL'" class="text-right">{{summaryRow.subTotal}}</th>
                                        <td data-ng-if="summaryRow.type !== 'TAX_DETAIL'" class="text-right">{{summaryRow.subTotal}}</td>
                                    </tr>
                                    <tr ng-if="!$ctrl.reservationDescriptor.orderSummary.vatExempt && $ctrl.reservationDescriptor.orderSummary.vatStatus === 'NOT_INCLUDED'">
                                        <th>Taxes</th>
                                        <td></td>
                                        <td class="text-center">{{$ctrl.reservationDescriptor.orderSummary.vatPercentage}} %</td>
                                        <td></td>
                                        <th class="text-right">{{$ctrl.reservationDescriptor.orderSummary.totalVAT}}</th>
                                    </tr>
                                    <tr>
                                        <th>Total</th>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <th class="text-right">{{$ctrl.reservationDescriptor.orderSummary.totalPrice}}</th>
                                    </tr>
                                    <tr ng-if="!$ctrl.reservationDescriptor.orderSummary.vatExempt && $ctrl.reservationDescriptor.orderSummary.vatStatus === 'INCLUDED'">
                                        <td>Taxes (included)</td>
                                        <td></td>
                                        <td class="text-center">{{$ctrl.reservationDescriptor.orderSummary.vatPercentage}} %</td>
                                        <td></td>
                                        <td class="text-right">{{$ctrl.reservationDescriptor.orderSummary.totalVAT}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <hr>
                    <div data-ng-if="$ctrl.purchaseContextType === 'subscription'">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title">Reservation Completed using this Subscription</div>
                            </div>
                            <div class="panel-body" data-ng-if="$ctrl.subscriptionDetails.reservations.length === 0">
                                No Reservations completed so far
                            </div>
                            <div class="table-responsive" data-ng-if="$ctrl.subscriptionDetails.reservations.length > 0">
                                <reservations-list-table purchase-context="$ctrl.purchaseContext"
                                                         purchase-context-type="$ctrl.purchaseContextType"
                                                         target-context-type="'event'"
                                                         reservations="$ctrl.subscriptionDetails.reservations"></reservations-list-table>
                            </div>
                        </div>
                    </div>
                    <div data-ng-if="$ctrl.purchaseContextType === 'event'">
                        <div class="panel panel-default" ng-repeat="ticketInfo in $ctrl.reservation.ticketsInfo">
                            <div class="panel-heading">
                                <div class="panel-title">Attendees for Category {{ticketInfo.category.name}}</div>
                            </div>
                            <div class="panel-body">
                                <div class="checkbox">
                                    <label><input type="checkbox" ng-model="ticketInfo.updateAttendees"> Edit attendees</label>
                                </div>
                            </div>
                            <div class="table-responsive wMarginTop10px">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>First name</th>
                                        <th>Last name</th>
                                        <th>E-Mail</th>
                                        <th>Check-in</th>
                                        <th><span class="hidden-xs hidden-sm">Actions</span></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr  ng-repeat="attendee in ticketInfo.attendees">
                                        <td><div class="form-control-static">{{$index + 1}}</div></td>
                                        <td>
                                            <input type="text" ng-if="ticketInfo.updateAttendees" class="form-control" id="attendee-{{$index}}-firstName" required name="attendee-{{$index}}-first" ng-model="attendee.firstName">
                                            <div ng-show="!ticketInfo.updateAttendees" class="form-control-static">{{attendee.firstName}}</div>
                                        </td>
                                        <td>
                                            <input type="text" ng-if="ticketInfo.updateAttendees" class="form-control" id="attendee-{{$index}}-lastName" required name="attendee-{{$index}}-last" ng-model="attendee.lastName">
                                            <div ng-show="!ticketInfo.updateAttendees" class="form-control-static">{{attendee.lastName}}</div>
                                        </td>
                                        <td>
                                            <input type="text" ng-if="ticketInfo.updateAttendees" class="form-control" id="attendee-{{$index}}-emailAddress" required name="attendee-{{$index}}-emailAddress" ng-model="attendee.emailAddress">
                                            <div ng-show="!ticketInfo.updateAttendees" class="form-control-static">{{attendee.emailAddress}}</div>
                                        </td>
                                        <td>
                                            <button type="button" class="btn"
                                                    ng-class="{'btn-success': attendee.status === 'CHECKED_IN', 'btn-default': attendee.status !== 'CHECKED_IN'}"
                                                    ng-if="!ticketInfo.updateAttendees && $ctrl.checkInLog[attendee.ticketId]"
                                                    ng-click="$ctrl.openCheckInLog(attendee)">
                                                <i class="fa" ng-class="{'fa-check': attendee.status === 'CHECKED_IN', 'fa-question-circle-o': attendee.status !== 'CHECKED_IN'}"></i>
                                            </button>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-sm btn-default" data-ng-if="attendee.hasAdditionalData" ng-click="$ctrl.openFullData(attendee)" ><i class="fa fa-list"></i> <span class="hidden-xs hidden-sm">Full data</span></button>
                                            <button type="button" class="btn btn-sm btn-danger" data-ng-if="attendee.status !== 'CHECKED_IN'" ng-click="$ctrl.removeTicket(attendee)"><i class="fa fa-trash"></i> <span class="hidden-xs hidden-sm">Remove</span></button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button class="btn btn-sm btn-default btn-block-xs" ng-if="$ctrl.reservation.status === 'COMPLETE'" type="button" ng-click="$ctrl.notifyCustomer()"><i class="fa fa-envelope-o"></i> Send reservation via email</button>
                            <button class="btn btn-sm btn-default btn-block-xs" ng-if="$ctrl.reservation.status === 'COMPLETE' && $ctrl.purchaseContextType === 'event'" type="button" ng-click="$ctrl.notifyAttendees()"><i class="fa fa-envelope-o"></i> Send tickets via email</button>
                        </div>
                    </div>
                    <div class="clearfix wMarginBottom"></div>
                    <hr>

                    <div class="row">
                        <div class="col-md-4 col-md-push-8 col-xs-12">
                            <button type="submit" class="btn btn-lg btn-warning btn-block" data-ng-disabled="viewReservation.$waiting" style="margin-bottom:20px">Update</button>
                        </div>
                        <div class="col-md-4 col-md-pull-4 col-xs-12">
                            <button type="button" ng-if="$ctrl.onClose" ng-click="$ctrl.onClose()" class="btn btn-lg btn-block" style="margin-bottom:20px">Close</button>
                            <button type="button" ng-if="$ctrl.reservation.status === 'PENDING' && $ctrl.onUpdate" class="btn btn-lg btn-success btn-block" ng-disabled="viewReservation.$waiting" ng-click="$ctrl.confirm()" style="margin-bottom:20px"><i class="fa fa-check"></i> Mark as Completed</button>
                        </div>
                    </div>
                </div>
            </uib-tab>

            <uib-tab data-ng-if="$ctrl.isOwner">
                <uib-tab-heading>Billing Documents <span class="badge" ng-bind="$ctrl.billingDocuments.count"></span></uib-tab-heading>
                <button type="button" class="btn btn-warning btn-block-xs pull-right-md" ng-if="$ctrl.reservationDescriptor.reservation.status !== 'CANCELLED'" ng-click="$ctrl.regenerateBillingDocument()"><i class="fa fa-refresh"></i> Regenerate</button>
                <div class="page-header">
                    <h3>Active</h3>
                </div>
                <div class="table-responsive wMarginTop10px">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Type</th>
                            <th>Number</th>
                            <th>Date</th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-if="valid.length == 0">
                            <td colspan="5" class="text-center">No documents found</td>
                        </tr>

                        <tr ng-repeat="doc in $ctrl.billingDocuments.valid">
                            <td data-ng-bind="$ctrl.documentTypeDescription[doc.type]"></td>
                            <td ng-bind="doc.number"></td>
                            <td ng-bind="doc.generationTimestamp | formatDate"></td>
                            <td class="text-right">
                              <a class="btn btn-sm btn-default" ng-href="/admin/api/reservation/{{$ctrl.purchaseContextType}}/{{$ctrl.purchaseContext.publicIdentifier}}/{{$ctrl.reservation.id}}/billing-document/{{doc.id}}" target="_blank"><i class="fa fa-download"></i> Download</a>
                              <button type="button" class="btn btn-sm btn-danger" ng-click="$ctrl.invalidateDocument(doc.id)"><i class="fa fa-ban"></i> Invalidate</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="page-header">
                    <h3>Not Active</h3>
                </div>

                <div class="table-responsive wMarginTop10px">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Type</th>
                            <th>Number</th>
                            <th>Date</th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-if="$ctrl.billingDocuments.notValid.length == 0">
                            <td colspan="5" class="text-center">No documents found</td>
                        </tr>

                        <tr ng-repeat="doc in $ctrl.billingDocuments.notValid">
                            <td><i class="fa" uib-tooltip="{{doc.type}}" ng-class="{'fa-sticky-note-o': doc.type === 'RECEIPT', 'fa-file-text-o': doc.type === 'INVOICE', 'fa-undo': doc.type === 'CREDIT_NOTE'}"></i></td>
                            <td ng-bind="doc.number"></td>
                            <td ng-bind="doc.generationTimestamp | formatDate"></td>
                            <td class="text-right">
                                <a class="btn btn-sm btn-default" ng-href="/admin/api/reservation/{{$ctrl.purchaseContextType}}/{{$ctrl.purchaseContext.publicIdentifier}}/{{$ctrl.reservation.id}}/billing-document/{{doc.id}}" target="_blank"><i class="fa fa-download"></i> Download</a>
                                <button type="button" class="btn btn-sm btn-warning" ng-click="$ctrl.restoreDocument(doc.id)"><i class="fa fa-redo"></i> Restore</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </uib-tab>

            <uib-tab data-ng-if="$ctrl.isOwner">
                <uib-tab-heading>Emails sent <span class="badge" ng-bind="$ctrl.emails.length"></span></uib-tab-heading>
                <div class="table-responsive wMarginTop10px" data-ng-if="$ctrl.emails.length > 0">
                    <table class="table">
                        <thead>
                        <th>Recipient</th>
                        <th>Subject</th>
                        <th>Message</th>
                        <th>Status</th>
                        <th>Checksum</th>
                        <th>Requested</th>
                        <th>Sent</th>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="email in $ctrl.emails" data-ng-class="{'text-success': email.status === 'SENT', 'text-danger': email.status === 'ERROR', 'text-warning': email.status === 'RETRY'}">
                            <td data-ng-class-even="'active'" class="cell-wrap">{{::email.recipient}}</td>
                            <td data-ng-class-even="'active'" class="cell-wrap">{{::email.subject | truncateString}}</td>
                            <td data-ng-class-even="'active'" class="cell-wrap" data-ng-if="$ctrl.purchaseContextType === 'event'"><a href="#" target="_blank" data-ui-sref="events.single.email-log-detail({eventName: $ctrl.purchaseContext.publicIdentifier, messageId: email.id})">{{::email.message | truncateString:100}}</a></td>
                            <td data-ng-class-even="'active'" class="cell-wrap" data-ng-if="$ctrl.purchaseContextType === 'subscription'"><a href="#" target="_blank" data-ui-sref="subscriptions.single.email-log-detail({eventName: $ctrl.purchaseContext.publicIdentifier, messageId: email.id})">{{::email.message | truncateString:100}}</a></td>
                            <td data-ng-class-even="'active'" class="cell-wrap">{{::email.status}}</td>
                            <td data-ng-class-even="'active'" class="cell-wrap">{{::email.checksum | truncateString:10}}</td>
                            <td data-ng-class-even="'active'" class="cell-wrap">{{::email.requestTimestamp | formatDate}}</td>
                            <td data-ng-class-even="'active'" class="cell-wrap">{{::email.sentTimestamp | formatDate}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </uib-tab>

            <uib-tab data-ng-if="$ctrl.isOwner">
                <uib-tab-heading>Audit log <span class="badge" ng-bind="$ctrl.audit.length"></span></uib-tab-heading>
                <div class="table-responsive wMarginTop10px">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Type</th>
                            <th>Date</th>
                            <th>User</th>
                            <th>Entity type</th>
                            <th>Entity id</th>
                            <th>Modifications</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="audit in $ctrl.audit">
                            <td ng-bind="audit.eventType"></td>
                            <td ng-bind="audit.eventTime|formatDate"></td>
                            <td ng-if="audit.username"><abbr title="{{audit.firstName}} {{audit.lastName}} {{audit.email}}">{{audit.username}}</abbr></td>
                            <td ng-if="!audit.username">-</td>
                            <td ng-bind="audit.entityType"></td>
                            <td ng-bind="audit.entityId"></td>
                            <td><pre ng-if="audit.modifications" ng-bind="audit.modifications|json"></pre></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </uib-tab>

        </uib-tabset>

    </form>

</div>