<div class="modal-header">
    <h3>Remove selected ticket?</h3>
</div>
<div class="modal-body">
    <div ng-if="$ctrl.paymentInfo">
        <p>Reservation id: {{$ctrl.reservationId}}</p>
        <p>Ticket information:</p>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <th>Identifier</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>E-Mail</th>
                    <th>Paid amount</th>
                </thead>
                <tbody>
                    <td ng-bind="$ctrl.ticket.uuid"></td>
                    <td ng-bind="$ctrl.ticket.firstName"></td>
                    <td ng-bind="$ctrl.ticket.lastName"></td>
                    <td ng-bind="$ctrl.ticket.email"></td>
                    <td>{{$ctrl.ticket.formattedFinalPrice | money:$ctrl.ticket.currencyCode}}</td>
                </tbody>
            </table>
        </div>
        <div ng-if="$ctrl.paymentInfo.supportRefund" class="checkbox">
            <label><input type="checkbox" ng-model="$ctrl.toRefund[$ctrl.ticketId]"> refund {{$ctrl.ticket.formattedFinalPrice | money:$ctrl.ticket.currencyCode}}</label>
        </div>
        <div ng-if="!$ctrl.paymentInfo.supportRefund && $ctrl.canGenerateCreditNote" class="checkbox">
            <label><input type="checkbox" ng-model="$ctrl.issueCreditNote"> Issue Credit Note for {{$ctrl.ticket.formattedFinalPrice | money:$ctrl.ticket.currencyCode}}</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" ng-model="$ctrl.notify"> notify ticket owner</label>
        </div>
    </div>
    <div ng-if="!$ctrl.paymentInfo">
        loading...
    </div>

</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-md-4 col-md-push-8 col-xs-12">
            <button class="btn btn-lg btn-danger btn-block btn-block-xs" ng-disabled="$ctrl.submitted" type="button" data-ng-click="$ctrl.confirmRemove()">Confirm removal</button>
        </div>
        <div class="col-md-4 col-md-pull-4 col-xs-12">
            <button class="btn btn-lg btn-default btn-block btn-block-xs" type="button" data-ng-click="$ctrl.onCancel()">Close</button>
        </div>
    </div>
</div>
