<div class="page-header">
    <h1>Message detail</h1>
</div>
<div class="container">
    <dl data-ng-if="detailCtrl.message">
        <dt>Recipient</dt>
        <dd>{{detailCtrl.message.recipient}}</dd>
        <dt>Subject</dt>
        <dd>{{detailCtrl.message.subject}}</dd>
        <dt>Message</dt>
        <dd><pre class="white">{{detailCtrl.message.message}}</pre></dd>
        <dt>Status</dt>
        <dd>{{detailCtrl.message.status}}</dd>
        <dt>Checksum</dt>
        <dd>{{detailCtrl.message.checksum}}</dd>
        <dt>Requested</dt>
        <dd>{{detailCtrl.message.requestTimestamp}}</dd>
        <dt>Sent</dt>
        <dd>{{detailCtrl.message.sentTimestamp}}</dd>
    </dl>
    <div class="text-center wMarginBottom">
        <a class="btn btn-default" href="#" data-ui-sref="events.single.email-log({eventName:detailCtrl.eventName})">back</a>
    </div>
</div>