<div class="container">
  <h1>Bulk creation</h1>
</div>
<div class="container d-flex">
  <label for="UserOrganizationId">Organization</label>
  <!-- <select
    id="UserOrganizationId"
    class="form-select form-control"
    formControlName="organizationId"
    [class.is-invalid]="
   organizationName?.invalid &&
    (organizationName?.dirty || organizationName?.touched)
  "
  >
    <option *ngFor="let org of organizations$ | async" [ngValue]="org.id">
      {{ org.name }}
    </option>
  </select> -->
</div>
