<div class="container my-3">
  <h1 translate="admin.event.mail-detail.title"></h1>
  <hr />
  <div *ngIf="mail$ | async as mail">
    <dl data-ng-if="mail">
      <dt translate="admin.event.mail-detail.recipient"></dt>
      <dd>{{ mail.recipient }}</dd>
      <dt translate="admin.event.mail-detail.subject"></dt>
      <dd>{{ mail.subject }}</dd>
      <dt translate="admin.event.mail-detail.message"></dt>
      <dd>
        <pre class="white">{{ mail.message }}</pre>
      </dd>
      <dt translate="admin.event.mail-detail.status"></dt>
      <dd>{{ mail.status }}</dd>
      <dt translate="admin.event.mail-detail.checksum"></dt>
      <dd class="hidden-sm hidden-xs">{{ mail.checksum }}</dd>
      <dd class="visible-sm visible-xs">
        {{ mail.checksum | slice : 0 : 35 }}
      </dd>
      <dt translate="admin.event.mail-detail.requested"></dt>
      <dd>{{ mail.requestTimestamp }}</dd>
      <dt translate="admin.event.mail-detail.sent"></dt>
      <dd>{{ mail.sentTimestamp }}</dd>
    </dl>
    <div class="text-center">
      <a
        class="btn btn-outline-primary"
        href="#"
        [routerLink]="['../']"
        translate="admin.event.mail-detail.back-to-list"
      ></a>
    </div>
  </div>
</div>
