<div class="container">
    <div class="page-header">
        <h2>Reservations for {{$ctrl.event.displayName}}</h2>
    </div>

    <div class="form-group">
        <label>
            <span class="sr-only">Filter Reservations</span>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-search"></i>
                </div>
                <input type="text" class="form-control input-sm" ng-model="$ctrl.toSearch" ng-change="$ctrl.updateFilteredData()" placeholder="Filter Reservations">
            </div>
        </label>
    </div>
    <div class="page-header">
        <h3>Pending Reservations</h3>
    </div>

    <div class="alert alert-info text-center" ng-if="$ctrl.filteredPendingReservations.length == 0"><i class="fa fa-info-circle"></i> No pending reservations have been found</div>
    <div class="table-responsive" ng-if="$ctrl.filteredPendingReservations.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
                <th width="2%"><span class="sr-only">Status</span></th>
                <th width="8%">Id</th>
                <th width="30%">Customer's name</th>
                <th width="30%">Customer's email</th>
                <th width="10%">Payment</th>
                <th width="20%">Expiration</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="r in $ctrl.filteredPendingReservations | limitTo: $ctrl.itemsPerPage : $ctrl.itemsPerPage * ($ctrl.currentPagePending - 1)">
                <td><i class="fa fa-shopping-cart"></i><span class="sr-only">PENDING</span></td>
                <td><a ui-sref="events.single.view-reservation({eventName : $ctrl.event.shortName,reservationId: r.id})" ng-bind="$ctrl.truncateReservationId(r.id)"></a></td>
                <td ng-bind="$ctrl.formatFullName(r)"></td>
                <td ng-bind="r.email"></td>
                <td ng-bind="r.paymentMethod"></td>
                <td ng-bind="r.validity | formatDate"></td>
            </tr>
            </tbody>
        </table>
        <div class="text-center wMarginBottom" ng-if="$ctrl.filteredPendingReservations.length > $ctrl.itemsPerPage">
            <uib-pagination total-items="$ctrl.filteredPendingReservations.length" ng-model="$ctrl.currentPagePending" items-per-page="$ctrl.itemsPerPage"></uib-pagination>
        </div>
    </div>

    <div class="page-header">
        <h3>Completed Reservations</h3>
    </div>

    <div class="alert alert-info text-center" ng-if="$ctrl.filteredReservations.length == 0"><i class="fa fa-info-circle"></i> No completed reservations have been found</div>

    <div class="table-responsive" ng-if="$ctrl.filteredReservations.length > 0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th width="2%"><span class="sr-only">Status</span></th>
                    <th width="8%">Id</th>
                    <th width="30%">Customer's name</th>
                    <th width="30%">Customer's email</th>
                    <th width="10%">Payment</th>
                    <th width="20%">Confirmation</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="r in $ctrl.filteredReservations | limitTo: $ctrl.itemsPerPage : $ctrl.itemsPerPage * ($ctrl.currentPage - 1)">
                    <td ng-class="{'text-danger': r.status != 'COMPLETE', 'text-success': r.status == 'COMPLETE'}"><i ng-class="{'fa fa-check-circle': r.status == 'COMPLETE', 'fa fa-exclamation': r.status != 'COMPLETE'}"></i></td>
                    <td><a ui-sref="events.single.view-reservation({eventName : $ctrl.event.shortName,reservationId: r.id})" ng-bind="$ctrl.truncateReservationId(r.id)"></a></td>
                    <td ng-bind="$ctrl.formatFullName(r)"></td>
                    <td ng-bind="r.email"></td>
                    <td ng-bind="r.paymentMethod"></td>
                    <td ng-bind="r.confirmationTimestamp | formatDate"></td>
                </tr>
            </tbody>
        </table>
        <div class="text-center wMarginBottom" ng-if="$ctrl.filteredReservations.length > $ctrl.itemsPerPage">
            <uib-pagination total-items="$ctrl.filteredReservations.length" ng-model="$ctrl.currentPage" items-per-page="$ctrl.itemsPerPage"></uib-pagination>
        </div>
    </div>
</div>