<div class="container">
    <div class="page-header">
        <h2>Reservations for {{$ctrl.event.displayName}}</h2>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label class="sr-only" for="filter-reservations">Filter Reservations</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-search"></i>
                    </div>
                    <input type="text" class="form-control" id="filter-reservations" ng-model="$ctrl.toSearch" ng-change="$ctrl.updateFilteredData({pending:true, completed: true})" ng-model-options='{ debounce: 1000 }' placeholder="Filter Reservations">
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-danger" ng-if="$ctrl.foundStuckReservations > 0">
        <div class="panel-heading">
            <i class="fa fa-exclamation"></i> Stuck reservations found!
        </div>
        <div class="panel-body">
            Please check your payment provider's data and confirm or cancel the following reservations
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th width="10%">Id</th>
                <th width="30%">Customer's name</th>
                <th width="30%">Customer's email</th>
                <th width="10%">Payment</th>
                <th width="20%">Confirmation</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="r in $ctrl.stuckReservations">
                <td><a ui-sref="events.single.view-reservation({eventName : $ctrl.event.shortName,reservationId: r.id})" ng-bind="$ctrl.truncateReservationId(r.id)"></a></td>
                <td ng-bind="$ctrl.formatFullName(r)"></td>
                <td ng-bind="r.email"></td>
                <td ng-bind="r.paymentMethod"></td>
                <td ng-bind="r.confirmationTimestamp | formatDate"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <uib-tabset active="$ctrl.selectedTab" justified="true">
        <uib-tab index="1" select="$ctrl.onTabSelected(1)">
            <uib-tab-heading>
                <i class="fa fa-check-circle"></i> Completed <span class="badge">{{$ctrl.foundReservations}}</span>
            </uib-tab-heading>
            <div class="alert alert-info text-center wMarginTop10px" ng-if="$ctrl.foundReservations == 0"><i class="fa fa-info-circle"></i> No completed reservations have been found</div>
            <div class="table-responsive" ng-if="$ctrl.foundReservations > 0">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th width="10%">Id</th>
                        <th width="30%">Customer's name</th>
                        <th width="30%">Customer's email</th>
                        <th width="10%">Payment</th>
                        <th width="20%">Confirmation</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="r in $ctrl.reservations">
                        <td><a ui-sref="events.single.view-reservation({eventName : $ctrl.event.shortName,reservationId: r.id})" ng-bind="$ctrl.truncateReservationId(r.id)"></a></td>
                        <td ng-bind="$ctrl.formatFullName(r)"></td>
                        <td ng-bind="r.email"></td>
                        <td ng-bind="r.paymentMethod"></td>
                        <td ng-bind="r.confirmationTimestamp | formatDate"></td>
                    </tr>
                    </tbody>
                </table>
                <div class="text-center wMarginBottom">
                    <uib-pagination ng-change="$ctrl.updateFilteredData({completed:true})" total-items="$ctrl.foundReservations" ng-model="$ctrl.currentPage" items-per-page="$ctrl.itemsPerPage" max-size="10" force-ellipses="true"></uib-pagination>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="2" select="$ctrl.onTabSelected(2)">
            <uib-tab-heading>
                <i class="fa fa-dollar"></i> Payment Pending <span class="badge">{{$ctrl.paymentPendingFoundReservations}}</span>
            </uib-tab-heading>
            <div class="alert alert-info text-center wMarginTop10px" ng-if="$ctrl.paymentPendingFoundReservations == 0"><i class="fa fa-info-circle"></i> No Reservations pending payment have been found</div>
            <div class="table-responsive" ng-if="$ctrl.paymentPendingFoundReservations > 0">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th width="10%">Id</th>
                        <th width="30%">Customer's name</th>
                        <th width="30%">Customer's email</th>
                        <th width="10%">Payment</th>
                        <th width="20%">Confirmation</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="r in $ctrl.paymentPendingReservations">
                        <td><a ui-sref="events.single.view-reservation({eventName : $ctrl.event.shortName,reservationId: r.id})" ng-bind="$ctrl.truncateReservationId(r.id)"></a></td>
                        <td ng-bind="$ctrl.formatFullName(r)"></td>
                        <td ng-bind="r.email"></td>
                        <td ng-bind="r.paymentMethod"></td>
                        <td ng-bind="r.confirmationTimestamp | formatDate"></td>
                    </tr>
                    </tbody>
                </table>
                <div class="text-center wMarginBottom">
                    <uib-pagination ng-change="$ctrl.updateFilteredData({paymentPending:true})" total-items="$ctrl.paymentPendingFoundReservations" ng-model="$ctrl.currentPagePendingPayment" items-per-page="$ctrl.itemsPerPage" max-size="10" force-ellipses="true"></uib-pagination>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="3" select="$ctrl.onTabSelected(3)">
            <uib-tab-heading>
                <i class="fa fa-shopping-cart"></i> In Process <span class="badge">{{$ctrl.foundPendingReservations}}</span>
            </uib-tab-heading>
            <div class="table-responsive" ng-if="$ctrl.foundPendingReservations > 0">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th width="10%">Id</th>
                        <th width="30%">Customer's name</th>
                        <th width="30%">Customer's email</th>
                        <th width="10%">Payment</th>
                        <th width="20%">Expiration</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="r in $ctrl.pendingReservations">
                        <td><a ui-sref="events.single.view-reservation({eventName : $ctrl.event.shortName,reservationId: r.id})" ng-bind="$ctrl.truncateReservationId(r.id)"></a></td>
                        <td ng-bind="$ctrl.formatFullName(r)"></td>
                        <td ng-bind="r.email"></td>
                        <td ng-bind="r.paymentMethod"></td>
                        <td ng-bind="r.validity | formatDate"></td>
                    </tr>
                    </tbody>
                </table>
                <div class="text-center wMarginBottom">
                    <uib-pagination ng-change="$ctrl.updateFilteredData({pending:true})" total-items="$ctrl.foundPendingReservations" ng-model="$ctrl.currentPagePending" items-per-page="$ctrl.itemsPerPage" max-size="10" force-ellipses="true"></uib-pagination>
                </div>
            </div>
            <div class="alert alert-info text-center wMarginTop10px" ng-if="$ctrl.foundPendingReservations == 0"><i class="fa fa-info-circle"></i> No Reservations in process have been found</div>
        </uib-tab>
        <uib-tab index="4" select="$ctrl.onTabSelected(4)">
            <uib-tab-heading>
                <i class="fa fa-ban"></i> Cancelled <span class="badge">{{$ctrl.foundCancelledReservations}}</span>
            </uib-tab-heading>
            <div class="table-responsive" ng-if="$ctrl.foundCancelledReservations > 0">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th width="10%">Id</th>
                        <th width="30%">Customer's name</th>
                        <th width="30%">Customer's email</th>
                        <th width="10%">Payment</th>
                        <th width="20%">Expiration</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="r in $ctrl.cancelledReservations">
                        <td><a ui-sref="events.single.view-reservation({eventName : $ctrl.event.shortName,reservationId: r.id})" ng-bind="$ctrl.truncateReservationId(r.id)"></a></td>
                        <td ng-bind="$ctrl.formatFullName(r)"></td>
                        <td ng-bind="r.email"></td>
                        <td ng-bind="r.paymentMethod"></td>
                        <td ng-bind="r.validity | formatDate"></td>
                    </tr>
                    </tbody>
                </table>
                <div class="text-center wMarginBottom">
                    <uib-pagination ng-change="$ctrl.updateFilteredData({cancelled:true})" total-items="$ctrl.foundCancelledReservations" ng-model="$ctrl.currentPageCancelled" items-per-page="$ctrl.itemsPerPage" max-size="10" force-ellipses="true"></uib-pagination>
                </div>
            </div>
            <div class="alert alert-info text-center wMarginTop10px" ng-if="$ctrl.foundCancelledReservations == 0"><i class="fa fa-info-circle"></i> No Cancelled Reservations have been found</div>
        </uib-tab>
    </uib-tabset>
</div>