<div class="table-responsive">
    <table class="table" data-ng-if="$ctrl.promocodes.length > 0">
        <thead>
        <tr>
            <th width="10%">Code</th>
            <th width="2%">#</th>
            <th width="2%">Max</th>
            <th width="10%">Start</th>
            <th width="10%">End</th>
            <th width="10%" ng-if="!$ctrl.isAccess">Amount</th>
            <th ng-if="$ctrl.forEvent">Categories</th>
            <th width="12%">Description</th>
            <th>Contact</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="promocode in $ctrl.promocodes" data-ng-class="{'text-muted': promocode.expired}">
            <td ng-if="promocode.useCount > 0"><a ng-click="$ctrl.openPromoCodeDetails(promocode)" title="Open usage details">{{::promocode.promoCode}}</a> <span data-ng-if="promocode.expired">(Expired)</span></td>
            <td ng-if="!promocode.useCount || promocode.useCount === 0">{{::promocode.promoCode}} <span data-ng-if="promocode.expired">(Expired)</span><span data-ng-if="!promocode.expired && promocode.codeType === 'DYNAMIC'">(auto)</span></td>
            <td class="text-right">{{promocode.useCount}}</td>
            <td class="text-right">{{promocode.maxUsage}}</td>
            <td>{{::promocode.formattedStart | formatDate}}</td>
            <td>{{::promocode.formattedEnd | formatDate}}</td>
            <td ng-if="!$ctrl.isAccess">
                <span data-ng-if="!$ctrl.isAccess && promocode.discountType === 'PERCENTAGE'">-{{::promocode.discountAmount}}%</span>
                <span data-ng-if="!$ctrl.isAccess && promocode.discountType !== 'PERCENTAGE'">-<span ng-if="::promocode.hasCurrency">{{::promocode.formattedDiscountAmount | money : (promocode.currencyToDisplay || "")}}</span> <div data-ng-if="promocode.discountType === 'FIXED_AMOUNT'"> per ticket</div></span>
            </td>
            <td ng-if="$ctrl.forEvent">
                <div ng-if="promocode.categories.length > 0"><p ng-repeat="categoryId in promocode.categories">{{::$ctrl.ticketCategoriesById[categoryId].name}}</p></div>
                <div ng-if="promocode.hiddenCategoryId">{{::$ctrl.ticketCategoriesById[promocode.hiddenCategoryId].name}}</div>
                <div class="text-muted" ng-if="promocode.codeType !== 'ACCESS' && (promocode.categories == null || promocode.categories.length == 0)">Apply to all</div>
            </td>
            <td ng-bind="promocode.description"></td>
            <td ng-bind="promocode.emailReference"></td>
            <td>
                <button class="btn btn-xs btn-default" ng-click="$ctrl.changeDate(promocode)"><i class="fa fa-edit"></i> Edit Settings</button>
                <button data-ng-hide="promocode.expired" class="btn btn-xs btn-default" data-ng-click="$ctrl.disablePromocode(promocode)"><i class="fa fa-remove"></i> Disable</button>
                <button data-ng-show="promocode.useCount === 0" class="btn btn-xs btn-default" data-ng-click="$ctrl.deletePromocode(promocode)"><i class="fa fa-trash"></i> Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>