<div class="page-header">
    <h3>
        <i class="fa {{ctrl.icon}}"></i> {{ctrl.title}}
        <a class="btn btn-default pull-right" data-ng-if="ctrl.allowDownload" ng-href="/admin/api/events/{{ctrl.eventShortName}}/additional-services/{{ctrl.type}}/export" target="_blank" rel="noopener">
            <i class="fa fa-download"></i> Export purchased items
        </a>
    </h3>

</div>
<div class="panel panel-default" data-ng-repeat="item in ctrl.displayList | filter : {type: ctrl.type}">
    <div data-ng-if="item.id" id="additional-service-{{item.id}}"></div>
    <div class="panel-heading">
        <div class="panel-title">
            <div class="row">
                <div class="col-xs-9">
                    <div class="h4">
                        <span data-ng-repeat="pair in item.zippedTitleAndDescriptions" title="{{pair[0].locale}}"><span ng-class="{'text-danger': pair[0].value === ''}">{{pair[0] | showMissingASText}}</span> <span data-ng-if="!$last"> / </span></span>
                        <span style="margin-left: 20px;" class="text-success" data-ng-if="ctrl.countSold(item.id) > 0"> Confirmed: {{ctrl.formatCountSold(item.id)}}</span>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="pull-right">
                        <button class="btn btn-sm btn-default" title="edit" data-ng-click="ctrl.edit(item)" type="button"><i class="fa fa-edit"></i> edit</button>
                        <button class="btn btn-sm btn-default" ng-if="!(ctrl.additionalServiceUseCount[item.id] > 0)" title="delete" data-ng-click="ctrl.delete(item)" type="button"><i class="fa fa-trash"></i> delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12 col-md-5">
                <div class="row">
                    <div class="col-sm-4"><strong>Inception</strong></div>
                    <div class="col-sm-8">{{item.inception.date + ' ' +item.inception.time | formatDate}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-4"><strong>Expiration</strong></div>
                    <div class="col-sm-8">{{item.expiration.date + ' ' + item.expiration.time | formatDate}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-4"><strong>Price</strong></div>
                    <div class="col-sm-8">
                        <span data-ng-if="!item.fixPrice">User-defined</span>
                        <span data-ng-if="item.fixPrice">{{item.price  | money : (item.currency || "")}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4"><strong>Type</strong></div>
                    <div class="col-sm-8">{{item.type}}</div>
                </div>
                <div class="row" ng-if="item.type === 'SUPPLEMENT'">
                    <div class="col-sm-4"><strong>Policy</strong></div>
                    <div class="col-sm-8">{{item.supplementPolicy}}</div>
                </div>
                <div class="row" data-ng-if="item.fixPrice && (item.supplementPolicy !== 'MANDATORY_ONE_FOR_TICKET' && item.supplementPolicy !== 'OPTIONAL_UNLIMITED_AMOUNT')">
                    <div class="col-sm-4"><strong>Max Qty per {{item.supplementPolicy === 'OPTIONAL_MAX_AMOUNT_PER_TICKET' ? 'ticket' : 'order'}}</strong></div>
                    <div class="col-sm-8">{{item.maxQtyPerOrder}}</div>
                </div>
            </div>
            <div class="hidden-xs col-md-7">
                <p class="text-muted" data-ng-repeat="pair in item.zippedTitleAndDescriptions" title="{{pair[1].locale}}" ng-class="{'text-danger': pair[1].value === ''}">{{pair[1].locale}} <display-commonmark-preview button-text="View description" text="pair[1].value"></display-commonmark-preview></p>
            </div>
        </div>
    </div>
</div>
<div class="row" data-ng-if="!ctrl.eventIsFreeOfCharge">
    <div class="col-xs-12"><button type="button" class="btn btn-success" data-ng-click="ctrl.edit()" data-ng-if="!ctrl.editActive"><i class="fa fa-plus"></i> Add new</button></div>
</div>
<div class="alert alert-warning" data-ng-if="ctrl.eventIsFreeOfCharge">
    <p><span class="fa fa-warning"></span> Cannot add <span ng-if="ctrl.type == 'DONATION'">donations</span><span ng-if="ctrl.type != 'DONATION'">additional options</span> to an event marked as "free of charge".</p>
    <p>Please change this setting, add a default price > 0, specify currency and VAT</p>
</div>