<div class="modal-header">
    <h3>Ticket full data</h3>
</div>
<div class="modal-body">

    <div class="row" data-ng-repeat="item in $ctrl.fullData.ticketFieldConfigurationBeforeStandard">
        <div class="col-xs-12">
            <div class="form-group">
                <label>{{$ctrl.getFieldLabel(item)}}</label>
                <div class="form-control-static">{{$ctrl.getFieldValue(item)}}</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                <label>First name</label>
                <div class="form-control-static">{{$ctrl.fullData.firstName}}</div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label>Last name</label>
                <div class="form-control-static">{{$ctrl.fullData.lastName}}</div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label>Email</label>
                <div class="form-control-static">{{$ctrl.fullData.email}}</div>
            </div>
        </div>
    </div>

    <div class="row" data-ng-repeat="item in $ctrl.fullData.ticketFieldConfigurationAfterStandard">
        <div class="col-xs-12">
            <div class="form-group">
                <label>{{$ctrl.getFieldLabel(item)}}</label>
                <div class="form-control-static">{{$ctrl.getFieldValue(item)}}</div>
            </div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-md-4 col-md-push-8 col-xs-12">
            <button class="btn btn-lg btn-default btn-block btn-block-xs" type="button" data-ng-click="$ctrl.onCancel()">Close</button>
        </div>
    </div>
</div>
