<div class="modal-header">
    <h3>Cancel reservation?</h3>
</div>
<div class="modal-body">
    <p>Reservation id: {{$ctrl.reservationId}}</p>
    <p>Fully refund: <input type="checkbox" ng-model="$ctrl.refund"> ?</p>

</div>
<div class="modal-footer">
    <div class="pull-right">
        <button class="btn btn-default" type="button" data-ng-click="$ctrl.confirmRemove()">confirm removal</button>
        <button class="btn btn-default" type="button" data-ng-click="$ctrl.onCancel()"><i class="fa fa-times"></i> close</button>
    </div>
</div>
