<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title">Past events</h1>
    </div>
    <div class="panel-body" ng-if="!$ctrl.open">
        <button class="btn btn-warning" ng-click="$ctrl.loadExpiredEvents()">Load expired events</button>
    </div>
    <div class="panel-body" ng-if="$ctrl.open && !$ctrl.loading && (!$ctrl.events || $ctrl.events.length == 0)">
        <div class="alert alert-info">
            <span><i class="fa fa-info-circle"></i> no past events have been found.</span>
        </div>
    </div>

    <ul class="list-group" ng-if="!$ctrl.loading && $ctrl.open">
        <li class="list-group-item" data-ng-repeat="event in $ctrl.events">
            <div class="row">
                <div class="col-md-8 col-xs-12">
                    <div class="list-group-item-heading">
                        <h4>
                            <a data-ui-sref="events.single.detail({eventName: event.shortName})">{{event.displayName}}</a>
                        </h4>
                    </div>
                    <div class="list-group-item-text">
                        {{event.formattedBegin | formatDate}} / {{event.formattedEnd | formatDate}}
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 text-right wMarginTop10px">
                    <a class="btn btn-primary btn-xs" data-ui-sref="events.single.detail({eventName: event.shortName})" ng-if="event.visibleForCurrentUser">
                        <i class="fa fa-ticket"></i> {{(event.soldTickets + event.checkedInTickets)}} / {{event.availableSeats}}
                    </a>
                    <a class="btn btn-primary btn-xs hidden-xs hidden-sm" data-ui-sref="events.single.detail({eventName: event.shortName})">
                        <i class="fa fa-bar-chart"></i> Detail
                    </a>
                    <a class="btn btn-primary btn-xs hidden-xs hidden-sm" data-ui-sref="events.single.configuration({eventName: event.shortName})" ng-if="event.visibleForCurrentUser">
                        <i class="fa fa-wrench"></i> Settings
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>