.poll-list .list-group-item {
    border-left: 1px solid rgba(0, 0, 0, 0.125);;
    border-right: 1px solid rgba(0, 0, 0, 0.125);;
}

.poll-list .list-group-item:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.125);;
}

.poll-list .list-group-item:last-child {
    border-bottom:1px solid rgba(0, 0, 0, 0.125);;
}