<form role="form" name="editUser" ng-submit="$ctrl.save(editUser, $ctrl.user)" data-error-sensitive novalidate>
    <div class="form-group" bs-form-error="$ctrl.editUser.organizationId">
        <label for="organizationId">Organization</label>
        <select data-ng-model="$ctrl.user.organizationId" data-grab-focus name="organizationId" class="form-control" id="organizationId" data-required data-ng-options="organization.id as organization.name for organization in $ctrl.organizations"></select>
        <field-error data-form-obj="editUser" data-field-obj="$ctrl.editUser.organizationId"></field-error>
    </div>
    <div class="form-group" bs-form-error="$ctrl.editUser.role">
        <label for="role">Role</label> <a class="btn btn-xs btn-default" uib-popover-template="'helpUserRole.html'" popover-placement="left"><i class="fa fa-info-circle"></i> help</a>
        <select data-ng-model="$ctrl.user.role" name="role" class="form-control" id="role" data-required data-ng-options="r.role as r.description for r in $ctrl.roles"></select>
        <field-error data-form-obj="editUser" data-field-obj="$ctrl.editUser.role"></field-error>
        <script type="text/ng-template" id="helpUserRole.html">
            <h4><span ng-if="$ctrl.user.target == 'USER'">User</span> Role:</h4>
            <ul class="list-group">
                <li class="list-group-item" ng-if="$ctrl.user.target == 'USER'">
                    <div class="list-group-item-heading"><strong>Organization owner</strong></div>
                    <div class="list-group-item-text">
                        Can view and update all the events. Can also create other users and access the configuration at organization and event level.
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="list-group-item-heading"><strong>Check-in supervisor</strong></div>
                    <div class="list-group-item-text">
                        <span ng-if="$ctrl.user.target == 'USER'">Has limited access to the events (e.g. can't see the statistics). Can also perform the check-in using the web interface.</span>
                        <span ng-if="$ctrl.user.target == 'API_KEY'">Can perform check-in and additionally search users from the mobile app. Access on the web admin is denied</span>
                    </div>
                </li>
                <li class="list-group-item" ng-if="$ctrl.user.target == 'API_KEY'">
                    <div class="list-group-item-heading"><strong>Check-in operator</strong></div>
                    <div class="list-group-item-text">
                        Can only perform the check-in using the app. Access on the web admin is denied.
                    </div>
                </li>
                <li class="list-group-item" ng-if="$ctrl.user.target == 'API_KEY'">
                    <div class="list-group-item-heading"><strong>Sponsor</strong></div>
                    <div class="list-group-item-text">
                        Can only scan checked-in badges using the app and collect attendees' data. Access on the web admin is denied.
                    </div>
                </li>
                <li class="list-group-item" ng-if="$ctrl.user.target == 'API_KEY'">
                    <div class="list-group-item-heading"><strong>API Client</strong></div>
                    <div class="list-group-item-text">
                        Technical user for integrating external systems (such as CMS) with Alf.io. Access on the web admin and the mobile app is denied.
                    </div>
                </li>
            </ul>
        </script>
    </div>
    <div class="form-group" bs-form-error="$ctrl.editUser.username" ng-if="$ctrl.for === 'user'">
        <label for="username">Username</label>
        <input type="text" data-ng-model="$ctrl.user.username" name="username" id="username" class="form-control" required data-ng-minlength="2" />
        <field-error data-form-obj="editUser" data-field-obj="$ctrl.editUser.username" data-min-char="2"></field-error>
    </div>
    <div class="form-group" bs-form-error="$ctrl.editUser.firstName" ng-if="$ctrl.for === 'user'">
        <label for="firstName">First name</label>
        <input type="text" data-ng-model="$ctrl.user.firstName" name="firstName" id="firstName" class="form-control" required data-ng-minlength="2" />
        <field-error data-form-obj="editUser" data-field-obj="$ctrl.editUser.firstName" data-min-char="2"></field-error>
    </div>
    <div class="form-group" bs-form-error="$ctrl.editUser.lastName" ng-if="$ctrl.for === 'user'">
        <label for="lastName">Last name</label>
        <input type="text" data-ng-model="$ctrl.user.lastName" name="lastName" id="lastName" class="form-control" required data-ng-minlength="2" />
        <field-error data-form-obj="editUser" data-field-obj="$ctrl.editUser.lastName" data-min-char="2"></field-error>
    </div>
    <div class="form-group" bs-form-error="$ctrl.editUser.emailAddress" ng-if="$ctrl.for === 'user'">
        <label for="emailAddress">E-mail</label>
        <input type="email" data-ng-model="$ctrl.user.emailAddress" name="emailAddress" class="form-control" id="emailAddress" required />
        <field-error data-form-obj="editUser" data-field-obj="$ctrl.editUser.emailAddress"></field-error>
    </div>
    <div class="form-group" bs-form-error="$ctrl.editUser.description" ng-if="$ctrl.for === 'apikey'">
        <label for="description">Description</label>
        <input type="text" data-ng-model="$ctrl.user.description" name="description" class="form-control" id="description" maxlength="128"/>
        <field-error data-form-obj="editUser" data-field-obj="$ctrl.editUser.description"></field-error>
    </div>
    <div>
        <button type="submit" class="btn btn-success" data-ng-disabled="editUser.$waiting">Save</button>
        <button type="button" class="btn btn-default" data-ng-disabled="editUser.$waiting" ng-click="$ctrl.cancel()">Cancel</button>
    </div>
</form>