<div class="container" *ngIf="mailLog$ | async as mailLog">
  <h1 class="my-3" translate="admin.event.mail-log.title"></h1>
  <p translate="admin.event.mail-log.legend"></p>
  <hr />
  <div class="fs-2 my-3">
    <svg-icon key="mail" size="xxl"></svg-icon>
    <span translate="admin.event.mail-log.emails"></span>
  </div>

  <div class="input-group">
    <button class="btn btn-outline-secondary" type="button" (click)="search()">
      <svg-icon key="search"></svg-icon>
    </button>

    <input
      type="text"
      class="form-control"
      placeholder="Filter table"
      aria-label="Filter table"
      aria-describedby="Filter table"
      [(ngModel)]="searchText"
      autofocus
      (keydown.enter)="search()"
    />
  </div>

  <div class="my-4">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" translate="admin.event.mail-log.list.recipent"></th>
          <th scope="col" translate="admin.event.mail-log.list.subject"></th>
          <th scope="col" translate="admin.event.mail-log.list.message"></th>
          <th scope="col" translate="admin.event.mail-log.list.status"></th>
          <th scope="col" translate="admin.event.mail-log.list.checksum"></th>
          <th scope="col" translate="admin.event.mail-log.list.requested"></th>
          <th scope="col" translate="admin.event.mail-log.list.sent"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let mail of mailLog.left
              | slice : (page - 1) * pageSize : page * pageSize
          "
        >
          <th scope="row">{{ mail.recipient }}</th>
          <td class="text-overflow">{{ mail.subject }}</td>
          <td>
            <a [routerLink]="['./', mail.id]">{{ mail.message }}</a>
          </td>
          <td>{{ mail.status }}</td>
          <td class="text-overflow">
            {{ mail.checksum }}
          </td>
          <td>{{ mail.requestTimestamp | date : dateTimeFormat }}</td>
          <td>{{ mail.sentTimestamp | date : dateTimeFormat }}</td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-center">
      <ngb-pagination
        [(page)]="page"
        [pageSize]="pageSize"
        [collectionSize]="mailLog.left.length"
      ></ngb-pagination>
    </div>
  </div>
</div>
