<div class="page-header">
    <h2>Resources</h2>
</div>

<div class="alert alert-warning">
    <h4><i class="fa fa-warning"></i> This is an advanced configuration. Please be careful, as a wrong edit could lead to a loss of functionality.</h4>
</div>

<ul>
    <li ng-repeat="templateName in $ctrl.availableTemplates">
        <a ng-if="!$ctrl.forOrganization && $ctrl.system" target="_blank" ui-sref="system-edit-resources({resourceName: templateName})">{{templateName}}</a>
        <a ng-if="!$ctrl.forOrganization && !$ctrl.system" ui-sref="events.single.edit-resources({event: $ctrl.event.shortName, resourceName: templateName})">{{templateName}}</a>
        <a ng-if="$ctrl.forOrganization" target="_blank" ui-sref="organization-edit-resources({organizationId: $ctrl.organizationId, resourceName: templateName})">{{templateName}}</a>
    </li>
</ul>