<div class="panel panel-default">
    <div class="panel-heading">
        <div class="hidden-sm hidden-xs pull-right" data-ng-if="$ctrl.isOwner"><a data-ui-sref="events.new" class="btn btn-xs btn-success"><i class="fa fa-file-text-o"></i> create new event</a></div>
        <h1 class="panel-title">Active Events</h1>
    </div>
    <div class="text-center text-muted panel-body" data-ng-if="$ctrl.loading">
        <div class="wMarginTop">
            <i class="fa fa-cog fa-spin fa-3x"></i>
        </div>
    </div>
    <div class="panel-body" ng-if="!$ctrl.loading && (!$ctrl.events || $ctrl.events.length == 0)">
        <a class="btn btn-success" data-ui-sref="events.new">Create new event</a>
    </div>

    <ul class="list-group" ng-if="!$ctrl.loading">
        <li class="list-group-item" data-ng-repeat="event in $ctrl.events">
            <div class="row">
                <div class="col-md-1 hidden-xs hidden-sm">
                    <h4>
                        <a ui-sref="events.single.detail({eventName: event.shortName})">
                            <img class="img-responsive" ng-src="/file/{{event.fileBlobId}}" ng-if="$ctrl.displayImage && event.fileBlobId">
                            <img class="img-responsive" ng-src="/resources/images/sample-logo.png" ng-if="!event.fileBlobId">
                        </a>
                    </h4>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="list-group-item-heading">
                        <h4>
                            <span class="label label-danger" data-ng-if="event.warningNeeded"><i class="fa fa-warning" data-uib-tooltip="something wrong is happening..."></i></span>
                            <span class="label label-warning" ng-if="event.status == 'DRAFT'"><i class="fa fa-eye-slash" uib-tooltip="this event has not yet been published"></i></span>
                            <a data-ui-sref="events.single.detail({eventName: event.shortName})">{{event.displayName}}</a>
                        </h4>
                    </div>
                    <div class="list-group-item-text">
                        {{event.formattedBegin | formatDate}} / {{event.formattedEnd | formatDate}}
                    </div>
                </div>
                <div class="col-xs-12 col-md-5 text-right wMarginTop10px">
                    <a class="btn btn-primary btn-xs" data-ui-sref="events.single.detail({eventName: event.shortName})" data-ng-if="!event.expired && event.visibleForCurrentUser">
                        <i class="fa fa-ticket"></i> {{(event.soldTickets + event.checkedInTickets)}} / {{event.availableSeats}}
                    </a>
                    <a class="btn btn-primary btn-xs hidden-xs hidden-sm" data-ui-sref="events.single.detail({eventName: event.shortName})">
                        <i class="fa fa-bar-chart"></i> Detail
                    </a>
                    <a class="btn btn-primary btn-xs hidden-xs hidden-sm" data-ui-sref="events.single.configuration({eventName: event.shortName})" ng-if="event.visibleForCurrentUser">
                        <i class="fa fa-wrench"></i> Settings
                    </a>
                    <a class="btn btn-primary btn-xs" data-ng-if="!event.expired" data-ui-sref="events.single.checkIn({eventName: event.shortName})">
                        <i class="fa fa-check"></i> Check-In
                    </a>
                    <a data-ng-if="event.visibleForCurrentUser && $ctrl.supportsOfflinePayments(event)" class="btn btn-warning btn-xs" data-ui-sref="events.single.pending-payments({eventName: event.shortName})">
                        <i class="fa fa-dollar"></i> Pending payments <pending-payments-badge data-event-name="{{event.shortName}}"></pending-payments-badge>
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>
