<div class="modal-content">
    <div class="modal-header">
        <h1>Confirm API Key rotation</h1>
    </div>
    <div class="modal-body">
        <p>If you confirm this operation, the System API Key will be regenerated.</p>
        <p>Effective immediately, all external applications are required to use the new API Key</p>
        <p>This operation <strong>cannot be undone</strong>.</p>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-md-4 col-md-push-8 col-xs-12">
                <button class="btn btn-lg btn-warning btn-block" data-ng-click="confirm()" style="margin-bottom: 10px">Confirm</button>
            </div>
            <div class="col-md-4 col-md-pull-4 col-xs-12">
                <button type="button" class="btn btn-lg btn-default btn-block" data-ng-click="cancel()" style="margin-bottom: 10px">Cancel</button>
            </div>
        </div>
    </div>
</div>
