<div class="container">
    <div class="wMarginBottom30px" data-ng-if="$ctrl.type === 'apikey' && $ctrl.isAdmin">
        <div class="page-header">
            <h1>System API Key</h1>
            <small>System API Key can be used from external application to create/modify/delete organizations and to create API Keys</small>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-9" data-ng-if="$ctrl.systemApiKey"><pre>{{$ctrl.systemApiKey}}</pre></div>
                    <div class="col-xs-1" data-ng-if="$ctrl.systemApiKey"><button class="btn btn-default btn-block" ng-click="$ctrl.copySystemApiKey()">Copy</button></div>
                    <div class="col-xs-1">
                        <button class="btn btn-success btn-block" data-ng-class="{'btn-success': !$ctrl.systemApiKey, 'btn-warning': $ctrl.systemApiKey}">
                            <span ng-if="!$ctrl.systemApiKey" ng-click="$ctrl.revealSystemApiKey()">Reveal</span>
                            <span ng-if="$ctrl.systemApiKey" ng-click="$ctrl.rotateSystemApiKey()">Rotate</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wMarginBottom30px" data-ng-if="$ctrl.type === 'apikey' && $ctrl.isAdmin">&nbsp;</div>
    <h1>{{$ctrl.title}}</h1>
    <hr>
    <div class="row">
        <div class="col-xs-6">
            <div class="form-inline" ng-if="!$ctrl.loading && $ctrl.organizations.length > 1">
                <div class="form-group-lg">
                    <label for="selectedOrganization">Show only members of</label>
                    <select id="selectedOrganization" class="form-control" ng-options="o.id as o.name for o in $ctrl.organizations" data-ng-model="$ctrl.selectedOrganization"></select>
                    <button class="btn btn-default" ng-if="$ctrl.selectedOrganization" ng-click="$ctrl.selectedOrganization = null"><i class="fa fa-ban"></i></button>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <a ng-show="$ctrl.type == 'user'" ui-sref="users.new" class="btn btn-success"><i class="fa fa-plus"></i> add new</a>
            <a ng-show="$ctrl.type == 'apikey'" ui-sref="apikey.new" class="btn btn-success"><i class="fa fa-plus"></i> add new</a>
            <a ng-show="$ctrl.type == 'apikey'" ui-sref="apikey.bulk" class="btn btn-warning ml-1"><i class="fa fa-group"></i> bulk creation</a>
            <a ng-if="$ctrl.type == 'apikey' && $ctrl.organizations.length == 1" ng-click="$ctrl.downloadApiKeys($ctrl.organizations[0].id)" class="btn btn-default ml-1"><i class="fa fa-download"></i> Download all API Keys</a>
            <div class="btn-group" uib-dropdown is-open="$ctrl.isDropdownOpen" ng-if="$ctrl.type == 'apikey' && $ctrl.organizations.length > 1">
                <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle>
                    Download all API Keys for <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li role="menuitem" ng-repeat="organization in $ctrl.organizations"><a ng-click="$ctrl.downloadApiKeys(organization.id)" ng-bind="organization.name"></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center text-muted" data-ng-if="$ctrl.loading">
        <div class="wMarginTop">
            <i class="fa fa-cog fa-spin fa-3x"></i>
        </div>
    </div>
    <div class="page-header">
        <h3>{{$ctrl.title}} enabled</h3>
    </div>
    <div class="table-responsive" data-ng-if="!$ctrl.loading">
        <table class="table table-striped">
            <thead>
            <tr>
                <th width="{{$ctrl.type == 'user' ? '10%' : '30%'}}">
                    <span ng-show="$ctrl.type == 'user'">Username</span>
                    <span ng-show="$ctrl.type == 'apikey'">Api key</span>
                </th>
                <th width="20%" ng-show="$ctrl.type == 'user'">Name</th>
                <th width="20%" ng-show="$ctrl.type == 'apikey'">Description</th>
                <th>Role</th>
                <th>Member of</th>
                <th><span class="sr-only">actions</span></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in ($ctrl.users | orgSelected:$ctrl.selectedOrganization | userEnabled:true)" data-ng-class-even="active">
                <td>
                    <a ng-if="$ctrl.type === 'user'" ui-sref="users.edit({userId:user.id})">{{user.username}}</a>
                    <span ng-if="$ctrl.type === 'apikey'">{{user.username}}</span>
                </td>
                <td ng-show="$ctrl.type == 'user'">{{user.firstName}} {{user.lastName}}</td>
                <td ng-show="$ctrl.type == 'apikey'">{{user.description}}</td>
                <td><span data-ng-repeat="role in user.roles">{{role | roleDesc: $ctrl.roles}}</span></td>
                <td><span class="label label-info" ng-repeat="org in user.memberOf">{{org.name}}</span></td>
                <td class="text-right">
                    <a ng-show="$ctrl.type == 'user'" class="btn btn-xs btn-default" data-ui-sref="users.edit({userId:user.id})"><i class="fa fa-edit"></i> Edit</a>
                    <a ng-show="$ctrl.type == 'apikey'" class="btn btn-xs btn-default" data-ui-sref="apikey.edit({userId:user.id})"><i class="fa fa-edit"></i> Edit</a>
                    <button ng-show="$ctrl.type == 'user'" class="btn btn-xs btn-default" ng-click="$ctrl.resetPassword(user)"><i class="fa fa-refresh"></i> Reset Password</button>
                    <button ng-show="$ctrl.type == 'apikey'" class="btn btn-xs btn-default" ng-click="$ctrl.viewApiKey(user)"><i class="fa fa-qrcode"></i> View QR Code</button>
                    <button class="btn btn-xs btn-warning" ng-if="user.enabled" ng-click="$ctrl.enable(user, false)"><i class="fa fa-eye-slash"></i> Disable</button>
                    <button class="btn btn-xs btn-danger" ng-click="$ctrl.deleteUser(user)"><i class="fa fa-trash"></i> Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div data-ui-view="editUser"></div>
    <div class="page-header">
        <h3>{{$ctrl.title}} not enabled</h3>
    </div>
    <div class="table-responsive" data-ng-if="!$ctrl.loading">
        <table class="table table-striped">
            <thead>
            <tr>
                <th width="{{$ctrl.type == 'user' ? '10%' : '30%'}}">
                    <span ng-show="$ctrl.type == 'user'">Username</span>
                    <span ng-show="$ctrl.type == 'apikey'">Api key</span>
                </th>
                <th width="20%" ng-show="$ctrl.type == 'user'">Name</th>
                <th width="20%" ng-show="$ctrl.type == 'apikey'">Description</th>
                <th>Role</th>
                <th>Member of</th>
                <th><span class="sr-only">actions</span></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in ($ctrl.users | orgSelected:$ctrl.selectedOrganization | userEnabled:false)" data-ng-class-even="active">
                <td>
                    <a ng-if="$ctrl.type === 'user'" ui-sref="users.edit({userId:user.id})">{{user.username}}</a>
                    <span ng-if="$ctrl.type === 'apikey'">{{user.username}}</span>
                </td>
                <td ng-show="$ctrl.type == 'user'">{{user.firstName}} {{user.lastName}}</td>
                <td ng-show="$ctrl.type == 'apikey'">{{user.description}}</td>
                <td><span data-ng-repeat="role in user.roles">{{role | roleDesc: $ctrl.roles}}</span></td>
                <td><span class="label label-info" ng-repeat="org in user.memberOf">{{org.name}}</span></td>
                <td class="text-right">
                    <button class="btn btn-xs btn-success" ng-if="!user.enabled" ng-click="$ctrl.enable(user, true)"><i class="fa fa-eye"></i> Enable</button>
                    <button class="btn btn-xs btn-danger" ng-click="$ctrl.deleteUser(user)"><i class="fa fa-trash"></i> Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>