<div class="modal-content">
    <div class="modal-header">
        <h2>Export Reservations</h2>
    </div>
    <div class="modal-body">

        <div class="row">
            <div class="col-xs-12 text-left">
                Reservations can be exported for a given period of time.<br>
                The export will produce an "Excel" file with one sheet per Event
            </div>
        </div>
        <hr>
        <h4>Reservation date</h4>
        <div class="row">
            <div class="col-xs-12 col-lg-6">
                <div class="form-group">
                    <label for="reservation-date-from">From</label>
                    <input type="date" autocomplete="off" id="reservation-date-from" ng-model="$ctrl.searchFrom" class="form-control">
                </div>
            </div>
            <div class="col-xs-12 col-lg-6">
                <div class="form-group">
                    <label for="reservation-date-to">To</label>
                    <input type="date" autocomplete="off" id="reservation-date-to" ng-model="$ctrl.searchTo" class="form-control">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <button class="btn btn-lg btn-default btn-block" style="margin-bottom: 10px" ng-click="$ctrl.close()">Close</button>
            </div>
            <div class="col-md-4 col-md-push-4 col-xs-12">
                <a class="btn btn-lg btn-warning btn-block" style="margin-bottom: 10px"
                   href="{{'/admin/api/export/reservations?from=' + $ctrl.formattedSearchFrom + '&to=' + $ctrl.formattedSearchTo }}"
                   data-ng-if="$ctrl.ready" ng-click="$ctrl.download()"
                   target="_blank" rel="noopener">Download</a>
            </div>
        </div>
    </div>
</div>
