<div class="container wMarginBottom30px">
    <div class="page-header">
        <h2>Edit your account: {{$ctrl.user.username}}</h2>
        <span>Review and edit your account details</span>
    </div>
    <form role="form" name="$ctrl.editUser" data-error-sensitive data-ng-submit="$ctrl.saveUserInfo()">
        <div class="page-header">
            <h4>Personal information</h4>
        </div>
        <div class="form-group" bs-form-error="$ctrl.user.firstName">
            <label for="firstName">First Name</label>
            <input class="form-control" name="name" id="firstName" data-ng-model="$ctrl.user.firstName" required data-ng-minlength="2">
            <field-error data-form-obj="editUser" data-field-obj="$ctrl.user.firstName"></field-error>
        </div>
        <div class="form-group" bs-form-error="$ctrl.user.lastName">
            <label for="lastName">Last Name</label>
            <input class="form-control" name="lastName" id="lastName" data-ng-model="$ctrl.user.lastName" required data-ng-minlength="2">
            <field-error data-form-obj="editUser" data-field-obj="$ctrl.user.lastName"></field-error>
        </div>
        <div class="form-group">
            <label for="emailAddress">Email Address</label>
            <input type="email" class="form-control" name="emailAddress" id="emailAddress" data-ng-model="$ctrl.user.emailAddress" required>
        </div>
        <div class="form-group pull-right" data-ng-if="!$ctrl.loading">
            <button class="btn btn-success">Update</button>
            <button type="button" class="btn btn-default" data-ng-click="$ctrl.doReset()">Cancel</button>
        </div>
        <div class="text-center" data-ng-if="$ctrl.loading">
            <i class="fa fa-cog fa-2x fa-spin"></i> loading...
        </div>
    </form>
    <div class="clearfix"></div>
    <div uib-alert type="success" close="$ctrl.dismissMessage()" dismiss-on-timeout="1500" data-ng-if="$ctrl.showMessage">Success!</div>
    <div class="page-header">
        <h4>Change Password</h4>
    </div>
    <div class="alert alert-warning" ng-if="$ctrl.isAdmin">
        <h5><i class="fa fa-warning"></i> With great power comes great responsibility: you are the administrator, therefore <strong>nobody could reset your password if you lose it</strong>. Be careful!</h5>
    </div>
    <form role="form" name="$ctrl.changePassword" data-error-sensitive data-ng-submit="$ctrl.updatePassword()">
        <div class="form-group">
            <label for="oldPassword">Current Password</label>
            <input type="password" class="form-control" name="oldPassword" id="oldPassword" data-ng-model="$ctrl.passwordContainer.oldPassword" required>
        </div>
        <div class="form-group">
            <label for="newPassword">New Password</label>
            <input type="password" class="form-control" name="newPassword" id="newPassword" data-ng-model="$ctrl.passwordContainer.newPassword" required>
        </div>
        <div class="form-group">
            <label for="newPasswordConfirm">Confirm new Password</label>
            <input type="password" class="form-control" name="newPasswordConfirm" id="newPasswordConfirm" data-ng-model="$ctrl.passwordContainer.newPasswordConfirm" required>
        </div>
        <div class="text-center" data-ng-if="$ctrl.loading">
            <i class="fa fa-cog fa-2x fa-spin"></i> loading...
        </div>
        <div class="form-group pull-right" data-ng-if="!$ctrl.loading">
            <button class="btn btn-success">Update</button>
            <button type="reset" class="btn btn-default">Cancel</button>
        </div>


        <div data-ng-messages="$ctrl.changePassword.$error" class="text-danger wMarginBottom" data-ng-messages-multiple>
            <div data-ng-message="alfio.new-password-invalid">
                <span>The new password doesn't match the required format. It must be <strong>at least</strong> 10 characters and it must: </span>
                <ul>
                    <li>contain <strong>at least</strong> an uppercase letter <code>A-Z</code></li>
                    <li>contain <strong>at least</strong> a lowercase letter <code>a-z</code></li>
                    <li>contain  <strong>at least</strong> a punctuation character <code>!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~}</code></li>
                    <li><strong>not</strong> contain spaces</li>
                </ul>
            </div>
            <div data-ng-message="alfio.new-password-does-not-match">"New password" and "Confirm new password" don't match</div>
            <div data-ng-message="alfio.old-password-invalid">Current password is not valid</div>
            <div data-ng-message="pattern">The value should match the following pattern: {{requiredPattern}}</div>
        </div>

    </form>

</div>