<div class="container">
    <div class="page-header">
        <h1>Pending Reservations for {{eventName}}</h1>
        <small class="text-muted">You can update them either one at a time or bulky</small>
    </div>

    <div class="wMarginTop wMarginBottom table-responsive" data-ng-if="pendingReservations.length > 0">
        <table class="table">
            <thead>
            <th>ID</th>
            <th>Expiration Date</th>
            <th>Amount</th>
            <th>Customer's name</th>
            <th>Customer's email</th>
            <th></th>
            </thead>
            <tbody>
            <tr data-ng-repeat="reservation in pendingReservations">
                <td data-ng-class-even="'active'">{{reservation.left.id}}</td>
                <td data-ng-class-even="'active'">{{reservation.left.validity | formatDate}}</td>
                <td data-ng-class-even="'active'">{{reservation.right.totalPrice}}</td>
                <td data-ng-class-even="'active'">{{reservation.left.fullName}}</td>
                <td data-ng-class-even="'active'">{{reservation.left.email}}</td>
                <td data-ng-class-even="'active'"><button class="btn btn-success" data-ng-disabled="loading" data-ng-click="registerPayment(eventName, reservation.left.id)"><i class="fa fa-check"></i></button> <button data-ng-disabled="loading" data-ng-click="deletePayment(event.shortName, reservation.left.id)" class="btn btn-danger"><i class="fa fa-trash-o"></i></button></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>