<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <Properties>
        <Property name="log-path">logs</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <RollingFile name="file-log" fileName="${log-path}/alfio.log"
                     filePattern="${log-path}/alfio-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
        <Async name="Async">
            <AppenderRef ref="file-log"/>
        </Async>
    </Appenders>

    <Loggers>
        <Logger name="alfio" level="debug" additivity="false">
            <appender-ref ref="Console" level="info"/>
            <appender-ref ref="Async" />
        </Logger>
        <Logger name="alfio.config" level="info" additivity="false">
            <appender-ref ref="Console" />
            <appender-ref ref="Async" />
        </Logger>
        <!-- uncomment to enable jobs trace log -->
        <!--
        <Logger name="alfio.job" level="trace" additivity="false">
            <appender-ref ref="Console" />
            <appender-ref ref="Async" />
        </Logger>
        -->
        <Logger name="org.springframework" level="warn" additivity="false">
            <appender-ref ref="Console" />
            <appender-ref ref="Async" />
        </Logger>
        <Root level="error">
            <Appender-ref ref="Console" />
            <Appender-ref ref="Async" />
        </Root>
    </Loggers>
</configuration>