<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</appenders>
	<loggers>
		<logger name="io.bagarino" level="info" additivity="false">
			<appender-ref ref="Console" />
		</logger>
        <logger name="org.springframework" level="warn" additivity="false">
			<appender-ref ref="Console" />
		</logger>
		<root level="error">
			<appender-ref ref="Console" />
		</root>
	</loggers>
</configuration>