<table class="table">
  <thead>
    <tr>
      <th scope="col" translate="reservation-page.category"></th>
      <th scope="col" class="text-center" translate="reservation-page.amount"></th>
      <th scope="col" class="text-end" translate="reservation-page.price"></th>
      <th scope="col" class="text-end" translate="reservation-page.subtotal"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let summaryRow of reservationInfo.orderSummary.summary" [class.bg-light]="summaryRow.type === 'TAX_DETAIL'">
      <td>
        <span *ngIf="summaryRow.type === 'DYNAMIC_DISCOUNT'" translate="reservation.dynamic.discount.description"></span>
        <span *ngIf="summaryRow.type === 'APPLIED_SUBSCRIPTION'">
          {{'summary.table.subscription'|translate: {'0': isSubscriptionPurchaseContext ? purchaseContext.title[currentLang] : summaryRow.name } }}
          <span *ngIf="displayRemoveSubscription">
            <button type="button" class="btn btn-link delete-button" (click)="removeSubscription.emit(summaryRow);" [ngbTooltip]="'summary.table.remove-applied-subscription-from-order'|translate">
              <span class="sr-only" translate="summary.table.remove-applied-subscription-from-order"></span>
              <fa-icon [icon]="['fas', 'trash']" a11yRole="presentation"></fa-icon>
            </button>
          </span>
        </span>
        <span *ngIf="summaryRow.type === 'TAX_DETAIL'">
          {{'reservation-page.vat'|translate:{'0': summaryRow.taxPercentage, '1': ('common.vat' | translate)} }}
        </span>
        <span *ngIf="summaryRow.type !== 'DYNAMIC_DISCOUNT' && summaryRow.type !== 'APPLIED_SUBSCRIPTION' && summaryRow.type !== 'TAX_DETAIL' ">{{summaryRow.name}}</span>
      </td>
      <td class="text-center"><ng-container *ngIf="summaryRow.type !== 'TAX_DETAIL'">{{summaryRow.amount}}</ng-container></td>
      <td class="text-end">{{summaryRow.price}}</td>
      <td class="text-end"><app-price-tag [purchaseContext]="purchaseContext" [formattedPrice]="summaryRow.subTotal"></app-price-tag></td>
    </tr>
  </tbody>
  <tfoot>
      <tr *ngIf="!reservationInfo.orderSummary.free && reservationInfo.orderSummary.displayVat && !purchaseContext.vatIncluded" class="bg-light">
          <td colspan="3">{{'reservation-page.vat'|translate:{'0': purchaseContext.vat, '1': ('common.vat' | translate)} }}</td>
          <td class="text-end"><app-price-tag [purchaseContext]="purchaseContext" [formattedPrice]="reservationInfo.orderSummary.totalVAT"></app-price-tag></td>
      </tr>
      <tr>
        <th colspan="3" translate="reservation-page.total"><span *ngIf="displaySplitPaymentNote"> *</span></th>
        <td class="text-end"><strong><app-price-tag [purchaseContext]="purchaseContext" [formattedPrice]="reservationInfo.orderSummary.totalPrice"></app-price-tag></strong></td>
      </tr>
      <tr *ngIf="!reservationInfo.orderSummary.free && reservationInfo.orderSummary.displayVat && purchaseContext.vatIncluded">
          <td colspan="3">{{'reservation-page.vat-included'|translate: {'0': purchaseContext.vat, '1': ('common.vat' | translate)} }}</td>
          <td class="text-end"><app-price-tag [purchaseContext]="purchaseContext" [formattedPrice]="reservationInfo.orderSummary.totalVAT"></app-price-tag></td>
      </tr>
      <tr *ngIf="!reservationInfo.orderSummary.free && !reservationInfo.orderSummary.displayVat">
          <td colspan="4">{{'invoice.vat-voided'|translate: {'0': ('common.vat' | translate)} }}</td>
      </tr>
      <tr *ngIf="displaySplitPaymentNote">
        <td colspan="4">* {{'invoice.vat-not-added'|translate: {'0': ('common.vat' | translate)} }}</td>
      </tr>
  </tfoot>
</table>
