<div class="container">
  <h1 class="my-4">
    <span *ngIf="!editMode" translate="admin.organization.new.title"></span>
    <span *ngIf="editMode"
      >Edit organization {{ (organization$ | async)?.name }}</span
    >
  </h1>
</div>

<div class="container-sm">
  <form [formGroup]="organizationForm" (ngSubmit)="save()">
    <h2 class="my-3" translate="admin.organization.new.organizer-data"></h2>
    <hr />
    <div class="form-group my-3">
      <label for="organizationName" translate="admin.common.name"></label>
      <input
        id="organizationName"
        type="text"
        class="form-control"
        [class.is-invalid]="
          organizationName?.invalid &&
          (organizationName?.dirty || organizationName?.touched)
        "
        formControlName="name"
      />
    </div>
    <div class="form-group my-3">
      <label for="organizationEmail" translate="common.email"></label>
      <input
        id="organizationEmail"
        type="email"
        class="form-control"
        [class.is-invalid]="
          organizationEmail?.invalid &&
          (organizationEmail?.dirty || organizationEmail?.touched)
        "
        formControlName="email"
      />
    </div>
    <div class="form-group my-3">
      <label
        for="organizationDescription"
        translate="admin.common.description"
      ></label>
      <textarea
        id="organizationDescription"
        class="form-control"
        [class.is-invalid]="
          organizationDescription?.invalid &&
          (organizationDescription?.dirty || organizationDescription?.touched)
        "
        formControlName="description"
      >
      </textarea>
    </div>
    <h2
      class="my-4"
      translate="admin.organization.new.advanced-configuration"
    ></h2>
    <hr />
    <div class="form-group my-3">
      <label
        for="organizationSlug"
        translate="admin.organization.new.slug"
      ></label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"
            >{{ (instanceSetting$ | async)?.baseUrl }}/o/</span
          >
        </div>
        <input
          type="text"
          class="form-control"
          id="organizationSlug"
          formControlName="slug"
        />
        <div class="input-group-append">
          <span class="input-group-text">/</span>
        </div>
      </div>
      <div class="form-group my-3">
        <label
          for="organizationExternalId"
          translate="admin.organization.new.external-id"
        >
        </label>
        <input
          id="organizationExternalId"
          type="text"
          class="form-control"
          formControlName="externalId"
        />
      </div>
    </div>
    <div class="d-flex justify-content-between">
      <div>
        <button
          class="btn btn-lg btn-outline-secondary"
          [routerLink]="['/organizations']"
          translate="admin.common.cancel"
        ></button>
      </div>
      <div>
        <button
          type="submit"
          class="btn btn-lg btn-primary"
          [disabled]="organizationForm.invalid"
          translate="admin.common.save"
        ></button>
      </div>
    </div>
  </form>
</div>
