<h1>
  <span *ngIf="!editMode">Add new organization</span>
  <span *ngIf="editMode"
    >Edit organization {{ (organization$ | async)?.name }}</span
  >
</h1>

<form [formGroup]="organizationForm" (ngSubmit)="save()">
  <h2>Organizer Data</h2>
  <div class="form-group">
    <label for="organizationName">Name</label>
    <input id="organizationName" type="text" class="form-control" formControlName="name">
  </div>
  <div class="form-group">
    <label for="organizationEmail">Email address</label>
    <input id="organizationEmail" type="email" class="form-control" formControlName="email">
  </div>
  <div class="form-group">
    <label for="organizationDescription"> Description</label>
    <textarea id="organizationDescription" class="form-control" formControlName="description"> </textarea>
  </div>
  <h2>Advanced Configuration</h2>
  <div class="form-group">
    <label for="organizationSlug">Slug</label>
    <div class="input-group ">
      <div class="input-group-prepend">
        <span class="input-group-text">{{(instanceSetting$ | async)?.baseUrl}}/o/</span>
      </div>
      <input type="text" class="form-control" id="organizationSlug" formControlName="slug">
      <div class="input-group-append">
        <span class="input-group-text">/</span>
      </div>
    </div>
    <div class="form-group">
      <label for="organizationExternalId">External ID (OpenID organization ID) </label>
      <input id="organizationExternalId" type="text" class="form-control" formControlName="externalId" />
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="organizationForm.invalid">Save</button>
</form>

<a [routerLink]="['/organizations']">back</a>


