<div ng-if="!$ctrl.fullBanner">
    <h5 class="text-muted">Powered by <a href="https://alf.io" target="_blank">Alf.io</a> v.{{$ctrl.alfioVersion}}</h5>
    <small><a href="https://github.com/alfio-event/alf.io/issues" target="_blank" rel="noopener">report an issue</a> or <a href="https://github.com/alfio-event/alf.io/discussions" target="_blank" rel="nofollow noopener noreferrer">ask for help</a></small>
    <div class="wMarginTop10px">
        <a class="btn btn-xs btn-success" href="https://alf.io/usage-form/" target="_blank" rel="noopener">Tell us about you!</a>
    </div>
</div>

<div class="alert" ng-if="$ctrl.fullBanner">
    <h3 class="text-center">Thank you for using Alf.io!</h3>
    <h4> We don't track usage in any way, because we respect your privacy<br>
        ...but we're very happy that you've decided to use Alf.io and we'd love to hear your story! </h4>
    <div class="mb-3">&nbsp;</div>
    <div class="row">
        <div class="col-xs-12 col-lg-2 col-lg-offset-3">
            <a class="btn btn-primary" href="https://alf.io/usage-form/" target="_blank" rel="noopener"><i class="fa fa-bullhorn"></i> Tell us about you!</a>
        </div>
        <div class="col-xs-12 col-lg-2">
            <a class="btn btn-success ml-2" href="https://opencollective.com/alfio/contribute" target="_blank" rel="noopener"><i class="fa fa-handshake-o"></i> Contribute on OpenCollective</a>
        </div>
        <div class="col-xs-12 col-lg-2">
            <button type="button" class="btn btn-default ml-3" ng-click="$ctrl.dismiss()">Dismiss</button>
        </div>
    </div>
</div>