<div class="container">
  <ul class="list-unstyled">
    <li class="text-muted" translate="admin.event.menu.details"></li>
    <li>
      <ul class="list-unstyled">
        <li>
          <svg-icon key="arrow-back"></svg-icon>
          <a translate="admin.event.menu.back-to-event-detail" href=""></a>
        </li>
        <li>
          <svg-icon key="description"></svg-icon>
          <a translate="admin.event.menu.attendees-data-to-collect" href=""></a>
        </li>
        <li>
          <svg-icon key="percent"></svg-icon>
          <a translate="admin.event.menu.promo-codes" href=""></a>
        </li>
        <li>
          <svg-icon key="insights"></svg-icon>
          <a translate="admin.event.menu.polls" href=""></a>
        </li>
        <li>
          <svg-icon key="ticket-reserved"></svg-icon>
          <a translate="admin.event.menu.reservations" href=""></a>
        </li>
        <li>
          <svg-icon key="email-sent"></svg-icon>
          <a translate="admin.event.menu.email-log" href=""></a>
        </li>
      </ul>
      <ul class="list-unstyled">
        <li class="text-muted" translate="admin.event.menu.status"></li>
        <li>
          <svg-icon key="groups"></svg-icon>
          <a translate="admin.event.menu.waiting-list" href=""></a>
        </li>
      </ul>
    </li>
  </ul>
</div>
