<div class="container" container-fluid-responsive="">
    <h1>Organizations</h1>
    <hr>
    <div class="text-right" data-ng-if="$ctrl.isAdmin">
        <a ui-sref="organizations.new" class="btn btn-success"><i class="fa fa-plus"></i> add new</a>
    </div>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>name</th>
                    <th class="hidden-xs" width="35%">description</th>
                    <th width="30%">e-mail</th>
                    <th width="10%"><span class="sr-only">actions</span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="!$ctrl.organizations || $ctrl.organizations.length == 0">
                    <td colspan="4">no organizations have been found. <a data-ui-sref="organizations.new">Insert a new one</a></td>
                </tr>
                <tr ng-repeat="organization in $ctrl.organizations">
                    <td>{{organization.name}}</td>
                    <td class="hidden-xs"><div class="organization-description" data-uib-tooltip="{{organization.description}}">{{organization.description}}</div></td>
                    <td>{{organization.email}}</td>
                    <td class="text-center">
                        <a class="btn btn-xs btn-default" data-ui-sref="organizations.edit({organizationId:organization.id})" data-uib-tooltip="Edit"><i class="fa fa-edit"></i><span class="sr-only">Edit</span></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ui-view="newOrganization"></div>
</div>
