<div class="page-header">
    <h2><i class="fa fa-language"></i> Internationalization</h2>
</div>


<div class="input-group" style="margin-bottom:16px">
    <div class="input-group-addon">
        <i class="fa fa-search"></i>
    </div>
    <input type="text" class="form-control" data-ng-model="$ctrl.toBeSearched">
</div>
<div class="input-group">
    <label><input type="checkbox" data-ng-model="displayOnlyOverride"> Display only customized values</label>
</div>

<uib-tabset>
    <uib-tab heading="{{lang.displayLanguage}}" data-ng-repeat="lang in $ctrl.allLanguages" select="$ctrl.loadForLocale(lang.locale)">
        <table class="table table-striped width-100">
            <tbody>
                <tr data-ng-repeat="key in $ctrl.bundleKeys[lang.locale] | filterBundle: $ctrl.toBeSearched: $ctrl.displayValueWithFallback : lang.locale : $ctrl.isOverride : displayOnlyOverride">
                    <td style="width:50%">
                        <div>{{::$ctrl.bundle['en'][key]}}</div>
                        <div class="text-muted">{{::key}}</div>
                    </td>
                    <td>
                        <div data-ng-if="!$ctrl.editing[lang.locale][key]">
                            <mark class="editable-translation" ng-click="$ctrl.edit(lang.locale, key)">
                            {{$ctrl.displayValueWithFallback(lang.locale, key)}}
                            </mark>
                            <button data-ng-if="$ctrl.isOverride(lang.locale, key)" ng-click="$ctrl.deleteKey(lang.locale, key)" class="btn btn-danger"><i class="fa fa-trash" data-uib-tooltip="Delete"></i></button>
                        </div>
                        <div data-ng-if="$ctrl.editing[lang.locale][key]">
                            <textarea data-ng-model="$ctrl.editing[lang.locale][key].value" style="width:100%"></textarea>
                            <p>
                                <button class="btn btn-success" ng-click="$ctrl.update(lang.locale, key, $ctrl.editing[lang.locale][key].value)" type="button">Update</button>
                                <button class="btn" ng-click="$ctrl.editing[lang.locale][key] = false" type="button">Cancel</button>
                            </p>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </uib-tab>
</uib-tabset>