<div class="page-header">
    <h2><i class="fa fa-language"></i> Internationalization</h2>
</div>

<uib-tabset>
    <uib-tab heading="{{lang.displayLanguage}}" data-ng-repeat="lang in $ctrl.allLanguages" select="$ctrl.loadForLocale(lang.locale)">
        <table class="table table-striped width-100">
            <tbody>
                <tr data-ng-repeat="key in $ctrl.bundleKeys[lang.locale]">
                    <td style="width:50%">
                        <div>{{$ctrl.bundle['en'][key]}}</div>
                        <div class="text-muted">{{key}}</div>
                    </td>
                    <td><mark class="editable-translation" ng-click="$ctrl.edit(lang.locale, key)">{{$ctrl.displayValueWithFallback(lang.locale, key)}}</mark></td>
                </tr>
            </tbody>
        </table>
    </uib-tab>
</uib-tabset>