<div class="modal-header">
    <h3>Check-in log for {{attendee.firstName}} {{attendee.lastName}}</h3>
</div>

<div class="modal-body">
    <table class="table">
        <thead>
            <tr>
                <th>Type</th>
                <th>Date</th>
                <th>by</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="audit in entries">
                <td ng-bind="translateType(audit.eventType)"></td>
                <td ng-bind="audit.eventTime|formatDate"></td>
                <td ng-if="audit.username"><abbr title="{{audit.firstName}} {{audit.lastName}} {{audit.email}}">{{audit.username}}</abbr></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal-footer">
    <div class="row">
        <div class="col-md-4 col-md-push-8 col-xs-12">
            <button class="btn btn-lg btn-warning btn-block" data-ng-click="cancel()" style="margin-bottom: 10px">Close</button>
        </div>
    </div>
</div>