.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-default:hover {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #ccc;
}

.btn-default:focus, .btn-default.focus {
    box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0px;
    left: 0px;
    z-index: 200;
}