<div class="container">
    <div class="page-header">
        <h1>Waiting list</h1>
        <span>View waiting people</span>
    </div>
    <span class="text-center fa fa-cog fa-spin fa-3x" data-ng-if="ctrl.loading"></span>
    <div uib-alert type="success" close="ctrl.dismissMessage()" data-ng-if="ctrl.showConfirmation">
        <h4 data-ng-switch="ctrl.subscriber.status">
            <i class="fa fa-info-circle"></i> Subscriber {{ctrl.subscriber.fullName}} &lt;{{ctrl.subscriber.emailAddress}}&gt;
            <span data-ng-switch-when="CANCELLED">deleted.
            <p>Please note that this e-mail address won't be able to subscribe to this waiting list anymore. <a class="btn btn-sm btn-default" data-ng-click="ctrl.restoreSubscriber(ctrl.subscriber);"><i class="fa fa-undo"></i> undo</a></p>
            </span>
            <span data-ng-switch-default="">restored.</span>
        </h4>
    </div>
    <div class="table-responsive" data-ng-if="!ctrl.loading">
        <table class="table">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Name</th>
                    <th>e-mail</th>
                    <th>language</th>
                    <th>status</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="subscription in ctrl.subscriptions">
                    <td data-ng-bind="subscription.subscriptionType"></td>
                    <td data-ng-bind="subscription.fullName"></td>
                    <td data-ng-bind="subscription.emailAddress"></td>
                    <td data-ng-bind="subscription.locale"></td>
                    <td data-ng-bind="subscription.status"></td>
                    <td class="text-center"><a class="btn btn-sm btn-default" data-ng-click="ctrl.removeSubscriber(subscription);"><i class="fa fa-trash"></i> remove</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center wMarginTop wMarginBottom">
        <a href="#" data-ui-sref="events.single.detail({eventName: ctrl.eventName})" class="btn btn-default">back</a>
    </div>
</div>