<div class="container" container-fluid-responsive="">
    <div class="text-center" data-ng-if="eventConf.loading">
        <i class="fa fa-cog fa-spin fa-3x"></i><span class="sr-only">Loading...</span>
    </div>
    <div class="alert alert-warning" data-ng-if="eventConf.noResults">
        <h1>You are not authorized to see Event configuration.</h1>
    </div>
    <div data-ng-if="eventConf.hasResults">

        <div>
            <h1>Configuration for {{eventConf.event.displayName}}</h1>
        </div>

        <div class="page-header">
            <h2>General</h2>
            <span>General settings</span>
        </div>

        <form name="settingsForm" novalidate data-ng-submit="eventConf.saveSettings(settingsForm)">
            <div data-ng-if="eventConf.general">
                <div data-ng-repeat="setting in eventConf.general.settings">
                    <setting data-obj="setting" data-display-delete-if-needed="true" data-global-settings="eventConf.globalSettings" data-delete-handler="eventConf.delete(config)" ></setting>
                </div>
            </div>

            <div class="page-header" data-ng-if="eventConf.mail">
                <h2>E-Mail</h2>
                <span>E-Mail settings <span class="label label-info">system</span></span>
            </div>

            <div data-ng-if="eventConf.mail">
                <div data-ng-if="eventConf.mail.type">
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="mailer.type" data-ng-model="eventConf.mail.type.value" data-ng-value="'smtp'">
                            SMTP
                        </label>
                    </div>
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="mailer.type" data-ng-model="eventConf.mail.type.value" data-ng-value="'mailgun'">
                            Mailgun.com
                        </label>
                    </div>
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="mailer.type" data-ng-model="eventConf.mail.type.value" data-ng-value="'mailjet'">
                            Mailjet.com
                        </label>
                    </div>
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="mailer.type" data-ng-model="eventConf.mail.type.value" data-ng-value="'disabled'">
                            Disable
                        </label>
                    </div>
                    <div data-ng-repeat="setting in eventConf.mail.settings | mailSettingsFilter:eventConf.mail.type.value" >
                        <setting data-obj="setting" data-display-delete-if-needed="true" data-delete-handler="eventConf.delete(config)" display-system-badge="true"></setting>
                    </div>
                    <div>
                        <setting obj="eventConf.mail.maxEmailPerCycle" data-display-delete-if-needed="true" data-delete-handler="eventConf.delete(config)" display-system-badge="true"></setting>
                    </div>
                    <div>
                        <setting obj="eventConf.mail.mailReplyTo" data-display-delete-if-needed="true" data-delete-handler="eventConf.delete(config)" display-system-badge="true"></setting>
                    </div>
                    <div>
                        <setting obj="eventConf.mail.mailAttemptsCount" data-display-delete-if-needed="true" data-delete-handler="eventConf.delete(config)" display-system-badge="true"></setting>
                    </div>
                    <div>
                        <setting obj="eventConf.mail.cc" data-display-delete-if-needed="true" data-delete-handler="eventConf.delete(config)" display-system-badge="true"></setting>
                    </div>
                </div>
                <div data-ng-repeat="setting in eventConf.mail.settings" data-ng-if="!eventConf.mail.type" >
                    <setting data-obj="setting" data-display-delete-if-needed="true" data-delete-handler="eventConf.delete(config)" display-system-badge="true"></setting>
                </div>
            </div>


            <div class="page-header">
                <h2>Invoice settings</h2>
            </div>
            <div class="alert alert-info"><i class="fa fa-info-circle"></i> You must fill all the fields below (<i>VAT number, Invoice number pattern, Invoice address</i>), otherwise invoices won't be generated.
                <p>Invoice number pattern follows the <a href="http://docs.oracle.com/javase/8/docs/api/java/util/Formatter.html#syntax" target="_blank">Java (tm) string formatting syntax</a></p>
            </div>
            <div>
                <div data-ng-repeat="setting in eventConf.settings.INVOICE">
                    <setting data-obj="setting" data-display-delete-if-needed="true" data-delete-handler="eventConf.delete(config)" display-system-badge="true"></setting>
                </div>
            </div>

            <div class="page-header" data-ng-if="eventConf.payment">
                <h2>Payment</h2>
                <span>Payment provider settings</span>
            </div>

            <div data-ng-if="eventConf.payment">
                <div data-ng-repeat="setting in eventConf.payment.settings" >
                    <setting data-obj="setting" data-display-delete-if-needed="true" data-delete-handler="eventConf.delete(config)"  display-system-badge="true"></setting>
                </div>
            </div>

            <div data-ng-if="eventConf.paymentOffline" class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title"><i class="fa fa-exchange"></i> Offline payment configuration</div>
                </div>
                <div class="panel-body">
                    <div class="alert alert-info">
                        <p><i class="fa fa-info-circle"></i> In order to be able to accept offline payments, you must fill your <strong>Bank Account</strong> data.</p>
                    </div>
                    <div data-ng-repeat="setting in eventConf.paymentOffline.settings">
                        <setting data-obj="setting" data-display-delete-if-needed="true" data-delete-handler="eventConf.delete(config)"  ></setting>
                    </div>
                </div>
            </div>


            <div class="page-header">
                <h2>Internationalization</h2>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title"><i class="fa fa-language"></i> Translations override</div>
                </div>
                <div class="panel-body">
                    <div data-ng-repeat="setting in eventConf.translations.settings">
                        <setting data-obj="setting" data-display-delete-if-needed="true" data-delete-handler="eventConf.delete(config)"></setting>
                    </div>
                </div>
            </div>

            <div class="page-header" data-ng-if="eventConf.alfioPi">
                <h2>Integrations</h2>
            </div>

            <div data-ng-if="eventConf.alfioPi" class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title"><i class="fa fa-check"></i> Offline scan and label printing with Alf.io-PI</div>
                </div>
                <div class="panel-body">
                    <div data-ng-repeat="setting in eventConf.alfioPiOptions">
                        <setting data-obj="setting" data-display-delete-if-needed="true" data-delete-handler="eventConf.delete(config)"></setting>
                    </div>
                    <div ng-if="eventConf.isLabelPrintingEnabled()" class="hidden-xs hidden-sm">
                        <label-template config="eventConf.labelLayout" data-delete-handler="eventConf.delete(config)"></label-template>
                    </div>
                </div>
            </div>

            <div data-ng-if="eventConf.pluginSettingsByPluginId">
                <div class="page-header">
                    <h2>Plugins</h2>
                    <span>Plugins settings</span>
                </div>

                <div data-ng-repeat="(key, settings) in eventConf.pluginSettingsByPluginId">
                    <div class="page-header"><h3 data-ng-bind="key"></h3></div>
                    <div data-ng-repeat="setting in settings">
                        <setting data-obj="setting" data-display-delete-if-needed="true" data-organization="eventConf.organization" display-system-badge="true"></setting>
                    </div>
                </div>
            </div>

            <div class="page-header" data-ng-if="eventConf.extensionSettings && (eventConf.extensionSettings | keys).length > 0">
                <h2>Extensions</h2>
            </div>
            <div class="panel panel-default" data-ng-repeat="settingId in eventConf.extensionSettings | keys">
                <div class="panel-heading">
                    <div class="panel-title"><i class="fa fa-plug"></i> {{eventConf.extensionSettings[settingId][0].extensionDisplayName}}</div>
                </div>
                <div class="panel-body">
                    <div>
                        <div data-ng-repeat="setting in eventConf.extensionSettings[settingId]">
                            <setting data-obj="setting" data-display-delete-if-needed="true" data-delete-handler="eventConf.deleteExtensionSetting(setting)"></setting>
                        </div>
                    </div>
                </div>
            </div>


            <div class="pull-left wMarginBottom wMarginTop" data-ng-if="eventConf.eventName">
                <a class="btn btn-default" data-ng-if="eventConf.eventName" data-ui-sref="events.single.detail({eventName: eventConf.eventName})">back to event</a>
            </div>
            <div class="pull-right wMarginBottom wMarginTop">
                <button type="submit" class="btn btn-success" data-ng-disabled="eventConf.loading">save</button>
                <a class="btn btn-default" data-ng-if="!eventConf.eventName" data-ui-sref="index">cancel</a>
                <a class="btn btn-default" data-ng-if="eventConf.eventName" data-ui-sref="events.single.detail({eventName: eventConf.eventName})">cancel</a>
            </div>
        </form>
    </div>
</div>
