<div class="container">
    <div class="page-header">
        <h1>General</h1>
        <span>General settings</span>
    </div>
    <form name="settingsForm" novalidate data-ng-submit="saveSettings(settingsForm, settings, pluginSettings)">
        <div data-ng-if="general">
            <div data-ng-repeat="setting in general.settings">
                <setting data-obj="setting"></setting>
            </div>
            <i class="fa fa-cog fa-spin fa-3x" data-ng-if="general.loading"></i>
        </div>

        <div class="page-header">
            <h1>E-Mail</h1>
            <span>E-Mail settings</span>
        </div>

        <div data-ng-if="mail">
            <div class="radio-inline">
                <label>
                    <input type="radio" name="mailer.type" data-ng-model="mail.type.value" data-ng-value="'smtp'">
                    SMTP
                </label>
            </div>
            <div class="radio-inline">
                <label>
                    <input type="radio" name="mailer.type" data-ng-model="mail.type.value" data-ng-value="'mailgun'">
                    Mailgun.com
                </label>
            </div>
            <div data-ng-repeat="setting in mail.settings | mailSettingsFilter:mail.type.value">
                <setting data-obj="setting"></setting>
            </div>
            <div>
                <setting obj="mail.maxEmailPerCycle"></setting>
            </div>
            <div>
                <setting obj="mail.mailReplyTo"></setting>
            </div>
        </div>

        <div class="page-header">
            <h1>Payment</h1>
            <span>Payment provider settings</span>
        </div>

        <div data-ng-if="payment">
            <div data-ng-repeat="setting in payment.settings">
                <setting data-obj="setting"></setting>
            </div>
            <i class="fa fa-cog fa-spin fa-3x" data-ng-if="loading"></i>
        </div>

        <div class="page-header">
            <h1>Plugins</h1>
            <span>Plugins settings</span>
        </div>

        <div data-ng-repeat="(key, settings) in pluginSettingsByPluginId">
            <div class="page-header"><h3 data-ng-bind="key"></h3></div>
            <div data-ng-repeat="setting in settings">
                <setting data-obj="setting"></setting>
            </div>
        </div>

        <div class="pull-right wMarginBottom wMarginTop">
            <button type="submit" class="btn btn-success" data-ng-disabled="loading">save</button>
            <a class="btn btn-default" data-ui-sref="index">cancel</a>
        </div>
    </form>
</div>