<div class="container">
    <i class="fa fa-cog fa-spin fa-3x" data-ng-if="loading"></i>
    <div data-ng-if="!loading">
        <form name="options" novalidate data-ng-submit="updateConfiguration(form, event)">
            <div class="form-group" data-ng-repeat="setting in settings">
                <label for="{{setting.name}}">{{setting.description}}</label>
                <input class="form-control" data-ng-model="setting.value" name="{{setting.name}}" id="{{setting.name}}" required>
            </div>
        </form>
    </div>
</div>