<div class="text-center" data-ng-if="organizationConf.loading">
    <i class="fa fa-cog fa-spin fa-3x"></i><span class="sr-only">Loading...</span>
</div>
<div class="alert alert-warning" data-ng-if="organizationConf.noResults">
    <h1>You are not authorized to see Organization-wide configuration.</h1>
    <span>Please try selecting an Event</span>
</div>
<div data-ng-if="organizationConf.hasResults">

    <div>
        <h1>Configuration for {{organizationConf.organization.name}}</h1>
    </div>

    <div class="page-header">
        <h2>General</h2>
        <span>General settings</span>
    </div>

    <form name="settingsForm" novalidate data-ng-submit="organizationConf.saveSettings(settingsForm)">
        <div data-ng-if="organizationConf.general">
            <div data-ng-repeat="setting in organizationConf.general.settings | orderBy:'configurationPathLevel'" data-ng-class="{'system-setting': setting.configurationPathLevel === 'SYSTEM'}">
                <setting data-obj="setting" data-display-delete-if-needed="true" data-global-settings="organizationConf.globalSettings" data-delete-handler="organizationConf.delete(config)"></setting>
            </div>
        </div>

        <div class="page-header">
            <h2>E-Mail</h2>
            <span>E-Mail settings</span>
        </div>

        <div data-ng-if="organizationConf.mail">
            <div data-ng-if="organizationConf.mail.type" class="system-setting">
                <div class="radio-inline">
                    <label>
                        <input type="radio" name="mailer.type" data-ng-model="organizationConf.mail.type.value" data-ng-value="'smtp'">
                        SMTP
                    </label>
                </div>
                <div class="radio-inline">
                    <label>
                        <input type="radio" name="mailer.type" data-ng-model="organizationConf.mail.type.value" data-ng-value="'mailgun'">
                        Mailgun.com
                    </label>
                </div>
                <div data-ng-repeat="setting in organizationConf.mail.settings | mailSettingsFilter:organizationConf.mail.type.value"  data-ng-class="{'system-setting': setting.configurationPathLevel === 'SYSTEM'}">
                    <setting data-obj="setting" data-display-delete-if-needed="true" data-delete-handler="organizationConf.delete(config)"></setting>
                </div>
                <div>
                    <setting obj="organizationConf.mail.maxEmailPerCycle" class="system-setting" data-display-delete-if-needed="true" data-delete-handler="organizationConf.delete(config)"></setting>
                </div>
                <div>
                    <setting obj="organizationConf.mail.mailReplyTo" data-display-delete-if-needed="true" data-delete-handler="organizationConf.delete(config)"></setting>
                </div>
                <div>
                    <setting obj="organizationConf.mail.mailAttemptsCount" data-display-delete-if-needed="true" data-delete-handler="organizationConf.delete(config)"></setting>
                </div>
            </div>
            <div data-ng-repeat="setting in organizationConf.mail.settings" data-ng-if="!organizationConf.mail.type"  data-ng-class="{'system-setting': setting.configurationPathLevel === 'SYSTEM'}">
                <setting data-obj="setting" data-display-delete-if-needed="true" data-delete-handler="organizationConf.delete(config)"></setting>
            </div>
        </div>

        <div class="page-header" data-ng-if="organizationConf.payment">
            <h2>Payment</h2>
            <span>Payment provider settings</span>
        </div>

        <div data-ng-if="organizationConf.payment">
            <div data-ng-repeat="setting in organizationConf.payment.settings">
                <setting data-obj="setting" data-display-delete-if-needed="true" data-delete-handler="organizationConf.delete(config)"  data-ng-class="{'system-setting': setting.configurationPathLevel === 'SYSTEM'}"></setting>
            </div>
        </div>

        <div class="pull-right wMarginBottom wMarginTop">
            <button type="submit" class="btn btn-success" data-ng-disabled="organizationConf.loading">save</button>
            <a class="btn btn-default" data-ui-sref="index">cancel</a>
        </div>
    </form>
</div>
