<div class="form-group" ng-if="setting.componentType !== 'BOOLEAN'">
    <label for="{{setting.key}}">{{setting.description}} <span class="label settings-label-top visible-sm visible-xs" ng-if="setting.componentType !== 'BOOLEAN'" ng-class="{'label-danger' : setting.configurationPathLevel === 'SYSTEM', 'label-primary' : setting.configurationPathLevel !== 'SYSTEM'}">{{getLabelValue(setting)}}</span></label>
    <div class="setting row" data-ng-switch="setting.componentType">
        <div ng-class="{'col-xs-10 col-md-11': showDeleteBtn, 'col-xs-12': !showDeleteBtn}">
            <input data-ng-switch-when="TEXT" class="form-control" data-ng-model="setting.value" name="{{setting.key}}" id="{{setting.key}}" ng-change="onValueChange(setting)">
            <textarea ng-switch-when="TEXTAREA" class="form-control" ng-model="setting.value" name="{{setting.key}}" id="{{setting.key}}" rows="6" ng-model-options="{ debounce: 1000 }" ng-change="onValueChange(setting)"></textarea>
            <select id="{{setting.key}}" class="form-control" data-ng-model="setting.value" data-ng-options="e.key as e.value for e in setting.listValues" data-ng-switch-when="LIST" ng-change="onValueChange(setting)"></select>
            <span class="label settings-label hidden-sm hidden-xs" ng-if="setting.componentType !== 'BOOLEAN'" ng-class="{'label-danger' : setting.configurationPathLevel === 'SYSTEM', 'label-primary' : setting.configurationPathLevel !== 'SYSTEM'}">{{getLabelValue(setting)}}</span>
        </div>
        <div class="col-xs-2 col-md-1" ng-if="showDeleteBtn">
            <button class="btn btn-danger" data-ng-click="removeConfiguration(setting)" type="button"><i class="fa fa-trash" data-uib-tooltip="Delete"></i></button>
        </div>
    </div>
</div>
<div ng-if="setting.componentType === 'BOOLEAN'" class="boolean-option">
    <nz-toggle tri-toggle ng-model="setting.value" val-true="'true'" val-false="'false'" val-null="null"
               id="{{setting.key}}" tip-false="'Deactivate'" tip-null="'Leave unchanged'" tip-true="'Activate'"></nz-toggle>
    <label for="{{setting.key}}">
    {{setting.description}}
    </label>

</div>
