<div class="text-center" data-ng-if="systemConf.loading">
    <i class="fa fa-cog fa-spin fa-3x"></i><span class="sr-only">Loading...</span>
</div>
<div class="alert alert-warning" data-ng-if="systemConf.noResults">
    <h1>You are not authorized to see system-wide configuration.</h1>
    <span>Please try selecting an Organization or an Event</span>
</div>
<div data-ng-if="systemConf.hasResults">

    <div>
        <h1>System configuration</h1>
    </div>

    <div class="page-header">
        <h2>General</h2>
        <span>General settings</span>
    </div>

    <form name="settingsForm" novalidate data-ng-submit="systemConf.saveSettings(settingsForm)">
        <div data-ng-if="systemConf.general">
            <div class="form-group">
                <label>Supported translations</label>
                <div class="checkbox" ng-repeat="lang in systemConf.allLanguages">
                    <label>
                        <input type="checkbox" ng-checked="systemConf.isLanguageSelected(lang)" name="lang.value" ng-click="systemConf.toggleLanguageSelection(lang)"> <img ng-src="../resources/images/flags/{{lang.flag}}.gif" class="img-center"> <span ng-class="{'text-muted': !systemConf.isLanguageSelected(lang)}">{{lang.displayLanguage}}</span>
                    </label>
                </div>
            </div>
            <div data-ng-repeat="setting in systemConf.general.settings">
                <setting data-obj="setting" data-display-delete-if-needed="true" data-global-settings="systemConf.globalSettings" data-delete-handler="systemConf.delete(config)"></setting>
            </div>
        </div>

        <div class="page-header">
            <h2>Reservation Process</h2>
            <span>Customizations for the public-facing reservation process</span>
        </div>
        <div>
            <div data-ng-repeat="setting in systemConf.reservationUi.settings">
                <setting data-obj="setting" data-display-delete-if-needed="true" data-delete-handler="systemConf.delete(config)"></setting>
            </div>
        </div>

        <div class="page-header">
            <h2>E-Mail</h2>
            <span>E-Mail settings</span>
        </div>

        <div data-ng-if="systemConf.mail">
            <div data-ng-if="systemConf.mail.type">
                <div class="radio-inline">
                    <label>
                        <input type="radio" name="mailer.type" data-ng-model="systemConf.mail.type.value" data-ng-value="'smtp'">
                        SMTP
                    </label>
                </div>
                <div class="radio-inline">
                    <label>
                        <input type="radio" name="mailer.type" data-ng-model="systemConf.mail.type.value" data-ng-value="'mailgun'">
                        Mailgun.com
                    </label>
                </div>
                <div class="radio-inline">
                    <label>
                        <input type="radio" name="mailer.type" data-ng-model="systemConf.mail.type.value" data-ng-value="'mailjet'">
                        Mailjet.com
                    </label>
                </div>
                <div class="radio-inline">
                    <label>
                        <input type="radio" name="mailer.type" data-ng-model="systemConf.mail.type.value" data-ng-value="'disabled'">
                        Disable
                    </label>
                </div>
                <div data-ng-repeat="setting in systemConf.mail.settings | mailSettingsFilter:systemConf.mail.type.value">
                    <setting data-obj="setting" data-display-delete-if-needed="true" data-delete-handler="systemConf.delete(config)"></setting>
                </div>
                <div>
                    <setting obj="systemConf.mail.maxEmailPerCycle" data-display-delete-if-needed="true" data-delete-handler="systemConf.delete(config)"></setting>
                </div>
                <div>
                    <setting obj="systemConf.mail.mailReplyTo" data-display-delete-if-needed="true" data-delete-handler="systemConf.delete(config)"></setting>
                </div>
                <div>
                    <setting obj="systemConf.mail.mailAttemptsCount" data-display-delete-if-needed="true" data-delete-handler="systemConf.delete(config)"></setting>
                </div>
                <div>
                    <setting obj="systemConf.mail.cc" data-display-delete-if-needed="true" data-delete-handler="systemConf.delete(config)"></setting>
                </div>
            </div>
            <div data-ng-repeat="setting in systemConf.mail.settings" data-ng-if="!systemConf.mail.type">
                <setting data-obj="setting" data-display-delete-if-needed="true" data-delete-handler="systemConf.delete(config)"></setting>
            </div>
        </div>

        <div class="page-header">
            <h2>Map</h2>
            <span>Map settings</span>
        </div>
        <div>
            <p class="radio-inline">
                <label>
                    <input type="radio" name="map.mapsProvider" data-ng-model="systemConf.map['MAPS_PROVIDER'].value" data-ng-value="'GOOGLE'">
                    Google maps
                </label>
            </p>
            <p class="radio-inline">
                <label>
                    <input type="radio" name="map.mapsProvider" data-ng-model="systemConf.map['MAPS_PROVIDER'].value" data-ng-value="'HERE'">
                    Here maps
                </label>
            </p>
            <div>
                <setting data-obj="systemConf.map['MAPS_CLIENT_API_KEY']" data-display-delete-if-needed="true" data-delete-handler="systemConf.delete(config)"  ></setting>
            </div>
            <div>
                <setting data-obj="systemConf.map['MAPS_HERE_APP_ID']" data-display-delete-if-needed="true" data-delete-handler="systemConf.delete(config)"  ></setting>
            </div>
            <div>
                <setting data-obj="systemConf.map['MAPS_HERE_APP_CODE']" data-display-delete-if-needed="true" data-delete-handler="systemConf.delete(config)"  ></setting>
            </div>
        </div>


        <div class="page-header">
            <h2>Invoice settings</h2>
        </div>
        <div>
            <div data-ng-repeat="setting in systemConf.settings.INVOICE">
                <setting data-obj="setting" data-display-delete-if-needed="true" data-delete-handler="systemConf.delete(config)"  ></setting>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title"><i class="fa fa-eur"></i> EU-Specific invoice settings</div>
            </div>
            <div class="panel-body">
                <div class="alert alert-info"><i class="fa fa-info-circle"></i> You'll need to build and deploy the <a href="https://github.com/stephanj/ServerlessEUVATChecker" target="_blank">ServerlessEUVATChecker</a> Lambda Function on AWS.</div>
                <div data-ng-repeat="setting in systemConf.invoiceEu.settings">
                    <setting data-obj="setting" data-display-delete-if-needed="true" data-delete-handler="systemConf.delete(setting)" list-values="setting.listValues"></setting>
                </div>
            </div>
        </div>


        <div class="page-header" data-ng-if="systemConf.payment || systemConf.paymentPaypal || systemConf.paymentStripe || systemConf.paymentMollie || systemConf.paymentOffline">
            <h2>Payment</h2>
            <span>Payment provider settings</span>
        </div>

        <div data-ng-if="systemConf.payment" class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title"><i class="fa fa-dollar"></i> General</div>
            </div>
            <div class="panel-body">
                <div data-ng-repeat="setting in systemConf.payment.settings">
                    <setting data-obj="setting" data-display-delete-if-needed="true" data-delete-handler="systemConf.delete(config)"  ></setting>
                </div>
            </div>
        </div>

        <div data-ng-if="systemConf.paymentStripe" class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title"><i class="fa fa-cc-stripe"></i> Stripe configuration</div>
            </div>
            <div class="panel-body">
                <div class="alert alert-info"><i class="fa fa-info-circle"></i> more info on Stripe API Keys <a href="https://stripe.com/docs/dashboard#api-keys" target="_blank">here</a></div>
                <div data-ng-repeat="setting in systemConf.paymentStripe.settings">
                    <setting data-obj="setting" data-display-delete-if-needed="true" data-delete-handler="systemConf.delete(config)"  ></setting>
                </div>
            </div>
        </div>

        <div data-ng-if="systemConf.paymentPaypal" class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title"><i class="fa fa-paypal"></i> PayPal configuration</div>
            </div>
            <div class="panel-body">
                <div class="alert alert-info">
                    <p><i class="fa fa-info-circle"></i> in order to accept payments through PayPal, you must create and enable a new <strong>REST API app</strong>, as explained <a href="https://developer.paypal.com/docs/integration/admin/manage-apps/" target="_blank">here</a></p>
                    <p>Once you have created your app and tested the integration, you can enable live payments by inserting the <strong>Live</strong> Client ID and Secret, and enabling the "live mode" below.</p>
                    <p><strong>IMPORTANT:</strong> if you are going to accept payments in a currency you don't hold, please make sure to enable automatic currency conversion. </p>
                    <p>To do that, go to <a href="https://www.paypal.com/cgi-bin/customerprofileweb?cmd=_profile-pref">PayPal dashboard</a> and select <code>Profile</code> -> <code>Profile and Settings</code> -> <code>My Selling Tools</code> -> <code>Block Payments</code></p>
                </div>
                <div data-ng-repeat="setting in systemConf.paymentPaypal.settings">
                    <setting data-obj="setting" data-display-delete-if-needed="true" data-delete-handler="systemConf.delete(config)"  ></setting>
                </div>
            </div>
        </div>

        <!--<div data-ng-if="systemConf.paymentMollie" class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title"> Mollie configuration</div>
            </div>
            <div class="panel-body">
                <div class="alert alert-info">
                    <p><i class="fa fa-info-circle"></i> in order to accept payments through Mollie, you must have Live API key.</p>
                </div>
                <div data-ng-repeat="setting in systemConf.paymentMollie.settings">
                    <setting data-obj="setting" data-display-delete-if-needed="true" data-delete-handler="systemConf.delete(config)"  ></setting>
                </div>
            </div>
        </div>-->

        <div data-ng-if="systemConf.paymentOffline" class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title"><i class="fa fa-exchange"></i> Offline payment configuration</div>
            </div>
            <div class="panel-body">
                <div class="alert alert-info">
                    <p><i class="fa fa-info-circle"></i> In order to be able to accept offline payments, you must fill your <strong>Bank Account</strong> data.</p>
                </div>
                <div data-ng-repeat="setting in systemConf.paymentOffline.settings">
                    <setting data-obj="setting" data-display-delete-if-needed="true" data-delete-handler="systemConf.delete(config)"></setting>
                </div>
            </div>
        </div>


        <div class="page-header">
            <h2>Internationalization</h2>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title"><i class="fa fa-language"></i> Translations override</div>
            </div>
            <div class="panel-body">
                <div data-ng-repeat="setting in systemConf.translations.settings">
                    <setting data-obj="setting" data-display-delete-if-needed="true" data-delete-handler="systemConf.delete(config)"></setting>
                </div>
            </div>
        </div>

        <div class="page-header" data-ng-if="systemConf.payment || systemConf.paymentPaypal || systemConf.paymentStripe || systemConf.paymentMollie || systemConf.paymentOffline">
            <h2>Alf.io PI settings</h2>
        </div>
        <div data-ng-if="systemConf.alfioPi" class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title"><i class="fa fa-check"></i> Alf.io-PI integration for offline check-in and label printing</div>
            </div>
            <div class="panel-body">
                <div class="alert alert-info">
                    <p><i class="fa fa-info-circle"></i> See <a href="https://github.com/exteso/alf.io-PI">Alf.io-PI repository</a> for more information.</p>
                </div>
                <div data-ng-repeat="setting in systemConf.alfioPiOptions">
                    <setting data-obj="setting" data-display-delete-if-needed="true" data-delete-handler="systemConf.delete(config)"></setting>
                </div>
            </div>
        </div>

        <div class="page-header" data-ng-if="systemConf.extensionSettings && (systemConf.extensionSettings | keys).length > 0">
            <h2>Extensions</h2>
        </div>
        <div class="panel panel-default" data-ng-repeat="settingId in systemConf.extensionSettings | keys">
            <div class="panel-heading">
                <div class="panel-title"><i class="fa fa-plug"></i> {{systemConf.extensionSettings[settingId][0].extensionDisplayName}}</div>
            </div>
            <div class="panel-body">
                <div>
                    <div data-ng-repeat="setting in systemConf.extensionSettings[settingId]">
                        <setting data-obj="setting" data-display-delete-if-needed="true" data-delete-handler="systemConf.deleteExtensionSetting(setting)"></setting>
                    </div>
                </div>
            </div>
        </div>

        <control-buttons data-form-obj="systemConf" data-success-text="Save" data-cancel-handler="Cancel"></control-buttons>
    </form>
</div>
