.j-btn-group {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
}
.j-btn-group > .btn,
.j-btn-group > .btn-group {
    display: table-cell;
    float: none;
    width: 1%;
}