<h1 translate="admin.dashboard.my-events"></h1>
<svg-icon key="check"></svg-icon>
<h2>Active</h2>
<ul>
    <li *ngFor="let ev of activeEvents$ | async">
        {{ev.displayName}} {{ev.formattedBegin}} {{ev.formattedEnd}}
    </li>
</ul>

<h2>Expired</h2>
<ul>
    <li *ngFor="let ev of expiredEvents$ | async">
        {{ev.displayName}} {{ev.formattedBegin}} {{ev.formattedEnd}}
    </li>
</ul>
