<div class="page-header">
    <h3>Donation options</h3>
    <span>here you can add one or more "donation" option.</span>
</div>
<div class="row">
    <div class="col-xs-12" data-ng-repeat="item in asCtrl.displayList">
        <div class="row">
            <div class="col-xs-4" data-ng-repeat="pair in item.zippedTitleAndDescriptions">
                <p><strong title="{{pair[0].value}} ({{pair[0].locale}})">{{pair[0].value}}</strong></p>
                <p><small title="{{pair[1].value}} ({{pair[1].locale}})">{{pair[1].value}}</small></p>
            </div>
            <div class="col-xs-12">
                <span>from: {{item.inception.date}} {{item.inception.time}}</span>
                <span>to: {{item.expiration.date}} {{item.expiration.time}}</span>
            </div>
            <div class="col-xs-12">
                <span data-ng-if="!item.fixPrice">User-defined price</span>
                <span data-ng-if="item.fixPrice">Price: {{item.price}} {{asCtrl.currency}}</span>
            </div>
            <div class="col-xs-2 col-xs-push-10">
                <a class="btn btn-danger" title="delete" data-ng-click="asCtrl.delete(item)"><i class="fa fa-trash"></i></a>
                <a class="btn btn-warning" title="edit" data-ng-click="asCtrl.edit(item)"><i class="fa fa-edit"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12"><button type="button" class="btn btn-success pull-right" data-ng-click="asCtrl.edit()" data-ng-if="!asCtrl.editActive" data-ng-disabled="asCtrl.eventIsFreeOfCharge"><i class="fa fa-plus"></i> Add new</button></div>
</div>
<div class="alert alert-warning" data-ng-if="asCtrl.eventIsFreeOfCharge">
    <span class="fa fa-warning"></span> Cannot add donations to an event marked as "free of charge". Please change this setting, add a default price > 0, specify currency and VAT
</div>

<edit-additional-service data-ng-if="asCtrl.editActive" data-editing-item="asCtrl.editingItem" data-available-languages="asCtrl.availableLanguages" data-selected-languages="asCtrl.selectedLanguages" data-on-edit-complete="asCtrl.onEditComplete(item)" data-on-dismiss="asCtrl.onDismiss()" data-event-start-date="asCtrl.eventStartDate"></edit-additional-service>
