<div class="page-header">
    <h3>Donation options</h3>
    <span>here you can add one or more "donation" option.</span>
</div>
<div class="container" data-ng-repeat="item in asCtrl.displayList">
    <div class="row" data-ng-repeat="pair in item.zippedTitleAndDescriptions">
        <div class="col-xs-11"><h4 title="{{pair[0].value}} ({{pair[0].locale}})">{{pair[0].value}} <small title="{{pair[1].value}} ({{pair[1].locale}})">{{pair[1].value}}</small></h4></div>
    </div>
    <div class="row">
        <div class="col-xs-10">
            <div>
                <i class="fa fa-clock-o"></i> <span class="text-success">{{item.inception.date | date:'MMM d, yyyy'}} {{item.inception.time | date:'HH:mm'}}</span> -
                <span class="text-warning">{{item.expiration.date | date:'MMM d, yyyy'}} {{item.expiration.time | date:'HH:mm'}}</span>
            </div>
            <div>
                <i class="fa fa-money"></i>
                <span data-ng-if="!item.fixPrice">User-defined</span>
                <span data-ng-if="item.fixPrice">{{item.price}} {{asCtrl.currency}}</span>
            </div>
        </div>
        <div class="col-xs-2">
            <button class="btn btn-danger" title="delete" data-ng-click="asCtrl.delete(item)"><i class="fa fa-trash"></i></button>
            <button class="btn btn-warning" title="edit" data-ng-click="asCtrl.edit(item)"><i class="fa fa-edit"></i></button>
        </div>
    </div>
    <br/>
</div>
<div class="row">
    <div class="col-xs-12"><button type="button" class="btn btn-success" data-ng-click="asCtrl.edit()" data-ng-if="!asCtrl.editActive" data-ng-disabled="asCtrl.eventIsFreeOfCharge"><i class="fa fa-plus"></i> Add new</button></div>
</div>
<div class="alert alert-warning" data-ng-if="asCtrl.eventIsFreeOfCharge">
    <span class="fa fa-warning"></span> Cannot add donations to an event marked as "free of charge". Please change this setting, add a default price > 0, specify currency and VAT
</div>

<edit-additional-service data-ng-if="asCtrl.editActive" data-editing-item="asCtrl.editingItem" data-available-languages="asCtrl.availableLanguages" data-selected-languages="asCtrl.selectedLanguages" data-on-edit-complete="asCtrl.onEditComplete(item)" data-on-dismiss="asCtrl.onDismiss()" data-event-start-date="asCtrl.eventStartDate"></edit-additional-service>
