<div class="modal-header">
    <h3>Delete event "{{event.shortName}}"</h3>
</div>


<form name="addFieldForm" ng-submit="deleteEvent(field.id)">
	<div class="modal-body">
	<p>
		Are you sure you want to delete the event with short name: "{{event.shortName}}"?
	</p>
	<p>
		Ensure that you have a backup OR you don't need it, as all the data related to the event "{{event.shortName}}" will be <strong>deleted</strong>
		and cannot be recovered!
	</p>
	
	<p>
		<label for="confirm">As a safety measure, enter the "short name" of the event ({{event.shortName}}) in the following field:</label>
		<input class="form-control" ng-model="confimedEventShortName" id="confirm" placeholder="Enter short name" autocomplete="off">
	</p>
	<div class="checkbox">
        <label><input type="checkbox" ng-model="confirm2"> <strong>I confirm that I want to delete the event "{{event.shortName}}"</strong></label>
    </div>
	</div>

	<div class="modal-footer">
        <div class="col-md-4 col-md-push-8 col-xs-12">
            <button type="submit" class="btn btn-lg btn-danger btn-block" ng-disabled="!confirm2 || (confimedEventShortName != event.shortName)">Confirm deletion</button>
        </div>
        <div class="col-md-4 col-md-pull-4 col-xs-12">
            <button type="button" class="btn btn-lg btn-default btn-block" data-ng-click="cancel()">Cancel</button>
        </div>
	</div>
</form>