<div data-ng-form="editPrices">
    <div class="form-group">
        <label class="control-label">Ticket price model</label>
        <div class="form-group">
            <div class="radio">
                <label>
                    <input type="radio" name="freeOfCharge" data-ng-model="obj.freeOfCharge" data-ng-value="false"> Entry fee requested
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="freeOfCharge" data-ng-model="obj.freeOfCharge" data-ng-value="true"> Free of charge
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <div class="form-group" bs-form-error="editEvent.availableSeats">
                <label for="availableSeats">Max tickets</label>
                <input type="number" min="0" data-ng-model="obj.availableSeats" name="availableSeats" id="availableSeats" class="form-control" required />
                <field-error data-form-obj="editEvent" data-field-obj="editEvent.availableSeats"></field-error>
            </div>
        </div>
        <div class="col-sm-2" data-ng-if="!obj.freeOfCharge">
            <div class="form-group" bs-form-error="editEvent.regularPrice">
                <label for="regularPrice">Regular Price <i data-ng-if="showPriceWarning" class="fa fa-warning text-warning tooltip-handler" title="Changing the regular price could lead to incoherence with categories' prices. Please do a double check before saving."></i></label>
                <input type="number" min="0" data-ng-model="obj.regularPrice" name="regularPrice" id="regularPrice" class="form-control" required />
                <field-error data-form-obj="editEvent" data-field-obj="editEvent.regularPrice"></field-error>
            </div>
        </div>
        <div class="col-sm-2" data-ng-if="!obj.freeOfCharge">
            <div class="form-group" bs-form-error="editEvent.currency">
                <label for="currency">Currency <i class="fa fa-info-circle" data-uib-tooltip="Some payment options don't support all currencies. Please double check that before activate them"></i></label>
                <input type="text" autocomplete="off" data-ng-model="obj.currency" name="currency" id="currency" class="form-control" uib-typeahead="currency.code as currency.name for currency in currencies | filter:$viewValue | limitTo:8" required pattern="[A-Z]{3}"/>
                <field-error data-form-obj="editEvent" data-field-obj="editEvent.currency" data-required-pattern="'Three capital letters'"></field-error>
            </div>
        </div>
        <div class="col-sm-2" data-ng-if="!obj.freeOfCharge">
            <div class="form-group" bs-form-error="editEvent.vatPercentage">
                <label for="vatPercentage">Taxes (%)</label>
                <input type="number" min="0" data-ng-model="obj.vatPercentage" name="vatPercentage" id="vatPercentage" class="form-control" required />
                <field-error data-form-obj="editEvent" data-field-obj="editEvent.vatPercentage"></field-error>
            </div>
        </div>
        <div class="col-sm-4" data-ng-if="!obj.freeOfCharge">
            <div class="form-group">
                <label for="vatIncluded">Price includes taxes</label>
                <div class="input-group">
                            <span class="input-group-addon">
                                <input type="checkbox" data-ng-model="obj.vatIncluded" name="vatIncluded" id="vatIncluded">
                            </span>
                    <span class="form-control text-muted">Price after taxes: {{calculateTotalPrice(obj) | money : (obj.currency || "")}}</span>
                </div>
            </div>
        </div>
    </div>
    <div data-ng-if="!obj.freeOfCharge">
        <label>Accepted payment methods</label>
        <div class="checkbox" ng-repeat="p in paymentProxies | removeIncompatiblePaymentMethods:obj">
            <label><input type="checkbox" ng-model="p.selected" ng-click="updatePaymentProxies()"> {{p.proxy.description}}</label>
        </div>
        <span class="help-block" data-ng-if="(allowedPaymentProxies | paymentMethodFilter:true: obj.currency).length > 0"><i class="fa fa-info-circle"></i> The following Methods are not available: <span data-ng-repeat="p in allowedPaymentProxies | paymentMethodFilter:true: obj.currency">{{p.id}}<span data-ng-if="!$last">, </span></span>. Please check that the provider support the selected currency or the <a data-ui-sref="configuration.organization({organizationId: obj.organizationId})">configuration</a>.</span>
        <span class="help-block" data-ng-if="(obj.allowedPaymentProxies === undefined || obj.allowedPaymentProxies.length == 0) && (obj.organizationId === null || obj.organizationId === undefined)"><i class="fa fa-warning"></i> Please select an organization in order to load the payment methods</span>
        <field-error data-form-obj="editEvent" data-field-obj="editEvent.allowedPaymentProxies"></field-error>
    </div>

    <div ng-if="!obj.freeOfCharge && subscriptionDescriptors.length > 0">
        <div class="page-header">
            <h3>Subscriptions</h3>
            <small class="text-muted">Select the subscriptions that can be used for this event.</small>
        </div>
        <div class="row" ng-repeat="subscription in subscriptionDescriptors">
            <div class="col-xs-1">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="subscription.selected" ng-click="subscriptionSelectionChanged()">
                    </label>
                </div>
            </div>
            <div class="col-xs-11">
                <h4>{{getFirstTranslation(subscription.titleAsText)}}</h4>
                <small>{{getFirstTranslation(subscription.descriptionAsText) | ellipsisAfterFirstRow}}</small>
            </div>
        </div>
    </div>
</div>