<div class="modal-header">
    <h3>Edit promo code date</h3>
</div>
<form name="promoCodeForm" data-ng-submit="update(promocode)" novalidate data-error-sensitive>
    <div class="modal-body">
        <div class="col-sm-12 col-md-8 col-md-offset-2">
            <div class="form-group">
                <label for="date">Validity range</label>
                <input type="text" data-date-range data-start-model="promocode.start" min-date="true" data-end-model="promocode.end" data-ng-model="promocode.dateString" name="date" id="date" class="form-control" required />
                <field-error data-form-obj="promocode" data-field-obj="promocode.dateString" data-show-existing-errors="showExistingErrors"></field-error>
            </div>
        </div>
    
        <div class="clearfix"></div>
    </div>

    <div class="modal-footer">
        <div>
            <button type="submit" class="btn btn-primary" data-ng-disabled="promoCodeForm.$waiting || promoCodeForm.$invalid">Save</button>
            <button type="button" class="btn btn-default" data-ng-disabled="promoCodeForm.$waiting" data-ng-click="cancel()">Cancel</button>
        </div>
    </div>
</form>