<div class="text-right" ng-if="!ticketCategory.sticky && ticketCategory.id === undefined">
    <button ng-click="event.ticketCategories.splice(event.ticketCategories.indexOf(ticketCategory), 1)" class="btn btn-warning"><i class="fa fa-trash"></i> Remove</button>
</div>

<div class="form-group" bs-form-error="ticketCategory.name">
    <label for="{{buildPrefix($index, 'name')}}">Name</label>
    <input type="text" data-ng-model="ticketCategory.name" name="{{buildPrefix($index, 'name')}}" id="{{buildPrefix($index, 'name')}}" class="form-control" required />
    <field-error data-form-obj="ticketCategory" data-field-obj="ticketCategory.name" data-show-existing-errors="showExistingErrors"></field-error>
</div>

<div class="row">
    <div class="col-xs-12 col-lg-6">
        <div class="form-group">
            <label class="control-label">Ticket allocation strategy</label> <a class="btn btn-xs btn-default" ng-click="toggleAllocationStrategyCollapse()"><i class="fa fa-info-circle"></i> help</a>
            <div data-ng-if="!ticketCategory.tokenGenerationRequested" class="radio">
                <label>
                    <input type="radio" name="{{buildPrefix($index, 'bounded')}}" data-ng-model="ticketCategory.bounded" data-ng-value="false" required="">
                    Grow dynamically
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="{{buildPrefix($index, 'bounded')}}" data-ng-model="ticketCategory.bounded" data-ng-value="true" required="">
                    Limited seats
                </label>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-lg-6">
        <div class="form-group">
            <label class="control-label">Category visibility</label> <a class="btn btn-xs btn-default" ng-click="toggleCategoryVisibilityCollapse()"><i class="fa fa-info-circle"></i> help</a>
            <div class="radio">
                <label>
                    <input type="radio" name="{{buildPrefix($index, 'tokenGenerationRequested')}}" data-ng-model="ticketCategory.tokenGenerationRequested" data-ng-value="false" required="">
                    Public
                </label>
            </div>
            <div class="radio" data-ng-if="ticketCategory.bounded">
                <label>
                    <input type="radio" name="{{buildPrefix($index, 'tokenGenerationRequested')}}" data-ng-model="ticketCategory.tokenGenerationRequested" data-ng-click="ticketCategory.bounded = true" data-ng-value="true" required="">
                    Restricted
                </label>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default" uib-collapse="helpAllocationStrategyCollapse">
    <div class="panel-body">
        <span class="close" ng-click="toggleAllocationStrategyCollapse()">x</span>
        <h4>Ticket allocation strategy:</h4>
        <p>You should decide how to distribute available seats between categories. The default is to create one or more dynamic categories. <strong>If unsure, please select "Grow dynamically"</strong></p>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            <div class="list-group-item-heading"><strong>Grow dynamically</strong></div>
            <div class="list-group-item-text">
                This category doesn't allocate seats exclusively, instead it shares them with other dynamic categories, if any. This is useful if you have only one category or if you have different ways to sell the same seat.
            </div>
        </li>
        <li class="list-group-item">
            <div class="list-group-item-heading"><strong>Limited seats</strong></div>
            <div class="list-group-item-text">
                Select this option if you want to <strong>allocate exclusively</strong> a fixed number of seats to this category. This could be useful if you want to create a special price, like a "Super early bird".
            </div>
        </li>
    </ul>
</div>
<div class="panel panel-default" uib-collapse="helpCategoryVisibilityCollapse">
    <div class="panel-body">
        <span class="close" ng-click="toggleCategoryVisibilityCollapse()">x</span>
        <h4>Category visibility:</h4>
        <p>Categories can be public (that is, accessible to everybody) or restricted (accessible after inserting an unique discount code)</p>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            <div class="list-group-item-heading"><strong>Public</strong></div>
            <div class="list-group-item-text">
                Everyone can buy/get a ticket for this category. This is the default option.
            </div>
        </li>
        <li class="list-group-item">
            <div class="list-group-item-heading"><strong>Restricted</strong></div>
            <div class="list-group-item-text">
                Only a restricted group of people can access and get tickets for this category. Once you create a restricted category, the system will generate a set of unique codes (one code per seat) that can be used to reserve a ticket for this category.
                <br/><strong>Restricted categories are not compatible with "Grow dynamically" ticket allocation strategy</strong>
            </div>
        </li>
    </ul>
</div>

<div class="form-group" bs-form-error="ticketCategory.dateString">
    <label for="{{buildPrefix($index, 'dateString')}}">Validity range</label>
    <input type="text" data-date-range data-start-model="ticketCategory.inception" data-end-model="ticketCategory.expiration" data-watch-obj="event.begin" data-start-date="ticketCategory.notBefore" data-ng-model="ticketCategory.dateString" name="{{buildPrefix($index, 'dateString')}}" id="{{buildPrefix($index, 'dateString')}}" class="form-control" required />
    <field-error data-form-obj="ticketCategory" data-field-obj="ticketCategory.dateString" data-show-existing-errors="showExistingErrors"></field-error>
</div>


<div class="form-group">
    <label class="control-label cursor-pointer" ng-click="advancedOptionsCollapsed = !advancedOptionsCollapsed"><i class="fa" ng-class="{'fa-angle-right': advancedOptionsCollapsed, 'fa-angle-down': !advancedOptionsCollapsed}"></i> Advanced Options</label>
</div>

<div uib-collapse="advancedOptionsCollapsed">
    <h5><strong>Restrict check-in to a specific timeslot</strong></h5>

    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="form-group" bs-form-error="ticketCategory.validCheckInFromString">
                <label for="{{buildPrefix($index, 'validCheckInFromString')}}">from</label>
                <input ng-model="ticketCategory.validCheckInFromString" single-date no-init-date="true" start-model="ticketCategory.validCheckInFrom" id="{{buildPrefix($index, 'validCheckInFromString')}}" class="form-control">
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="form-group" bs-form-error="ticketCategory.validCheckInToString">
                <label for="{{buildPrefix($index, 'validCheckInToString')}}">to</label>
                <input ng-model="ticketCategory.validCheckInToString" single-date no-init-date="true" start-model="ticketCategory.validCheckInTo" id="{{buildPrefix($index, 'validCheckInToString')}}" class="form-control">
            </div>
        </div>
    </div>

    <h5><strong>Custom ticket validity</strong> <small>(will be displayed in ticket PDF, email and calendar invitation)</small></h5>

    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="form-group" bs-form-error="ticketCategory.customValidityStartFromString">
                <label for="{{buildPrefix($index, 'customValidityStartToString')}}">from</label>
                <input ng-model="ticketCategory.customValidityStartToString" single-date no-init-date="true" start-model="ticketCategory.ticketValidityStart" id="{{buildPrefix($index, 'customValidityStartToString')}}" class="form-control">
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="form-group" bs-form-error="ticketCategory.customValidityEndToString">
                <label for="{{buildPrefix($index, 'customValidityEndToString')}}">to</label>
                <input ng-model="ticketCategory.customValidityEndToString" single-date no-init-date="true" start-model="ticketCategory.ticketValidityEnd" id="{{buildPrefix($index, 'customValidityEndToString')}}" class="form-control">
            </div>
        </div>
    </div>
</div>

<div class="form-group" bs-form-error="ticketCategory.price" ng-if="!event.freeOfCharge">
    <label for="{{buildPrefix($index, 'price')}}">Price <span data-ng-if="ticketCategory.price">({{calcCategoryPricePercent(ticketCategory, event, editMode)}}%)</span></label>
    <div class="input-group">
        <input type="number" min="0" data-ng-model="ticketCategory.price" name="{{buildPrefix($index, 'price')}}" id="{{buildPrefix($index, 'price')}}" class="form-control" required />
        <div class="input-group-addon">{{event.currency}}</div>
    </div>
    <field-error data-form-obj="ticketCategory" data-field-obj="ticketCategory.price" data-show-existing-errors="showExistingErrors"></field-error>
</div>
<div class="form-group" bs-form-error="ticketCategory.maxTickets" ng-if="ticketCategory.bounded">
    <label for="{{buildPrefix($index, 'maxTickets')}}">Max Tickets</label>
    <input type="number" min="0" data-ng-model="ticketCategory.maxTickets" name="{{buildPrefix($index, 'maxTickets')}}" id="{{buildPrefix($index, 'maxTickets')}}" class="form-control" required />
    <field-error data-form-obj="ticketCategory" data-field-obj="ticketCategory.maxTickets" data-show-existing-errors="showExistingErrors"></field-error>
</div>

<div class="form-group" bs-form-error="ticketCategory.code">
    <label for="{{buildPrefix($index, 'code')}}">Access Code</label> <a class="btn btn-xs btn-default" ng-click="toggleAccessCodeCollapse()"><i class="fa fa-info-circle"></i> help</a>
    <input type="text" ng-model="ticketCategory.code" id="{{buildPrefix($index, 'code')}}" name="{{buildPrefix($index, 'code')}}" class="form-control" >
</div>

<div class="panel panel-default" uib-collapse="helpAccessCodeCollapse">
    <div class="panel-body">
        <span class="close" ng-click="helpAccessCodeCollapse = true">x</span>
        <h4>Access Code:</h4>
        <p>You can define an access code for each category, either public or restricted, and then distribute the resulting URL.</p>
        <p>If someone access the URL, a new 1-ticket reservation will be created for this category.</p>
    </div>
</div>
<div class="form-group" ng-if="ticketCategory.code && ticketCategory.code.length > 0">
    <label>Access URL</label>
    <p class="form-control-static">
        {{baseUrl}}/event/{{event.shortName}}/code/{{ticketCategory.code}}
    </p>
</div>

<div data-ng-if="isLanguagePresent(event.locales, language.value)" class="form-group" data-ng-repeat="(lang, language) in allLanguagesMapping">
    <label for="{{buildPrefix($index, 'description.'+lang)}}">Description: {{language.displayLanguage}} <display-commonmark-preview text="ticketCategory.description[language.locale]"></display-commonmark-preview></label>
    <textarea data-ng-model="ticketCategory.description[language.locale]" name="{{buildPrefix($index, 'description.'+lang)}}" id="{{buildPrefix($index, 'description.'+lang)}}" class="form-control" placeholder="Description of {{ticketCategory.name}} category"></textarea>
    <common-mark-help></common-mark-help>
</div>