<div class="modal-content">
    <form name="pricesForm" role="form" data-ng-submit="update(pricesForm, eventPrices, event.organizationId)" novalidate class="force-show-errors" data-error-sensitive="editPrices">
        <div class="modal-header">
            <h2 class="modal-title">Seats and Payment info</h2>
        </div>
        <div class="modal-body">
            <edit-prices data-show-price-warning="true" data-event-obj="event" data-show-existing-errors="true" data-target-obj="eventPrices" data-allowed-payment-proxies="allowedPaymentProxies"></edit-prices>
        </div>
        <div class="modal-footer">
            <control-buttons data-form-obj="pricesForm" data-success-text="Save" data-cancel-handler="cancel"></control-buttons>
        </div>
    </form>
</div>