<div class="col-sm-12">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <label for="{{buildPrefix($index, 'name')}}">Name</label>
            <input type="text" data-ng-model="ticketCategory.name" name="{{buildPrefix($index, 'name')}}" id="{{buildPrefix($index, 'name')}}" class="form-control" required />
            <field-error data-form-obj="ticketCategory" data-field-obj="ticketCategory.name" data-show-existing-errors="showExistingErrors"></field-error>
        </div>

        <div class="col-sm-12 col-md-3">
            <label class="control-label">Ticket policy</label>
            <div class="form-group">
                <div class="radio-inline">
                    <label>
                        <input type="radio" name="{{buildPrefix($index, 'bounded')}}" data-ng-model="ticketCategory.bounded" data-ng-value="true" required="">
                        Fixed
                    </label>
                </div>
                <div class="radio-inline" data-ng-if="!ticketCategory.tokenGenerationRequested">
                    <label>
                        <input type="radio" name="{{buildPrefix($index, 'bounded')}}" data-ng-model="ticketCategory.bounded" data-ng-value="false" required="">
                        Dynamic
                    </label>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-3">
            <label class="control-label">Category type</label>
            <div class="form-group">
                <div class="radio-inline">
                    <label>
                        <input type="radio" name="{{buildPrefix($index, 'tokenGenerationRequested')}}" data-ng-model="ticketCategory.tokenGenerationRequested" data-ng-value="false" required="">
                        Public
                    </label>
                </div>
                <div class="radio-inline" data-ng-if="ticketCategory.bounded">
                    <label>
                        <input type="radio" name="{{buildPrefix($index, 'tokenGenerationRequested')}}" data-ng-model="ticketCategory.tokenGenerationRequested" data-ng-click="ticketCategory.bounded = true" data-ng-value="true" required="">
                        Restricted
                    </label>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-2" data-ng-if="ticketCategory.bounded">
            <label for="{{buildPrefix($index, 'maxTickets')}}">Max Tickets</label>
            <input type="number" data-ng-model="ticketCategory.maxTickets" name="{{buildPrefix($index, 'maxTickets')}}" id="{{buildPrefix($index, 'maxTickets')}}" class="form-control" required />
            <field-error data-form-obj="ticketCategory" data-field-obj="ticketCategory.maxTickets" data-show-existing-errors="showExistingErrors"></field-error>
        </div>

    </div>
    <div class="row">

        <div class="col-sm-12 col-md-4">
            <label for="{{buildPrefix($index, 'dateString')}}">Validity range</label>
            <input type="text" data-date-range data-start-model="ticketCategory.inception" data-end-model="ticketCategory.expiration" data-start-date="ticketCategory.notBefore" data-ng-model="ticketCategory.dateString" name="{{buildPrefix($index, 'dateString')}}" id="{{buildPrefix($index, 'dateString')}}" class="form-control" required />
            <field-error data-form-obj="ticketCategory" data-field-obj="ticketCategory.dateString" data-show-existing-errors="showExistingErrors"></field-error>
        </div>

        <div class="col-sm-12 col-md-3" data-ng-if="!event.freeOfCharge">
            <label for="{{buildPrefix($index, 'price')}}">Price <span data-ng-if="ticketCategory.price">({{calcCategoryPricePercent(ticketCategory, event, editMode)}}%)</span></label>
            <input type="number" data-ng-model="ticketCategory.price" name="{{buildPrefix($index, 'price')}}" id="{{buildPrefix($index, 'price')}}" class="form-control" required />
            <field-error data-form-obj="ticketCategory" data-field-obj="ticketCategory.price" data-show-existing-errors="showExistingErrors"></field-error>
        </div>

        <div class="col-sm-12 col-md-5">
            <div data-ng-repeat="(lang, language) in allLanguagesMapping">
                <div data-ng-if="isLanguagePresent(event.locales, language.value)">
                    <label for="{{buildPrefix($index, 'description.'+lang)}}">Description: {{language.displayLanguage}} <display-commonmark-preview text="ticketCategory.description[language.locale]"></display-commonmark-preview></label>
                    <textarea data-ng-model="ticketCategory.description[language.locale]" name="{{buildPrefix($index, 'description.'+lang)}}" id="{{buildPrefix($index, 'description.'+lang)}}" class="form-control" placeholder="Description of {{ticketCategory.name}} category"></textarea>
                </div>
            </div>
        </div>

    </div>
</div>