<div class="page-header">
    <h1>{{event.displayName}} 
    	<a class="btn btn-default visible-xs-inline visible-sm-inline" data-ng-if="isInternal(event)" data-ui-sref="events.single.configuration({eventName: event.shortName})"><i class="fa fa-wrench"></i><span class="sr-only"> settings</span></a>
    	<button type="button" ng-click="openDeleteWarning(event)" class="btn btn-danger visible-xs-inline visible-sm-inline" ng-if="isInternal(event)"><i class="fa fa-trash"></i> Delete</button>
	</h1>
    <h4 class="text-muted">{{event.shortDescription}}</h4>
    <div data-ng-if="isInternal(event)" class="visible-xs visible-sm">
        <span><button class="btn btn-primary" type="button" data-ng-click="openFieldSelectionModal()" ><i class="fa fa-download"></i> download attendees' data</button></span>
        <span><a class="btn btn-warning" data-ui-sref="events.single.compose-custom-message({eventName: event.shortName})"><i class="fa fa-envelope"></i> send a message to attendees</a></span>
        <waiting-queue-display-counter data-event="event"></waiting-queue-display-counter>
        <span><a class="btn btn-warning" data-ng-click="downloadSponsorsScan()" ><i class="fa fa-download"></i> download sponsors scan</a></span>
        <span><a class="btn btn-default" data-ui-sref="events.single.email-log({eventName:event.shortName})"><i class="fa fa-paper-plane-o"></i> view sent messages</a></span>
        <span><a class="btn btn-default" data-ui-sref="events.single.plugin-log({eventName:event.shortName})"><i class="fa fa-plug"></i> view Plugins log</a></span>
    </div>
</div>
<event-overview data-event="event"></event-overview>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <div class="row">
                <div class="col-xs-9"><strong>Logistic info and description</strong></div>
                <div class="col-xs-3"><div class="pull-right"><div data-ng-transclude=""></div></div></div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-1 hide-overflowing-text">
                <img data-ng-if="event.fileBlobIdIsPresent" data-ng-src="/file/{{event.fileBlobId}}" class="img-responsive event-logo">
                <a href="{{event.imageUrl}}" data-ng-if="!event.fileBlobIdIsPresent" target="_blank">{{event.imageUrl}}</a>
            </div>
            <div class="col-xs-6">
                <dl class="dl-horizontal">
                    <dt>Public URL</dt>
                    <dd><a ng-href="{{eventPublicURL}}" target="_blank">{{eventPublicURL}}</a></dd>
                    <dt>Organized by</dt>
                    <dd>{{organization.name}} &lt;{{organization.email}}&gt;</dd>
                    <dt>Website URL</dt>
                    <dd><a href="{{event.websiteUrl}}" target="_blank">{{event.websiteUrl}}</a></dd>
                    <dt data-ng-if="!isInternal(event)">External URL</dt>
                    <dd data-ng-if="!isInternal(event)"><a href="{{event.externalUrl}}" target="_blank">{{event.externalUrl}}</a></dd>
                    <dt data-ng-if="isInternal(event)">T&C URL</dt>
                    <dd data-ng-if="isInternal(event)"><a href="{{event.termsAndConditionsUrl}}" target="_blank">{{event.termsAndConditionsUrl}}</a></dd>
                    <dt>Location</dt>
                    <dd><a ng-href="{{event.geolocation.mapUrl}}" target="_blank">{{event.location}}</a></dd>
                    <dt data-ng-if="isInternal(event)">Languages</dt>
                    <dd data-ng-if="isInternal(event)"><span data-ng-repeat="cl in event.contentLanguages">{{cl.displayLanguage}}<span data-ng-if="!$last">, </span></span></dd>
                    <dt>Start Date/Time</dt>
                    <dd>{{event.formattedBegin | formatDate}}</dd>
                    <dt>End Date/Time</dt>
                    <dd>{{event.formattedEnd | formatDate}}</dd>
                    <dt>Time Zone</dt>
                    <dd>{{event.timeZone}}</dd>
                </dl>
            </div>
            <div class="col-xs-5">
                <div data-ng-repeat="cl in event.contentLanguages">
                    <p class="text-muted"><display-commonmark-preview text="event.description[cl.locale]"></display-commonmark-preview> {{event.description[cl.locale]}}</p>
                </div>
            </div>
        </div>
    </div>
</div>