<div class="page-header">
    <h1>{{event.displayName}}</h1>
    <h4 class="text-muted">{{event.shortDescription}}</h4>
    <span><a class="btn btn-primary" href="events/{{event.shortName}}/export/all-tickets.csv" target="_blank"><i class="fa fa-download"></i> download attendees' data</a></span>
    <span><a class="btn btn-success" href="events/{{event.shortName}}/export/badges.csv" target="_blank"><i class="fa fa-ticket"></i> download badges' data</a></span>
    <span><a class="btn btn-warning" data-ui-sref="compose-custom-message({eventName: event.shortName})"><i class="fa fa-envelope"></i> send a message to attendees</a></span>
    <waiting-queue-display-counter data-event="event"></waiting-queue-display-counter>
</div>
<div class="page-header"><h2>Logistic info</h2></div>
<div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="form-group">
            <label>Owner Organization</label>
            <p class="form-control-static">{{organization.name}} &lt;{{organization.email}}&gt;</p>

            <label>Website URL</label>
            <p class="form-control-static"><a href="{{event.websiteUrl}}" target="_blank">{{event.websiteUrl}}</a></p>

            <label>Terms and conditions URL</label>
            <p class="form-control-static"><a href="{{event.termsAndConditionsUrl}}" target="_blank">{{event.termsAndConditionsUrl}}</a></p>


            <label data-ng-if="event.fileBlobIdIsPresent">Event image</label>
            <p data-ng-if="event.fileBlobIdIsPresent"><img data-ng-src="/file/{{event.fileBlobId}}"></p>

            <label data-ng-if="!event.fileBlobIdIsPresent">Image URL</label>
            <p  data-ng-if="!event.fileBlobIdIsPresent" class="form-control-static"><a href="{{event.imageUrl}}" target="_blank">{{event.imageUrl}}</a></p>

            <label>Location</label>
            <p class="form-control-static">{{event.location}}</p>

            <label>Description</label>
            <pre class="white form-control-static">{{event.description}}</pre>

            <label>Start Date/Time</label>
            <p class="form-control-static">{{event.formattedBegin | formatDate}}</p>

            <label>End Date/Time</label>
            <p class="form-control-static">{{event.formattedEnd | formatDate}}</p>

            <label>Time Zone</label>
            <p class="form-control-static">{{event.timeZone}}</p>

        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <i class="fa fa-cog fa-spin fa-3x" data-ng-if="loadingMap"></i>
        <img data-ng-if="event.geolocation && !loadingMap" data-ng-src="{{event.geolocation.mapUrl}}" alt="{{event.location}}" />
    </div>
</div>