<div class="page-header">
    <h1><i class="fa fa-envelope-o"></i> Send invitations</h1>
    <small class="text-muted">Upload CSV file(s) with attendees' data</small>
</div>

<uib-tabset active="active">
    <uib-tab index="0">
        <uib-tab-heading>
            <i class="fa fa-qrcode"></i> Codes
        </uib-tab-heading>
        <div data-ng-if="!results">
            <div>
                <h2>File Specifications:</h2>
                <h3>General</h3>
                <span>Please create a CSV file without header, using commas (<strong>,</strong>) as separator, double quotes (<strong>"</strong>)as quote character and backslash (<strong>\</strong>) as escaping character</span>
                <h3>Row specification</h3>
                <pre>
                    <span class="text-info">ABCD</span><strong>,</strong><span class="text-danger">Name Surname</span><strong>,</strong><span class="text-warning">email@host.tld</span><strong>,</strong><span class="text-success">lang</span>

                    where:

                    <span class="text-info">ABCD</span> is the code to assign, blank if automatic
                    <span class="text-danger">Name Surname</span> is the full name of the attendee
                    <span class="text-warning">email@host.tld</span> is the email of the attendee (the invitation will be sent to this address)
                    <span class="text-success">lang</span> is the ISO language (e.g. it, en, de) of the message
                </pre>
            </div>

            <file-upload data-accept="'text/csv'" data-target-url="uploadUrl" data-success-callback="uploadSuccess" data-error-callback="uploadError"></file-upload>
        </div>

        <div data-ng-if="results">
            <div class="wMarginBottom table-responsive">
                <form name="invitationForm" data-ng-submit="sendCodes(invitationForm, results)" novalidate data-error-sensitive>
                    <table class="table">
                        <thead>
                        <th>Code</th>
                        <th>Assignee</th>
                        <th>e-mail</th>
                        <th>language</th>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="result in results" data-ng-class-even="'active'">
                            <td>{{result.code}}</td>
                            <td>{{result.assignee}}</td>
                            <td>{{result.email}}</td>
                            <td>{{result.language}}</td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-push-8 col-xs-12">
                    <button class="btn btn-lg btn-warning btn-block" type="button" data-ng-click="sendCodes(results)" style="margin-bottom: 10px">Send</button>
                </div>
                <div class="col-md-4 col-md-pull-4 col-xs-12">
                    <button type="button" class="btn btn-lg btn-default btn-block" data-ng-click="cancelCodes()" style="margin-bottom: 10px">Cancel</button>
                </div>
            </div>
        </div>
    </uib-tab>
    <uib-tab index="1">
        <uib-tab-heading>
            <i class="fa fa-history"></i> History <span class="badge">{{codes.length}}</span>
        </uib-tab-heading>
        <div class="page-header">
            <h2>History</h2>
            <small>Here you can find all the codes already sent</small>
        </div>
        <div>
            <div class="table-responsive" data-ng-if="codes.length > 0">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Code</th>
                        <th>Recipient</th>
                        <th>sent on</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="c in codes">
                        <td>{{c.code}}</td>
                        <td>{{c.recipientName}} &lt;{{c.recipientEmail}}&gt;</td>
                        <td>{{c.sentTimestamp | formatDate}}</td>
                        <td><button data-ng-if="c.status == 'FREE'" class="btn btn-sm btn-default pull-right" data-ng-click="clearRecipient(c.id, c.code)"><i class="fa fa-trash"></i> clear</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div data-ng-if="!codes || codes.length == 0">
                <h4>No codes have been sent so far</h4>
            </div>
        </div>
    </uib-tab>
</uib-tabset>