<div>
    <div class="text-right wMarginBottom30px" data-ng-if="$ctrl.subscriptions.length > 1">
        <a class="btn btn-success" ui-sref="^.new({organizationId: $ctrl.organizationId})"><i class="fa fa-plus"></i> add new</a>
    </div>
    <script type="text/ng-template" id="subscriptionStats.html">
        <ul class="list-unstyled">
            <li ng-if="subscription.soldCount > 0"><span class="text-left">Sold</span><span class="text-right pull-right" style="margin-left: 10px">{{subscription.soldCount}}</span></li>
            <li ng-if="subscription.pendingCount > 0"><span class="text-left">Pending</span><span class="text-right pull-right" style="margin-left: 10px">{{subscription.pendingCount}}</span></li>
            <li ng-if="subscription.availableCount > 0"><span class="text-left">Still Available</span><span class="text-right pull-right" style="margin-left: 10px">{{subscription.availableCount}}</span></li>
        </ul>
    </script>
    <div class="panel panel-default" data-ng-repeat="subscription in $ctrl.subscriptions"
         id="subscription-{{subscription.descriptor.id}}">
        <div class="panel-heading">
            <div class="panel-title">
                <div class="row">
                    <div class="col-xs-9 col-md-3">
                        <div class="category-name">{{$ctrl.firstTranslation(subscription.descriptor.titleAsText)}}</div>
                    </div>
                    <div class="hidden-xs hidden-sm col-md-4">
                        <uib-progress ng-if="subscription.descriptor.maxAvailable > 0" max="subscription.descriptor.maxAvailable" uib-tooltip-template="'subscriptionStats.html'">
                            <uib-bar value="subscription.soldCount" type="success"><span>{{subscription.soldCount}}</span></uib-bar>
                            <uib-bar ng-if="subscription.pendingCount > 0" value="subscription.pendingCount" type="warning"><span>{{subscription.pendingCount}}</span></uib-bar>
                            <uib-bar value="subscription.availableCount" type="primary"><span>{{subscription.availableCount}}</span></uib-bar>
                        </uib-progress>
                        <div ng-if="subscription.descriptor.maxAvailable == -1" class="category-name">
                            sold: {{subscription.soldCount}}
                        </div>
                    </div>
                    <div class="col-xs-3 col-md-5">
                        <div class="pull-right">
                            <button type="button" class="btn btn-sm btn-default" ng-click="$ctrl.showLinkedEvents(subscription.descriptor)">
                                <i class="fa fa-ticket"></i> Linked Events
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="hidden-xs hidden-sm col-md-2">
                    <img data-ng-src="/file/{{subscription.descriptor.fileBlobId}}" class="img-responsive event-logo">
                </div>
                <div class="col-xs-12 col-md-4">
                    <h5><a ng-href="{{$ctrl.baseUrl + '/subscription/' + subscription.descriptor.id}}" target="_blank" rel="noopener"><i class="fa fa-external-link"></i> view</a></h5>
                    <h5><i class="fa fa-calendar-check-o fa-1_5x"></i> <span class="sr-only">Sale period</span>
                        <span class="text-muted">
                            {{ subscription.descriptor.onSaleFrom | formatDate }}
                            <span ng-if="subscription.descriptor.onSaleTo"> - {{ subscription.descriptor.onSaleTo | formatDate }}</span>
                        </span>
                    </h5>
                    <h5>
                        <i class="fa fa-ticket fa-1_5x"></i>
                        <span class="sr-only">Max Available</span>
                        <span class="text-muted" ng-switch="subscription.descriptor.maxAvailable > -1">
                            <span ng-switch-when="true">{{subscription.descriptor.maxAvailable}}</span>
                            <span ng-switch-when="false">dynamic</span>
                        </span>
                        <i class="ml-1 fa fa fa-money fa-1_5x"></i><span class="sr-only">Price</span>
                        <span class="text-muted">
                            {{subscription.unitPrice | money : (subscription.descriptor.currency || "")}}&nbsp;<span ng-if="subscription.descriptor.vatStatus === 'NOT_INCLUDED'"><i class="text-muted">+ Taxes</i></span>
                        </span>
                    </h5>
                    <h5 ng-if="subscription.descriptor.validityType === 'CUSTOM'">
                        <i class="fa fa-clock-o fa-1_5x"></i><span class="sr-only">Validity</span>
                        <span class="text-muted">{{subscription.descriptor.validityFrom | formatDate}}<span ng-if="subscription.descriptor.validityTo"> - {{subscription.descriptor.validityFrom | formatDate}}</span></span>
                    </h5>
                    <h5 ng-if="$ctrl.ticketsGenerationJobActive && subscription.descriptor.supportsTicketsGeneration" class="text-success">
                        <i class="fa fa-check fa-1_5x"></i><span class="sr-only">Validity</span>
                        <span>Automatic tickets generation is active</span>
                    </h5>
                    <small class="text-muted">ID: {{subscription.descriptor.id}}</small>
                </div>
                <div class="col-md-6 category-detail hidden-xs">
                    <uib-tabset>
                        <uib-tab heading="{{lang}}" data-ng-repeat="(lang, desc) in subscription.descriptor.description">
                            <div style="position: absolute; right: 15px; margin-top: 5px;"><display-commonmark-preview text="desc"></display-commonmark-preview></div>
                            <pre class="white text-muted">{{desc}}</pre>
                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>
        </div>
        <div class="panel-footer bg-white">
            <div class="row">
                <div class="col-md-2 col-xs-12" data-ng-class="{'col-md-offset-8': subscription.reservationsCount === 0, 'col-md-offset-6': subscription.reservationsCount > 0}">
                    <a class="btn btn-default btn-block" data-ui-sref="^.single.additional-fields({ organizationId: subscription.descriptor.organizationId, subscriptionId: subscription.descriptor.id})"><i class="fa fa-info-circle"></i> Data to collect</a>
                </div>
                <div class="col-md-2 col-xs-12" data-ng-if="subscription.reservationsCount > 0">
                    <a class="btn btn-default btn-block" data-ui-sref="^.single.reservationsList({ organizationId: subscription.descriptor.organizationId, subscriptionId: subscription.descriptor.id})">Reservations</a>
                </div>
                <div class="col-md-2 col-xs-12">
                    <a type="button" class="btn btn-warning btn-block" ui-sref="^.edit({ organizationId: subscription.descriptor.organizationId, subscriptionId: subscription.descriptor.id})" >Edit</a>
                </div>
            </div>
        </div>
    </div>
</div>
<a class="btn btn-success pull-right" ui-sref="^.new({organizationId: $ctrl.organizationId})"><i class="fa fa-plus"></i> add new</a>