@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

p.ticket-info {
    padding: 15px;
    margin-top: 10px;
}

.bg-info {
    background-color: #d9edf7!important;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0px;
    left: 0px;
    z-index: 200;
}
