@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

.promo-code-input {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.margin-auto {
    margin: auto;
}

.badge-block {
  display: block;
}

.text-muted .btn-link {
  color: $text-muted;
}
