<form role="form" name="bulkImport" ng-submit="$ctrl.save(bulkImport)" data-error-sensitive novalidate>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="form-group">
                <label for="organizationId">Organization</label>
                <select data-ng-model="$ctrl.apiKeys.organizationId" data-grab-focus name="organizationId" class="form-control" id="organizationId" data-required data-ng-options="organization.id as organization.name for organization in $ctrl.organizations"></select>
                <field-error data-form-obj="bulkImport" data-field-obj="$ctrl.bulkImport.organizationId"></field-error>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="form-group" bs-form-error="$ctrl.bulkImport.role">
                <label for="role">Role</label> <a class="btn btn-xs btn-default" uib-popover-template="'helpUserRole.html'" popover-placement="left"><i class="fa fa-info-circle"></i> help</a>
                <select data-ng-model="$ctrl.apiKeys.role" name="role" class="form-control" id="role" data-required data-ng-options="r.role as r.description for r in $ctrl.roles"></select>
                <field-error data-form-obj="bulkImport" data-field-obj="$ctrl.bulkImport.role"></field-error>
                <script type="text/ng-template" id="helpUserRole.html">
                    <h4>Role:</h4>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="list-group-item-heading"><strong>Check-in operator</strong></div>
                            <div class="list-group-item-text">
                                Can only perform the check-in using the app. Access on the web admin is denied.
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="list-group-item-heading"><strong>Sponsor</strong></div>
                            <div class="list-group-item-text">
                                Can only scan checked-in badges using the app and collect attendees' data. Access on the web admin is denied.
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="list-group-item-heading"><strong>API Client</strong></div>
                            <div class="list-group-item-text">
                                Technical user for integrating external systems (such as CMS) with Alf.io. Access on the web admin and the mobile app is denied.
                            </div>
                        </li>
                    </ul>
                </script>
            </div>
        </div>
    </div>
    <div class="wMarginTop10px">
        <h4>File Specifications:</h4>
        <h5><strong>General</strong></h5>
        <span>Please create a CSV file without header, using commas (<strong>,</strong>) as separator, double quotes (<strong>"</strong>) as quote character and backslash (<strong>\</strong>) as escaping character</span>
        <h5><strong>Row specification</strong></h5>
        <pre>
                        <span class="text-info">name</span>

                        where:

                        <span class="text-info">name</span> is the name of the client, to be displayed in the QR-Code and statistics
        </pre>
    </div>

    <file-upload accept="'text/csv'" read-as-text="true" success-callback="$ctrl.parseFileContent" direct-handling="true"></file-upload>

    <div class="wMarginTop10px" ng-if="$ctrl.apiKeys.descriptions.length > 0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th colspan="2">Name</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="description in $ctrl.apiKeys.descriptions">
                    <td colspan="2" ng-bind="description"></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>Total</th>
                    <th ng-bind="$ctrl.apiKeys.descriptions.length"></th>
                </tr>
            </tfoot>
        </table>
    </div>

    <div>
        <button type="submit" class="btn btn-success" data-ng-disabled="bulkImport.$waiting">Save</button>
        <button type="button" class="btn btn-default" data-ng-disabled="bulkImport.$waiting" ng-click="$ctrl.cancel()">Cancel</button>
    </div>

</form>
