<div class="modal-header">
    <h2 class="modal-title" ng-switch="$ctrl.credit">
        <span ng-switch-when="true">Issue Credit Note for {{$ctrl.reservationId.substr(0, 8)}}?</span>
        <span ng-switch-default="">Delete Reservation {{$ctrl.reservation.id}}?</span>
    </h2>
</div>
<div class="modal-body" ng-switch="$ctrl.credit">
    <p ng-switch-when="true">A new Billing Document of type <i>Credit Note</i> will be generated, and the reservation will be kept under the "Credit Note issued" tab of the reservations list</p>
    <p ng-switch-default="">Alf.io will discard the payment and delete the reservation for good.</p>
    <div class="form-group">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="$ctrl.notify">
                <span ng-if="$ctrl.credit">Send credit note to the reservation contact person</span>
                <span ng-if="!$ctrl.credit">Send a notification email to the reservation contact person</span>
            </label>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-md-4 col-md-push-8 col-xs-12">
            <button class="btn btn-lg btn-block btn-block-xs" ng-class="{'btn-danger': !$ctrl.credit, 'btn-warning': $ctrl.credit}" type="button" data-ng-click="$ctrl.confirm()">Proceed</button>
        </div>
        <div class="col-md-4 col-md-pull-4 col-xs-12">
            <button class="btn btn-lg btn-default btn-block btn-block-xs" type="button" data-ng-click="$ctrl.cancel()">Cancel</button>
        </div>
    </div>
</div>