<div>
    <div class="container">
        <div class="page-header">
            <h1>Pending Payments for {{eventName}}</h1>
            <small class="text-muted">You can update them either one at a time or bulky</small>
        </div>

        <div class="wMarginTop wMarginBottom" data-ng-if="pendingReservations.length == 0">
            <h3><i class="fa fa-thumbs-up"></i> No pending payments found</h3>
        </div>
        <div class="wMarginTop wMarginBottom" data-ng-if="pendingReservations.length > 0" data-nv-file-drop="" data-uploader="uploader">
            <div class="page-header">
                <h2>Manual confirmation</h2>
                <small class="text-muted">Review and confirm each transaction</small>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i><span class="sr-only">Filter Payments</span></span>
                        <input type="text" class="form-control" placeholder="Filter Payments" aria-describedby="basic-addon1" data-ng-model="searchStr">
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <th class="cursor-pointer" ng-click="changeSorting('publicId')"><i class="fa" ng-class="sortingIndicator('publicId')"></i> ID</th>
                        <th class="cursor-pointer" ng-click="changeSorting('ticketReservation.validity')"><i class="fa" ng-class="sortingIndicator('ticketReservation.validity')"></i> Expiration Date</th>
                        <th class="cursor-pointer" ng-click="changeSorting('transaction.priceInCents')"><i class="fa" ng-class="sortingIndicator('transaction.priceInCents')"></i> Amount</th>
                        <th class="cursor-pointer" ng-click="changeSorting('ticketReservation.fullName')"><i class="fa" ng-class="sortingIndicator('ticketReservation.fullName')"></i> Customer's name</th>
                        <th class="cursor-pointer" ng-click="changeSorting('ticketReservation.email')"><i class="fa" ng-class="sortingIndicator('ticketReservation.email')"></i> Customer's email</th>
                        <th class="cursor-pointer" ng-click="changeSorting('ticketsCount')"><i class="fa" ng-class="sortingIndicator('ticketsCount')"></i> tickets</th>
                        <th></th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="pending in pendingReservations | filter:searchStr">
                            <td>
                                <a ng-if="event" data-ui-sref="events.single.view-reservation({eventName:eventName, reservationId: pending.ticketReservation.id})" target="_blank">{{pending.publicId}}</a>
                            </td>
                            <td>{{pending.ticketReservation.validity | formatDate}}</td>
                            <td><span ng-if="pending.transaction">{{pending.transaction.formattedAmount | money:pending.transaction.currency}}</span></td>
                            <td>{{pending.ticketReservation.fullName}}</td>
                            <td>{{pending.ticketReservation.email}}</td>
                            <td>{{pending.ticketsCount}}</td>
                            <td>
                                <button type="button" ng-if="pending.transaction && pending.transaction.status == 'OFFLINE_PENDING_REVIEW'" class="btn btn-xs btn-success" ng-click="showTransactionDialog(pending)"><i class="fa fa-check"></i> Matching payment</button>
                            </td>
                            <td>
                                <button class="btn btn-success btn-xs" data-ng-disabled="loading" data-ng-click="registerPayment(eventName, pending.ticketReservation.id)"><i class="fa fa-check"></i> confirm</button>
                                <button data-ng-disabled="loading" ng-if="pending.ticketReservation.status === 'OFFLINE_PAYMENT' && pending.ticketReservation.invoiceNumber" data-ng-click="deletePayment(eventName, pending.ticketReservation.id, true)" class="btn btn-warning btn-xs" uib-tooltip="Issue a Credit Note for this Reservation"><i class="fa fa-undo"></i> credit</button>
                                <button data-ng-disabled="loading" data-ng-click="deletePayment(eventName, pending.ticketReservation.id, false)" class="btn btn-danger btn-xs" uib-tooltip="Cancel the payment and delete the Reservation"><i class="fa fa-trash-o"></i> delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="page-header">
                <h2>Bulk confirmation</h2>
                <small class="text-muted">Upload CSV file(s) with received payments</small>
            </div>

            <div>
                <h3>File Specifications:</h3>
                <h3>General</h3>
                <span>Please create a CSV file without header, using commas (<strong>,</strong>) as separator, double quotes (<strong>"</strong>)as quote character and backslash (<strong>\</strong>) as escaping character</span>
                <h3>Row specification</h3>
                <pre>
                    <span class="text-info">abcd-efghi-jklm</span><strong>,</strong><span class="text-danger">10.00</span>

                    where:

                    <span class="text-info">abcd-efghi-jklm</span> is the partial or full reservation code
                    <span class="text-danger">10.00</span> is the amount of the payment
                </pre>
            </div>

            <file-upload data-accept="'text/csv'" data-target-url="uploadUrl" data-success-callback="uploadSuccess"></file-upload>

            <div data-ng-if="results && results.length > 0">
                <div class="page-header">
                    <h3>Upload results:</h3>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <th>Row #</th>
                            <th>Status</th>
                            <th>Reservation ID</th>
                            <th>Error message</th>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="result in results">
                                <td data-ng-class-even="'active'">{{$index + 1}}</td>
                                <td data-ng-class-even="'active'" data-ng-class="{'text-danger': !result.left, 'text-success': result.left}"><i data-ng-class="{'fa fa-warning': !result.left, 'fa fa-check-circle': result.left}"></i></td>
                                <td data-ng-class-even="'active'">{{result.middle}}</td>
                                <td data-ng-class-even="'active'">{{result.right}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
