<div class="container">
  <div class="my-3 d-flex justify-content-between d-flex align-items-center">
    <h1 translate="admin.dashboard.my-events"></h1>
    <div>
      <app-filter-button
        text="Active"
        [checked]="activeFilter"
        (toggleFilter)="toggleActiveFilter($event)"
        class="mx-2"
      ></app-filter-button>
      <app-filter-button
        text="Past"
        [checked]="inactiveFilter"
        (toggleFilter)="toggleInactiveFilter($event)"
      ></app-filter-button>
    </div>
  </div>
  <hr />
  <div class="d-flex flex-row-reverse my-3">
    <button
      type="button"
      class="btn btn-success d-flex"
      [routerLink]=""
      translate="admin.common.add-new"
    >
      <svg-icon key="add" class="d-flex align-items-center"></svg-icon>
    </button>
    <button
      type="button"
      class="btn btn-secondary d-flex mx-2"
      (click)="openExportDateSelector()"
      translate="admin.dashboard.export-reservations"
    >
      <svg-icon key="download" class="d-flex align-items-center"></svg-icon>
    </button>
  </div>

  <ng-container *ngIf="activeFilter">
    <div class="card">
      <h2 class="card-header" translate="admin.dashboard.active"></h2>
      <ul class="list-group list-group-flush">
        <li *ngFor="let ev of activeEvents$ | async" class="list-group-item">
          <app-event-item
            [showImage]="((activeEvents$ | async)?.length || 0) <= 10"
            [event]="ev"
          ></app-event-item>
        </li>
      </ul>
    </div>
  </ng-container>
  <ng-container *ngIf="inactiveFilter">
    <div class="card my-5">
      <h2 class="card-header" translate="admin.dashboard.past"></h2>
      <ul class="list-group list-group-flush">
        <li *ngFor="let ev of expiredEvents$ | async" class="list-group-item">
          <a [routerLink]="['./', ev.id]"
            >{{ ev.displayName }} {{ ev.formattedBegin }}
            {{ ev.formattedEnd }}</a
          >
        </li>
      </ul>
    </div>
  </ng-container>
</div>
