<div class="container">
    <div class="page-header">
        <h1>Waiting queue</h1>
        <span>View waiting people</span>
    </div>
    <span class="text-center fa fa-cog fa-spin fa-3x" data-ng-if="ctrl.loading"></span>
    <div class="table-responsive" data-ng-if="!ctrl.loading">
        <table class="table">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Name</th>
                    <th>e-mail</th>
                    <th>language</th>
                    <th>status</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="subscription in ctrl.subscriptions">
                    <td data-ng-bind="subscription.subscriptionType"></td>
                    <td data-ng-bind="subscription.fullName"></td>
                    <td data-ng-bind="subscription.emailAddress"></td>
                    <td data-ng-bind="subscription.locale"></td>
                    <td data-ng-bind="subscription.status"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center wMarginTop wMarginBottom">
        <a href="#" data-ui-sref="events.single.detail({eventName: ctrl.eventName})" class="btn btn-default">back</a>
    </div>
</div>