<div class="fa fa-refresh fa-spin fa-2x text-muted" data-ng-if="!messages">
</div>
<div class="container" data-ng-if="messages">
    <div class="page-header">
        <h2>Send custom message to all attendees</h2>
        <span>Write a custom message and broadcast it to all attendees</span>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-3 col-md-push-9 well">
            <h4>Available variables:</h4>
            <h6>the syntax is defined by <a href="http://mustache.github.io/mustache.5.html" target="_blank">Mustache</a>, with some <a href="https://github.com/samskivert/jmustache#limitations" target="_blank">limitations</a></h6>
            <dl class="wMarginTop">

                <dt data-uib-tooltip="the name of the event"><span data-ng-non-bindable>{{eventName}}</span></dt>
                <dd>{{eventName}}</dd>

                <dt data-uib-tooltip="Either the name of the attendee or the name of the reservation owner"><span data-ng-non-bindable>{{fullName}}</span></dt>
                <dd>{{fullName}}</dd>

                <dt data-uib-tooltip="The name of the organization"><span data-ng-non-bindable>{{organizationName}}</span></dt>
                <dd>{{organization.name}}</dd>

                <dt data-uib-tooltip="The organization e-mail address"><span data-ng-non-bindable>{{organizationEmail}}</span></dt>
                <dd>{{organization.email}}</dd>

                <dt><span data-ng-non-bindable>{{reservationID}}</span></dt>
                <dd>The reservation identifier</dd>

                <dt><span data-ng-non-bindable>{{reservationURL}}</span></dt>
                <dd>The URL of the reservation page</dd>

                <dt><span data-ng-non-bindable>{{ticketURL}}</span></dt>
                <dd>The URL of the ticket</dd>
            </dl>
        </div>
        <div class="col-xs-12 col-md-9 col-md-pull-3">
            <form name="sendMessage" role="form" data-ng-submit="showPreview(sendMessage, eventName, categoryId, messages, categories)">
                <div class="form-group wMarginBottom">
                    <label for="availableCategories">Send it to a specific category:</label>
                    <select id="availableCategories" data-ng-options="category.id as category.name for category in categories" data-ng-model="categoryId" class="form-control">
                        <option value="">All</option>
                    </select>
                </div>
                <edit-messages data-edit-mode="true" data-messages="messages"></edit-messages>
                <control-buttons data-form-obj="sendMessage" data-success-text="Preview" data-cancel-handler="cancel"></control-buttons>
            </form>
        </div>
    </div>
</div>