<div class="modal-header">
    <h3>Message Preview</h3>
</div>
<form name="previewForm" data-ng-submit="sendMessage(previewForm, eventName, categoryId, messages, affectedUsers)" novalidate data-error-sensitive>
    <div class="modal-body">
        <h3>Potentially affected users: {{affectedUsers}} <span data-ng-if="categoryName"> of category "{{categoryName}}"</span></h3>
        <edit-messages data-edit-mode="false" data-messages="messages" data-online="online"></edit-messages>
    </div>

    <div class="modal-footer">
        <div class="fa fa-cog fa-spin fa-2x" data-ng-if="pending"></div>
        <control-buttons data-ng-if="!pending" data-form-obj="previewForm" data-success-text="Send"></control-buttons>
    </div>
</form>