<form role="form" name="$ctrl.insertNewOrganization" ng-submit="$ctrl.save($ctrl.insertNewOrganization, $ctrl.organization)" data-error-sensitive novalidate data-oncancel="$ctrl.cancel()">
    <div class="page-header">
        <h2>Organizer Data</h2>
    </div>
    <div class="form-group" bs-form-error="$ctrl.insertNewOrganization.name">
        <label for="org-name">Name</label>
        <input class="form-control" type="text" data-grab-focus id="org-name" name="name" data-ng-model="$ctrl.organization.name" required data-ng-minlength="2" />
        <field-error data-form-obj="$ctrl.insertNewOrganization" data-field-obj="$ctrl.insertNewOrganization.name" data-min-char="2"></field-error>
    </div>
    <div class="form-group" bs-form-error="$ctrl.insertNewOrganization.email">
        <label for="org-email">Contact E-Mail</label>
        <input type="email" class="form-control" id="org-email" name="email" data-ng-model="$ctrl.organization.email" required />
        <field-error data-form-obj="$ctrl.insertNewOrganization" data-field-obj="$ctrl.insertNewOrganization.email"></field-error>
    </div>
    <div class="form-group" bs-form-error="$ctrl.insertNewOrganization.description">
        <label for="org-description">Description</label>
        <textarea class="form-control" id="org-description" name="description" data-ng-model="$ctrl.organization.description" required data-ng-minlength="3"></textarea>
        <field-error data-form-obj="$ctrl.insertNewOrganization" data-field-obj="$ctrl.insertNewOrganization.description" data-min-char="3"></field-error>
    </div>
    <div data-ng-if="$ctrl.isAdmin">
        <div class="page-header">
            <h2>Advanced Configuration</h2>
        </div>
        <div class="form-group" bs-form-error="$ctrl.insertNewOrganization.slug">
            <label for="slug">Slug</label>
            <div class="input-group">
                <span class="input-group-addon">
                    <span>{{$ctrl.baseUrl}}/o/</span>
                </span>
                <input type="text" id="slug" data-ng-model="$ctrl.organization.slug" class="form-control" pattern="^[A-Za-z0-9]+([\-_]*[A-Za-z0-9]+)+$" name="slug" data-ng-model-options="{updateOn:'blur'}"/>
                <span class="form-control-feedback" data-ng-if="$ctrl.loading"><i class="fa fa-circle-o-notch fa-spin"></i></span>
                <span class="input-group-addon">
                    <span>/</span>
                </span>
            </div>
            <field-error class="text-danger" data-field-label="'URL'" data-form-obj="$ctrl.insertNewOrganization" data-field-obj="$ctrl.insertNewOrganization.slug" data-min-char="3" data-required-pattern="'A-Za-z0-9_- (no spaces; first and last characters must be a letter or a number)'"></field-error>
        </div>
        <div class="form-group" bs-form-error="$ctrl.insertNewOrganization.externalId">
            <label for="externalId">External ID (OpenID organization ID)</label>
            <input type="text" id="externalId" data-ng-model="$ctrl.organization.externalId" class="form-control" name="externalId"/>
            <field-error data-form-obj="$ctrl.insertNewOrganization" data-field-obj="$ctrl.insertNewOrganization.externalId"></field-error>
        </div>
    </div>
    <hr>
    <control-buttons data-form-obj="$ctrl.insertNewOrganization" data-cancel-handler="$ctrl.cancel" data-success-text="Save" ></control-buttons>
</form>