<div [formGroup]="additionalServiceFormGroup">
  <app-item-card [currentLang]="translate.currentLang" [item]="additionalService" [parentFormGroup]="additionalServiceFormGroup">
    <span class="item-title">{{additionalService.title[translate.currentLang]}}</span>
    <div class="item-price">
        @if (additionalService.free) {
          <span translate="common.free"></span>
        } @else if (!additionalService.free && additionalService.fixPrice) {
          <span>
              @if (mandatoryPercentage) {
                  <div class="d-inline-flex flex-md-column">
                    <div class="text-align-right">
                        <span class="text-align-right">{{additionalService.formattedFinalPrice}}%</span>
                    </div>
                    <div>
                      <small class="text-align-right text-body-secondary align-self-end ms-2 ms-md-0"><i>{{( additionalService.supplementPolicy === 'MANDATORY_PERCENTAGE_FOR_TICKET' ? 'show-event.additional.percentage.tickets' : 'show-event.additional.percentage.reservation') | translate }}</i></small>
                    </div>
                  </div>
              } @else {
                <app-price-tag [purchaseContext]="event" [formattedPrice]="additionalService.formattedFinalPrice" [discountedPrice]="additionalService.formattedDiscountedPrice" [showTaxDetails]="additionalService.vatApplies"></app-price-tag>
              }
          </span>
        }
    </div>
    <div class="item-qty-selector">
      <div class="text-center" translate="show-event.not-available" *ngIf="!availableForSale"></div>
      <app-additional-service-quantity-selector *ngIf="availableForSale" [parentGroup]="additionalServiceFormGroup" [event]="event" [additionalService]="additionalService" [validSelectionValues]="validSelectionValues"></app-additional-service-quantity-selector>
    </div>
  </app-item-card>
</div>
