<div data-ng-form="dateTimeForm">
    <div class="row">
        <div class="{{dateCellClass}}">
            <label for="{{idPrefix}}-date">{{prefix}} Date</label>
            <p class="input-group">
                <input type="text" data-date-range data-ng-model="modelObject" data-after-date="{{notBefore}}" name="{{idPrefix}}-date" id="{{idPrefix}}-date" class="form-control" required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" data-ng-click="open($event)"><i class="fa fa-calendar"></i></button>
                </span>
            </p>
        </div>
    </div>
</div>