<dl class="row">
  <ng-container *ngIf="subscription.organizationName">
    <dt class="col-icon text-muted"><fa-icon [icon]="['far', 'building']" a11yRole="presentation"></fa-icon></dt>
    <dd class="col-text">{{'show-event.by'|translate}} <strong><a [href]="'mailto:'+ subscription.organizationEmail">{{subscription.organizationName}}</a></strong></dd>
  </ng-container>
  <ng-container [ngSwitch]="subscription.validityType">
    <ng-container *ngSwitchCase="'NOT_SET'">
      <dt class="col-icon text-muted" *ngIf="subscription.validityType === 'NOT_SET'"><fa-icon [icon]="['fas', 'ticket-alt']" [classes]="['rotate-45']" [title]="'ticket.date-time' | translate"></fa-icon></dt>
      <dd class="col-text" *ngIf="subscription.validityType === 'NOT_SET'">
        {{ 'subscription.detail.validity.NOT_SET.description' | translate : { '0': subscription.maxEntries, '1': ('subscription.usage-type.'+subscription.usageType) | translate } }}
      </dd>
    </ng-container>
    <ng-container *ngSwitchCase="'STANDARD'">
      <!-- STANDARD -->
      <dt class="col-icon text-muted" *ngIf="subscription.validityType === 'STANDARD'"><fa-icon [icon]="['fas', 'ticket-alt']" [classes]="['rotate-45']" [title]="'ticket.date-time' | translate"></fa-icon></dt>
      <dd class="col-text" *ngIf="subscription.validityType === 'STANDARD'">
        {{ 'subscription.detail.validity.STANDARD.description' | translate : { '0': subscription.validityUnits, '1': ('subscription.time-unit.'+subscription.validityTimeUnit | translate), '2': ('subscription.usage-type.'+subscription.usageType) | translate } }}
      </dd>
    </ng-container>
    <ng-container *ngSwitchCase="'CUSTOM'">
      <!-- CUSTOM -->
      <dt class="col-icon text-muted" *ngIf="subscription.validityType === 'CUSTOM'"><fa-icon [icon]="['fas', 'ticket-alt']" [classes]="['rotate-45']" [title]="'ticket.date-time' | translate"></fa-icon></dt>
      <dd class="col-text" *ngIf="subscription.validityType === 'CUSTOM'">
        <div class="row">
          <div class="col-12">
            <div>
              <span class="me-2"><strong translate="subscription.detail.validity.CUSTOM.from"></strong></span>
              <span>{{ validFrom }}</span>
              <span class="text-muted" *ngIf="displayTimeZoneInfo">&nbsp; ({{subscription.timeZone}})</span>
            </div>
            <div *ngIf="hasValidTo">
              <span class="me-2"><strong translate="subscription.detail.validity.CUSTOM.to"></strong></span>
              <span>{{ validTo }}</span>
              <span class="text-muted" *ngIf="displayTimeZoneInfo">&nbsp; ({{subscription.timeZone}})</span>
            </div>
            <div class="mt-1">{{ 'subscription.usage-type.' + subscription.usageType | translate }}</div>
          </div>
        </div>
      </dd>
    </ng-container>
  </ng-container>
  <dt class="col-icon text-muted"><fa-icon [icon]="['fas', 'money-bill']" [title]="'reservation-page.price' | translate"></fa-icon></dt>
  <dd class="col-text font-weight-bold"><app-price-tag [formattedPrice]="subscription.formattedPrice" [purchaseContext]="subscription" [showTaxDetails]="true" [singleLineLayout]="true"></app-price-tag></dd>

  <ng-container *ngIf="hasData(owner)">
    <dt class="col-icon text-muted"><fa-icon [icon]="['fas', 'address-card']" [title]="'reservation-page-complete.subscription.owner' | translate"></fa-icon></dt>
    <dd class="col-text">{{owner.firstName}} {{owner.lastName}} ({{owner.email}})</dd>
  </ng-container>
</dl>
