<div class="modal-header">
    <h1>Basic Configuration</h1>
    <span>You should take a look at the "configuration" section, however here below you can find the <strong>minimum, required</strong> configuration in order to run Alf.io</span>
</div>
<form name="settingsForm" novalidate data-ng-submit="ctrl.saveSettings(settingsForm, ctrl.settings, ctrl.pluginSettings)">
    <div class="modal-body">
        <div class="page-header">
            <h2>General</h2>
            <span>General settings</span>
        </div>
        <div data-ng-if="ctrl.general">
            <div data-ng-repeat="setting in ctrl.general.settings">
                <setting data-obj="setting" data-display-delete-if-needed="false"></setting>
            </div>
            <i class="fa fa-cog fa-spin fa-3x" data-ng-if="ctrl.loading"></i>
        </div>

        <div class="page-header">
            <h2>E-Mail</h2>
            <span>E-Mail settings</span>
        </div>

        <div data-ng-if="ctrl.mail">
            <div class="radio-inline">
                <label>
                    <input type="radio" name="mailer.type" data-ng-model="ctrl.mail.type.value" data-ng-value="'smtp'">
                    SMTP
                </label>
            </div>
            <div class="radio-inline">
                <label>
                    <input type="radio" name="mailer.type" data-ng-model="ctrl.mail.type.value" data-ng-value="'mailgun'">
                    Mailgun.com
                </label>
            </div>
            <div class="radio-inline">
                <label>
                    <input type="radio" name="mailer.type" data-ng-model="ctrl.mail.type.value" data-ng-value="'mailjet'">
                    Mailjet.com
                </label>
            </div>
            <div class="radio-inline">
                <label>
                    <input type="radio" name="mailer.type" data-ng-model="ctrl.mail.type.value" data-ng-value="'disabled'">
                    Disabled
                </label>
            </div>
            <div data-ng-repeat="setting in ctrl.mail.settings | mailSettingsFilter:ctrl.mail.type.value">
                <setting data-obj="setting" data-display-delete-if-needed="false"></setting>
            </div>
            <div>
                <setting obj="ctrl.mail.maxEmailPerCycle" data-display-delete-if-needed="false"></setting>
            </div>
            <div>
                <setting obj="ctrl.mail.mailReplyTo" data-display-delete-if-needed="false"></setting>
            </div>
        </div>


        <div class="page-header">
            <h2>Map</h2>
            <span>Map settings</span>
        </div>
        <div>
            <p class="radio-inline">
                <label>
                    <input type="radio" name="map.mapsProvider" data-ng-model="ctrl.map['MAPS_PROVIDER'].value" data-ng-value="'NONE'">
                    None
                </label>
            </p>
            <p class="radio-inline">
                <label>
                    <input type="radio" name="map.mapsProvider" data-ng-model="ctrl.map['MAPS_PROVIDER'].value" data-ng-value="'GOOGLE'">
                    Google maps
                </label>
            </p>
            <p class="radio-inline">
                <label>
                    <input type="radio" name="map.mapsProvider" data-ng-model="ctrl.map['MAPS_PROVIDER'].value" data-ng-value="'HERE'">
                    Here maps
                </label>
            </p>
            <div ng-if="ctrl.map['MAPS_PROVIDER'].value === 'GOOGLE'">
                <setting data-obj="ctrl.map['MAPS_CLIENT_API_KEY']" data-display-delete-if-needed="true" data-delete-handler="systemConf.delete(config)"  ></setting>
            </div>
            <div ng-if="ctrl.map['MAPS_PROVIDER'].value === 'HERE'">
                <setting data-obj="ctrl.map['MAPS_HERE_API_KEY']" data-display-delete-if-needed="true" data-delete-handler="systemConf.delete(config)"  ></setting>
            </div>
        </div>

        <div class="page-header" data-ng-if="ctrl.payment && ctrl.payment.settings.length > 0">
            <h2>Payment</h2>
            <span>Payment provider settings</span>
        </div>

        <div data-ng-if="ctrl.payment">
            <div data-ng-repeat="setting in ctrl.payment.settings">
                <setting data-obj="setting" data-display-delete-if-needed="false"></setting>
            </div>
            <i class="fa fa-cog fa-spin fa-3x" data-ng-if="ctrl.loading"></i>
        </div>

        <div class="page-header" data-ng-if="ctrl.pluginSettingsByPluginId">
            <h2>Plugins</h2>
            <span>Plugins settings</span>
        </div>

        <div data-ng-repeat="(key, settings) in ctrl.pluginSettingsByPluginId" data-ng-if="ctrl.pluginSettingsByPluginId">
            <div class="page-header"><h3 data-ng-bind="key"></h3></div>
            <div data-ng-repeat="setting in settings">
                <setting data-obj="setting" data-display-delete-if-needed="false"></setting>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success" data-ng-disabled="ctrl.loading">save</button>
    </div>
</form>
