<div class="container" container-fluid-responsive="">
    <div class="text-center" data-ng-if="eventConf.loading">
        <i class="fa fa-cog fa-spin fa-3x"></i><span class="sr-only">Loading...</span>
    </div>
    <div class="alert alert-warning" data-ng-if="eventConf.noResults">
        <h1>You are not authorized to see Event configuration.</h1>
    </div>
    <div data-ng-if="eventConf.hasResults">

        <div>
            <h1>Configuration for {{eventConf.event.displayName}}</h1>
        </div>

        <uib-tabset>
            <uib-tab index="0" heading="Settings">

        <form name="settingsForm" novalidate data-ng-submit="eventConf.saveSettings(settingsForm)" class="wMarginTop30px">
            <div class="page-header" id="GENERAL">
                <h2>General</h2>
                <span>General settings</span>
            </div>
            <div data-ng-if="eventConf.general">
                <div data-ng-repeat="setting in eventConf.general.settings">
                    <setting data-obj="setting" data-display-delete-if-needed="true" data-global-settings="eventConf.globalSettings" data-delete-handler="eventConf.delete(config)"></setting>
                </div>
            </div>

            <div class="page-header" id="RESERVATION_UI">
                <h2>Reservation Process</h2>
                <span>Customizations for the public-facing reservation process</span>
            </div>
            <div>
                <div data-ng-repeat="setting in eventConf.reservationUi.settings">
                    <setting data-obj="setting" data-display-delete-if-needed="true" data-delete-handler="eventConf.delete(config)"></setting>
                </div>
            </div>

            <div class="page-header" id="PASS_INTEGRATION">
                <h2>Pass Integration</h2>
                <span>Integration with Apple (tm) Pass</span>
            </div>
            <div>
                <div data-ng-repeat="setting in eventConf.passIntegration.settings">
                    <setting data-obj="setting" data-display-delete-if-needed="true" data-delete-handler="eventConf.delete(config)"></setting>
                </div>
            </div>

            <div class="page-header" id="WAITING_LIST">
                <h2>Waiting List</h2>
                <span>Waiting List configuration</span>
            </div>
            <div>
                <div data-ng-repeat="setting in eventConf.waitingList.settings">
                    <setting data-obj="setting" data-display-delete-if-needed="true" data-delete-handler="eventConf.delete(config)"></setting>
                </div>
            </div>

            <div class="page-header" id="MAIL">
                <h2>E-Mail</h2>
                <span>E-Mail settings</span>
            </div>

            <div data-ng-if="eventConf.mail">
                <div data-ng-if="eventConf.mail.type">
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="mailer.type" data-ng-model="eventConf.mail.type.value" data-ng-value="'smtp'">
                            SMTP
                        </label>
                    </div>
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="mailer.type" data-ng-model="eventConf.mail.type.value" data-ng-value="'mailgun'">
                            Mailgun.com
                        </label>
                    </div>
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="mailer.type" data-ng-model="eventConf.mail.type.value" data-ng-value="'mailjet'">
                            Mailjet.com
                        </label>
                    </div>
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="mailer.type" data-ng-model="eventConf.mail.type.value" data-ng-value="'disabled'">
                            Disable
                        </label>
                    </div>
                    <div data-ng-repeat="setting in eventConf.mail.settings | mailSettingsFilter:eventConf.mail.type.value">
                        <setting data-obj="setting" data-display-delete-if-needed="true" data-delete-handler="eventConf.delete(config)"></setting>
                    </div>
                    <div>
                        <setting obj="eventConf.mail.maxEmailPerCycle" data-display-delete-if-needed="true" data-delete-handler="eventConf.delete(config)"></setting>
                    </div>
                    <div>
                        <setting obj="eventConf.mail.mailReplyTo" data-display-delete-if-needed="true" data-delete-handler="eventConf.delete(config)"></setting>
                    </div>
                    <div>
                        <setting obj="eventConf.mail.mailAttemptsCount" data-display-delete-if-needed="true" data-delete-handler="eventConf.delete(config)"></setting>
                    </div>
                    <div>
                        <setting obj="eventConf.mail.cc" data-display-delete-if-needed="true" data-delete-handler="eventConf.delete(config)"></setting>
                    </div>
                    <div>
                        <setting obj="eventConf.mail.enableHtmlEmails" data-display-delete-if-needed="true" data-delete-handler="eventConf.delete(config)"></setting>
                    </div>
                </div>
                <div>
                    <setting obj="eventConf.mail.mailFooter" data-display-delete-if-needed="true" data-delete-handler="eventConf.delete(config)"></setting>
                </div>
                <div data-ng-repeat="setting in eventConf.mail.settings" data-ng-if="!eventConf.mail.type">
                    <setting data-obj="setting" data-display-delete-if-needed="true" data-delete-handler="eventConf.delete(config)"></setting>
                </div>
            </div>

            <div class="page-header" id="INVOICE">
                <h2>Invoice</h2>
            </div>

            <div>
                <div data-ng-repeat="setting in eventConf.settings.INVOICE">
                    <setting data-obj="setting" data-display-delete-if-needed="true" data-delete-handler="eventConf.delete(config)"></setting>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title"><i class="fa fa-eur"></i> VAT settings for B2B customers</div>
                </div>
                <div class="panel-body">
                    <div data-ng-repeat="setting in eventConf.invoiceEu.settings">
                        <setting data-obj="setting" data-display-delete-if-needed="true" data-delete-handler="eventConf.delete(setting)" list-values="setting.listValues"></setting>
                    </div>
                </div>
            </div>
            <regenerate-invoices data-event="eventConf.event"></regenerate-invoices>

            <div class="page-header" id="PAYMENT" data-ng-if="eventConf.payment || eventConf.paymentPaypal || eventConf.paymentStripe || eventConf.paymentMollie || eventConf.paymentOffline">
                <h2>Payment</h2>
                <span>Payment provider settings</span>
            </div>

            <div data-ng-if="eventConf.payment" class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title"><i class="fa fa-dollar"></i> General</div>
                </div>
                <div class="panel-body">
                    <div data-ng-repeat="setting in eventConf.payment.settings">
                        <setting data-obj="setting" data-display-delete-if-needed="true" data-delete-handler="eventConf.delete(config)"  ></setting>
                    </div>
                </div>
            </div>

            <div data-ng-if="eventConf.paymentStripe" class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title"><i class="fa fa-cc-stripe"></i> Stripe configuration</div>
                </div>
                <div class="panel-body">
                    <div class="alert alert-info"><i class="fa fa-info-circle"></i> more info on Stripe API Keys <a href="https://stripe.com/docs/dashboard#api-keys" target="_blank">here</a></div>
                    <div data-ng-repeat="setting in eventConf.paymentStripe.settings">
                        <setting data-obj="setting" data-display-delete-if-needed="true" data-delete-handler="eventConf.delete(config)"  ></setting>
                    </div>
                </div>
            </div>

            <div data-ng-if="eventConf.paymentPaypal" class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title"><i class="fa fa-paypal"></i> PayPal configuration</div>
                </div>
                <div class="panel-body">
                    <div class="alert alert-info">
                        <p><i class="fa fa-info-circle"></i> in order to accept payments through PayPal, you must create and enable a new <strong>REST API app</strong>, as explained <a href="https://www.paypal-community.com/t5/REST-APIs/How-do-I-generate-PayPal-Client-ID-amp-Secret-Key/td-p/3163643" target="_blank" rel="noopener">here</a></p>
                        <p>Once you have created your app and tested the integration, you can enable live payments by inserting the <strong>Live</strong> Client ID and Secret, and enabling the "live mode" below.</p>
                        <p><strong>IMPORTANT:</strong> if you are going to accept payments in a currency you don't hold, please make sure to enable automatic currency conversion. </p>
                        <p>To do that, go to <a href="https://www.paypal.com/cgi-bin/customerprofileweb?cmd=_profile-pref">PayPal dashboard</a> and select <code>Profile</code> -> <code>Settings</code> -> <code>Account Settings</code> -> <code>Payment Preferences</code> -> <code>Block Payments</code></p>
                    </div>
                    <div data-ng-repeat="setting in eventConf.paymentPaypal.settings">
                        <setting data-obj="setting" data-display-delete-if-needed="true" data-delete-handler="eventConf.delete(config)"  ></setting>
                    </div>
                </div>
            </div>

            <!--<div data-ng-if="eventConf.paymentMollie" class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title"> Mollie configuration</div>
                </div>
                <div class="panel-body">
                    <div class="alert alert-info">
                        <p><i class="fa fa-info-circle"></i> in order to accept payments through Mollie, you must have Live API key.</p>
                    </div>
                    <div data-ng-repeat="setting in eventConf.paymentMollie.settings">
                        <setting data-obj="setting" data-display-delete-if-needed="true" data-delete-handler="eventConf.delete(config)"  ></setting>
                    </div>
                </div>
            </div>-->

            <div data-ng-if="eventConf.paymentOffline" class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title"><i class="fa fa-exchange"></i> Bank Transfer payment configuration</div>
                </div>
                <div class="panel-body">
                    <div class="alert alert-info">
                        <p><i class="fa fa-info-circle"></i> More info and documentation available <a href="https://alf.io/docs/configuration/payment/bank-transfer/" target="_blank" rel="noreferrer noopener">on the help page</a>.</p>
                    </div>
                    <setting data-obj="eventConf.paymentOffline.enabled" data-display-delete-if-needed="true" data-delete-handler="eventConf.delete(config)"></setting>
                    <setting data-obj="eventConf.paymentOffline.deferredSetting" data-display-delete-if-needed="true" data-delete-handler="eventConf.delete(config)"></setting>
                    <div ng-if="eventConf.paymentOffline.deferredSetting.value == 'true'">
                        <setting data-obj="deferredSetting" data-ng-repeat="deferredSetting in eventConf.paymentOffline.deferredConfigOptions"></setting>
                    </div>
                    <div data-ng-repeat="setting in eventConf.paymentOffline.generalSettings" ng-if="eventConf.paymentOffline.deferredSetting.value != 'true'">
                        <setting data-obj="setting" data-display-delete-if-needed="true" data-delete-handler="eventConf.delete(config)"></setting>
                    </div>
                    <div ng-if="eventConf.paymentOffline.deferredSetting.value != 'true'">
                        <div class="page-header">
                            <h3>Revolut integration</h3>
                        </div>
                        <p>If the IBAN above is actually a Revolut Bank Account, you can enable the integration in order to check incoming payments automatically and flag the reservations as complete once the due amount has been received.</p>
                        <div data-ng-repeat="setting in eventConf.paymentOffline.revolutSettings">
                            <setting data-obj="setting" data-display-delete-if-needed="true" data-delete-handler="eventConf.delete(config)"></setting>
                        </div>
                    </div>
                </div>
            </div>

            <div class="page-header" id="SUBSCRIPTIONS">
                <h2>Subscriptions</h2>
            </div>
            <div>
                <div data-ng-repeat="setting in eventConf.subscriptions.settings">
                    <setting data-obj="setting" data-display-delete-if-needed="true" data-delete-handler="eventConf.delete(config)"></setting>
                    <div data-ng-if="setting.key === 'GENERATE_TICKETS_FOR_SUBSCRIPTIONS' && setting.id > -1 && setting.value === 'true'">
                        <button class="btn btn-default" type="button" ng-click="eventConf.generateTicketsForSubscribers()">Force generation</button>
                    </div>
                </div>
            </div>

            <div class="page-header" data-ng-if="eventConf.payment || eventConf.paymentPaypal || eventConf.paymentStripe || eventConf.paymentMollie || eventConf.paymentOffline">
                <h2>Check-in settings</h2>
            </div>
            <div data-ng-if="eventConf.alfioPi" class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title"><i class="fa fa-check"></i> Alf.io-PI integration for offline check-in and label printing</div>
                </div>
                <div class="panel-body">
                    <div class="alert alert-info">
                        <p><i class="fa fa-info-circle"></i> See <a href="https://github.com/alfio-event/alf.io-PI">Alf.io-PI repository</a> for more information.</p>
                    </div>
                    <div class="hidden-xs hidden-sm">
                        <label-template config="eventConf.labelLayout" data-delete-handler="eventConf.delete(config)"></label-template>
                    </div>
                    <div class="hidden-xs hidden-sm row">
                        <div class="col-md-6"><setting data-obj="eventConf.colorConfiguration" data-display-delete-if-needed="true" data-delete-handler="eventConf.delete(config)"></setting></div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-8 col-md-push-2">
                                    <h5>example:</h5>
                                    <pre>{
  "defaultColorName": "success",
  "configurations": [{
      "colorName": "info",
      "categories": [1]
  }]
}</pre>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="page-header" data-ng-if="eventConf.extensionSettings && (eventConf.extensionSettings | keys).length > 0">
                <h2>Extensions</h2>
            </div>
            <div class="panel panel-default" data-ng-repeat="settingId in eventConf.extensionSettings | keys">
                <div class="panel-heading">
                    <div class="panel-title"><i class="fa fa-plug"></i> {{eventConf.extensionSettings[settingId][0].extensionDisplayName}}</div>
                </div>
                <div class="panel-body">
                    <div>
                        <div data-ng-repeat="setting in eventConf.extensionSettings[settingId]">
                            <setting data-obj="setting" data-display-delete-if-needed="true" data-delete-handler="eventConf.deleteExtensionSetting(setting)"></setting>
                        </div>
                    </div>
                </div>
            </div>

            <control-buttons data-form-obj="eventConf" data-success-text="Save" data-cancel-handler="eventConf.cancel"></control-buttons>
        </form>
        </uib-tab>
        <uib-tab index="1" heading="Internationalization">
            <internationalization-editor organization-id="eventConf.event.organizationId" event-id="eventConf.event.id"></internationalization-editor>
        </uib-tab>
    </uib-tabset>
    </div>
</div>
