<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="page-header">
                <h1>Level</h1>
                <span>select the level</span>
            </div>
            <ul class="nav">
                <li role="presentation"><a role="button" href="" data-ui-sref-active="active" data-ui-sref="configuration.system"><i class="fa fa-globe"></i> System</a></li>
                <li role="presentation" data-ng-repeat="org in configCtrl.organizations"><a data-ui-sref-active="active" href="" role="button" data-ui-sref="configuration.organization({organizationId: org.id})"><i class="fa fa-users"></i> {{org.name}}</a>
                    <ul>
                        <li role="presentation" data-ng-repeat="ev in org.events"><a href="" role="button" data-ui-sref-active="active" data-ui-sref="configuration.event({organizationId: org.id, eventId: ev.id})">{{ev.shortName}}</a></li>
                    </ul>
                </li>

            </ul>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-9">
            <div data-ui-view></div>
        </div>
    </div>
</div>