@import "bootstrap/scss/mixins";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

@include media-breakpoint-up(md) {
  .invoice-details {
    padding: $table-cell-padding-x;
  }
  .invoice-details h5 {
    font-weight: bold;
    font-size: $font-size-base;
  }
}

div.separator {
  height: 100%;
}
