<ng-container [formGroup]="form" *ngIf="form">
  <div class="form-group" [formArrayName]="field.name">
    <label class="form-label" [attr.for]="elementUUID + '-' + field.name" [id]="labelId" [attr.aria-hidden]="hideLabelForAssistiveTechnologies">{{labelValue + (field.required ? ' *' : '')}}</label>
    <ng-container [ngSwitch]="field.type" *ngIf="editAllowed">
      <input *ngSwitchCase="'input:text'" [attr.id]="elementUUID + '-' + field.name" type="text" [attr.placeholder]="placeholder" class="form-control" formControlName="0" appInvalidFeedback>
      <input *ngSwitchCase="'input:tel'" [attr.id]="elementUUID + '-' + field.name" type="tel" [attr.placeholder]="placeholder" class="form-control" formControlName="0" appInvalidFeedback>
      <input *ngSwitchCase="'vat:eu'" [attr.id]="elementUUID + '-' + field.name" type="text" [attr.placeholder]="placeholder" class="form-control" formControlName="0" appInvalidFeedback>
      <ng-container *ngSwitchCase="'input:dateOfBirth'">
        <input [attr.id]="elementUUID + '-' + field.name" type="date" [max]="yesterday" [attr.placeholder]="placeholder" class="form-control" formControlName="0" appInvalidFeedback>
        <small class="form-text text-muted" *ngIf="selectedDateDescription">{{selectedDateDescription}}</small>
      </ng-container>
      <textarea *ngSwitchCase="'textarea'" [attr.id]="elementUUID + '-' + field.name" class="form-control" [attr.placeholder]="placeholder" formControlName="0" appInvalidFeedback></textarea>
      <ng-container *ngSwitchCase="'country'">
        <ng-select *ngIf="!isMobile" [attr.id]="elementUUID + '-' + field.name" formControlName="0" appInvalidFeedback [items]="countries" bindLabel="name" bindValue="isoCode" [inputAttrs]="{autocomplete: 'nope'}">
          <ng-template ng-notfound-tmp let-searchTerm="searchTerm"></ng-template>
        </ng-select>
        <select *ngIf="isMobile" [attr.id]="elementUUID + '-' + field.name" class="form-select" formControlName="0" appInvalidFeedback>
          <option value=""></option>
          <option *ngFor="let c of countries" [ngValue]="c.isoCode">{{c.name}}</option>
        </select>
      </ng-container>
      <select *ngSwitchCase="'select'" [attr.id]="elementUUID + '-' + field.name" class="form-select" formControlName="0" appInvalidFeedback>
          <option value=""></option>
          <option *ngFor="let c of field.restrictedValues" [ngValue]="c">{{getRestrictedValueLabel(c)}}</option>
      </select>
      <div *ngSwitchCase="'checkbox'" [attr.id]="elementUUID + '-' + field.name" appInvalidFeedback [invalidFeedbackFieldName]="field.name" [invalidFeedbackForm]="form">
        <div *ngFor="let c of field.restrictedValues; let i = index; let isFirst = first" class="form-check">
          <input class="form-check-input" [attr.id]="elementUUID + '-' + field.name + '-' + i" type="checkbox" [formControlName]="i" (ngModelChange)="selectedCheckBox(i, c, $event)">{{' '}}
          <label class="form-check-label" [attr.for]="elementUUID + '-' + field.name + '-' + i"><span class="sr-only" *ngIf="isFirst">{{labelValue}} </span>{{getRestrictedValueLabel(c)}}</label>
        </div>
      </div>
      <div *ngSwitchCase="'radio'" [attr.id]="elementUUID + '-' + field.name" appInvalidFeedback [invalidFeedbackFieldName]="field.name+'.0'" [invalidFeedbackForm]="form">
        <div *ngFor="let c of field.restrictedValues; let i = index" class="form-check">
          <input class="form-check-input" [attr.id]="elementUUID + '-' + field.name + '-' + i" type="radio" [value]="c" formControlName="0">
          <label class="form-check-label" [attr.for]="elementUUID + '-' + field.name + '-' + i">{{getRestrictedValueLabel(c)}}</label>
        </div>
      </div>
    </ng-container>
    <div class="form-control-plaintext" *ngIf="!editAllowed">
      {{ getRestrictedValueLabel(field.value) }}
    </div>
  </div>
</ng-container>
