<table class="table table-striped">
    <thead>
    <tr>
        <th width="10%">Id</th>
        <th width="30%">Customer's name</th>
        <th width="20%">Customer's email</th>
        <th width="10%">Payment</th>
        <th width="10%">Amount</th>
        <th width="20%">Confirmation</th>
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat="r in $ctrl.reservations">
            <td data-ng-if="$ctrl.targetContextType === 'event'"><a ui-sref="events.single.view-reservation({ eventName : (r.eventPublicIdentifier || $ctrl.purchaseContext.publicIdentifier), reservationId: r.id})"><reservation-identifier purchase-context="$ctrl.purchaseContext" purchase-context-type="$ctrl.purchaseContextType" reservation="r"></reservation-identifier></a></td>
            <td data-ng-if="$ctrl.targetContextType === 'subscription'"><a ui-sref="subscriptions.single.view-reservation({ purchaseContextId: $ctrl.purchaseContext.publicIdentifier,reservationId: r.id})"><reservation-identifier purchase-context="$ctrl.purchaseContext" purchase-context-type="$ctrl.purchaseContextType" reservation="r"></reservation-identifier></a></td>
            <td ng-bind="$ctrl.formatFullName(r)"></td>
            <td ng-bind="r.email"></td>
            <td ng-bind="r.paymentMethod"></td>
            <td ng-bind="r.paidAmount | money:r.currencyCode" data-ng-if="r.finalPriceCts > 0"></td>
            <td data-ng-if="r.finalPriceCts == 0">&nbsp;</td>
            <td ng-bind="r.confirmationTimestamp | formatDate"></td>
        </tr>
    </tbody>
</table>