<div [formGroup]="parentGroup">
  <label class="sr-only" [for]="'additional-'+additionalService.id+'-qty'">{{ (additionalService.fixPrice ? 'show-event.category.quantity' : 'show-event.additional.custom-amount') | translate }}</label>
  @if (additionalService.fixPrice && additionalService.supplementPolicy === 'MANDATORY_ONE_FOR_TICKET') {
    <div translate="show-event.mandatoryOneForTicket"></div>
  } @else if (additionalService.supplementPolicy === 'MANDATORY_PERCENTAGE_FOR_TICKET' || additionalService.supplementPolicy === 'MANDATORY_PERCENTAGE_RESERVATION') {
    <div translate="show-event.mandatoryPercentage"></div>
  } @else if (additionalService.fixPrice && additionalService.supplementPolicy === 'OPTIONAL_UNLIMITED_AMOUNT') {
    <input type="number" min="0" step="1" class="form-control" placeholder="0" autocomplete="off" formControlName="quantity" [id]="'additional-'+additionalService.id+'-qty'">
  } @else if (additionalService.fixPrice && [null, 'OPTIONAL_MAX_AMOUNT_PER_RESERVATION', 'OPTIONAL_MAX_AMOUNT_PER_TICKET'].indexOf(additionalService.supplementPolicy) >= 0) {
    <select class="form-select text-align-center" placeholder="0" autocomplete="off" formControlName="quantity" [id]="'additional-'+additionalService.id+'-qty'">
      <option *ngFor="let amount of validSelectionValues" [ngValue]="amount">{{amount}}</option>
    </select>
  } @else if (!additionalService.fixPrice) {
    <div class="input-group mb-3">
      <input type="number" min="0" step="any" class="form-control" value="0" formControlName="amount" [id]="'additional-'+additionalService.id+'-qty'">
      <div class="input-group-append">
        <span class="input-group-text append-currency">{{event.currency}}</span>
      </div>
    </div>
  }
</div>
