<div>
    <div class="alert wMarginTop30px" data-ng-class="{'alert-warning': $ctrl.draft, 'alert-default': $ctrl.closed, 'alert-success': $ctrl.open}">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="text-center">
                    <span data-ng-if="$ctrl.draft">This poll is not yet Open</span>
                    <span data-ng-if="$ctrl.open">This poll is currently Open for voting</span>
                    <span data-ng-if="$ctrl.closed">This poll is currently Closed</span>
                </h2>
            </div>
        </div>
        <div class="row wMarginTop10px">
            <div class="col-xs-12 col-lg-2 col-lg-offset-5 text-center">
                <button type="button" class="btn btn-lg mr-10" data-ng-class="{'btn-success': $ctrl.draft || $ctrl.closed, 'btn-default': $ctrl.open}" data-ng-click="$ctrl.changePollStatus()">
                    <span data-ng-if="$ctrl.draft || $ctrl.closed">Open</span>
                    <span data-ng-if="$ctrl.open">Close</span>
                </button>
                <button type="button" class="btn btn-lg btn-danger" data-ng-click="$ctrl.deletePoll()" data-ng-if="!$ctrl.open">Delete</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-lg-3 col-lg-push-9" data-ng-if="$ctrl.statistics">
            <div class="panel panel-default wMarginTop30px">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Results</h3>
                </div>
                <poll-votes-table votes="$ctrl.statistics" event="$ctrl.event" ></poll-votes-table>
                <div class="panel-footer bg-white text-center">
                    <button type="button" class="btn btn-default" data-ng-click="$ctrl.openPresentationView()"><i class="fa fa-desktop"></i> &nbsp; Presentation View</button>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-9" data-ng-class="{'col-lg-pull-3': $ctrl.statistics}">
            <div class="page-header" data-ng-if="$ctrl.poll.accessRestricted">
                <h3>Manage Participants</h3>
                <p>Access to this poll is restricted to allowed Attendees.</p>
                <a class="btn btn-success" data-ui-sref="events.single.polls-edit-participants({eventName: $ctrl.event.shortName, pollId: $ctrl.poll.id})" type="button">Manage</a>
            </div>

            <div class="page-header">
                <h3>Question</h3>
                <p>The question you'd like to ask to your attendees</p>
            </div>
            <div class="form-horizontal wMarginTop30px">
                <div data-ng-repeat="lang in $ctrl.languages" class="form-group">
                    <label class="col-sm-1 control-label">{{lang.displayLanguage}}</label>
                    <div class="col-sm-11">
                        <div class="form-control-static">{{$ctrl.poll.title[lang.locale]}}</div>
                    </div>
                </div>
            </div>
            <div class="page-header">
                <h3 class="wMarginTop30px">Description</h3>
                <p>Optional. If you need to explain what the poll is about, or how it works.</p>
            </div>
            <div class="form-horizontal wMarginTop30px">
                <div data-ng-repeat="lang in $ctrl.languages" class="form-group">
                    <label class="col-sm-1 control-label">{{lang.displayLanguage}}</label>
                    <div class="col-sm-11">
                        <div class="form-control-static">{{$ctrl.poll.description[lang.locale]}}</div>
                    </div>
                </div>
            </div>
            <div class="page-header">
                <h3 class="wMarginTop30px">Options</h3>
                <p>The options to choose from. The attendee can choose one of the provided options.</p>
            </div>
            <div class="row" data-ng-if="$ctrl.poll.options.length > 0">
                <div class="col-xs-12 col-lg-5">
                    <div class="list-group">
                        <div class="list-group-item" data-ng-repeat="option in $ctrl.poll.options">
                            <div class="row">
                                <div class="col-xs-9">
                                    <h4 class="list-group-item-heading">
                                        {{$ctrl.getFirstLang(option.title)}} <i class="text-muted" data-ng-if="$ctrl.getAdditionalTranslations() > 0">+{{$ctrl.getAdditionalTranslations()}}</i>
                                    </h4>
                                    <p class="list-group-item-text">
                                        {{$ctrl.getFirstLang(option.description)}} <i class="text-muted" data-ng-if="$ctrl.getAdditionalTranslations() > 0">{{$ctrl.getAdditionalTranslations()}}</i>
                                    </p>
                                </div>
                                <div class="col-xs-3 text-center">
                                    <button class="btn btn-danger" data-ng-click="$ctrl.removeOption(option)">Remove</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <hr class="wMarginTop30px"/>
    <div class="row wMarginTop30px">
        <div class="col-md-4 col-md-push-8 col-xs-12">
            <a class="btn btn-lg btn-warning btn-block" data-ui-sref="events.single.polls-edit({eventName: $ctrl.event.shortName, pollId: $ctrl.poll.id})" style="margin-bottom: 10px">Edit</a>
        </div>
        <div class="col-md-4 col-md-pull-4 col-xs-12">
            <a class="btn btn-lg btn-default btn-block" data-ui-sref="events.single.polls-list({eventName: $ctrl.event.shortName})" style="margin-bottom: 10px">Back</a>
        </div>
    </div>
</div>
