<div>
    <div class="page-header">
        <h3>Participants - {{$ctrl.getFirstLang($ctrl.poll.title)}}</h3>
        <p>View/Add participants to poll</p>
    </div>
    <div data-ng-if="$ctrl.participants.length == 0">
        <h4>No participant added yet.</h4>
    </div>
    <div class="form-group" data-ng-if="$ctrl.participants.length > 0">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <label class="sr-only" for="filter">Filter</label>
            <input type="text" id="filter" class="form-control" placeholder="Filter table" data-ng-model="$ctrl.toSearch" ng-change="$ctrl.updateFilteredData()" ng-model-options='{ debounce: 1000 }'>
        </div>
    </div>
    <p data-ng-if="$ctrl.filteredParticipants.length === 0" class="text-center">No results found.</p>
    <div class="panel panel-default" data-ng-if="$ctrl.filteredParticipants.length > 0">
        <div class="table-responsive wMarginTop10px">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>E-Mail</th>
                        <th>Ticket Category</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="participant in $ctrl.filteredParticipants">
                        <td>
                            <div class="form-control-static">{{$index + 1}}</div>
                        </td>
                        <td>
                            <div class="form-control-static">{{::participant.firstName}}</div>
                        </td>
                        <td>
                            <div class="form-control-static">{{::participant.lastName}}</div>
                        </td>
                        <td>
                            <div class="form-control-static">{{::participant.emailAddress}}</div>
                        </td>
                        <td>
                            <div class="form-control-static">{{::participant.categoryName}}</div>
                        </td>
                        <td>
                            <button type="button" class="btn btn-sm btn-danger" ng-click="$ctrl.removeParticipant(participant)"><i class="fa fa-trash"></i> <span class="hidden-xs hidden-sm">Remove</span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr class="wMarginTop30px"/>
    <div class="row wMarginTop30px">
        <div class="col-md-4 col-md-push-8 col-xs-12">
            <a class="btn btn-lg btn-success btn-block" data-ng-click="$ctrl.addParticipants()" style="margin-bottom: 10px">Add Participants</a>
        </div>
        <div class="col-md-4 col-md-pull-4 col-xs-12">
            <a class="btn btn-lg btn-default btn-block" data-ui-sref="events.single.polls-detail({eventName: $ctrl.event.shortName, pollId: $ctrl.poll.id})" style="margin-bottom: 10px">Back</a>
        </div>
    </div>
</div>
