<form name="editPollForm" ng-submit="$ctrl.save(editPollForm, $ctrl.poll)" data-ng-if="$ctrl.poll">
    <h2><span data-ng-if="!$ctrl.poll.id">Create new</span><span data-ng-if="$ctrl.poll.id">Edit</span> Poll</h2>

    <div class="page-header">
        <h3>Access Type</h3>
        <p>You can decide whether or not to limit access to the poll to selected attendees.</p>
    </div>
    <div class="wMarginTop30px">
        <label class="radio-inline">
            <input type="radio" name="poll.accessRestricted" id="accessRestrictedFalse" data-ng-model="$ctrl.poll.accessRestricted" data-ng-value="false"> All attendees can participate
        </label>
        <label class="radio-inline">
            <input type="radio" name="poll.accessRestricted" id="accessRestrictedTrue" data-ng-model="$ctrl.poll.accessRestricted" data-ng-value="true"> Limit access to selected attendees
        </label>
    </div>

    <div class="page-header">
        <h3>Question</h3>
        <p>The question you'd like to ask to your attendees</p>
    </div>
    <div class="form-horizontal wMarginTop30px">
        <div data-ng-repeat="lang in $ctrl.languages" class="form-group">
            <label for="title-{{lang.locale}}" class="col-sm-1 control-label">{{lang.displayLanguage}}</label>
            <div class="col-sm-11">
                <input id="title-{{lang.locale}}" required class="form-control" name="title-{{lang.locale}}" data-ng-model="$ctrl.poll.title[lang.locale]">
            </div>
        </div>
    </div>
    <div class="page-header">
        <h3 class="wMarginTop30px">Description</h3>
        <p>Optional. If you need to explain what the poll is about, or how it works.</p>
    </div>
    <div class="form-horizontal wMarginTop30px">
        <div data-ng-repeat="lang in $ctrl.languages" class="form-group">
            <label for="description-{{lang.locale}}" class="col-sm-1 control-label">{{lang.displayLanguage}}</label>
            <div class="col-sm-11">
                <input id="description-{{lang.locale}}" class="form-control" name="description-{{lang.locale}}" data-ng-model="$ctrl.poll.description[lang.locale]">
            </div>
        </div>
    </div>
    <div class="page-header">
        <h3 class="wMarginTop30px">Options</h3>
        <p>The options to choose from. The attendee can choose one of the provided options.</p>
    </div>
    <div class="alert alert-danger" data-ng-if="$ctrl.poll.options.length === 0">
        <h4 class="text-danger"><i class="fa fa-warning"></i> Please add at least one option</h4>
    </div>
    <div class="wMarginBottom" data-ng-if="$ctrl.poll.options.length === 0 || $ctrl.poll.options.length > 5">
        <button type="button" class="btn btn-success" data-ng-click="$ctrl.addOption()"><i class="fa fa-plus"></i> add new</button>
    </div>
    <div class="row" data-ng-if="$ctrl.poll.options.length > 0">
        <div class="col-xs-12 col-lg-5">
            <div class="list-group">
                <div class="list-group-item" data-ng-repeat="option in $ctrl.poll.options">
                    <div class="row">
                        <div class="col-xs-10">
                                <h4 class="list-group-item-heading">
                                    {{$ctrl.getFirstLang(option.title)}} <span data-ng-if="$ctrl.getAdditionalTranslations() > 0">{{$ctrl.getAdditionalTranslations(}}</span>
                                </h4>
                                <p class="list-group-item-text">
                                    {{$ctrl.getFirstLang(option.description)}} <span data-ng-if="$ctrl.getAdditionalTranslations() > 0">{{$ctrl.getAdditionalTranslations(}}</span>
                                </p>
                        </div>
                        <div class="col-xs-2 text-center">
                            <button type="button" class="btn btn-default" data-ng-click="$ctrl.editOption(option, $index)">Edit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wMarginBottom" data-ng-if="$ctrl.poll.options.length > 0">
        <button type="button" class="btn btn-success" data-ng-click="$ctrl.addOption()"><i class="fa fa-plus"></i> add new</button>
    </div>
    <hr class="wMarginTop30px"/>
    <div class="row wMarginTop30px">
        <div class="col-md-4 col-md-push-8 col-xs-12">
            <button class="btn btn-lg btn-warning btn-block" data-ng-disabled="editPollForm.$waiting" style="margin-bottom: 10px">Save</button>
        </div>
        <div class="col-md-4 col-md-pull-4 col-xs-12">
            <button type="button" class="btn btn-lg btn-default btn-block" data-ng-disabled="editPollForm.$waiting" data-ng-click="$ctrl.cancel()" style="margin-bottom: 10px">Cancel</button>
        </div>
    </div>

</form>