<div class="modal-header">
    <h2>Add Participants</h2>
</div>
<div class="modal-body">

    <div class="form-group wMarginBottom">
        <label class="sr-only" for="searchParticipants">Search by name or email address</label>
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input type="text" class="form-control" id="searchParticipants" placeholder="Enter name or email address" data-ng-model="$ctrl.searchTerm" ng-change="$ctrl.search()" ng-model-options='{ debounce: 1000 }'>
            <div class="input-group-addon" data-ng-if="$ctrl.loading"><i class="fa fa-refresh fa-spin"></i></div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>E-Mail</th>
            <th>Ticket Category</th>
            <th><input type="checkbox" ng-model="selAll" data-ng-change="$ctrl.toggleSelection(selAll)"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="participant in $ctrl.results">
            <td>
                <div class="form-control-static">{{participant.firstName}}</div>
            </td>
            <td>
                <div class="form-control-static">{{participant.lastName}}</div>
            </td>
            <td>
                <div class="form-control-static">{{participant.emailAddress}}</div>
            </td>
            <td>
                <div class="form-control-static">{{participant.categoryName}}</div>
            </td>
            <td>
                <input type="checkbox" ng-model="participant.selected" data-ng-change="$ctrl.updateSelection(participant)">
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-md-4 col-md-push-8 col-xs-12" data-ng-if="$ctrl.participants.length > 0">
            <button type="button" class="btn btn-lg btn-warning btn-block" data-ng-click="$ctrl.save()" style="margin-bottom: 10px">Add</button>
        </div>
        <div class="col-md-4 col-xs-12" data-ng-class="{'col-md-pull-4': $ctrl.participants.length > 0}">
            <button type="button" class="btn btn-lg btn-default btn-block" data-ng-click="$ctrl.cancel()" style="margin-bottom: 10px">Close</button>
        </div>
    </div>
</div>
