<div class="container">
    <div class="page-header">
        <h1>Import status</h1>
    </div>

    <div class="text-center text-muted wMarginTop30px" ng-if="$ctrl.loading">
        <i class="fa fa-circle-o-notch fa-spin fa-3x"></i>
    </div>

    <uib-progress max="$ctrl.total" ng-if="!$ctrl.success && !$ctrl.loading" class="wMarginTop30px">
        <uib-bar class="progress-striped" value="$ctrl.countSuccess" title="in progress..." type="success">{{$ctrl.countSuccess}}</uib-bar>
        <uib-bar class="progress-striped" value="$ctrl.countError" title="in progress..." type="danger"><span ng-if="$ctrl.countError > 0" ng-bind="$ctrl.countError"></span></uib-bar>
    </uib-progress>

    <div class="wMarginTop30px text-center" ng-if="!$ctrl.success && !$ctrl.loading">
        <h3>Processed: {{$ctrl.processed}}/{{$ctrl.total}}</h3>
    </div>

    <div ng-if="$ctrl.success" class="text-success text-center wMarginTop30px">
        <h2><i class="fa fa-check-circle-o"></i> Success!</h2>
        <a class="btn btn-success btn-lg wMarginTop30px" ui-sref="events.single.detail({eventName: $ctrl.event.shortName})">Back to event detail</a>
    </div>

</div>