<div class="container">
    <form role="form" name="newReservation" ng-submit="$ctrl.submit(newReservation)" error-sensitive="newReservation" novalidate>
        <div class="page-header">
            <h1>Import existing Attendees for {{$ctrl.event.displayName}}</h1>
        </div>

        <div ng-if="!$ctrl.fastCreation">
            <div class="page-header">
                <h3>Contact info</h3>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label for="customerFirstName">First name</label>
                        <input class="form-control" id="customerFirstName" name="customerFirstName" ng-model="$ctrl.reservation.customerData.firstName" required>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label for="customerLastName">Last name</label>
                        <input class="form-control" id="customerLastName" name="customerLastName" ng-model="$ctrl.reservation.customerData.lastName" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label for="customerEmailAddress">Email Address</label>
                        <input type="email" class="form-control" id="customerEmailAddress" name="customerEmailAddress" ng-model="$ctrl.reservation.customerData.emailAddress" required>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label for="language">Language</label>
                        <select class="form-control" id="language" ng-options="l.locale as l.displayLanguage for l in $ctrl.languages" name="language" ng-model="$ctrl.reservation.language" required></select>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="$ctrl.fastCreation && $ctrl.languages.length > 1">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label for="language">Language</label>
                        <select class="form-control" id="language" ng-options="l.locale as l.displayLanguage for l in $ctrl.languages" name="language" ng-model="$ctrl.reservation.language" required></select>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-header">
            <h3>Reservation details</h3>
            <small class="text-muted">Please select the target <i>Ticket Category</i> where Attendees will be imported.</small>
        </div>

        <div class="panel panel-default wMarginBottom" ng-repeat="ticketInfo in $ctrl.reservation.ticketsInfo">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-9"><div class="panel-title">Attendees for Category {{ $ctrl.getCategoryDescription(ticketInfo, ($index + 1))}}</div></div>
                    <div class="col-xs-3" ng-if="!$first">
                        <div class="pull-right"><button class="btn btn-sm btn-default" ng-click="$ctrl.removeTicketInfo($index)"><i class="fa fa-trash"></i> delete</button></div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <!-- upload CSV -->
                <div class="wMarginTop10px">
                    <h4>File Specifications:</h4>
                    <h5><strong>General</strong></h5>
                    <span>Please create a CSV file <strong>with header</strong>, using commas (<strong>,</strong>) as separator, double quotes (<strong>"</strong>) as quote character and backslash (<strong>\</strong>) as escaping character</span>
                    <h5><strong>Header specification</strong></h5>
                    <pre class="text-left">
<span class="text-info">firstName</span>,<span class="text-danger">lastName</span><strong>,</strong><span class="text-warning">email</span>,<span class="text-success">lang</span>,<span class="text-info">reference</span>,<i>additionalData</i>

where:

<span class="text-info">firstName</span> <strong>required</strong>, fixed value
<span class="text-danger">lastName</span> <strong>required</strong>, fixed value
<span class="text-warning">email</span> <strong>required</strong>, fixed value
<span class="text-success">lang</span> <strong>required</strong>, fixed value
<span class="text-info">reference</span> fixed value, represents the attendee ID in the existing system. If you don't have that information, leave it blank
<i>additionalData</i> please specify the additional information you are uploading, using the names you've defined <a ui-sref="events.single.dataToCollect({eventName: $ctrl.event.shortName})" target="_blank">for this event</a>
                    </pre>
                </div>

                <file-upload accept="'text/csv'" read-as-text="true" success-callback="ticketInfo.parseFileContent" direct-handling="true"></file-upload>

            </div>

            <div class="panel-body">
                <h4>Assign attendees to a Ticket Category <a class="btn btn-xs btn-default" ng-click="ticketInfo.ticketInfoHelpExpanded = !ticketInfo.ticketInfoHelpExpanded"><i class="fa fa-info-circle"></i> help</a></h4>
                <div uib-collapse="!ticketInfo.ticketInfoHelpExpanded" class="panel">
                    <p>You can choose whether to assign attendees to <strong>existing</strong> tickets belonging to an existing category or to create a new, <strong>restricted</strong> category just for those attendees.</p>
                    <h5><strong>Use Existing</strong></h5>
                    <p>You'll reserve existing seats from an existing category. If the number of attendees exceeds the number of available seats in the category</p>
                    <ol>
                        <li><strong>and</strong> there are still tickets not allocated to other categories, then the number of seats of the category will be increased accordingly.</li>
                        <li><strong>and</strong> the "add extra seats..." option has been selected, then the number of seats of the event will be increased accordingly.</li>
                    </ol>
                    <p>if none of the conditions are met, the reservation will not be created.</p>

                    <h5><strong>Create new</strong></h5>
                    <p>A new restricted category will be created specifically for this category. The system will check if there are enough available seats in the event.</p>
                    <p>If that's not the case, <strong>and</strong> the "add extra seats..." option has been selected, then the number of seats of the event will be increased accordingly.
                        Otherwise the reservation will not be created.</p>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="btn-group j-btn-group">
                            <label class="btn btn-default" ng-model="ticketInfo.categoryType" uib-btn-radio="'existing'" ng-click="$ctrl.resetCategory(ticketInfo)"><i class="fa fa-paperclip"></i> Use existing</label>
                            <label class="btn btn-default" ng-model="ticketInfo.categoryType" uib-btn-radio="'custom'" ng-click="$ctrl.resetCategory(ticketInfo)"><i class="fa fa-plus-square-o"></i> Create new</label>
                        </div>
                    </div>
                </div>
                <div class="row wMarginTop10px" ng-switch="ticketInfo.categoryType">
                    <div class="col-xs-12" ng-switch-when="existing">
                        <div class="form-group">
                            <label for="ticketInfo-{{$index}}-categoryType">Existing category</label>
                            <select class="form-control" required ng-options="c.id as c.name for c in $ctrl.categories" ng-model="ticketInfo.category.existingCategoryId" id="ticketInfo-{{$index}}-categoryType"></select>
                        </div>
                    </div>
                    <div class="col-xs-12" ng-switch-when="custom">
                        <div class="row">
                            <div class="col-xs-12" ng-class="{'col-md-6': $ctrl.event.freeOfCharge,'col-md-4': !$ctrl.event.freeOfCharge}">
                                <div class="form-group">
                                    <label for="ticketInfo-{{$index}}-name">Name</label>
                                    <input type="text" class="form-control" ng-model="ticketInfo.category.name" required id="ticketInfo-{{$index}}-name" />
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-4" ng-if="!$ctrl.event.freeOfCharge">
                                <div class="form-group">
                                    <label for="ticketInfo-{{$index}}-price">Ticket price</label>
                                    <input type="number" min="0" class="form-control" ng-model="ticketInfo.category.price" required id="ticketInfo-{{$index}}-price" />
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-4" ng-if="!$ctrl.event.freeOfCharge">
                                <div class="form-group">
                                    <label>Final ticket price</label>
                                    <div class="form-control-static">
                                        {{$ctrl.calculateTotalPrice(ticketInfo.category.price) | money : ($ctrl.event.currency || "")}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="checkbox" ng-if="$ctrl.singleReservationsAllowed">
                            <label><input type="checkbox" ng-model="$ctrl.createSingleReservations" id="ticketInfo-{{$index}}-singleReservations" value="true"> Create one reservation per attendee <span ng-if="ticketInfo.attendees.length > 0">(a total of {{ticketInfo.attendees.length}})</span></label>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="checkbox">
                            <label><input type="checkbox" ng-model="$ctrl.reassignmentForbidden" id="ticketInfo-{{$index}}-reassignmentForbidden" value="true"> Forbid ticket reassignment</label>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="checkbox">
                            <label><input type="checkbox" ng-model="$ctrl.reservation.notification.attendees" id="ticketInfo-{{$index}}-sendTicketsViaMail" value="true"> Send tickets via email</label>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="checkbox">
                            <label><input type="checkbox" ng-model="ticketInfo.addSeatsIfNotAvailable" id="ticketInfo-{{$index}}-addSeatsIfNotAvailable" value="true"> Add extra seats to event if needed</label>
                        </div>
                        <div class="alert alert-warning" ng-if="ticketInfo.addSeatsIfNotAvailable && ticketInfo.category.existingCategoryId"><i class="fa fa-warning"></i> If you add tickets to a public category and the reservation expires, any added seats will be released to the public.</div>
                    </div>
                </div>
            </div>
            <!-- full data -->
            <div class="text-center text-muted wMarginBottom30px" ng-if="$ctrl.parsing">
                <i class="fa fa-circle-o-notch fa-spin fa-3x"></i>
            </div>
            <ul class="list-group wMarginTop10px" ng-if="ticketInfo.attendees.length > 0">
                <li class="list-group-item" ng-repeat="attendee in ::ticketInfo.attendees">
                    <h4 class="list-group-item-heading">{{::attendee.firstName}} {{::attendee.lastName}} - {{::attendee.emailAddress}}</h4>
                    <ul class="list-inline">
                        <li ng-repeat="(k, v) in ::attendee.additionalInfo"><strong>{{k}}</strong>: {{v}}</li>
                    </ul>
                </li>
            </ul>
        </div>

        <div uib-alert type="danger" close="$ctrl.hideMessages()" data-ng-if="$ctrl.errorMessage"><i class="fa fa-times"></i> {{$ctrl.errorMessage}}</div>

        <hr>

        <control-buttons data-form-obj="newReservation" cancel-handler="$ctrl.reinit" disable-submit="$ctrl.countParsedAttendees($ctrl.reservation.ticketsInfo) === 0" success-text="Upload" ng-if="!$ctrl.loading"></control-buttons>
    </form>
</div>