<div class="modal-header">
  <h2>Export Reservations</h2>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Close click')"
  ></button>
</div>
<div class="modal-body">
  <div class="row">
    <p>Reservations can be exported for a given period of time.</p>
    <p>The export will produce an "Excel" file with one sheet per Event</p>
    <hr />
    <h4>Reservation date</h4>

    <div class="row">
      <form
        [formGroup]="dateForm"
        class="form-group d-flex justify-content-between"
      >
        <div class="col-6 mb-3 mx-2">
          <label for="fromDate" class="form-label">From</label>
          <input
            type="date"
            id="fromDate"
            class="form-control"
            formControlName="fromDate"
            [class.is-invalid]="
              fromDate?.invalid && (fromDate?.dirty || fromDate?.touched)
            "
          />
        </div>
        <div class="col-6">
          <label for="toDate" class="form-label">To</label>
          <input
            type="date"
            id="toDate"
            class="form-control"
            formControlName="toDate"
            [class.is-invalid]="
              toDate?.invalid && (toDate?.dirty || toDate?.touched)
            "
          />
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer d-flex justify-content-between">
    <div>
      <button
        class="btn btn-lg btn-outline-secondary"
        (click)="activeModal.dismiss('Close click')"
      >
        Cancel
      </button>
    </div>
    <div>
      <a
        [href]="
          '/admin/api/export/reservations?from=' +
          dateForm.value.fromDate +
          '&to=' +
          dateForm.value.toDate
        "
        class="btn btn-lg btn-primary"
        target="_blank"
        rel="noopener"
        *ngIf="
          dateForm.value.fromDate !== null &&
          dateForm.value.toDate !== null &&
          dateForm.value.fromDate <= dateForm.value.toDate
        "
        >Download</a
      >
    </div>
  </div>
</div>
