        <div class="row">
            <div class="col-xs-6 col-md-3">
                <!-- inspired by https://blackrockdigital.github.io/startbootstrap-sb-admin-2/ -->
                <div class="panel panel-info">
                    <div class="panel-heading hidden-xs hidden-sm"><div class="panel-title">Total tickets confirmed</div></div>
                    <div class="panel-body text-info">
                        <div class="row">
                            <div class="col-xs-3 col-md-2"><span class="fa fa-ticket icon-overview"></span></div>
                            <div class="col-xs-9 col-md-10"><div class="text-right event-statistic-highlighted">{{ctrl.ticketsConfirmed}}</div></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                <div class="panel panel-info">
                    <div class="panel-heading hidden-xs hidden-sm">
                        <div class="panel-title">Tickets pending</div>
                    </div>
                    <div class="panel-body text-info">
                        <div class="row">
                            <div class="col-xs-3 col-md-2"><span class="fa fa-cogs icon-overview"></span></div>
                            <div class="col-xs-9 col-md-10">
                                <div class="text-right event-statistic-highlighted">
                                    <span ng-if="ctrl.pendingReservations == 0">0</span>
                                    <a ng-if="ctrl.pendingReservations > 0" data-ui-sref="events.single.reservationsList({eventName:ctrl.event.shortName})">{{ctrl.pendingReservations}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 visible-sm visible-xs">
                <div class="panel panel-info">
                    <div class="panel-body text-info">
                        <div class="row">
                            <div class="col-xs-3 col-md-2"><span class="fa fa-group icon-overview"></span></div>
                            <div class="col-xs-9 col-md-10"><div class="text-right" waiting-queue-display-counter="" data-event-name="ctrl.event.shortName" data-just-count="true" data-style-class="event-statistic-highlighted"></div></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 visible-sm visible-xs">
                <div class="panel panel-info">
                    <div class="panel-body text-info">
                        <div class="row">
                            <div class="col-xs-3 col-md-2"><span class="fa fa-dollar icon-overview"></span></div>
                            <div class="col-xs-9 col-md-10 text-right"><a ui-sref="events.single.pending-payments({eventName: ctrl.event.shortName})" pending-payments-badge="" data-event-name="{{ctrl.event.shortName}}" data-style-class="event-statistic-highlighted"></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6" data-ng-if="!ctrl.event.freeOfCharge">
                <div class="panel panel-info">
                    <div class="panel-heading  hidden-xs hidden-sm">
                        <div class="panel-title">Gross income</div>
                    </div>
                    <div class="panel-body text-info">
                        <div class="row">
                            <div class="col-xs-3 col-md-4"><span class="fa fa-money icon-overview"></span></div>
                            <div class="col-xs-9 col-md-8 text-right"><span class="event-statistic-highlighted">{{ctrl.event.grossIncome | money:ctrl.event.currency:true}}</span> <span class="text-muted">{{ctrl.event.currency}}</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="visible-xs visible-sm"/>
        <div class="wMarginBottom hidden-xs hidden-sm">&nbsp;</div>
        <div class="row">
            <div class="col-xs-12 col-lg-6">
                <div class="row">
                    <div class="col-xs-2"><a ng-click="ctrl.increment()"><i class="fa fa-chevron-circle-left fa-2x"></i></a></div>
                    <div class="col-xs-8">
                        <p class="text-center" ng-if="ctrl.isEven()">Tickets confirmed, last two weeks</p>
                        <p class="text-center" ng-if="ctrl.isOdd()">Tickets confirmed, entire sale period</p>
                    </div>
                    <div class="col-xs-2"><a ng-click="ctrl.increment()" class="pull-right"><i class="fa fa-chevron-circle-right fa-2x"></i></a></div>
                </div>
                <div ng-if="ctrl.ticketsConfirmed > 0">
                    <event-two-weeks-bar ng-if="ctrl.isEven()" tickets="ctrl.confirmedTickets" event="ctrl.event"></event-two-weeks-bar>
                    <event-all-tickets-by-day ng-if="ctrl.isOdd()" tickets="ctrl.confirmedTickets" event="ctrl.event"></event-all-tickets-by-day>
                    <div style="padding-left:30px">
                        <ul class="list-unstyled">
                            <li>
                                <div class="tickets-pie-legend slice-success"></div>
                                <div class="tickets-pie-legend-text">Created Reservations</div>
                            </li>
                            <li>
                                <div class="tickets-pie-legend slice-warning"></div>
                                <div class="tickets-pie-legend-text">Confirmed Reservations</div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div ng-if="ctrl.ticketsConfirmed == 0">
                    <p class="text-warning text-center wMarginTop30px">Not enough data yet. Spread the word!</p>
                </div>
            </div>
            <div class="col-xs-12 col-lg-5 col-lg-offset-1">
                <event-tickets-pie event="ctrl.event"></event-tickets-pie>
            </div>
        </div>
