<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['./']">My events</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['./subscriptions']">Subscriptions</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['./organization-info']">My organization</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['./access-control']">Access Control</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['./groups']">Groups</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['./configuration']">Configuration</a>
  </li>
</ul>
