<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['./']"><svg-icon key="home"></svg-icon> My events</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['./subscriptions']">Subscriptions</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['./organization-info']"><svg-icon key="organization"></svg-icon> My organization</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['./access-control']">Access Control</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['./groups']">Groups</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['./configuration']"><svg-icon key="settings"></svg-icon> Configuration</a>
  </li>
</ul>
