<div class="container">
  <h1 translate="admin.api-key.new.title"></h1>

  <form [formGroup]="userForm" (ngSubmit)="save()">
    <div class="form-group my-3">
      <label
        for="UserOrganizationId"
        translate="admin.api-key.new.organization"
      ></label>

      <select
        id="UserOrganizationId"
        class="form-select form-control"
        formControlName="organizationId"
        [class.is-invalid]="
          organizationName?.invalid &&
          (organizationName?.dirty || organizationName?.touched)
        "
      >
        <option *ngFor="let org of organizations$ | async" [ngValue]="org.id">
          {{ org.name }}
        </option>
      </select>
    </div>

    <div class="form-group my-3">
      <label for="userRole" translate="admin.api-key.new.role"></label>

      <select
        id="userRole"
        class="form-select"
        formControlName="role"
        [class.is-invalid]="role?.invalid && (role?.dirty || role?.touched)"
      >
        <option *ngFor="let role of roles$ | async" [ngValue]="role.role">
          {{ role.description }}
        </option>
      </select>
    </div>

    <div class="form-group my-3">
      <label
        for="organizationDescription"
        translate="admin.api-key.new.description"
      >
      </label>

      <input
        type="text"
        id="organizationDescription"
        class="form-control"
        formControlName="description"
        [class.is-invalid]="
          organizationDescription?.invalid &&
          (organizationDescription?.dirty || organizationDescription?.touched)
        "
      />
    </div>

    <div class="d-flex justify-content-between">
      <div>
        <button
          class="btn btn-lg btn-outline-secondary"
          [routerLink]="['/access-control/users']"
          translate="admin.common.cancel"
        ></button>
      </div>

      <div>
        <button
          type="submit"
          class="btn btn-lg btn-primary"
          [disabled]="userForm.invalid"
          translate="admin.common.save"
        ></button>
      </div>
    </div>
  </form>
</div>
