<div class="modal-header">
    <h2 class="modal-title">Matching transaction for {{$ctrl.reservationId.substr(0, 8) | uppercase}} <span class="close" ng-click="$ctrl.cancel()"><i class="fa fa-1_5x fa-close"></i> </span></h2>
</div>
<div class="modal-body" ng-switch="$ctrl.credit">
    <dl class="dl">
        <dt>Payment id</dt>
        <dd ng-bind="$ctrl.paymentInfo.transaction.transactionId"></dd>
        <dt>Transaction timestamp</dt>
        <dd ng-bind="$ctrl.paymentInfo.transaction.timestamp | formatDate"></dd>
        <dt>Paid amount</dt>
        <dd>{{$ctrl.paymentInfo.transaction.priceInCents / 100 | money:$ctrl.paymentInfo.transaction.currency}}</dd>
    </dl>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-md-4 col-md-push-8 col-xs-12">
            <button class="btn btn-lg btn-success btn-block btn-block-xs" type="button" data-ng-click="$ctrl.confirm()">Confirm</button>
        </div>
        <div class="col-md-4 col-md-pull-4 col-xs-12">
            <button class="btn btn-lg btn-danger btn-block btn-block-xs" type="button" data-ng-click="$ctrl.discardPayment()">Flag as not valid</button>
        </div>
    </div>
</div>