<div class="container" container-fluid-responsive="">

    <div class="page-header">
        <h3>{{$ctrl.edit ? 'Update' : 'Add'}} Extension</h3>
    </div>
    <form role="form" name="script" ng-submit="$ctrl.save($ctrl.extension)" data-error-sensitive novalidate data-oncancel="$ctrl.cancel()">

        <div ng-if="$ctrl.errorMessage" class="alert alert-danger preformatted" ng-bind="$ctrl.errorMessage"></div>

        <div>
            <div class="form-group" bs-form-error="script.path">
                <label for="org">Path</label>
                <div class="form-inline">
                    <select id="org" class="form-control" ng-model="$ctrl.extension.translatedPath.organization" ng-change="$ctrl.updatePath()" ng-options="org.id as org.name for org in $ctrl.organizations">
                        <option value="">System</option>
                    </select>
                    <span class="text-muted" ng-if="$ctrl.extension.translatedPath.organization">/</span>
                    <select id="events" class="form-control" ng-model="$ctrl.extension.translatedPath.event" ng-change="$ctrl.updatePath()" ng-if="$ctrl.extension.translatedPath.organization !== undefined" ng-options="ev.id as ev.displayName for ev in $ctrl.allEvents | belongsToOrganization:$ctrl.extension.translatedPath.organization">
                        <option value="">All Events</option>
                    </select>
                    <span class="text-muted">/</span>
                    <div class="form-group form-group-inline" bs-form-error="script.name">
                        <input class="form-control" type="text" data-grab-focus id="script-name" name="name" data-ng-model="$ctrl.extension.name" pattern="^[A-Za-z0-9]+$" required>
                        <field-error data-form-obj="script" data-field-obj="script.name" data-required-pattern="'Letters and Numbers, no spaces / separators'"></field-error>
                    </div>
                </div>
            </div>

            <div class="form-group" bs-form-error="$ctrl.extension.enabled">
                <label for="script-enabled">Enabled</label>
                <input type="checkbox" data-grab-focus id="script-enabled" name="enabled" data-ng-model="$ctrl.extension.enabled">
                <field-error data-form-obj="script" data-field-obj="$ctrl.extension.enabled"></field-error>
            </div>

            <div class="form-group" bs-form-error="script.script">
                <div ui-ace="{
                              mode: 'javascript',
                              firstLineNumber: 1,
                              onLoad: $ctrl.initLoadListener()
                            }"></div>
                <field-error data-form-obj="script" data-field-obj="script.script"></field-error>
            </div>
        </div>
        <control-buttons data-form-obj="script" cancel-handler="$ctrl.cancel"></control-buttons>
    </form>
</div>
