<div>
    <a data-ui-sref="events.new">create new event</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>description</th>
            <th>schedule</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
    <tr data-ng-if="!events || events.length == 0">
        <td colspan="4">no events have been found. <a data-ui-sref="events.new">Create a new one</a></td>
    </tr>
    <tr data-ng-repeat="event in events">
        <td data-ng-class-even="'active'">{{event.id}}</td>
        <td data-ng-class-even="'active'">{{event.shortName}}</td>
        <td data-ng-class-even="'active'">{{event.description}}</td>
        <td data-ng-class-even="'active'">{{event.begin | date : 'dd/MM/yyyy HH:mm'}} / {{event.end | date : 'dd/MM/yyyy HH:mm'}}</td>
        <td data-ng-class-even="'active'"><a class="icon fa fa-pie-chart" data-ui-sref="events.detail({eventName: event.shortName})"></a></td>
    </tr>
    </tbody>
</table>

