<div>
    <a data-ui-sref="index.new-organization">add new organization</a>
</div>
<table class="table">
    <thead>
        <th>id</th>
        <th>name</th>
        <th>description</th>
        <th>actions</th>
    </thead>
    <tbody>
        <tr data-ng-if="!organizations || organizations.length == 0">
            <td colspan="4">no organization have been found. <a data-ui-sref="index.new-organization">Insert a new one</a></td>
        </tr>
        <tr data-ng-repeat="organization in organizations" data-ng-class-even="active">
            <td>{{organization.id}}</td>
            <td>{{organization.name}}</td>
            <td>{{organization.description}}</td>
            <td>actions</td>
        </tr>
    </tbody>
</table>
<div data-ui-view="newOrganization"></div>