<div data-ng-messages="fieldObj.$error" class="help-block">
    <div data-ng-message="minlength">The value should be at least {{minChar}} characters</div>
    <div data-ng-message="maxlength">Max {{maxChar}} characters allowed</div>
    <div data-ng-message="pattern">The value should match the following pattern: {{requiredPattern}}</div>
    <div data-ng-message="email">The e-mail is not valid</div>
    <div data-ng-message="url">The URL is not valid</div>
    <div data-ng-message="duplicate">The {{fieldLabel}} should not be duplicate</div>
    <div data-ng-message="value_already_in_use">{{fieldLabel}} is already in use</div>
    <div data-ng-message="date">Date is not valid</div>
</div>