<div class="container" container-fluid-responsive="">
    <div class="page-header">
        <h1>Subscriptions</h1>
        <small>Manage your subscriptions</small>
    </div>

    <div ng-if="$ctrl.organizations.length > 1" class="wMarginBottom30px">
        <div class="form-group form-group-inline">
            <label for="organizations" style="margin-right: 20px">Organization</label>
            <div class="btn-group" uib-dropdown>
                <button id="organizations" class="btn btn-default" uib-dropdown-toggle>
                    {{$ctrl.organization.name}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="organizations">
                    <li ng-repeat="org in $ctrl.organizations" role="menuitem">
                        <a ui-sref=".list({organizationId: org.id})">{{org.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div ui-view></div>
</div>