<form name="editSubscriptionForm" ng-submit="$ctrl.save(editSubscriptionForm, $ctrl.subscription)" ng-if="$ctrl.subscription">
    <h2>
        <span ng-if="!$ctrl.existing">Create new</span><span ng-if="$ctrl.existing">Edit</span> Subscription
    </h2>

    <div class="page-header">
        <h3>Title</h3>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6" data-ng-repeat="lang in $ctrl.selectedLanguages">
            <div class="form-group" bs-form-error="editSubscriptionForm['title-'+lang.locale]">
                <label for="title-{{lang.locale}}">{{lang.displayLanguage}}</label><a class="pull-right text-muted" ng-if="$ctrl.selectedLanguages.length > 1" title="remove {{lang.displayLanguage}}" ng-click="$ctrl.deselectLanguage(lang)"><i class="fa fa-trash"></i></a><display-commonmark-preview class="pull-right" style="margin-right: 20px" text="$ctrl.subscription.title[lang.locale]"></display-commonmark-preview>
                <textarea ng-model="$ctrl.subscription.title[lang.locale]" name="title-{{lang.locale}}" id="title-{{lang.locale}}" required class="form-control" ng-minlength="10" data-ng-maxlength="255"></textarea>
                <field-error data-form-obj="editSubscriptionForm" data-field-obj="editSubscriptionForm['title-'+lang.locale]" data-min-char="10" data-max-char="255" data-show-existing-errors="true"></field-error>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="btn-group" uib-dropdown is-open="isDropDownOpen" data-ng-if="$ctrl.availableLanguages.length > 0">
                <button id="single-button" type="button" class="btn btn-success" uib-dropdown-toggle>
                    Add translation <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li role="menuitem" data-ng-repeat="language in $ctrl.availableLanguages"><a ng-click="$ctrl.selectLanguage(language)">{{language.displayLanguage}}</a></li>
                </ul>
            </div>
        </div>
        <div class="col-xs-6">
            <common-mark-help></common-mark-help>
        </div>
    </div>
    <div class="page-header">
        <h3>Description</h3>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6" data-ng-repeat="lang in $ctrl.selectedLanguages">
            <div class="form-group" bs-form-error="editSubscriptionForm['description-'+lang.locale]">
                <label for="description-{{lang.locale}}">{{lang.displayLanguage}}</label><display-commonmark-preview class="pull-right" style="margin-right: 20px" text="$ctrl.subscription.description[lang.locale]"></display-commonmark-preview>
                <textarea ng-model="$ctrl.subscription.description[lang.locale]" name="description-{{lang.locale}}" id="description-{{lang.locale}}" required class="form-control" ng-minlength="10" data-ng-maxlength="{{$ctrl.descriptionMaxLength}}"></textarea>
                <field-error data-form-obj="editSubscriptionForm" data-field-obj="editSubscriptionForm['description-'+lang.locale]" data-min-char="10" data-max-char="{{$ctrl.descriptionMaxLength}}" data-show-existing-errors="true"></field-error>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-right">
            <common-mark-help></common-mark-help>
        </div>
    </div>

    <div class="page-header">
        <h3>URLs Configuration</h3>
        <small class="text-muted">Define how users can access your event and where the relevant links should point.</small>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="form-group" bs-form-error="editEventHeader.termsAndConditionsUrl">
                <label for="termsAndConditionsUrl">Terms and Conditions URL</label>
                <input type="url" url-text-field="" data-ng-model="$ctrl.subscription.termsAndConditionsUrl" name="termsAndConditionsUrl" id="termsAndConditionsUrl" required class="form-control" />
                <field-error data-form-obj="editSubscriptionForm" data-field-obj="editSubscriptionForm.termsAndConditionsUrl" data-show-existing-errors="false"></field-error>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="form-group" bs-form-error="editEventHeader.privacyPolicyUrl">
                <label for="privacyPolicyUrl">Privacy policy URL</label>
                <input type="url" url-text-field="" data-ng-model="$ctrl.subscription.privacyPolicyUrl" name="privacyPolicyUrl" id="privacyPolicyUrl" class="form-control" aria-describedby="privacyHelp"/>
                <small id="privacyHelp" class="help-block">Privacy policy link is optional. However, it is good practice to have one.</small>
            </div>
        </div>
    </div>

    <div class="page-header">
        <h3>Image</h3>
        <small class="text-muted">Upload an image for this subscription in PNG, JPG, GIF or SVG format.</small>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                <label for="imageFile">Image</label>
                <div id="imageFile" class="drop-file-zone wMarginBottom well"
                     data-accept="image/*" data-ngf-pattern="'image/*'"
                     data-ng-model="$ctrl.droppedFile"
                     data-ngf-drop data-ngf-select data-ngf-multiple="false" data-ngf-allow-dir="false" data-ngf-drag-over-class="'drop-file-zone-hover'">
                    Drop image here or click to upload (Maximum size : 1MB)
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div>
                <a class="pull-right text-muted" data-ng-if="$ctrl.imageBase64 && !$ctrl.subscription.id" data-ng-click="$ctrl.removeImage()"><i class="fa fa-times fa-2x"></i></a>
                <a class="pull-right text-muted" data-ng-if="$ctrl.imageBase64 && $ctrl.subscription.id" data-ng-click="$ctrl.resetImage()"><i class="fa fa-undo fa-2x"></i></a>
                <img data-ng-if="$ctrl.imageBase64 && !$ctrl.subscription.fileBlobId" data-ng-src="{{$ctrl.imageBase64}}" class="img-responsive center-block event-logo">
                <img data-ng-if="$ctrl.subscription.fileBlobId" data-ng-src="{{('/file/' + $ctrl.subscription.fileBlobId)}}" class="img-responsive center-block event-logo">
                <div class="alert alert-danger alert-form ng-invalid" data-ng-if="!$ctrl.imageBase64 && !$ctrl.subscription.fileBlobId"><i class="fa fa-warning"></i> Image is missing!</div>
            </div>
        </div>
    </div>

    <div class="page-header" ng-if="$ctrl.existing">
        <h3>
            Visibility:
            <span class="text-danger" ng-if="!$ctrl.subscription.isPublic">Hidden</span>
            <span class="text-success" ng-if="$ctrl.subscription.isPublic">Visible</span>
        </h3>
    </div>
    <div ng-if="$ctrl.existing">
        <div class="row">
            <div class="col-xs-8 col-md-6">
                <h4>
                    This Subscription is
                    <span class="text-danger" ng-if="!$ctrl.subscription.isPublic">Hidden</span>
                    <span class="text-success" ng-if="$ctrl.subscription.isPublic">Visible</span>
                    to the public.
                    <div ng-if="!$ctrl.subscription.isPublic">Only people who have a direct link can see it.</div>
                </h4>
            </div>
            <div class="col-xs-4 col-md-2">
                <button type="button" class="btn btn-lg" ng-class="{'btn-default': $ctrl.subscription.isPublic, 'btn-success': !$ctrl.subscription.isPublic}" ng-click="$ctrl.toggleVisibility()">
                    <span ng-if="$ctrl.subscription.isPublic"><i class="fa fa-eye-slash"></i> Hide</span>
                    <span ng-if="!$ctrl.subscription.isPublic"><i class="fa fa-eye"></i> Publish</span>
                </button>
            </div>

        </div>
    </div>

    <div class="page-header">
        <h3>Type</h3>
    </div>

    <div class="list-group">
        <a href="#" class="list-group-item" ng-class="{'active': $ctrl.preset === 'multipleEntries'}" ng-click="$ctrl.selectPreset('multipleEntries', $event)">
            <h4 class="list-group-item-heading">Multi-Access Pass</h4>
            <p class="list-group-item-text">Give full access to attendees for a defined number of events</p>
        </a>
        <a href="#" class="list-group-item" ng-class="{'active': $ctrl.preset === 'period'}" ng-click="$ctrl.selectPreset('period', $event)">
            <h4 class="list-group-item-heading">Monthly, Yearly or Daily Subscription</h4>
            <p class="list-group-item-text">Give full access to attendees for a period of time after they buy the subscription</p>
        </a>
        <a href="#" class="list-group-item" ng-class="{'active': $ctrl.preset === 'custom'}" ng-click="$ctrl.selectPreset('custom', $event)">
            <h4 class="list-group-item-heading">Custom</h4>
            <p class="list-group-item-text">Give full access to attendees only within a fixed date interval</p>
        </a>
    </div>

    <div ng-if="$ctrl.preset">
        <div class="page-header">
            <h3>Pricing and Sales Period</h3>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="form-group">
                    <label for="price">Price</label>
                    <input id="price" autocomplete="off" type="number" step="any" ng-model="$ctrl.subscription.price" class="form-control">
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="form-group">
                    <label for="currency">Currency</label>
                    <input id="currency" autocomplete="off" type="text" ng-model="$ctrl.subscription.currency" class="form-control" uib-typeahead="currency.code as currency.name for currency in $ctrl.currencies | filter:$viewValue | limitTo:8" required pattern="[A-Z]{3}">
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label for="vatStatus">Tax Policy</label>
                    <select id="vatStatus" ng-options="key as value for (key , value) in $ctrl.vatStatuses" ng-model="$ctrl.subscription.vatStatus" class="form-control"></select>
                </div>
            </div>
            <div class="col-sm-6 col-md-2" ng-if="$ctrl.subscription.vatStatus !== 'NONE'">
                <div class="form-group">
                    <label for="vat">Taxes %</label>
                    <input id="vat" type="number" min="0" step="any" ng-model="$ctrl.subscription.vat" class="form-control" ng-required="$ctrl.subscription.vatStatus !== 'NONE'">
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="form-group">
                    <label for="onSaleFrom">On Sale from</label>
                    <input id="onSaleFrom" autocomplete="off" single-date start-model="$ctrl.subscription.onSaleFromModel" ng-model="$ctrl.subscription.onSaleFromText" class="form-control">
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="form-group">
                    <label for="onSaleTo"><span class="sr-only">On Sale </span>to (optional)</label>
                    <input id="onSaleTo" autocomplete="off" single-date start-model="$ctrl.subscription.onSaleToModel" no-init-date="true" ng-model="$ctrl.subscription.onSaleToText" class="form-control">
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="form-group">
                    <label for="timeZone">Time Zone</label>
                    <select class="form-control" id="timeZone" name="timeZone" data-ng-model="$ctrl.subscription.timeZone" required ng-options="tz as tz for tz in $ctrl.timeZones"></select>
                </div>
            </div>
            <div class="col-sm-12 col-md-3">
                <div class="form-group">
                    <label for="maxAvailable">Max Available (optional)</label>
                    <input id="maxAvailable" type="number" autocomplete="off" ng-model="$ctrl.subscription.maxAvailable" class="form-control">
                    <small class="help-block">How many subscriptions can be sold<br>(empty = unlimited)</small>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label>Accepted Payment Methods</label>
                    <div class="checkbox" ng-repeat="p in $ctrl.paymentMethods">
                        <label><input type="checkbox" ng-model="p.selected"> {{p.description}}</label>
                    </div>

                </div>
            </div>
        </div>


        <div class="page-header">
            <h3>Subscription Details</h3>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6" ng-if="$ctrl.preset === 'multipleEntries'">
                <div class="form-group">
                    <label for="maxEntries">Number of access included</label>
                    <input id="maxEntries" type="number" ng-model="$ctrl.subscription.maxEntries" class="form-control" required>
                    <small class="help-block">How many times people can use this Subscription</small>
                </div>
            </div>
            <div class="col-sm-6 col-md-3" ng-if="$ctrl.preset === 'period'">
                <div class="form-group">
                    <label for="validityUnits">Duration of the subscription</label>
                    <input id="validityUnits" type="number" ng-model="$ctrl.subscription.validityUnits" class="form-control">
                </div>
            </div>
            <div class="col-sm-6 col-md-3" ng-if="$ctrl.preset === 'period'">
                <div class="form-group">
                    <label for="validityTimeUnit"><span class="sr-only">Time Unit</span>&nbsp;</label>
                    <select id="validityTimeUnit" ng-options="key as value for (key , value) in $ctrl.validityTimeUnits" ng-model="$ctrl.subscription.validityTimeUnit" class="form-control"></select>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <label for="usageType">Subscription can be used</label>
                    <select id="usageType" ng-options="key as value for (key , value) in $ctrl.subscriptionAvailabilityTypes" ng-model="$ctrl.subscription.usageType" class="form-control"></select>
                </div>
            </div>
        </div>
        <div class="row" ng-if="$ctrl.preset === 'custom'">
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <label for="validityFrom">Validity starts from</label>
                    <input id="validityFrom" autocomplete="off" single-date start-model="$ctrl.subscription.validityFromModel" ng-model="$ctrl.subscription.validityFromText" class="form-control">
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <label for="validityTo">Validity ends (optional)</label>
                    <input id="validityTo" autocomplete="off" single-date start-model="$ctrl.subscription.validityToModel" no-init-date="true" ng-model="$ctrl.subscription.validityToText" class="form-control">
                </div>
            </div>
        </div>
        <div class="page-header" ng-if="$ctrl.ticketsGenerationJobActive">
            <h3>Automatic tickets generation</h3>
        </div>
        <div class="checkbox" ng-if="$ctrl.ticketsGenerationJobActive">
            <label><input type="checkbox" ng-model="$ctrl.subscription.supportsTicketsGeneration"> Generate tickets automatically for compatible events</label>
            <small class="help-block">If enabled, each subscription holder will receive one ticket for present and future compatible events automatically.<br>Unless the subscriber has already used the subscription for that event, in which case no tickets will be generated.</small>
        </div>
        <hr class="wMarginTop30px"/>
        <div class="row wMarginBottom30px">
            <div class="col-md-4 col-md-push-8 col-xs-12">
                <button class="btn btn-lg btn-warning btn-block" data-ng-disabled="editSubscriptionForm.$waiting" style="margin-bottom: 10px">Save</button>
            </div>
            <div class="col-md-4 col-md-pull-4 col-xs-12">
                <button type="button" class="btn btn-lg btn-default btn-block" data-ng-disabled="editSubscriptionForm.$waiting" data-ng-click="$ctrl.cancel()" style="margin-bottom: 10px">Back</button>
            </div>
        </div>
    </div>
</form>
