<div class="modal-header">
    <h3>Linked events</h3>
</div>

<div class="modal-body">
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Price per Ticket</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="link in $ctrl.links">
                <td ng-bind="link.eventDisplayName"></td>
                <td ng-bind="link.formattedPricePerTicket | money:link.eventCurrency"></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal-footer">
    <div class="row">
        <div class="col-md-4 col-md-push-8 col-xs-12">
            <button class="btn btn-lg btn-warning btn-block" data-ng-click="$ctrl.dismiss()" style="margin-bottom: 10px">Close</button>
        </div>
    </div>
</div>