<div>
    <a data-ui-sref="events.new" class="btn btn-xs btn-success"><i class="fa fa-file-text-o"></i> create new event</a> <a class="btn btn-xs btn-warning" data-ui-sref="events.newLink"><i class="fa fa-external-link"></i> create a link to an external event</a>
</div>
<div class="text-center text-muted" data-ng-if="loading">
    <div class="wMarginTop">
        <i class="fa fa-cog fa-spin fa-3x"></i>
    </div>
</div>
<div class="table-responsive" data-ng-if="!loading">
    <table class="table">
        <thead>
            <tr>
                <th>name</th>
                <th class="hidden-xs">schedule</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        <tr data-ng-if="!events || events.length == 0">
            <td colspan="4">no events have been found. <a data-ui-sref="events.new">Create a new one</a></td>
        </tr>
        <tr data-ng-repeat="event in events" data-ng-class="{'bg-danger': event.warningNeeded, 'text-muted': event.expired}">
            <td data-ng-class-even="'active'">
                <span class="label label-danger" data-ng-if="event.warningNeeded"><i class="fa fa-warning" data-uib-tooltip="something wrong is happening..."></i></span>
                <a data-ui-sref="events.single.detail({eventName: event.shortName})">{{event.displayName}}</a>
            </td>
            <td data-ng-class-even="'active'" class="hidden-xs">{{event.formattedBegin | formatDate}} / {{event.formattedEnd | formatDate}}</td>
            <td data-ng-class-even="'active'" class="text-right">
                <a class="btn btn-primary btn-xs hidden-xs" data-ui-sref="events.single.detail({eventName: event.shortName})">
                    <i class="fa fa-bar-chart"></i> Detail
                </a>
                <a class="btn btn-primary btn-xs hidden-xs" data-ui-sref="events.single.configuration({eventName: event.shortName})">
                    <i class="fa fa-wrench"></i> Settings
                </a>
                <a class="btn btn-primary btn-xs" data-ng-if="!event.expired" data-ui-sref="events.single.checkIn({eventName: event.shortName})">
                    <i class="fa fa-check"></i> Check-In
                </a>
                <a data-ng-if="supportsOfflinePayments(event)" class="btn btn-warning btn-xs" data-ui-sref="events.single.pending-reservations({eventName: event.shortName})">
                    <i class="fa fa-dollar"></i> Pending payments <pending-reservations-badge data-event-name="{{event.shortName}}"></pending-reservations-badge>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>