<div>
    <a data-ui-sref="index.new-organization">add new organization</a>
</div>
<div class="text-center text-muted" data-ng-if="orgList.loading">
    <div class="wMarginTop">
        <i class="fa fa-cog fa-spin fa-3x"></i>
    </div>
</div>
<div class="table-responsive" data-ng-if="!loading">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>name</th>
                <th class="hidden-xs" width="35%">description</th>
                <th width="30%">e-mail</th>
                <th width="10%">actions</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-if="!orgList.organizations || orgList.organizations.length == 0">
                <td colspan="4">no organizations have been found. <a data-ui-sref="index.new-organization">Insert a new one</a></td>
            </tr>
            <tr data-ng-repeat="organization in orgList.organizations">
                <td>{{organization.name}}</td>
                <td class="hidden-xs"><div class="organization-description" data-uib-tooltip="{{organization.description}}">{{organization.description}}</div></td>
                <td>{{organization.email}}</td>
                <td class="text-center">
                    <a class="btn btn-xs btn-default" data-ui-sref="index.edit-organization({organizationId:organization.id})" data-uib-tooltip="Edit"><i class="fa fa-edit"></i><span class="sr-only">Edit</span></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div data-ui-view="newOrganization"></div>