<div class="sidebar menu-spacer">
    <section data-ng-if="ctrl.event">
        <ul class="list-inline">
            <li role="presentation" data-uib-dropdown data-ng-if="ctrl.internal">
                <a data-uib-dropdown-toggle id="actions-dpdwn" class="btn btn-default"><i class="fa fa-pencil"></i> Actions <span class="caret"></span></a>
                <ul class="dropdown-menu" data-uib-dropdown-menu role="menu" aria-labelledby="actions-dpdwn">
                    <li role="menuitem" data-ui-sref-active="active"><a data-ui-sref="events.single.configuration({eventName: ctrl.event.shortName})"><i class="fa fa-wrench"></i> edit configuration</a></li>
                    <li role="menuitem" data-ui-sref-active="active"><a data-ui-sref="events.single.compose-custom-message({eventName: ctrl.event.shortName})"><i class="fa fa-envelope"></i> compose message</a></li>
                    <li role="menuitem" data-ui-sref-active="active" data-ng-if="!ctrl.event.expired"><a data-ui-sref="events.single.checkIn({eventName: ctrl.event.shortName})"><i class="fa fa-check"></i> Check-in</a></li>
                    <li role="menuitem" data-ui-sref-active="active"><a ng-click="ctrl.openDeleteWarning(ctrl.event)"><i class="fa fa-trash"></i> Delete</a></li>
                </ul>
            </li>
            <li role="presentation" data-uib-dropdown data-is-open="ctrl.isDownloadOpen" >
                <a data-uib-dropdown-toggle id="download-dpdwn" class="btn btn-default"><i class="fa fa-download"></i> Download <span class="caret"></span></a>
                <ul class="dropdown-menu" data-uib-dropdown-menu role="menu" aria-labelledby="download-dpdwn">
                    <li role="menuitem"><a data-ng-click="ctrl.openFieldSelectionModal()"><i class="fa fa-users"></i> attendees' data</a></li>
                    <li role="menuitem"><a data-ng-click="ctrl.downloadSponsorsScan()" ><i class="fa fa-barcode"></i> sponsors scan</a></li>
                </ul>
            </li>
        </ul>
        <ul class="list-unstyled">
            <li data-ng-if="ctrl.internal && ctrl.isDetail">
                <label class="control-label text-muted" for="sidebarCategoryFilter"><h4>Categories</h4></label>
            </li>
            <li data-ng-if="ctrl.internal && ctrl.isDetail">
                <form class="form-inline">
                    <label>
                        <div class="input-group">
                            <input type="search" id="sidebarCategoryFilter" data-ng-change="ctrl.filterChanged()" data-ng-model="ctrl.categoryFilter.freeText" class="form-control input-sm" placeholder="Filter...">
                            <div class="input-group-addon"><i class="fa fa-search"></i></div>
                        </div>
                    </label>
                </form>
            </li>
            <li data-ng-if="ctrl.internal && ctrl.isDetail">
                <ul class="nav nav-pills nav-stacked">
                    <li data-ng-repeat="category in ctrl.event.ticketCategories | orderBy: ['id'] | showSelectedCategories : ctrl.categoryFilter"><a data-ng-click="ctrl.goToCategory(category)"><i class="fa fa-ticket"></i> {{category.name}}</a></li>
                    <li data-ng-if="(ctrl.event.ticketCategories | showSelectedCategories : ctrl.categoryFilter).length === 0">nothing found</li>
                </ul>
            </li>
        </ul>
        <ul class="list-unstyled">
            <li>
                <h4 class="text-muted">Details</h4>
            </li>
            <li>
                <ul class="nav nav-pills nav-stacked" data-ng-if="ctrl.internal">
                    <li role="presentation" data-ng-if="ctrl.isDetail">
                        <a data-ng-click="ctrl.navigateTo('promo-codes')"><i class="fa fa-percent"></i> Promo Codes</a>
                    </li>
                    <li role="presentation" data-ng-if="ctrl.isDetail">
                        <a data-ng-click="ctrl.navigateTo('additional-fields')"><i class="fa fa-info-circle"></i> Additional Fields</a>
                    </li>
                    <li role="presentation" data-ng-if="ctrl.isDetail">
                        <a data-ng-click="ctrl.navigateTo('donation-options')"><i class="fa fa-dollar"></i> Donation options</a>
                    </li>
                    <li data-ng-if="!ctrl.isDetail">
                        <a data-ui-sref="events.single.detail({eventName: ctrl.event.shortName})"><i class="fa fa-arrow-left"></i> back to event detail</a>
                    </li>
                    <li role="presentation" data-ui-sref-active="active">
                        <a data-ui-sref="events.single.email-log({eventName:ctrl.event.shortName})"><i class="fa fa-paper-plane-o"></i> e-mail log</a>
                    </li>
                    <li role="presentation" data-ui-sref-active="active">
                        <a data-ui-sref="events.single.plugin-log({eventName:ctrl.event.shortName})"><i class="fa fa-plug"></i> Plugins log</a>
                    </li>
                </ul>
            </li>
            <li><h4 class="text-muted">Status</h4></li>
            <li>
                <ul class="nav nav-pills nav-stacked" data-ng-if="ctrl.internal">
                    <li role="presentation" data-ui-sref-active="active">
                        <waiting-queue-display-counter style-class="emulate-nav-pills-link" data-event="ctrl.event"></waiting-queue-display-counter>
                    </li>
                    <li role="presentation" data-ng-if="ctrl.event" data-ui-sref-active="active">
                        <pending-reservations-link style-class="emulate-nav-pills-link" data-event="ctrl.event"></pending-reservations-link>
                    </li>
                </ul>
            </li>
        </ul>
        <hr />
    </section>
    <section data-ng-if="ctrl.isConfiguration()">
        <div>
            <h4>Configuration</h4>
        </div>

        <ul class="list-unstyled">
            <li>
                <h4 class="text-muted">Level</h4>
            </li>
            <li>
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation" data-ui-sref-active="active">
                        <a data-ui-sref="configuration.system"><i class="fa fa-globe"></i> System</a>
                    </li>
                    <li role="presentation" data-ui-sref-active="active" data-ng-repeat="org in ctrl.organizations">
                        <a data-ui-sref="configuration.organization({organizationId: org.id})"><i class="fa fa-users"></i> {{org.name}}</a>
                        <ul>
                            <li data-ng-repeat="ev in org.events" data-ui-sref-active="subitem-active">
                                <a data-ui-sref="configuration.event({organizationId: org.id, eventId: ev.id})">{{ev.shortName}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
    <footer data-ng-if="ctrl.currentView !== 'UNKNOWN'">
        <h5 class="text-muted">Powered by <a href="https://alf.io" target="_blank">Alf.io</a> v.{{ctrl.applicationInfo.version}}</h5>
    </footer>
</div>