<div class="sidebar menu-spacer">
    <section data-ng-if="ctrl.event">
        <ul class="list-inline">
            <li role="presentation" data-uib-dropdown data-ng-if="ctrl.internal && ctrl.owner">
                <a data-uib-dropdown-toggle id="actions-dpdwn" class="btn btn-default"><i class="fa fa-pencil"></i> Actions <span class="caret"></span></a>
                <ul class="dropdown-menu" data-uib-dropdown-menu role="menu" aria-labelledby="actions-dpdwn">
                    <li role="menuitem" data-ui-sref-active="active" data-ng-if="!ctrl.event.expired"><a data-ui-sref="events.single.create-reservation({eventName: ctrl.event.shortName})"><i class="fa fa-magic"></i> create reservation</a></li>
                    <li role="menuitem" data-ui-sref-active="active" data-ng-if="!ctrl.event.expired"><a data-ui-sref="events.single.import-reservation({eventName: ctrl.event.shortName})"><i class="fa fa-upload"></i> import attendees</a></li>
                    <li role="menuitem" data-ui-sref-active="active"><a data-ui-sref="events.single.configuration({eventName: ctrl.event.shortName})"><i class="fa fa-wrench"></i> edit configuration</a></li>
                    <li role="menuitem" data-ui-sref-active="active"><a data-ui-sref="events.single.show-resources({eventName: ctrl.event.shortName})"><i class="fa fa-file-text-o" aria-hidden="true"></i> customize templates</a></li>
                    <li role="menuitem" data-ui-sref-active="active" data-ng-if="!ctrl.event.expired"><a data-ui-sref="events.single.compose-custom-message({eventName: ctrl.event.shortName})"><i class="fa fa-envelope"></i> compose message</a></li>
                    <li role="menuitem" ng-if="ctrl.event.status === 'PUBLIC' && !ctrl.event.expired"><a ng-click="ctrl.deactivateEvent(ctrl.event)"><i class="fa fa-eye-slash"></i> hide from list</a></li>
                    <li role="menuitem" data-ui-sref-active="active"><a data-ui-sref="events.single.checkIn({eventName: ctrl.event.shortName})"><i class="fa fa-check"></i> Check-in</a></li>
                    <li role="menuitem" data-ui-sref-active="active"><a data-ui-sref="events.new({eventName: ctrl.event.shortName})"><i class="fa fa-copy"></i> Copy this event</a></li>
                    <li role="menuitem" data-ui-sref-active="active"><a ng-click="ctrl.openDeleteWarning(ctrl.event)"><i class="fa fa-trash"></i> Delete</a></li>
                </ul>
            </li>
            <li role="presentation" data-uib-dropdown data-is-open="ctrl.isDownloadOpen" ng-if="ctrl.owner">
                <a data-uib-dropdown-toggle id="download-dpdwn" class="btn btn-default"><i class="fa fa-download"></i> Download <span class="caret"></span></a>
                <ul class="dropdown-menu" data-uib-dropdown-menu role="menu" aria-labelledby="download-dpdwn">
                    <li role="menuitem"><a data-ng-click="ctrl.openFieldSelectionModal()"><i class="fa fa-users"></i> attendees' data</a></li>
                    <li role="menuitem"><a data-ng-click="ctrl.openWaitingQueueModal()" ><i class="fa fa-group"></i> waiting list</a></li>
                    <li role="menuitem"><a data-ng-click="ctrl.downloadSponsorsScan()" ><i class="fa fa-barcode"></i> sponsors scan</a></li>
                    <li role="menuitem"><a data-ng-click="ctrl.downloadInvoices()" ><i class="fa fa-file-o"></i> all Billing Documents (PDF)</a></li>
                    <li role="menuitem"><a data-ng-click="ctrl.downloadInvoices('xls')" ><i class="fa fa-file-o"></i> all Billing Documents (Excel)</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav nav-pills nav-stacked" data-ng-if="!ctrl.owner">
            <li>
                <h4 class="text-muted">Actions</h4>
            </li>
            <li data-ng-if="!ctrl.isDetail">
                <a data-ui-sref="events.single.detail({eventName: ctrl.event.shortName})"><i class="fa fa-arrow-left"></i> back to event detail</a>
            </li>
            <li><a data-ui-sref="events.single.create-reservation({eventName: ctrl.event.shortName})"><i class="fa fa-magic"></i> create reservation</a></li>
            <li><a data-ui-sref="events.single.checkIn({eventName: ctrl.event.shortName})"><i class="fa fa-check"></i> Check-in</a></li>
        </ul>
        <ul class="list-unstyled" ng-if="ctrl.owner">
            <li data-ng-if="ctrl.internal && ctrl.isDetail">
                <label class="control-label text-muted" for="sidebarCategoryFilter"><h4>Categories</h4></label>
            </li>
            <li data-ng-if="ctrl.internal && ctrl.isDetail">
                <form class="form-inline">
                    <label>
                        <div class="input-group">
                            <input type="search" id="sidebarCategoryFilter" data-ng-change="ctrl.filterChanged()" data-ng-model="ctrl.categoryFilter.freeText" class="form-control input-sm" placeholder="Filter...">
                            <div class="input-group-addon"><i class="fa fa-search"></i></div>
                        </div>
                    </label>
                </form>
            </li>
            <li data-ng-if="ctrl.internal && ctrl.isDetail">
                <ul class="nav nav-pills nav-stacked">
                    <li data-ng-repeat="category in ctrl.event.ticketCategories | orderBy: ['id'] | showSelectedCategories : ctrl.categoryFilter"><a data-ng-click="ctrl.goToCategory(category)"><i class="fa fa-paperclip"></i> {{category.name}}</a></li>
                    <li data-ng-if="(ctrl.event.ticketCategories | showSelectedCategories : ctrl.categoryFilter).length === 0">nothing found</li>
                </ul>
            </li>
        </ul>
        <ul class="list-unstyled" ng-if="ctrl.owner">
            <li>
                <h4 class="text-muted">Details</h4>
            </li>
            <li>
                <ul class="nav nav-pills nav-stacked" data-ng-if="ctrl.internal">
                    <li data-ng-if="!ctrl.isDetail">
                        <a data-ui-sref="events.single.detail({eventName: ctrl.event.shortName})"><i class="fa fa-arrow-left"></i> back to event detail</a>
                    </li>
                    <li role="presentation" data-ui-sref-active="active">
                        <a ui-sref="events.single.dataToCollect({eventName: ctrl.event.shortName})"><i class="fa fa-info-circle"></i> Attendees' data to collect</a>
                    </li>
                    <li role="presentation" data-ui-sref-active="active">
                        <a ui-sref="events.single.promoCodes({eventName: ctrl.event.shortName})"><i class="fa fa-percent"></i> {{ctrl.promoCodeDescription}} Codes</a>
                    </li>
                    <li role="presentation" data-ui-sref-active="active" data-ng-if="!ctrl.freeOfCharge">
                        <a ui-sref="events.single.additionalServices({eventName: ctrl.event.shortName})"><i class="fa fa-money"></i> Additional options</a>
                    </li>
                    <li role="presentation" data-ui-sref-active="active">
                        <a ui-sref="events.single.polls-list({eventName: ctrl.event.shortName})"><i class="fa fa-bar-chart-o"></i> Polls</a>
                    </li>
                    <li role="presentation" data-ui-sref-active="active" data-ng-if="!ctrl.freeOfCharge">
                        <a ui-sref="events.single.donations({eventName: ctrl.event.shortName})"><i class="fa fa-gift"></i> Donation options</a>
                    </li>
                    <li role="presentation" data-ui-sref-active="active">
                        <a data-ui-sref="events.single.reservationsList({eventName:ctrl.event.shortName})"><i class="fa fa-ticket"></i> Reservations</a>
                    </li>
                    <li role="presentation" data-ui-sref-active="active" data-ng-if="!ctrl.freeOfCharge">
                        <a data-ui-sref="events.single.paymentsList({eventName:ctrl.event.shortName})"><i class="fa fa-dollar"></i> Confirmed Payments</a>
                    </li>
                    <li role="presentation" data-ui-sref-active="active">
                        <a data-ui-sref="events.single.email-log({eventName:ctrl.event.shortName})"><i class="fa fa-paper-plane-o"></i> E-mail log</a>
                    </li>
                </ul>
            </li>
            <li ng-if="ctrl.owner"><h4 class="text-muted">Status</h4></li>
            <li ng-if="ctrl.owner">
                <ul class="nav nav-pills nav-stacked" data-ng-if="ctrl.internal">
                    <li role="presentation" ng-if="ctrl.event" data-ui-sref-active="active">
                        <waiting-queue-display-counter style-class="emulate-nav-pills-link" event-name="ctrl.event.shortName"></waiting-queue-display-counter>
                    </li>
                    <li role="presentation" data-ng-if="ctrl.event && ctrl.offlineEnabled" data-ui-sref-active="active">
                        <pending-payments-link style-class="emulate-nav-pills-link" data-event="ctrl.event" data-event-name="ctrl.event.shortName"></pending-payments-link>
                    </li>
                </ul>
            </li>
        </ul>
        <hr />
    </section>
    <section data-ng-if="ctrl.isConfiguration()">
        <div>
            <h4>Configuration</h4>
        </div>

        <ul class="list-unstyled">
            <li>
                <h4 class="text-muted">Level</h4>
            </li>
            <li>
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation" data-ui-sref-active="active">
                        <a data-ui-sref="configuration.system"><i class="fa fa-globe"></i> System</a>
                    </li>
                    <li role="presentation" data-ui-sref-active="active" data-ng-repeat="org in ctrl.organizations">
                        <a data-ui-sref="configuration.organization({organizationId: org.id})"><i class="fa fa-users"></i> {{org.name}}</a>
                        <ul>
                            <li data-ng-repeat="ev in org.events" data-ui-sref-active="subitem-active">
                                <a data-ui-sref="configuration.event({organizationId: org.id, eventId: ev.id})">{{ev.shortName}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        <hr/>
        <ul class="list-unstyled">
            <li>
                <h4 class="text-muted">Go to</h4>
            </li>
            <li>
                <ul class="nav nav-pills nav-stacked">
                    <li data-ng-repeat="s in ctrl.settingCategories">
                        <a ng-click="ctrl.navigateTo(s.id)">{{s.name}} <i class="fa fa-chevron-right pull-right"></i> </a>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
    <footer data-ng-if="ctrl.currentView !== 'UNKNOWN'">
        <h5 class="text-muted">Powered by <a href="https://alf.io" target="_blank">Alf.io</a> v.{{ctrl.applicationInfo.version}}</h5>
        <small><a href="https://github.com/alfio-event/alf.io/issues" target="_blank">report an issue</a> or <a href="https://github.com/alfio-event/alf.io/discussions" target="_blank" rel="nofollow noopener noreferrer">ask for help</a></small>
    </footer>
</div>