<app-section-dashboard [hasMenu]="true">
  <div menu>
    <app-event-menu></app-event-menu>
  </div>
  <div *ngIf="event$ | async as event">
    <h2 class="my-4">{{ event.displayName }}</h2>
  </div>
  <hr />
  <div class="row">
    <div class="col-6 col-md-3">
      <div class="card flex-fill mx-3">
        <div class="card-header text-center">Total tickets confirmed</div>
        <div class="card-body d-flex justify-content-between">
          <div>
            <svg-icon key="ticket" width="70px" height="70px"></svg-icon>
          </div>
          <div class="fs-1">0</div>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-3">
      <div class="card flex-fill mx-3">
        <div class="card-header text-center">Total tickets confirmed</div>
        <div class="card-body d-flex justify-content-between">
          <div>
            <svg-icon key="ticket" width="70px" height="70px"></svg-icon>
          </div>
          <div class="fs-1">0</div>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-6">
      <div class="card flex-fill mx-3">
        <div class="card-header text-center">Total tickets confirmed</div>
        <div class="card-body d-flex justify-content-between">
          <div>
            <svg-icon key="ticket" width="70px" height="70px"></svg-icon>
          </div>
          <div class="fs-1">0</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <canvas
        baseChart
        width="400"
        height="400"
        [type]="'line'"
        [data]="lineChartData"
        [options]="lineChartOptions"
        [legend]="lineChartLegend"
      >
      </canvas>
    </div>
    <div class="col-6">
      <canvas
        baseChart
        [type]="'pie'"
        [datasets]="pieChartDatasets"
        [labels]="pieChartLabels"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        [legend]="pieChartLegend"
      >
      </canvas>
    </div>
  </div>
</app-section-dashboard>
