<app-section-dashboard [hasMenu]="true">
  <div menu>
    <app-event-menu></app-event-menu>
  </div>
  <div *ngIf="event$ | async as event">
    <h2 class="my-4">{{ event.displayName }}</h2>
  </div>
  <hr />
  <div *ngIf="eventOrganizationInfo$ | async as eventOrganizationInfo">
    <div *ngIf="eventOrganizationInfo.event.displayStatistics" class="row">
      <div class="col-6 col-md-3">
        <div class="card flex-fill mx-3">
          <div class="card-header text-center">Total tickets confirmed</div>
          <div class="card-body d-flex justify-content-between">
            <div>
              <svg-icon key="ticket" width="70px" height="70px"></svg-icon>
            </div>

            <div class="fs-1">
              {{
                eventOrganizationInfo.event.soldTickets +
                  eventOrganizationInfo.event.checkedInTickets
              }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="card flex-fill mx-3">
          <div class="card-header text-center">Tickets pending</div>
          <div class="card-body d-flex justify-content-between">
            <div>
              <svg-icon
                key="hourglass-top"
                width="70px"
                height="70px"
              ></svg-icon>
            </div>
            <div class="fs-1">
              {{ eventOrganizationInfo.event.pendingTickets }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-6">
        <div
          class="card flex-fill mx-3"
          *ngIf="!eventOrganizationInfo.event.freeOfCharge"
        >
          <div class="card-header text-center">Gross income</div>
          <div class="card-body d-flex justify-content-between">
            <div>
              <svg-icon key="piggy-bank" width="70px" height="70px"></svg-icon>
            </div>
            <div class="fs-1">
              {{ eventOrganizationInfo.event.grossIncome }}
              {{ eventOrganizationInfo.event.currency }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row my-4">
      <div class="col-6 d-flex justify-content-center align-items-center">
        <canvas
          width="700px"
          height="200"
          baseChart
          [type]="'line'"
          [data]="lineChartData"
          [options]="lineChartOptions"
          [legend]="lineChartLegend"
        >
        </canvas>
      </div>

      <div class="col-6 d-flex justify-content-center align-items-center">
        <canvas
          baseChart
          [type]="'pie'"
          [data]="pieChartData"
          [options]="pieChartOptions"
          [legend]="true"
        >
        </canvas>
      </div>
    </div>
  </div>

  <div class="card" *ngIf="event$ | async as event">
    <div class="card-header">Logistic Info and description</div>
    <div
      class="card-body"
      *ngIf="eventOrganizationInfo$ | async as eventOrganizationInfo"
    >
      <div class="row">
        <div class="col-2">
          <img
            src="/file/{{ eventOrganizationInfo.event.fileBlobId }}"
            alt=""
            class="img-fluid"
          />
        </div>
        <div class="col-6">
          <dl class="row">
            <dt class="col-sm-3">Public URL</dt>
            <dd class="col-sm-9">
              <a
                [href]="
                  (instanceSetting$ | async)?.baseUrl +
                  '/event/' +
                  eventOrganizationInfo.event.shortName
                "
                target="_blank"
                rel="noopener"
                >{{
                  (instanceSetting$ | async)?.baseUrl +
                    "/event/" +
                    eventOrganizationInfo.event.shortName
                }}</a
              >
            </dd>
            <dt class="col-sm-3">Organized by</dt>
            <dd class="col-sm-9">
              {{ eventOrganizationInfo.organization.name }} &lt;{{
                eventOrganizationInfo.organization.email
              }}&gt;
            </dd>
            <dt class="col-sm-3">Website URL</dt>
            <dd class="col-sm-9">
              <a
                href="{{ eventOrganizationInfo.event.websiteUrl }}"
                target="_blank"
                rel="noopener"
                >{{ eventOrganizationInfo.event.websiteUrl }}</a
              >
            </dd>
            <dt class="col-sm-3">T&C URL</dt>
            <dd class="col-sm-9">
              <a
                href="{{ eventOrganizationInfo.event.termsAndConditionsUrl }}"
                target="_blank"
                rel="noopener"
                >{{ eventOrganizationInfo.event.termsAndConditionsUrl }}</a
              >
            </dd>
            <dt
              *ngIf="eventOrganizationInfo.event.privacyPolicyUrl"
              class="col-sm-3"
            >
              Privacy Policy URL
            </dt>
            <dd
              *ngIf="eventOrganizationInfo.event.privacyPolicyUrl"
              class="col-sm-9"
            >
              <a
                href="{{ eventOrganizationInfo.event.privacyPolicyUrl }}"
                target="_blank"
                rel="noopener"
                >{{ eventOrganizationInfo.event.privacyPolicyUrl }}</a
              >
            </dd>
            <dt *ngIf="!eventOrganizationInfo.event.online" class="col-sm-3">
              Location
            </dt>
            <dd *ngIf="!eventOrganizationInfo.event.online" class="col-sm-9">
              <a
                href="{{ eventOrganizationInfo.event.location }}"
                target="_blank"
                rel="noopener"
                >{{ eventOrganizationInfo.event.location }}</a
              >
            </dd>
            <dt class="col-sm-3">Languages</dt>
            <dd class="col-sm-9">
              <ul class="breadcrumb language-breadcrumb mb-0">
                <li
                  class="breadcrumb-item"
                  *ngFor="
                    let language of eventOrganizationInfo.event.contentLanguages
                  "
                >
                  <span>{{ language.displayLanguage | titlecase }}</span>
                </li>
              </ul>
            </dd>
            <dt class="col-sm-3">Start Date/Time</dt>
            <dd class="col-sm-9">
              {{ eventOrganizationInfo.event.formattedBegin | date }}
            </dd>
            <dt class="col-sm-3">End Date/Time</dt>
            <dd class="col-sm-9">
              {{ eventOrganizationInfo.event.formattedEnd | date }}
            </dd>
            <dt class="col-sm-3">Time Zone</dt>
            <dd class="col-sm-9">{{ eventOrganizationInfo.event.timeZone }}</dd>
          </dl>
        </div>
        <div class="col-4">
          <ul ngbNav #nav="ngbNav" class="nav-tabs">
            <li
              *ngFor="
                let language of eventOrganizationInfo.event.description
                  | keyvalue;
                let i = index
              "
              [ngbNavItem]="language.key"
            >
              <a ngbNavLink>{{ language.key }}</a>
              <ng-template ngbNavContent>
                <pre class="pt-3">{{ language.value }}</pre>
              </ng-template>
            </li>
          </ul>

          <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>
      </div>
      <hr />
      <div class="d-flex flex-row-reverse">
        <button class="btn btn-lg btn-primary">Edit</button>
      </div>
    </div>
  </div>
  <div
    class="card mt-5"
    *ngIf="eventOrganizationInfo$ | async as eventOrganizationInfo"
  >
    <div class="card-header">Seats and payment info</div>
    <div class="card-body">
      <div class="row">
        <div class="col-xs-12 col-lg-6">
          <dl class="row">
            <dt class="col-sm-3">Tickets Price</dt>
            <dd class="col-sm-9">
              <span *ngIf="eventOrganizationInfo.event.freeOfCharge"
                >Free of charge</span
              >
              <span *ngIf="!eventOrganizationInfo.event.freeOfCharge">{{
                eventOrganizationInfo.event.regularPrice
                  | currency : eventOrganizationInfo.event.currency || ""
              }}</span>
            </dd>
            <dt
              class="col-sm-3"
              *ngIf="!eventOrganizationInfo.event.freeOfCharge"
            >
              Payment methods
            </dt>
            <dd
              class="col-sm-9"
              *ngIf="!eventOrganizationInfo.event.freeOfCharge"
            >
              {{
                eventOrganizationInfo.event.allowedPaymentProxies
                  | translatePaymentProxies
              }}
              <!-- <div
                class="text-warning"
                data-ng-if="(allowedPaymentProxies | paymentMethodFilter : true : event.currency).length > 0"
              >
                <i class="fa fa-info-circle"></i> The following Methods are not
                available:
                <span
                  data-ng-repeat="p in allowedPaymentProxies | paymentMethodFilter : true : event.currency"
                  >{{ p.id }}<span data-ng-if="!$last">, </span></span
                >. Please check that the provider support the selected currency or
                the
                <a
                  data-ui-sref="configuration.organization({organizationId: event.organizationId})"
                  >configuration</a
                >.
              </div> -->
            </dd>
            <dt class="col-sm-3">Max tickets</dt>
            <dd class="col-sm-9">
              {{ eventOrganizationInfo.event.availableSeats }}
            </dd>
            <dt
              class="col-sm-3"
              *ngIf="!eventOrganizationInfo.event.freeOfCharge"
            >
              VAT (%)
            </dt>
            <dd
              class="col-sm-9"
              *ngIf="!eventOrganizationInfo.event.freeOfCharge"
            >
              {{ eventOrganizationInfo.event.vatPercentage | currency : "" }}
            </dd>
            <dt
              class="col-sm-3"
              *ngIf="!eventOrganizationInfo.event.freeOfCharge"
            >
              Final Price
            </dt>
            <dd
              class="col-sm-9"
              *ngIf="!eventOrganizationInfo.event.freeOfCharge"
            >
              {{
                eventOrganizationInfo.event.finalPrice
                  | currency : eventOrganizationInfo.event.currency || ""
              }}
            </dd>
          </dl>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr />
          <div class="d-flex flex-row-reverse">
            <button class="btn btn-lg btn-primary">Edit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-section-dashboard>
