<div class="modal-header">
    <h2 class="modal-title">Create Join Link for Guest</h2>
</div>
<form name="joinLinkForm" novalidate data-ng-submit="$ctrl.save(joinLinkForm)" data-error-sensitive="">
    <div class="modal-body">
        <div class="page-header">
            <h3>Guest Data</h3>
            <span>Please enter the Guest Data in order to include them in the link.</span>
        </div>
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" data-grab-focus="" name="firstName" class="form-control" required id="firstName" data-ng-model="$ctrl.guest.firstName">
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" name="lastName" class="form-control" required id="lastName" data-ng-model="$ctrl.guest.lastName">
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" class="form-control" required id="email" data-ng-model="$ctrl.guest.email">
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-md-4 col-md-push-8 col-xs-12">
                <button class="btn btn-lg btn-warning btn-block" data-ng-disabled="joinLinkForm.$waiting || joinLinkForm.$invalid" style="margin-bottom: 10px">Create</button>
            </div>
            <div class="col-md-4 col-md-pull-4 col-xs-12">
                <button type="button" class="btn btn-lg btn-default btn-block" data-ng-disabled="joinLinkForm.$waiting" data-ng-click="$ctrl.cancel()" style="margin-bottom: 10px">Cancel</button>
            </div>
        </div>
    </div>
</form>