<h4 class="text-center text-danger" data-ng-if="$ctrl.showMetadataWarning()"><i class="fa fa-warning"></i> Configuration for online meeting URLs is missing. Please add it before <strong>{{$ctrl.event.formattedBegin | formatDate}}</strong>.</h4>
<div class="row" data-ng-if="$ctrl.metadataPresent()">
    <div class="col-xs-12"></div>
</div>
<div class="h3">Meeting Links</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Link</th>
            <th>Active from</th>
            <th>to</th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="callLink in $ctrl.metadata.onlineConfiguration.callLinks">
            <td><a ng-href="{{callLink.link}}" target="_blank">{{callLink.link}}</a></td>
            <td data-ng-bind="callLink.validFrom | formatDate"></td>
            <td data-ng-bind="callLink.validTo | formatDate"></td>
        </tr>
    </tbody>
</table>

<div data-ng-if="$ctrl.showRequirements()">
    <div class="h3">Prerequisites for attending</div>

    <uib-tabset>
        <uib-tab heading="{{$ctrl.languageDescription(lang)}}" data-ng-repeat="(lang, value) in $ctrl.metadata.requirementsDescriptions">
            <div style="padding-top:2px; text-align:right"><display-commonmark-preview text="value"></display-commonmark-preview></div>
            <pre class="white text-muted">{{value}}</pre>
        </uib-tab>
    </uib-tabset>
</div>

<hr>

<div class="row">
    <div class="col-md-2 col-md-push-10 col-xs-12">
        <button type="button" class="btn btn-warning btn-block" data-ng-click="$ctrl.edit()">Edit</button>
    </div>
</div>

