<div class="modal-header">
    <h2 class="modal-title">Online Event settings</h2>
</div>
<form name="metadataForm" novalidate data-ng-submit="$ctrl.save(metadataForm)" data-error-sensitive="">
    <div class="modal-body">
        <div class="page-header">
            <h3>Meeting Links</h3>
            <span>Please insert one or more target links where the attendees must be redirected to attend the event</span>
        </div>
        <div class="row" data-ng-repeat="callLink in $ctrl.callLinks">
            <div class="col-xs-12 col-md-5" data-ng-if="callLink != $ctrl.selectedCallLink">
                <div class="form-group">
                    <label>Meeting Link </label>
                    <input data-ng-if="!$ctrl.enableVideoStream" type="url" data-ng-model="callLink.link" required autocomplete="off" class="form-control" url-text-field="">
                    <div data-ng-if="$ctrl.enableVideoStream" class="input-group">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-success" data-ng-click="$ctrl.chooseVideo(callLink)" title="Choose recorded video"><i class="fa fa-tv"></i></button>
                        </span>
                        <input type="url" data-ng-model="callLink.link" required autocomplete="off" class="form-control" url-text-field="">
                    </div><!-- /input-group -->
                </div>

            </div>
            <div class="col-xs-12 col-md-3" data-ng-if="callLink != $ctrl.selectedCallLink">
                <div class="form-group">
                    <label for="{{'start-'+$index}}">Active from</label>
                    <input type="text" required single-date data-start-model="callLink.validFrom" max-date="$ctrl.event.formattedEnd" data-ng-model="callLink.validFromString" class="form-control" id="{{'start-'+$index}}">
                </div>
            </div>
            <div class="col-xs-12 col-md-3" data-ng-if="callLink != $ctrl.selectedCallLink">
                <div class="form-group">
                    <label for="{{'end-'+$index}}">To</label>
                    <input type="text" required single-date data-start-model="callLink.validTo" max-date="$ctrl.event.formattedEnd" data-ng-model="callLink.validToString" class="form-control" id="{{'end-'+$index}}">
                </div>
            </div>
            <div class="col-xs-12 col-md-1" data-ng-if="callLink != $ctrl.selectedCallLink">
                <div class="form-group">
                    <label></label>
                    <div class="form-control-static">
                        <button type="button" data-ng-disabled="$last && metadataForm.$invalid" data-ng-click="$ctrl.buttonClick($index)" class="btn btn-block" data-ng-class="{'btn-success': $last, 'btn-danger': !$last}"><i class="fa" data-ng-class="{'fa-plus': $last, 'fa-trash': !$last}"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-md-6" data-ng-if="callLink == $ctrl.selectedCallLink">
                <label>Select a video</label>
                <div data-ng-if="$ctrl.videoListLoading"><i class="fa fa-refresh"></i></div>
                <div class="small" style="max-height: 200px; overflow-y: auto">
                    <table class="table table-sm">
                        <tbody>
                        <tr ng-style="{'background-color': video == $ctrl.selectedVideo ? 'lightgreen' : 'none' }" style="cursor: pointer;"
                            data-ng-click="$ctrl.previewVideo(video, callLink)" data-ng-repeat="video in $ctrl.videoList">
                            <td>{{video.name}}</td>
                            <td>{{video.date | date:"MM/dd/yyyy HH:mm:ss"}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <button data-ng-click="$ctrl.selectedCallLink = null" type="button" class="btn btn-sm btn-default pull-right"><i class="fa fa-times"></i> Cancel</button>
                </div>
            </div>
            <div style="border-left: 1px dashed gray;" class="col-md-6 text-center" data-ng-if="callLink == $ctrl.selectedCallLink">
                <label > {{$ctrl.selectedVideo.name}} </label>
                <div ng-if="$ctrl && $ctrl.selectedVideo">
                    <video controls preload="auto" height="200px" >
                        <!--                        <source src="{{$ctrl.getVStream($ctrl.selectedVideo.name)}}" type="video/mp4" />-->
                        <source src="{{$ctrl.selectedVideo.previewUrl}}" type="video/mp4" />
                    </video>
                    <button data-ng-click="$ctrl.selectVideo(callLink)" type="button" class="btn btn-sm btn-success"><i class="fa fa-check"></i> Select this video</button>
                </div>
            </div>
        </div>
        <div class="page-header">
            <h3>Prerequisites for attending</h3>
            <span>Here you can define what the attendees are expected to do <b>before</b> attending the event. i.e. what software to install, what to read, etc.</span>
        </div>
        <div class="btn-group" uib-dropdown is-open="isDropDownOpen" data-ng-if="$ctrl.notSelectedLanguages.length > 0">
            <button id="single-button" type="button" class="btn btn-success" uib-dropdown-toggle>
                Add prerequisites <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                <li role="menuitem" data-ng-repeat="language in $ctrl.notSelectedLanguages"><a ng-click="$ctrl.addPrerequisite(language.language)">{{language.displayLanguage}}</a></li>
            </ul>
        </div>
        <div class="form-group" data-ng-repeat="(lang, value) in $ctrl.prerequisites">
            <label for="{{'prerequisite-'+$lang}}">{{$ctrl.languageDescription(lang)}}</label>
            <textarea data-ng-model="$ctrl.prerequisites[lang]" name="{{'prerequisite-'+$lang}}" id="{{'prerequisite-'+$lang}}" class="form-control" placeholder="Prerequisites for attending, {{$ctrl.languageDescription(lang)}}"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-md-4 col-md-push-8 col-xs-12">
                <button class="btn btn-lg btn-warning btn-block" data-ng-disabled="metadataForm.$waiting || metadataForm.$invalid" style="margin-bottom: 10px">Confirm</button>
            </div>
            <div class="col-md-4 col-md-pull-4 col-xs-12">
                <button type="button" class="btn btn-lg btn-default btn-block" data-ng-disabled="metadataForm.$waiting" data-ng-click="$ctrl.cancel()" style="margin-bottom: 10px">Cancel</button>
            </div>
        </div>
    </div>
</form>