@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/variables";

:host ::ng-deep .toast {

  @include media-breakpoint-down(lg) {
    position: fixed;
    top: 0;
    left: 0;
    margin: 2em;
    max-width: unset;
    background-color: white;
  }

  @include media-breakpoint-up(lg) {
    position: fixed;
    bottom: 20px;
    right: 0;
    margin: 2rem;
  }

  padding: 0;
  z-index: 101;

  .toast-body {
    padding: 0;
  }
}

.message {
  padding: 1rem;
  font-size: $font-size-base * 1.1;
}
