@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/variables";

:host {
  --header-height: 58px;
}

header {
  height: var(--header-height);
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: var(--header-height) 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

.sidebar-sticky {
  height: calc(100vh - var(--header-height));
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

$sidebarWidth: 76px;

nav#sidebarMenu {
  @include media-breakpoint-up(md) {
    width: $sidebarWidth;
  }

  a {
    text-decoration: none;
    color: $text-muted;
    font-size: 70%;
    font-weight: normal;
    text-align: center;
    margin-bottom: 1rem;

    &.active {
      color: $primary;
      font-weight: bold;
    }

    &:hover {
      color: $primary;
    }

    svg-icon,
    svg {
      display: flex;
      align-self: center;
    }
  }
}

main {
  @include media-breakpoint-up(md) {
    width: calc(100% - $sidebarWidth);
  }
}

@include media-breakpoint-up(md) {
  .profile-menu-container .dropdown-menu[data-bs-popper] {
    width: 100%;
    right: 0;
    left: unset;
  }
}
