<div class="container">
    <form role="form" name="newReservation" ng-submit="$ctrl.submit(newReservation)" error-sensitive="newReservation" novalidate>
        <div class="page-header">
            <h1>Create reservation for {{$ctrl.event.displayName}}</h1>
        </div>

        <div ng-if="!$ctrl.fastCreation">
            <div class="page-header">
                <h3>Contact info</h3>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label for="customerFirstName">First name</label>
                        <input class="form-control" id="customerFirstName" name="customerFirstName" ng-model="$ctrl.reservation.customerData.firstName" required>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label for="customerLastName">Last name</label>
                        <input class="form-control" id="customerLastName" name="customerLastName" ng-model="$ctrl.reservation.customerData.lastName" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label for="customerEmailAddress">Email Address</label>
                        <input type="email" class="form-control" id="customerEmailAddress" name="customerEmailAddress" ng-model="$ctrl.reservation.customerData.emailAddress" required>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label for="language">Language</label>
                        <select class="form-control" id="language" ng-options="l.locale as l.displayLanguage for l in $ctrl.languages" name="language" ng-model="$ctrl.reservation.language" required></select>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="$ctrl.fastCreation && $ctrl.languages.length > 1">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label for="language">Language</label>
                        <select class="form-control" id="language" ng-options="l.locale as l.displayLanguage for l in $ctrl.languages" name="language" ng-model="$ctrl.reservation.language" required></select>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-header">
            <h3>Reservation details</h3>
            <small class="text-muted">You can create tickets for one or more <i>Ticket Category</i>, either existing or dedicated (new).</small>
        </div>

        <div class="panel panel-default wMarginBottom" ng-repeat="ticketInfo in $ctrl.reservation.ticketsInfo">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-9"><div class="panel-title">Attendees for Category {{ $ctrl.getCategoryDescription(ticketInfo, ($index + 1))}}</div></div>
                    <div class="col-xs-3" ng-if="!$first">
                        <div class="pull-right"><button class="btn btn-sm btn-default" ng-click="$ctrl.removeTicketInfo($index)"><i class="fa fa-trash"></i> delete</button></div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <h4>Insert Attendees <a class="btn btn-xs btn-default" ng-click="ticketInfo.attendeesHelpExpanded = !ticketInfo.attendeesHelpExpanded"><i class="fa fa-info-circle"></i> help</a></h4>
                <div uib-collapse="!ticketInfo.attendeesHelpExpanded" class="panel">
                    <h4>Attendees:</h4>
                    <p>You can handle attendees' data in different ways</p>
                    <ul>
                        <li><strong>Insert attendees manually</strong>: add attendees' data, one by one.</li>
                        <li><strong>Upload CSV</strong>: import attendees' data using a CSV file.</li>
                        <li><strong>Reserve empty seats</strong>: create the reservation without specifying who will attend the event. This could be useful if you want to send the reservation link to the contact person for filling the data.</li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="btn-group j-btn-group">
                            <label class="btn btn-default" ng-model="ticketInfo.attendeeStrategy" uib-btn-radio="'fullData'"><i class="fa fa-address-card"></i> <span class="hidden-xs hidden-sm">Insert attendees</span> manually</label>
                            <label class="btn btn-default hidden-xs hidden-sm" ng-model="ticketInfo.attendeeStrategy" uib-btn-radio="'CSV'"><i class="fa fa-upload"></i> Upload CSV</label>
                            <label class="btn btn-default" ng-model="ticketInfo.attendeeStrategy" uib-btn-radio="'noData'"><i class="fa fa-user-times"></i> <span class="hidden-xs hidden-sm">Reserve</span> empty seats</label>
                        </div>
                    </div>
                </div>
                <!-- no data -->
                <div class="row wMarginTop10px" ng-if="ticketInfo.attendeeStrategy == 'noData'">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="ticketInfo-{{$index}}-currentAttendees">Nr. of seats</label>
                            <input type="number" class="form-control" id="ticketInfo-{{$index}}-currentAttendees" min="1" step="1" ng-change="$ctrl.updateAttendeesSize(ticketInfo)" ng-model="ticketInfo.currentAttendeesLength"  required>
                        </div>
                    </div>
                </div>

                <!-- upload CSV -->
                <div class="wMarginTop10px" ng-if="ticketInfo.attendeeStrategy == 'CSV'">
                    <h4>File Specifications:</h4>
                    <h5><strong>General</strong></h5>
                    <span>Please create a CSV file without header, using commas (<strong>,</strong>) as separator, double quotes (<strong>"</strong>) as quote character and backslash (<strong>\</strong>) as escaping character</span>
                    <h5><strong>Row specification</strong></h5>
                    <pre>
                        <span class="text-info">FirstName</span>,<span class="text-danger">LastName</span><strong>,</strong><span class="text-warning">email@host.tld</span>

                        where:

                        <span class="text-info">FirstName</span> is the first name of the attendee
                        <span class="text-danger">LastName</span> is the last name of the attendee
                        <span class="text-warning">email@host.tld</span> is the email of the attendee (the ticket will be sent to this address)
                    </pre>
                </div>

                <file-upload accept="'text/csv'" read-as-text="true" success-callback="ticketInfo.parseFileContent" direct-handling="true" ng-if="ticketInfo.attendeeStrategy == 'CSV'"></file-upload>

            </div>

            <!-- full data -->
            <ul class="list-group wMarginTop10px" ng-if="ticketInfo.attendeeStrategy == 'fullData'">
                <li class="list-group-item" ng-repeat="attendee in ticketInfo.attendees">
                    <div class="list-group-item-text row">
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">
                                <label for="attendee-{{$index}}-firstName">Attendee {{$index + 1}} First name</label>
                                <input type="text" class="form-control" id="attendee-{{$index}}-firstName" required name="attendee-{{$index}}-first" ng-model="attendee.firstName">
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">
                                <label for="attendee-{{$index}}-lastName">Last name</label>
                                <input type="text" class="form-control" id="attendee-{{$index}}-lastName" required name="attendee-{{$index}}-last" ng-model="attendee.lastName">
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">
                                <label for="attendee-{{$index}}-emailAddress">E-Mail</label>
                                <input type="email" class="form-control" id="attendee-{{$index}}-emailAddress" required name="attendee-{{$index}}-emailAddress" ng-model="attendee.emailAddress">
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="pull-right">
                                <button class="btn btn-sm btn-default" ng-click="$ctrl.removeAttendee(ticketInfo, $index)" ng-if="!$first"><i class="fa fa-trash"></i> delete</button>
                                <button class="btn btn-sm btn-success" ng-click="$ctrl.addAttendee(ticketInfo)" ng-if="$last"><i class="fa fa-plus"></i> add Attendee</button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

            <div class="panel-body">
                <h4>Assign attendees to a Ticket Category <a class="btn btn-xs btn-default" ng-click="ticketInfo.ticketInfoHelpExpanded = !ticketInfo.ticketInfoHelpExpanded"><i class="fa fa-info-circle"></i> help</a></h4>
                <div uib-collapse="!ticketInfo.ticketInfoHelpExpanded" class="panel">
                    <p>You can choose whether to assign attendees to <strong>existing</strong> tickets belonging to an existing category or to create a new, <strong>restricted</strong> category just for those attendees.</p>
                    <h5><strong>Use Existing</strong></h5>
                    <p>You'll reserve existing seats from an existing category. If the number of attendees exceeds the number of available seats in the category</p>
                    <ol>
                        <li><strong>and</strong> there are still tickets not allocated to other categories, then the number of seats of the category will be increased accordingly.</li>
                        <li><strong>and</strong> the "add extra seats..." option has been selected, then the number of seats of the event will be increased accordingly.</li>
                    </ol>
                    <p>if none of the conditions are met, the reservation will not be created.</p>

                    <h5><strong>Create new</strong></h5>
                    <p>A new restricted category will be created specifically for this category. The system will check if there are enough available seats in the event.</p>
                    <p>If that's not the case, <strong>and</strong> the "add extra seats..." option has been selected, then the number of seats of the event will be increased accordingly.
                        Otherwise the reservation will not be created.</p>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="btn-group j-btn-group">
                            <label class="btn btn-default" ng-model="ticketInfo.categoryType" uib-btn-radio="'existing'" ng-click="$ctrl.resetCategory(ticketInfo)"><i class="fa fa-paperclip"></i> Use existing</label>
                            <label class="btn btn-default" ng-model="ticketInfo.categoryType" uib-btn-radio="'custom'" ng-click="$ctrl.resetCategory(ticketInfo)"><i class="fa fa-plus-square-o"></i> Create new</label>
                        </div>
                    </div>
                </div>
                <div class="row wMarginTop10px" ng-switch="ticketInfo.categoryType">
                    <div class="col-xs-12" ng-switch-when="existing">
                        <div class="form-group">
                            <label for="ticketInfo-{{$index}}-categoryType">Existing category</label>
                            <select class="form-control" required ng-options="c.id as c.name for c in $ctrl.categories" ng-model="ticketInfo.category.existingCategoryId" id="ticketInfo-{{$index}}-categoryType"></select>
                        </div>
                    </div>
                    <div class="col-xs-12" ng-switch-when="custom">
                        <div class="row">
                            <div class="col-xs-6" ng-class="{'col-md-6': $ctrl.event.freeOfCharge, 'col-md-4': !$ctrl.event.freeOfCharge}">
                                <div class="form-group">
                                    <label for="ticketInfo-{{$index}}-name">Name</label>
                                    <input type="text" class="form-control" data-grab-focus="" ng-model="ticketInfo.category.name" required id="ticketInfo-{{$index}}-name" />
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-3" ng-if="$ctrl.event.format === 'HYBRID'">
                                <div class="form-group">
                                    <label for="ticketInfo-{{$index}}-category-access-type">Ticket Holders can access the event</label>
                                    <select data-ng-model="ticketInfo.category.ticketAccessType" name="ticketAccessType" id="ticketInfo-{{$index}}-category-access-type" class="form-control" required data-ng-options="accessType.id as accessType.description for accessType in $ctrl.ticketAccessTypes"></select>
                                </div>
                            </div>
                            <div class="col-xs-6" ng-if="!$ctrl.event.freeOfCharge" ng-class="{'col-md-2': $ctrl.event.format === 'HYBRID', 'col-md-4': $ctrl.event.format !== 'HYBRID'}">
                                <div class="form-group">
                                    <label for="ticketInfo-{{$index}}-price">Ticket price {{$ctrl.event.currency}}</label>
                                    <input type="number" min="0" class="form-control" ng-model="ticketInfo.category.price" required id="ticketInfo-{{$index}}-price" />
                                </div>
                            </div>
                            <div class="col-xs-6" ng-if="!$ctrl.event.freeOfCharge" ng-class="{'col-md-2': $ctrl.event.format === 'HYBRID', 'col-md-4': $ctrl.event.format !== 'HYBRID'}">
                                <div class="form-group">
                                    <label>Final ticket price</label>
                                    <div class="form-control-static">
                                        {{$ctrl.calculateTotalPrice(ticketInfo.category.price) | money : ($ctrl.event.currency || "")}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="checkbox">
                            <label><input type="checkbox" ng-model="ticketInfo.addSeatsIfNotAvailable" id="ticketInfo-{{$index}}-addSeatsIfNotAvailable" value="true"> Add extra seats to event if needed</label>
                        </div>
                        <div class="alert alert-warning" ng-if="ticketInfo.addSeatsIfNotAvailable && ticketInfo.category.existingCategoryId"><i class="fa fa-warning"></i> If you add tickets to a public category and the reservation expires, any added seats will be released to the public.</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row wMarginBottom">
            <div class="col-xs-12">
                <button class="btn btn-sm btn-success pull-right" ng-click="$ctrl.addTicketInfo()"><i class="fa fa-plus"></i> add Attendees for another Category</button>
            </div>
        </div>

        <div uib-alert type="danger" close="$ctrl.hideMessages()" data-ng-if="$ctrl.errorMessage"><i class="fa fa-times"></i> {{$ctrl.errorMessage}}</div>

        <hr>

        <control-buttons data-form-obj="newReservation" cancel-handler="$ctrl.reinit" success-text="Save and continue"></control-buttons>
    </form>
</div>