@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

.StripeElement {
    box-sizing: border-box;

    height: $input-height;

    padding: 0.5rem $input-padding-x;

    border: $input-border-width solid $input-border-color;
    border-radius: $input-border-radius;
    background-color: $input-bg;

    box-shadow: $input-box-shadow;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    background-color: $input-bg;
    border-color: $input-focus-border-color;
    color: $input-focus-color;
    outline: 0;
    -webkit-box-shadow: $input-focus-box-shadow;
    box-shadow: $input-focus-box-shadow;
}

.StripeElement--invalid {
    border-color: $form-feedback-invalid-color;
    -webkit-box-shadow: 0 0 0 $input-focus-width rgba($form-feedback-invalid-color, .25);
    box-shadow: 0 0 0 $input-focus-width rgba($form-feedback-invalid-color, .25);
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}
