<div class="modal-header">
    <h3>Delete Ticket Category "{{category.name}}"</h3>
</div>


<form name="addFieldForm" ng-submit="deleteCategory()">
	<div class="modal-body">
        <h5>
            Are you sure you want to delete the ticket category "{{category.name}}"?
        </h5>
	</div>

	<div class="modal-footer">
        <div class="col-md-4 col-md-push-8 col-xs-12">
            <button type="submit" class="btn btn-lg btn-danger btn-block">Confirm deletion</button>
        </div>
        <div class="col-md-4 col-md-pull-4 col-xs-12">
            <button type="button" class="btn btn-lg btn-default btn-block" data-ng-click="cancel()">Cancel</button>
        </div>
	</div>
</form>