<div class="modal-header">
    <h3>Download waiting list data</h3>
</div>
<div class="modal-body">
    <p>
        <label><input type="radio" name="format" value="excel" ng-model="format"> Excel</label>
        <label><input type="radio" name="format" value="csv" ng-model="format"> csv</label>
    </p>
</div>
<div class="modal-footer">
    <div class="pull-right">
        <button class="btn btn-primary" type="button" data-ng-click="download()" ><i class="fa fa-download"></i> download waiting list data</button>
        <button class="btn btn-default" type="button" data-ng-click="ctrl.close()"><i class="fa fa-times"></i> close</button>
    </div>
</div>
