<div class="page-header">
    <h3>Base information</h3>
</div>

<div class="text-right" ng-if="!ticketCategory.sticky && ticketCategory.id === undefined">
    <button ng-click="event.ticketCategories.splice(event.ticketCategories.indexOf(ticketCategory), 1)" class="btn btn-warning"><i class="fa fa-trash"></i> Remove</button>
</div>

<div class="form-group" bs-form-error="ticketCategory.name">
    <label for="{{buildPrefix($index, 'name')}}">Name</label>
    <input type="text" data-ng-model="ticketCategory.name" name="{{buildPrefix($index, 'name')}}" id="{{buildPrefix($index, 'name')}}" class="form-control" required />
    <field-error data-form-obj="ticketCategory" data-field-obj="ticketCategory.name" data-show-existing-errors="showExistingErrors"></field-error>
</div>

<div class="form-group" ng-if="showTicketAccessTypes">
    <label for="accessType">Ticket Holders can access the event</label>
    <select data-ng-model="ticketCategory.ticketAccessType" name="ticketAccessType" id="accessType" class="form-control" required data-ng-options="accessType.id as accessType.description for accessType in ticketAccessTypes"></select>
</div>

<div class="form-group" data-ng-repeat="(lang, language) in definedLanguages">
    <label for="{{buildPrefix($index, 'description.'+lang)}}">Description: {{language.displayLanguage}} <display-commonmark-preview text="ticketCategory.description[language.locale]"></display-commonmark-preview></label>
    <textarea data-ng-model="ticketCategory.description[language.locale]" name="{{buildPrefix($index, 'description.'+lang)}}" id="{{buildPrefix($index, 'description.'+lang)}}" class="form-control" placeholder="Description of {{ticketCategory.name}} category" data-ng-maxlength="descriptionLimit"></textarea>
</div>
<div class="row">
    <div class="col-xs-6">
        <div class="btn-group" uib-dropdown is-open="isDropDownOpen" data-ng-if="availableLanguages.length > 0">
            <button id="single-button" type="button" class="btn btn-success" uib-dropdown-toggle>
                Add description <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                <li role="menuitem" data-ng-repeat="(lang, language) in availableLanguages"><a ng-click="addDescription(language)">{{language.displayLanguage}}</a></li>
            </ul>
        </div>
    </div>
    <div class="col-xs-6">
        <common-mark-help></common-mark-help>
    </div>
</div>



<div class="page-header">
    <h3>Tickets and sales</h3>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label for="tokenGenerationRequested">Visibility</label> <a class="btn btn-xs btn-default" ng-click="toggleCategoryVisibilityCollapse()"><i class="fa fa-info-circle"></i> help</a>
            <select class="form-control" ng-change="onTokenGenerationRequestedChange()" id="tokenGenerationRequested" name="tokenGenerationRequested" ng-model="ticketCategory.tokenGenerationRequested" required ng-options="type.tokenGenerationRequested as type.name for type in categoryTypes">
            </select>
        </div>
    </div>
</div>
<div class="alert alert-info" uib-collapse="helpCategoryVisibilityCollapse">
    <span class="close" ng-click="toggleCategoryVisibilityCollapse()">x</span>
    <h4><i class="fa fa-info-circle"></i> Category visibility</h4>
    <p>Categories can be {{categoryTypes[0].name}} (that is, visible to everybody) or {{categoryTypes[1].name}} (visible after inserting an access code)</p>
    <ul class="list-group">
        <li class="list-group-item help">
            <div class="list-group-item-heading"><strong>{{categoryTypes[0].name}}</strong></div>
            <div class="list-group-item-text">
                <p>Everyone can buy/get a ticket for this category. This is the default option.</p>
                <p>Some examples:</p>
                <ul>
                    <li>General Admission</li>
                    <li>Early Bird</li>
                    <li>Promotional price</li>
                </ul>
            </div>
        </li>
        <li class="list-group-item help">
            <div class="list-group-item-heading"><strong>{{categoryTypes[1].name}}</strong></div>
            <div class="list-group-item-text">
                <p>Only a restricted group of people can access and get tickets for this category. Once you create a {{categoryTypes[1].name}} category, the system will generate a set of unique codes (one code per seat) that can be used to reserve a ticket for this category.</p>
                <p><strong>{{categoryTypes[1].name}} categories need to allocate a fixed number of tickets to work, and therefore they are only compatible with "{{allocationStrategies[1].name}}" ticket allocation strategy</strong></p>
                <p>Some examples:</p>
                <ul>
                    <li>VIP access</li>
                    <li>Speakers</li>
                    <li>Staff</li>
                </ul>
            </div>
        </li>
    </ul>
</div>

<div class="row">
    <div class="col-xs-12 col-lg-6">
        <div class="form-group">
            <label for="bounded">Ticket allocation strategy</label> <a class="btn btn-xs btn-default" ng-click="toggleAllocationStrategyCollapse()"><i class="fa fa-info-circle"></i> help</a>
            <select id="bounded" class="form-control" name="bounded" ng-model="ticketCategory.bounded" required ng-options="strategy.bounded as strategy.name for strategy in allocationStrategies"></select>
        </div>
    </div>
    <div class="col-xs-12 col-lg-6" ng-if="ticketCategory.bounded">
        <div class="form-group" bs-form-error="ticketCategory.maxTickets">
            <label for="{{buildPrefix($index, 'maxTickets')}}">Number of tickets</label>
            <input type="number" min="0" data-ng-model="ticketCategory.maxTickets" name="{{buildPrefix($index, 'maxTickets')}}" id="{{buildPrefix($index, 'maxTickets')}}" class="form-control" required />
            <field-error data-form-obj="ticketCategory" data-field-obj="ticketCategory.maxTickets" data-show-existing-errors="showExistingErrors"></field-error>
        </div>
    </div>
</div>

<div class="alert alert-info" uib-collapse="helpAllocationStrategyCollapse">
    <span class="close" ng-click="toggleAllocationStrategyCollapse()">x</span>
    <h4><i class="fa fa-info-circle"></i> Ticket allocation strategy</h4>
    <p>You must decide how to distribute available seats between categories. <br><strong>The recommended option for most use cases is: "{{allocationStrategies[0].name}}"</strong></p>
    <ul class="list-group">
        <li class="list-group-item help">
            <div class="list-group-item-heading"><h5><strong>{{allocationStrategies[0].name}}</strong></h5></div>
            <div class="list-group-item-text">
                <p>This category doesn't allocate tickets exclusively, instead it shares them with other dynamic categories, if any. This is useful if you have only one category or if you have different ways to sell the same seat.</p>
                <p>Some examples:</p>
                <ul>
                    <li>An association organizes a workshop. Members of said association pay 100 CHF, external people pay 200 CHF. There is no limit on how many tickets can be bought by external people.</li>
                    <li>A group of people organize a conference. The event is free of charge and open to everybody.</li>
                </ul>
            </div>
        </li>
        <li class="list-group-item help">
            <div class="list-group-item-heading"><h5><strong>{{allocationStrategies[1].name}}</strong></h5></div>
            <div class="list-group-item-text">
                <p>Select this option if you want to <strong>allocate exclusively</strong> a fixed number of tickets for this category.</p>
                <p>Some examples:</p>
                <ul>
                    <li>A group of people organize a conference. During the first week, as "launch party", they decide to sell <strong>up to</strong> 50 tickets with a 50% discount.</li>
                    <li>A group of people organize a conference. While the "Call for Papers" is open, they decide to sell <strong>up to</strong> 150 tickets at a "Blind Bird" price (-25%).</li>
                    <li>A group of people organize a conference. They want to allocate <strong>50</strong> tickets for the Speakers.</li>
                </ul>
            </div>
        </li>
    </ul>
</div>

<div class="row">
    <div class="col-xs-12" ng-class="{'col-lg-6': !event.freeOfCharge}">
        <div class="form-group" bs-form-error="ticketCategory.dateString">
            <label for="{{buildPrefix($index, 'dateString')}}">On sale starting from / until</label>
            <input type="text" data-date-range data-start-model="ticketCategory.inception" data-end-model="ticketCategory.expiration" data-watch-obj="event.begin" data-start-date="ticketCategory.notBefore" data-ng-model="ticketCategory.dateString" name="{{buildPrefix($index, 'dateString')}}" id="{{buildPrefix($index, 'dateString')}}" class="form-control" required />
            <field-error data-form-obj="ticketCategory" data-field-obj="ticketCategory.dateString" data-show-existing-errors="showExistingErrors"></field-error>
        </div>
    </div>
    <div class="col-xs-12 col-lg-6" ng-if="!event.freeOfCharge">
        <div class="form-group" bs-form-error="ticketCategory.price">
            <label for="{{buildPrefix($index, 'price')}}">Price</label>
            <div class="input-group">
                <input type="number" min="0" data-ng-model="ticketCategory.price" name="{{buildPrefix($index, 'price')}}" id="{{buildPrefix($index, 'price')}}" class="form-control" required />
                <div class="input-group-addon">{{event.currency}}</div>
            </div>
            <field-error data-form-obj="ticketCategory" data-field-obj="ticketCategory.price" data-show-existing-errors="showExistingErrors"></field-error>
        </div>
    </div>
</div>

<div class="page-header">
    <h3>Direct reservation link</h3>
    <small>You can define a direct reservation link for each category, either public or restricted, and then distribute it.</small><br>
    <small>When someone clicks on the link, a new 1-ticket reservation will be created for this category.</small>
</div>

<div class="row">
    <div class="col-xs-12 col-md-6">
        <div class="form-group" bs-form-error="ticketCategory.code">
            <label for="{{buildPrefix($index, 'code')}}">Code</label>
            <input type="text" ng-model="ticketCategory.code" id="{{buildPrefix($index, 'code')}}" name="{{buildPrefix($index, 'code')}}" class="form-control" pattern="^[A-Za-z0-9_\-:@!$*,;]*$">
            <field-error data-form-obj="ticketCategory" data-field-obj="ticketCategory.code" data-show-existing-errors="showExistingErrors"></field-error>
            <span id="helpBlock" class="help-block">Allowed characters: Letters, numbers, and <code>-:_@!$*,;</code>. Spaces are not allowed.</span>
        </div>
    </div>
    <div class="col-xs-12 col-md-6" ng-if="ticketCategory.code && ticketCategory.code.length > 0">
        <div class="form-group">
            <label>Access URL</label>
            <p class="form-control-static">
                {{baseUrl}}/e/{{event.shortName}}/c/{{ticketCategory.code}}
            </p>
        </div>
    </div>
</div>

<div class="page-header">
    <h3>Tickets validity</h3>
    <small>it will be reflected on Ticket PDF, Apple(tm) Pass, Calendar invitation</small>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label for="validityType" class="control-label">Ticket is valid</label>
            <select id="validityType" class="form-control" name="validityType" ng-model="ticketValidityType" ng-options="type.code as type.description for type in ticketValidityTypes"></select>
        </div>
    </div>
</div>
<div class="row" ng-if="ticketValidityType == 'DAYS'">
    <div class="col-xs-12">
        <div class="btn-group j-btn-group">
            <label class="btn btn-default" ng-model="d.selected" uib-btn-checkbox data-ng-repeat="d in ticketValidityDates"><i class="fa fa-clock-o"></i> {{d.date}}</label>
        </div>
    </div>
</div>
<div class="row" ng-if="ticketValidityType == 'CUSTOM'">
    <div class="col-xs-12 col-md-6">
        <div class="form-group" bs-form-error="ticketCategory.ticketValidityStart">
            <label for="{{buildPrefix($index, 'customValidityStartToString')}}">from</label>
            <input ng-model="ticketCategory.customValidityStartToString" placeholder="{{eventStartDate}}" single-date no-init-date="true" start-model="ticketCategory.ticketValidityStart" id="{{buildPrefix($index, 'customValidityStartToString')}}" class="form-control">
            <field-error data-form-obj="ticketCategory" data-field-obj="ticketCategory.ticketValidityStart" data-show-existing-errors="showExistingErrors"></field-error>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="form-group" bs-form-error="ticketCategory.ticketValidityEnd">
            <label for="{{buildPrefix($index, 'customValidityEndToString')}}">to</label>
            <input ng-model="ticketCategory.customValidityEndToString" placeholder="{{eventEndDate}}" single-date no-init-date="true" start-model="ticketCategory.ticketValidityEnd" id="{{buildPrefix($index, 'customValidityEndToString')}}" class="form-control">
            <field-error data-form-obj="ticketCategory" data-field-obj="ticketCategory.ticketValidityEnd" data-show-existing-errors="showExistingErrors"></field-error>
        </div>
    </div>
</div>

<div class="page-header">
    <h3>Check-in</h3>
    <small>Details about the check-in process</small>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label for="checkInAllowed" class="control-label">Check-in can be done</label>
            <select name="checkInAllowed" data-ng-model="checkInAllowed" class="form-control" id="checkInAllowed" ng-options="type.code as type.description for type in checkInAllowedOptions"></select>
        </div>
    </div>
</div>

<div class="row" ng-if="checkInAllowed == 'CUSTOM'">
    <div class="col-xs-12 col-md-6">
        <div class="form-group" bs-form-error="ticketCategory.validCheckInFromString">
            <label for="{{buildPrefix($index, 'validCheckInFromString')}}">from</label>
            <input ng-model="ticketCategory.validCheckInFromString" display-on-top="true" single-date no-init-date="true" start-model="ticketCategory.validCheckInFrom" id="{{buildPrefix($index, 'validCheckInFromString')}}" class="form-control">
            <field-error data-form-obj="ticketCategory" data-field-obj="ticketCategory.validCheckInFrom" data-show-existing-errors="showExistingErrors"></field-error>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="form-group" bs-form-error="ticketCategory.validCheckInToString">
            <label for="{{buildPrefix($index, 'validCheckInToString')}}">to</label>
            <input ng-model="ticketCategory.validCheckInToString" display-on-top="true" placeholder="{{eventEndDate}}" single-date no-init-date="true" start-model="ticketCategory.validCheckInTo" id="{{buildPrefix($index, 'validCheckInToString')}}" class="form-control">
            <field-error data-form-obj="ticketCategory" data-field-obj="ticketCategory.validCheckInTo" data-show-existing-errors="showExistingErrors"></field-error>
        </div>
    </div>
</div>

<div class="row" data-ng-if="checkInStrategiesVisible">
    <div class="col-xs-12">
        <div class="form-group">
            <label for="ticketCheckInStrategy" class="control-label">Multi-day check-in</label>
            <select name="ticketCheckInStrategy" data-ng-model="ticketCategory.ticketCheckInStrategy" class="form-control" id="ticketCheckInStrategy" ng-options="type.code as type.description for type in ticketCheckInStrategies"></select>
            <p class="help-block">Attendees must do the first check-in by using their ticket. Then, if you print their badge using Alf.io, you can request them to repeat the check-in every morning, by using their badge</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label for="badgeColor" class="control-label">Badge color</label>
            <select name="badgeColor" data-ng-model="ticketCategory.badgeColor" class="form-control" id="badgeColor" ng-options="type.code as type.description for type in badgeColors"></select>
            <p class="help-block">Make this category stand out at check-in. If set, the color will be used from our mobile app and check-in stations to match the color of the badge upon successful scan. This will help your crew to handle this category properly.</p>
        </div>
    </div>
</div>