<div data-ng-form="editEventHeader">
    <div class="page-header">
        <h3>Basic info</h3>
    </div>
    <div class="row">
        <div class="col-sm-8 col-md-8">
            <div class="form-group" bs-form-error="editEventHeader.displayName">
                <label for="displayName">Event Name</label>
                <input type="text" data-ng-model="obj.displayName" name="displayName" data-grab-focus id="displayName" class="form-control" required data-ng-change="updateURL(obj.displayName)" data-ng-model-options="{ updateOn: 'default blur', debounce: 500}"/>
                <field-error data-form-obj="editEventHeader" data-min-char="1" data-field-obj="editEventHeader.displayName" data-show-existing-errors="showExistingErrors"></field-error>
            </div>
            <div class="form-group" bs-form-error="editEventHeader.organizationId">
                <label for="organizationId">Event Organizer</label>
                <select data-ng-model="obj.organizationId" name="organizationId" id="organizationId" class="form-control" required data-ng-options="organization.id as organization.name for organization in organizations"></select>
                <field-error data-form-obj="editEventHeader" data-field-obj="editEventHeader.organizationId" data-show-existing-errors="showExistingErrors"></field-error>
            </div>
            <div class="form-group">
                <label for="format">Event will be held</label>
                <select data-ng-model="obj.format" name="format" id="format" class="form-control" required data-ng-options="format.id as format.description for format in formats"></select>
            </div>
            <div class="form-group" bs-form-error="editEventHeader.location" data-ng-if="obj.format !== 'ONLINE'">
                <label for="location">Event Location</label>
                <textarea data-ng-model="obj.location" name="location" id="location" class="form-control" required data-ng-minlength="10" data-ng-change="updateLocation(obj.location)" data-ng-model-options="{ updateOn: 'blur'}" placeholder="Please enter the address of the Location. This will be used for displaying the map on the event page."></textarea>
                <field-error data-form-obj="editEventHeader" data-field-obj="editEventHeader.location" data-min-char="10" data-show-existing-errors="showExistingErrors"></field-error>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="form-group" bs-form-error="editEventHeader.date">
                        <label for="date">Event Date <i data-ng-if="showDatesWarning" class="fa fa-warning text-warning tooltip-handler" title="You should notify all the ticket owners about a date change"></i></label>
                        <input type="text" data-date-range data-start-model="obj.begin" data-end-model="obj.end" data-ng-model="obj.dateString" name="date" id="date" class="form-control" required />
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="form-group" bs-form-error="editEventHeader.timeZone">
                        <label for="timeZone">Event time zone</label>
                        <select class="form-control" id="timeZone" name="timeZone" data-ng-model="obj.geolocation.timeZone" required ng-options="tz as tz for tz in timezones"></select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 map-container" data-ng-if="obj.format !== 'ONLINE'">
            <i class="fa fa-cog fa-spin fa-3x map-loading text-muted" data-ng-if="loadingMap"></i>
            <span class="text-danger" data-ng-if="mapError && !loadingMap">{{mapError}}</span>
            <img data-ng-if="obj.geolocation && obj.geolocation.mapUrl && !loadingMap" data-ng-src="{{obj.geolocation.mapUrl}}" alt="{{obj.location}}" class="img-responsive map-image img-center"/>
        </div>
    </div>

    <div class="page-header">
        <h3>Event Description</h3>
        <small data-ng-if="availableLanguages.length > 0 && allLanguages.length > 1">Add the event description in different languages. Adding a description for a given language enables the support for that language.</small>
    </div>

    <div class="row wMarginTop30px">
        <div class="col-xs-12 col-sm-6" data-ng-repeat="langValue in selectedLanguages.langs">
            <div class="form-group" bs-form-error="editEventHeader['description-'+allLanguagesMapping[langValue].locale]">
                <label for="description">{{allLanguagesMapping[langValue].displayLanguage}}</label><a class="pull-right text-muted" ng-if="selectedLanguages.langs.length > 1" title="remove {{allLanguagesMapping[langValue].displayLanguage}}" ng-click="removeDescription(allLanguagesMapping[langValue])"><i class="fa fa-trash"></i></a><display-commonmark-preview class="pull-right" style="margin-right: 20px" text="obj.description[allLanguagesMapping[langValue].locale]"></display-commonmark-preview>
                <textarea data-ng-model="obj.description[allLanguagesMapping[langValue].locale]" name="description-{{allLanguagesMapping[langValue].locale}}" id="description" required class="form-control" data-ng-minlength="10" data-ng-maxlength="{{descriptionLimit}}"></textarea>
                <field-error data-form-obj="editEventHeader" data-field-obj="editEventHeader['description-'+allLanguagesMapping[langValue].locale]" data-min-char="10" data-max-char="descriptionLimit" data-show-existing-errors="showExistingErrors"></field-error>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="btn-group" uib-dropdown is-open="isDropDownOpen" data-ng-if="availableLanguages.length > 0 && allLanguages.length > 1">
                <button id="single-button" type="button" class="btn btn-success" uib-dropdown-toggle>
                    Add translation <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li role="menuitem" data-ng-repeat="(lang, language) in availableLanguages"><a ng-click="addDescription(language)">{{language.displayLanguage}}</a></li>
                </ul>
            </div>
        </div>
        <div class="col-xs-6">
            <common-mark-help></common-mark-help>
        </div>
    </div>
    <div class="page-header">
        <h3>URLs Configuration</h3>
        <small class="text-muted">Define how users can access your event and where the relevant links should point.</small>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="form-group" bs-form-error="editEventHeader.shortName">
                <label for="shortName">Event URL</label>
                <div class="input-group" data-ng-if="!isUpdate">
                    <span class="input-group-addon">
                        <span>{{baseUrl}}/event/</span>
                    </span>
                    <input type="text" id="shortName" data-ng-model="obj.shortName" class="form-control" required pattern="^[A-Za-z0-9]{1,}([\-_]*[A-Za-z0-9]+)+$" name="shortName" data-validate-short-name="isUpdate" data-ng-model-options="{updateOn:'blur'}"/>
                    <span class="form-control-feedback" data-ng-if="loading"><i class="fa fa-circle-o-notch fa-spin"></i></span>
                    <span class="input-group-addon">
                        <span>/</span>
                    </span>
                </div>
                <div class="form-control-static" data-ng-if="isUpdate">{{baseUrl}}/event/{{obj.shortName}}/</div>
                <field-error data-form-obj="editEventHeader" data-required-pattern="'A-Za-z0-9_- (no spaces; the last character must be a letter or a number)'" data-field-obj="editEventHeader.shortName"  data-show-existing-errors="showExistingErrors"></field-error>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="form-group" bs-form-error="editEventHeader.websiteUrl">
                <label for="websiteUrl">Website link</label>
                <input type="url" url-text-field="" data-ng-model="obj.websiteUrl" name="websiteUrl" id="websiteUrl" required class="form-control" />
                <field-error data-form-obj="editEventHeader" data-field-obj="editEventHeader.websiteUrl" data-show-existing-errors="showExistingErrors"></field-error>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="form-group" bs-form-error="editEventHeader.termsAndConditionsUrl">
                <label for="termsAndConditionsUrl">Terms and Conditions URL</label>
                <input type="url" url-text-field="" data-ng-model="obj.termsAndConditionsUrl" name="termsAndConditionsUrl" id="termsAndConditionsUrl" required class="form-control" />
                <field-error data-form-obj="editEventHeader" data-field-obj="editEventHeader.termsAndConditionsUrl" data-show-existing-errors="showExistingErrors"></field-error>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="form-group" bs-form-error="editEventHeader.privacyPolicyUrl">
                <label for="privacyPolicyUrl">Privacy policy URL</label>
                <input type="url" url-text-field="" data-ng-model="obj.privacyPolicyUrl" name="privacyPolicyUrl" id="privacyPolicyUrl" class="form-control" aria-describedby="privacyHelp"/>
                <small id="privacyHelp" ng-if="isObjectEmpty(editEventHeader.privacyPolicyUrl.$error)" class="help-block">Privacy policy link is optional. However, it is good practice to have one.</small>
                <field-error data-form-obj="editEventHeader" data-field-obj="editEventHeader.privacyPolicyUrl" data-show-existing-errors="showExistingErrors"></field-error>
            </div>
        </div>
    </div>
    <div class="page-header">
        <h3>Logo</h3>
        <small class="text-muted">Upload the event logo in PNG, JPG, GIF or SVG format.</small>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                <label for="imageFile">Image</label>
                <div id="imageFile" class="drop-file-zone wMarginBottom well" data-accept="image/*" data-ngf-pattern="'image/*'" data-ng-model="droppedFile" data-ngf-drop data-ngf-select data-ngf-multiple="false" data-ngf-allow-dir="false" data-ngf-drag-over-class="'drop-file-zone-hover'">
                    Drop image here or click to upload (Maximum size : 1MB)
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div>
                <a class="pull-right text-muted" data-ng-if="imageBase64 && !obj.id" data-ng-click="removeImage(obj)"><i class="fa fa-times fa-2x"></i></a>
                <a class="pull-right text-muted" data-ng-if="imageBase64 && obj.id" data-ng-click="resetImage(obj)"><i class="fa fa-undo fa-2x"></i></a>
                <img data-ng-if="imageBase64 && !obj.fileBlobId" data-ng-src="{{imageBase64}}" class="img-responsive center-block event-logo">
                <img data-ng-if="obj.fileBlobId" data-ng-src="{{('/file/' + obj.fileBlobId)}}" class="img-responsive center-block event-logo">
                <div class="alert alert-danger alert-form ng-invalid" data-ng-if="!imageBase64 && !obj.fileBlobId"><i class="fa fa-warning"></i> Event logo is missing!</div>
            </div>
        </div>
    </div>
</div>
