<div class="page-header">
    <h1>{{event.displayName}} <button type="button" class="btn btn-default btn-sm ml-1" data-ng-click="editHeader()" uib-tooltip="Edit" data-ng-if="event.visibleForCurrentUser"><i class="fa fa-edit"></i></button></h1>
    <h4 class="text-muted">{{event.shortDescription}}</h4>
</div>
<div class="alert alert-warning" data-ng-if="event.status !== 'PUBLIC'">
    <h4>
        <i class="fa fa-eye-slash"></i>
        this event has not yet been published. Therefore only people who know the direct URL
        (<a ng-href="{{eventPublicURL}}" target="_blank" rel="noopener">{{eventPublicURL}}</a>) can see it.</h4>

        <a class="btn btn-warning" ng-click="activateEvent(event.id)">Publish now</a>
</div>
<div uib-alert type="success" close="closeActivationAlert()" data-ng-if="eventHasBeenActivated">
    <h4><i class="fa fa-info-circle"></i> Congratulations, this event has been successfully published! <a class="btn btn-default" ng-click="deactivateEvent(event.id)">Undo</a></h4>
</div>
<event-overview data-event="event" ng-if="event.displayStatistics"></event-overview>

<div class="panel panel-default" data-ng-if="event.format === 'ONLINE' || event.format === 'HYBRID'">
    <div class="panel-heading">
        <div class="panel-title">
            <strong>Online event settings</strong>
        </div>
    </div>
    <div class="panel-body">
        <metadata-viewer parent-id="event.id" event="event" metadata="event.metadata" available-languages="event.contentLanguages" level="'event'"></metadata-viewer>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <strong>Logistic info and description</strong>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-1 hide-overflowing-text hidden-xs hidden-sm">
                <img data-ng-if="event.fileBlobIdIsPresent" data-ng-src="/file/{{event.fileBlobId}}" class="img-responsive event-logo">
                <a href="{{event.imageUrl}}" data-ng-if="!event.fileBlobIdIsPresent" target="_blank" rel="noopener">{{event.imageUrl}}</a>
            </div>
            <div class="col-md-6 col-xs-12">
                <dl class="dl-horizontal">
                    <dt>Public URL</dt>
                    <dd><a ng-href="{{eventPublicURL}}" target="_blank" rel="noopener">{{eventPublicURL}}</a></dd>
                    <dt>Organized by</dt>
                    <dd>{{organization.name}} &lt;{{organization.email}}&gt;</dd>
                    <dt>Website URL</dt>
                    <dd><a href="{{event.websiteUrl}}" target="_blank" rel="noopener">{{event.websiteUrl}}</a></dd>
                    <dt>T&C URL</dt>
                    <dd><a href="{{event.termsAndConditionsUrl}}" target="_blank" rel="noopener">{{event.termsAndConditionsUrl}}</a></dd>
                    <dt data-ng-if="event.privacyPolicyUrl">Privacy Policy URL</dt>
                    <dd data-ng-if="event.privacyPolicyUrl"><a href="{{event.privacyPolicyUrl}}" target="_blank" rel="noopener">{{event.privacyPolicyUrl}}</a></dd>
                    <dt data-ng-if="event.format !== 'ONLINE'">Location</dt>
                    <dd data-ng-if="event.format !== 'ONLINE'"><a ng-href="{{event.geolocation.mapUrl}}" target="_blank" rel="noopener">{{event.location}}</a></dd>
                    <dt>Languages</dt>
                    <dd>
                        <ol class="breadcrumb language-breadcrumb"><li data-ng-repeat="cl in event.contentLanguages">{{cl.displayLanguage}}</li></ol>
                    </dd>
                    <dt>Start Date/Time</dt>
                    <dd>{{event.formattedBegin | formatDate}}</dd>
                    <dt>End Date/Time</dt>
                    <dd>{{event.formattedEnd | formatDate}}</dd>
                    <dt>Time Zone</dt>
                    <dd>{{event.timeZone}}</dd>
                </dl>
            </div>
            <div class="col-md-5 hidden-xs hidden-sm">
                <uib-tabset>
                    <uib-tab heading="{{cl.locale}}" data-ng-repeat="cl in event.contentLanguages">
                        <div style="padding-top:2px; text-align:right"><display-commonmark-preview text="event.description[cl.locale]"></display-commonmark-preview></div>
                        <pre class="white text-muted">{{event.description[cl.locale]}}</pre>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
        <hr data-ng-if="event.visibleForCurrentUser">
        <div class="row">
            <div class="col-md-2 col-md-push-10 col-xs-12">
                <div data-ng-transclude=""></div>
            </div>
        </div>

    </div>
</div>