<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <strong>Seats and payment info</strong>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12 col-lg-6">
                <dl class="dl-horizontal">
                    <dt>Tickets Price</dt>
                    <dd><span data-ng-if="event.freeOfCharge">Free of charge</span> <span data-ng-if="!event.freeOfCharge">{{event.regularPrice | money : (event.currency || "")}}</span></dd>
                    <dt data-ng-if="!event.freeOfCharge">Payment methods</dt>
                    <dd data-ng-if="!event.freeOfCharge">{{event.allowedPaymentProxies | translatePaymentProxies}} <div class="text-warning" data-ng-if="(allowedPaymentProxies | paymentMethodFilter : true : event.currency).length > 0"><i class="fa fa-info-circle"></i> The following Methods are not available: <span data-ng-repeat="p in allowedPaymentProxies | paymentMethodFilter : true : event.currency">{{p.id}}<span data-ng-if="!$last">, </span></span>. Please check that the provider support the selected currency or the <a data-ui-sref="configuration.organization({organizationId: event.organizationId})">configuration</a>.</div></dd>
                    <dt>Max tickets</dt>
                    <dd>{{event.availableSeats}}</dd>
                    <dt data-ng-if="!event.freeOfCharge">VAT (%)</dt>
                    <dd data-ng-if="!event.freeOfCharge">{{event.vatPercentage | currency:""}}</dd>
                    <dt data-ng-if="!event.freeOfCharge">Final Price</dt>
                    <dd data-ng-if="!event.freeOfCharge">{{event.finalPrice | money : (event.currency || "")}}</dd>
                </dl>
            </div>
            <div class="col-xs-12 col-lg-6" ng-if="event.subscriptionDescriptors.length > 0">
                <h4>Allowed Subscriptions</h4>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="subscription in event.subscriptionDescriptors">
                        <h5 class="list-group-item-heading"><strong>{{getFirstTranslation(subscription.titleAsText)}}</strong></h5>
                        <small class="list-group-item-text preformatted">{{getFirstTranslation(subscription.descriptionAsText) | ellipsisAfterFirstRow }}</small>
                    </li>
                </ul>
            </div>
        </div>
        <hr data-ng-if="event.visibleForCurrentUser">
        <div class="row">
            <div class="col-md-2 col-md-push-10 col-xs-12">
                <div data-ng-transclude=""></div>
            </div>
        </div>
    </div>
</div>
