<div class="modal-header">
    <h3>Download attendees data: select fields</h3>
</div>
<div class="modal-body">
    <ul style="list-style-type:none;padding:0">
        <li data-ng-repeat="field in fields"><label><input type="checkbox" ng-model="selected[field.key]"> {{field.value}}</label></li>
    </ul>
    <hr>
    <p>
        <label><input type="radio" name="format" value="excel" ng-model="format"> Excel</label>
        <label><input type="radio" name="format" value="csv" ng-model="format"> csv</label>
    </p>
</div>
<div class="modal-footer">
    <div class="pull-left">
        <button class="btn btn-default" data-ng-click="selectAll()">Select all</button>
        <button class="btn btn-default" data-ng-click="deselectAll()">Deselect all</button>
    </div>
    <div class="pull-right">
        <button class="btn btn-primary" type="button" data-ng-click="download()" ><i class="fa fa-download"></i> download attendees' data</button>
        <button class="btn btn-default" type="button" data-ng-click="$dismiss()"><i class="fa fa-times"></i> close</button>
    </div>
</div>
