<div class="container">
    <div class="page-header">
        <h2>Tickets for {{$ctrl.ticketCategory.name}}</h2>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="btn-group" uib-dropdown>
              <button id="categories" class="btn btn-default" uib-dropdown-toggle>
                Switch to another category <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="categories">
                <li ng-repeat="category in $ctrl.otherCategories" role="menuitem">
                  <a ui-sref="events.single.ticketsList({eventName: $ctrl.event.shortName, categoryId: category.id})">{{category.name}}</a>
                </li>
              </ul>
            </div>
        </div>
        <div class="col-xs-12 col-md-8">
            <div class="form-group">
                <label>
                    <span class="sr-only">Filter Tickets</span>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-search"></i>
                        </div>
                        <input class="form-control input-sm" ng-model="$ctrl.toSearch" ng-change="$ctrl.updateFilteredData()" ng-model-options="{ debounce: 1000 }" placeholder="Filter Tickets">
                    </div>
                </label>
            </div>
        </div>
    </div>

    <div class="alert alert-info text-center" ng-if="$ctrl.totalItems == 0"><i class="fa fa-info-circle"></i> No tickets have been found</div>
    <div class="text-center text-muted wMarginTop30px" ng-if="$ctrl.loading">
        <span><i class="fa fa-circle-o-notch fa-3x fa-spin"></i></span>
    </div>

    <div ng-if="$ctrl.totalItems > 0">
        <div class="list-group">
            <div class="list-group-item" data-ng-repeat="ticket in $ctrl.tickets | orderBy: ['timestamp', 'transaction.id' , 'uuid']">
                <div class="list-group-item-heading">
                    <button type="button" class="btn btn-sm btn-default pull-right" data-ng-click="$ctrl.toggleLocking($ctrl.event, ticket, $ctrl.ticketCategory)"><span data-ng-if="ticket.lockedAssignment"><i class="fa fa-unlock"></i> unlock</span><span data-uib-tooltip="forbid ticket reassignment" data-tooltip-placement="left" data-ng-if="!ticket.lockedAssignment"><i class="fa fa-lock"></i> lock</span></button>
                    <button type="button" class="btn btn-sm btn-default pull-right" ng-click="$ctrl.removeTicket($ctrl.event, ticket)"><i class="fa fa-trash"></i> remove</button>
                    <h4><i data-ng-class="$ctrl.evaluateTicketStatus(ticket.status)" data-uib-tooltip="{{ticket.status | statusText}}"></i> {{::ticket.uuid | limitTo:8}} <span data-ng-if="ticket.paid">Confirmed on: {{::ticket.transactionTimestamp | formatDate:'DD.MM.YYYY HH:mm:ss'}}</span> by {{::ticket.ticketReservation.fullName}}</h4>
                </div>
                <div class="list-group-item-text">
                    <dl class="dl-horizontal">
                        <dt>id</dt>
                        <dd><a data-ui-sref="events.single.view-reservation({eventName:$ctrl.event.shortName, reservationId: ticket.ticketReservation.id})" target="_blank">{{::ticket.uuid}}</a></dd>
                        <dt>Reservation by</dt>
                        <dd>{{::ticket.ticketReservation.fullName}} &lt;{{::ticket.ticketReservation.email}}&gt;</dd>
                        <dt data-ng-if="!ticket.pending">Confirmed on</dt>
                        <dd data-ng-if="!ticket.pending">{{::ticket.ticketReservation.confirmationTimestamp | formatDate:'DD.MM.YYYY HH:mm:ss'}}</dd>
                        <dt data-ng-class="{'text-warning': !ticket.fullName}">Assignee</dt>
                        <dd>{{::ticket.fullName}} <span data-ng-if="ticket.email">&lt;{{::ticket.email}}&gt;</span></dd>
                        <dt data-ng-if="ticket.appliedDiscount > 0">Discount</dt>
                        <dd data-ng-if="ticket.appliedDiscount > 0"><samp>- {{::ticket.appliedDiscount | currency:ticket.currencyCode}}</samp></dd>
                        <dt data-ng-if="ticket.paid">Payment</dt>
                        <dd data-ng-if="ticket.paid"><samp>{{::ticket.finalPrice | currency:ticket.currencyCode}}</samp> ({{::ticket.ticketReservation.paymentMethod}}) on {{::ticket.timestamp | formatDate:'DD.MM.YYYY HH:mm:ss'}}</dd>
                        <dt data-ng-if="ticket.paid">Transaction info</dt>
                        <dd data-ng-if="ticket.paid"><samp>{{::ticket.transaction.transactionId}}</samp> on {{::ticket.transactionTimestamp | formatDate:'DD.MM.YYYY HH:mm:ss'}}</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="text-center wMarginBottom" ng-if="$ctrl.totalItems > $ctrl.itemsPerPage">
            <uib-pagination total-items="$ctrl.totalItems" ng-model="$ctrl.currentPage" ng-change="$ctrl.updateFilteredData()" items-per-page="$ctrl.itemsPerPage" max-size="10" force-ellipses="true"></uib-pagination>
        </div>
    </div>
</div>