vendor-prefixes ?= webkit official
@import nib

.nz-toggle-wrap
    display: inline-block
    padding:3px
    margin: 3px
    border-radius:20px
    position:relative
    transition:all .3s ease
    max-width:100%
    -webkit-touch-callout: none
    user-select: none
    
.nz-toggle
    display: block
    width: 100%
    height: 100%
    position: relative
    cursor: pointer
    
/* Handle */
.nz-toggle-handle
    border-radius: 20px
    background-color: white
    position: absolute
    transition: all .2s ease-out
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.25)

.nz-toggle-tooltip
    display: block
    position: absolute
    background: rgba(0, 0, 0, 0.8)
    color: rgba(255,255,255,.6)
    font-size: 80%
    padding: 5px
    border-radius: 10px
    opacity: 0
    pointer-events: none
    white-space: nowrap
    transition: all .3s ease
    &:before
        position: absolute
        content: ''
        width: 0 
        height: 0 
        pointer-events: none
    span
        transition: all .2s ease
        &.active
            color: white
        
.nz-toggle-wrap
    /* Orientation */
    &.horizontal
        .nz-toggle-handle
            height:100%
            width:50%
            top: 0
            transform: translateX(-50%)
            /* States */
        &.false
            .nz-toggle-handle
                left: 0
                transform: translateX(0%)
        &.null
            .nz-toggle-handle
                left: 50%
                transform: translateX(-50%)
        &.true
            .nz-toggle-handle
                left: 100%
                transform: translateX(-100%)
        .nz-toggle-tooltip
            bottom: 100%
            left: 50%
            transform: translate(-50%, 0) scale(.85)
            &:before
                left: 50%
                top: 100%
                transform: translateX(-50%)
                border-left: 5px solid transparent
                border-right: 5px solid transparent
                border-bottom: 5px solid transparent
                border-top: 5px solid rgba(0,0,0,.8)
    &.vertical
        .nz-toggle-handle
            width:100%
            height:50%
            left: 0
            top: 50%
            transform: translateY(-50%)
        &.false
            .nz-toggle-handle
                top: 100%
                transform: translateY(-100%)
        &.null
            .nz-toggle-handle
                top: 50%
                transform: translateY(-50%)
        &.true
            .nz-toggle-handle
                top: 0%
                transform: translateY(0%)
        .nz-toggle-tooltip
            left: 100%
            top: 50%
            transform: translate(0, -50%) scale(.85)
            text-align: right
            &:before
                top: 50%
                right: 100%
                transform: translateY(-50%)
                border-top: 5px solid transparent
                border-bottom: 5px solid transparent
                border-right: 5px solid rgba(0,0,0,.8)
                border-left: 5px solid transparent
    &.tip-bottom
        .nz-toggle-tooltip
            top: 100%            
            right: initial
            bottom: initial
            left: 50%
            transform: translate(-50%, 0) scale(.85)
            &:before
                top: initial
                left: 50%
                bottom: 100%
                transform: translateX(-50%)
                border-left: 5px solid transparent
                border-right: 5px solid transparent
                border-bottom: 5px solid rgba(0,0,0,.8)
                border-top: 5px solid transparent
    &.tip-top
        .nz-toggle-tooltip
            top: initial  
            right: initial
            bottom: 100%
            left: 50%
            transform: translate(-50%, 0) scale(.85)
            &:before
                top: initial
                left: 50%
                top: 100%
                transform: translateX(-50%)
                border-left: 5px solid transparent
                border-right: 5px solid transparent
                border-bottom: 5px solid transparent
                border-top: 5px solid rgba(0,0,0,.8)
    &.tip-left
        .nz-toggle-tooltip
            top: 50%  
            right: 100%
            bottom: initial
            left: initial
            text-align: right
            transform: translate(0, -50%) scale(.85)
            &:before
                right: initial
                top: 50%
                left: 100%
                transform: translateY(-50%)
                border-top: 5px solid transparent
                border-bottom: 5px solid transparent
                border-left: 5px solid rgba(0,0,0,.8)
                border-right:  5px solid transparent

    &.tip-right
        .nz-toggle-tooltip
            top: 50%  
            right: initial
            bottom: initial
            left: 100%
            text-align: right
            transform: translate(0, -50%) scale(.85)
            &:before
                left: initial
                top: 50%
                right: 100%
                transform: translateY(-50%)
                border-top: 5px solid transparent
                border-bottom: 5px solid transparent
                border-left: 5px solid transparent
                border-right:  5px solid rgba(0,0,0,.8)
    &.square
        border-radius:2px
        .nz-toggle-handle
            border-radius:2px
            
    &:hover
        .nz-toggle-tooltip
            opacity: 1
        &.horizontal
            .nz-toggle-tooltip
                transform: translate(-50%, -7px) scale(1)
        &.vertical
            .nz-toggle-tooltip
                transform: translate(7px, -50%) scale(1)
        &.tip-bottom
            .nz-toggle-tooltip
                transform: translate(-50%, 7px) scale(1)
        &.tip-top
            .nz-toggle-tooltip
                transform: translate(-50%, -7px) scale(1)
        &.tip-left
            .nz-toggle-tooltip
                transform: translate(-7px, -50%) scale(1)
        &.tip-right
            .nz-toggle-tooltip
                transform: translate(7px, -50%) scale(1)