<div class="modal-header">
    <h4 class="modal-title" translate="admin.organization.select"></h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <ul>
        <li *ngFor="let org of organizations$ | async">
            <button class="btn btn-link" (click)="selectOrganization(org)">{{org.name}}</button>
        </li>
    </ul>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')" translate="common.close"></button>
</div>
