<div class="container">
  <h1 class="my-3" translate="admin.api-key.list.title"></h1>
  <p translate="admin.api-key.list.text"></p>
  <hr />

  <div class="d-flex py-3">
    <div ngbDropdown class="d-inline-block d-flex mx-3">
      <button
        type="button"
        class="btn btn-outline-primary"
        id="dropdownBasic1"
        ngbDropdownToggle
        translate="admin.api-key.list.download-api-keys"
      ></button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button
          (click)="downloadAllApiKeys(org.id)"
          *ngFor="let org of organizations$ | async"
          ngbDropdownItem
        >
          {{ org.name }}
        </button>
      </div>
      <a
        class="btn btn-warning mx-3"
        [routerLink]="['/access-control/api-keys/bulk']"
      >
        <svg-icon key="groups" size="lg"></svg-icon>
        <span translate="admin.api-key.list.bulk-creation"></span>
      </a>
      <button
        type="button"
        class="btn btn-success d-flex align-items-center mx-3"
        [routerLink]="['/access-control/api-keys/new']"
      >
        <svg-icon
          key="add"
          size="lg"
          class="d-flex align-items-center"
        ></svg-icon>
        <span translate="admin.common.add-new"></span>
      </button>
    </div>
  </div>

  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" translate="admin.api-key.list.api-key"></th>
          <th scope="col" translate="admin.api-key.list.description"></th>
          <th scope="col" translate="admin.api-key.list.role"></th>
          <th scope="col" translate="admin.api-key.list.member-of"></th>
          <th scope="col" translate="admin.api-key.list.qr-code"></th>
          <th scope="col" translate="common.edit"></th>
          <th scope="col">
            <span translate="admin.api-key.list.enabled"></span>/<span
              translate="admin.api-key.list.disable"
            ></span>
          </th>
          <th scope="col" translate="admin.common.delete"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let user of users$ | async | usersFilterOrg : selectedOrganization
          "
        >
          <td>{{ user.username }}</td>
          <td>
            <span *ngFor="let org of user.memberOf">
              {{ org.description }}
            </span>
          </td>
          <td>
            <span *ngFor="let role of user.roles">{{
              roleDescription(role) | async
            }}</span>
          </td>
          <td>
            <span *ngFor="let org of user.memberOf" class="badge bg-primary">{{
              org.name
            }}</span>
          </td>
          <td>view qr code</td>
          <td>
            <a
              [routerLink]="['/access-control/api-keys', user.id, 'edit']"
              class="btn"
              *ngIf="user.enabled"
              (click)="enable(user)"
              ><svg-icon key="edit" size="lg"></svg-icon
            ></a>
          </td>
          <td>
            <button
              *ngIf="user.enabled"
              class="btn btn-warning"
              (click)="enable(user)"
            >
              <svg-icon key="visibilityoff" size="lg"></svg-icon>
              <span translate="admin.api-key.list.disable"></span>
            </button>
            <button
              *ngIf="!user.enabled"
              class="btn btn-success"
              (click)="enable(user)"
            >
              <svg-icon key="visibility-on" size="lg"></svg-icon>
              <span translate="admin.api-key.list.enabled"></span>
            </button>
          </td>

          <td>
            <button
              class="btn btn-danger text-nowrap"
              (click)="deleteUserApikey(user)"
            >
              <svg-icon key="delete" size="lg"></svg-icon>
              <span translate="admin.common.delete"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
