<div *ngIf="subscriptions" class="application-container p-2 p-md-5">
  <app-topbar [contentLanguages]="languages"></app-topbar>

  <h1 translate="subscription.title"></h1>


  <div class="event-list-card mb-3" *ngFor="let subscription of subscriptions">
    <app-basic-subscription-info [subscription]="subscription" [params]="queryParams"></app-basic-subscription-info>
  </div>

  <div class="alert text-center" *ngIf="subscriptions.length == 0">
    <h3 translate="subscription.no-subscriptions"></h3>
  </div>

  <hr class="mt-5" *ngIf="linksContainer.termsAndConditionsUrl || linksContainer.privacyPolicyUrl">
  <app-footer-links [linksContainer]="linksContainer"></app-footer-links>
</div>
