<div class="page-header">
    <h2>Edit resource: {{$ctrl.resourceName}}</h2>
</div>
<div uib-alert type="danger" close="closeAlert()" data-ng-if="$ctrl.error"><h4><i class="fa fa-warning"></i> {{$ctrl.error}}</h4></div>
<div class="row">
    <div class="col-xs-12">
        <uib-tabset>
            <uib-tab data-ng-repeat="locale in $ctrl.locales">
                <tab-heading>{{locale.locale}}</tab-heading>
                <form ng-submit="$ctrl.saveFor(locale.locale)">
                    <div class="form-group">
                        <div ui-ace="{
                          mode: 'handlebars',
                          firstLineNumber: 1,
                          onLoad: $ctrl.initLoadListener(locale)
                        }" ng-if="$ctrl.resources[locale.locale] && !$ctrl.previewMode"></div>
                        <pre ng-show="$ctrl.previewMode" ng-bind="$ctrl.previewedText"></pre>
                    </div>
                    <div data-ng-if="$ctrl.system" class="text-center wMarginBottom">Preview not available when modifying System-level resources.</div>
                    <div class="pull-left" ng-if="$ctrl.showDeleteButton(locale.locale)">
                        <button type="button" class="btn btn-lg btn-default" ng-click="$ctrl.deleteFor(locale.locale)">Delete</button>
                    </div>
                    <div class="pull-right">
                        <button type="button" ng-click="$ctrl.resetFor(locale.locale)" class="btn btn-default btn-lg">Reset</button>
                        <button type="button" ng-click="$ctrl.previewFor(locale.locale)" class="btn btn-warning btn-lg" ng-show="!$ctrl.system && !$ctrl.previewMode">Preview</button>
                        <button type="button" ng-click="$ctrl.previewMode = false" class="btn btn-lg btn-default" ng-show="$ctrl.previewMode">Close preview</button>
                        <button type="submit" class="btn btn-lg btn-warning" ng-show="$ctrl.system || $ctrl.previewMode || $ctrl.binaryPreview">Save</button>
                    </div>
                </form>
            </uib-tab>
        </uib-tabset>
    </div>
</div>