<div class="container">
    <div data-ng-if="!canReadCamera">
        <div class="alert alert-danger" role="alert">Your browser does not support navigator.mediaDevices.enumerateDevices API.</div>
    </div>
    <div class="alert alert-warning visible-xs" role="alert">
        Please note that HTML5 check-in functionality could cause overheating on some mobile devices. Use it at your own risk. <br>
        If you have an Android smartphone/tablet, please use the <a href="https://play.google.com/store/apps/details?id=alfio.backoffice" target="_blank">official application</a> instead.
    </div>
    <div data-ng-if="canReadCamera">
        <form data-ng-submit="scanning.visible = false; checkIn(scanning.ticket)">
            <div data-ng-hide="scanning.visible || scanning.ticket.code != null" class="form-group">
                <p><button class="btn btn-primary btn-block" type="button" data-ng-click="scanning.visible = true;selectSource(selectedSource);">Scan</button></p>
            </div>
            <div class="form-group" data-ng-show="scanning.visible">
                <label>Select video source</label>
                <select data-ng-options="video.label for video in videos" data-ng-change="selectSource(selectedSource)" data-ng-model="selectedSource" class="form-control"></select>
            </div>

            <div class="form-group" data-ng-show="scanning.visible">
                <p><button class="btn btn-primary btn-block" type="button" data-ng-click="stopScanning()">Stop scanning</button></p>
                <div class="video-container">
                    <video muted autoplay data-ng-show="selectedSource != null" id="checkInVideoElement"></video>
                </div>
                <canvas id="checkInImageCanvas" class="ng-hide"></canvas>
            </div>
            <div data-ng-show="scanning.ticket.code != null">

                <div data-ng-if="scanning.loadingTicket" class="wMarginBottom">Loading ticket <i class="fa fa-cog fa-spin"></i></div>

                <div data-ng-switch="scanning.scannedResult.status" data-ng-if="!scanning.loadingTicket">
                    <div class="alert alert-success" role="alert" ng-switch-when="SUCCESS">Check in has been completed!</div>
                    <div class="alert alert-success" role="alert" ng-switch-when="OK_READY_TO_BE_CHECKED_IN">Ticket is ok, ready to be checked in.</div>
                    <div class="alert alert-warning" role="alert" ng-switch-when="MUST_PAY">Ticket is ok, but customer must still pay the ticket.</div>
                    <div class="alert alert-danger" role="alert"  ng-switch-default>{{scanning.scannedResult.message}}</div>
                </div>

                <div class="wMarginBottom" data-ng-if="!scanning.loadingTicket">
                    <table>
                        <tr><th>Ticket status: </th><td>{{scanning.scannedTicketInfo.status}}</td></tr>
                        <tr><th>Full name: </th><td>{{scanning.scannedTicketInfo.fullName}}</td></tr>
                        <tr><th>Email: </th><td>{{scanning.scannedTicketInfo.email}}</td></tr>
                        <tr data-ng-if="scanning.scannedTicketInfo.jobTitle"><th>Job title: </th><td>{{scanning.scannedTicketInfo.jobTitle}}</td></tr>
                        <tr data-ng-if="scanning.scannedTicketInfo.company"><th>Company: </th><td>{{scanning.scannedTicketInfo.company}}</td></tr>
                        <tr data-ng-if="scanning.scannedTicketInfo.phoneNumber"><th>Phone number: </th><td>{{scanning.scannedTicketInfo.phoneNumber}}</td></tr>
                        <tr data-ng-if="scanning.scannedTicketInfo.address"><th>Address: </th><td>{{scanning.scannedTicketInfo.address}}</td></tr>
                        <tr data-ng-if="scanning.scannedTicketInfo.country"><th>Country: </th><td>{{scanning.scannedTicketInfo.country}}</td></tr>
                        <tr data-ng-if="scanning.scannedTicketInfo.tshirtSize"><th>T-Shirt size: </th><td>{{scanning.scannedTicketInfo.tshirtSize}}</td></tr>
                        <tr data-ng-if="scanning.scannedTicketInfo.notes"><th>Notes: </th><td>{{scanning.scannedTicketInfo.notes}}</td></tr>
                        <tr data-ng-if="scanning.scannedTicketInfo.userLanguage"><th>Language: </th><td>{{scanning.scannedTicketInfo.userLanguage}}</td></tr>
                    </table>
                </div>

                <div class="wMarginBottom" data-ng-if="scanning.scannedResult.status === 'OK_READY_TO_BE_CHECKED_IN' && scanning.checkInResultStatus !== 'SUCCESS' ">
                    <button type="submit" class="btn btn-success btn-block" data-ng-disabled="scanning.checkInInAction">Confirm check in <span data-ng-show="scanning.checkInInAction"><i class="fa fa-cog fa-spin"></i></span></button>
                </div>
                <div class="wMarginBottom">
                    <button type="button" class="btn btn-success btn-block" data-ng-click="confirmPayment()" data-ng-disabled="scanning.confirmPaymentInAction" data-ng-if="scanning.scannedResult.status === 'MUST_PAY' && scanning.checkInResultStatus !== 'SUCCESS' ">Confirm payment</button>
                </div>
                <div class="wMarginBottom">
                    <button type="button" class="btn btn-primary btn-block" data-ng-click="resetScanning();">Next Scan</button>
                </div>
                <div class="wMarginBottom">
                    <button type="reset" class="btn btn-default btn-block" data-ng-click="stopScanning();resetForm(scanning.ticket);scanning.visible=false">Stop scanning</button>
                </div>
            </div>
        </form>
    </div>

</div>