<div class="fa fa-refresh fa-spin fa-2x text-muted" data-ng-if="!event">
</div>
<div data-ng-if="event">
    <div class="container">
            <form name="headerForm" role="form" data-ng-submit="saveEventHeader(headerForm, eventHeader)" novalidate class="force-show-errors" data-error-sensitive="editEventHeader">
                <event-header data-ng-if="!editEventHeader"></event-header>
                <edit-event-header data-ng-if="editEventHeader" data-show-dates-warning="true" data-show-existing-errors="true" data-event-obj="event" data-target-obj="eventHeader" data-organizations="organizations"  data-all-languages="allLanguages" data-all-languages-mapping="allLanguagesMapping"></edit-event-header>
                <button class="btn btn-warning" data-ng-if="!editEventHeader" data-ng-click="toggleEditHeader(false)"><i class="fa fa-edit"></i> edit</button>
                <button class="btn btn-success" type="submit" data-ng-if="editEventHeader" data-ng-disabled="headerForm.$waiting">save</button>
                <button class="btn btn-default" data-ng-if="editEventHeader" data-ng-disabled="headerForm.$waiting" data-ng-click="toggleEditHeader(true)">cancel</button>
            </form>
            <form name="pricesForm" role="form" data-ng-submit="saveEventPrices(pricesForm, eventPrices, event.organizationId)" novalidate class="force-show-errors" data-error-sensitive="editPrices" data-ng-if="isInternal(event)">
                <prices data-ng-if="!editPrices"></prices>
                <edit-prices data-ng-if="editPrices" data-show-price-warning="true" data-event-obj="event" data-show-existing-errors="true" data-target-obj="eventPrices" data-allowed-payment-proxies="allowedPaymentProxies"></edit-prices>
                <button class="btn btn-warning" data-ng-if="!editPrices" data-ng-click="toggleEditPrices(false)"><i class="fa fa-edit"></i> edit</button>
                <button class="btn btn-success" type="submit" data-ng-if="editPrices" data-ng-disabled="pricesForm.$waiting">save</button>
                <button class="btn btn-default" data-ng-if="editPrices" data-ng-disabled="pricesForm.$waiting" data-ng-click="toggleEditPrices(true)">cancel</button>
            </form>

            <div class="page-header" data-ng-if="isInternal(event) && pendingReservations.length > 0">
                <h3>Payments to be confirmed</h3>
                <h5>There are reservations for which a payment has not yet confirmed.</h5>
                <a class="btn btn-warning" data-ui-sref="events.single.pending-reservations({eventName: event.shortName})">
                    <i class="fa fa-dollar"></i> Pending payments <pending-reservations-badge data-event-name="{{event.shortName}}"></pending-reservations-badge>
                </a>
            </div>

            <div data-ng-if="isInternal(event) && !event.freeOfCharge">
                <div class="page-header">
                    <h3>Promo codes</h3>
                    <h5 class="text-muted">Manage/Handle the promo codes.</h5>
                    <button type="button" class="btn btn-success" data-ng-click="addPromoCode(event)"><i class="fa fa-plus"></i> add promo code</button>
                </div>
                <div data-ng-repeat="promocode in promocodes" class="container wMarginBottom" data-ng-class="{'category-success': !promocode.expired, 'category-expired': promocode.expired}">
                    <div class="page-header">
                        <div class="row">
                            <div class="col-sm-4">
                                <h4>{{::promocode.promoCode}} <span data-ng-if="promocode.expired">(Expired)</span></h4>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-4"><strong>Start validity</strong></div>
                                    <div class="col-sm-8">{{::promocode.formattedStart | formatDate}} </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4"><strong>End validity</strong></div>
                                    <div class="col-sm-8">{{::promocode.formattedEnd | formatDate}} </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4"><strong>Discount type</strong></div>
                                    <div class="col-sm-8">{{::promocode.discountType}} </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4"><strong>Discount amount</strong></div>
                                    <div class="col-sm-8">
                                        <span data-ng-if="promocode.discountType === 'PERCENTAGE'">{{::promocode.discountAmount}}%</span>
                                        <span data-ng-if="promocode.discountType === 'FIXED_AMOUNT'">{{::promocode.formattedDiscountAmount | currency : (event.currency || "")}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row wMarginBottom">
                        <div class="col-sm-12">
                            Used {{promocode.useCount}} times.
                        </div>
                    </div>
                    <div class="row wMarginBottom">
                        <div class="col-sm-4">
                            <button data-ng-show="promocode.useCount === 0" class="btn btn-warning" data-ng-click="deletePromocode(promocode)"><i class="fa fa-remove"></i> Delete</button>
                            <button data-ng-hide="promocode.expired" class="btn btn-warning" data-ng-click="disablePromocode(promocode)"><i class="fa fa-remove"></i> Disable</button>
                            <button class="btn btn-warning" ng-click="changeDate(promocode)"><i class="fa fa-calendar"></i> Change date</button>
                        </div>
                    </div>
                </div>
            </div>


            <div data-ng-if="isInternal(event)">

                <div class="page-header">
                    <h3>Categories</h3>
                    <h5 class="text-muted">Here the categories that have been defined for this event.</h5>
                    <button type="button" class="btn btn-success" data-ng-disabled="!event.addCategoryEnabled" data-ng-click="addCategory(event)"><i class="fa fa-plus"></i> add category</button>
                </div>

                <div class="form-inline">
                    <label class="btn btn-sm btn-default" data-ng-model="selection.active" data-uib-btn-checkbox><i class="fa" data-ng-class="{'fa-check-square-o': selection.active, 'fa-square-o': !selection.active}"></i> Active <span class="badge">{{countActive(event.ticketCategories)}}</span></label>
                    <label class="btn btn-sm btn-default" data-ng-model="selection.expired" data-uib-btn-checkbox><i class="fa" data-ng-class="{'fa-check-square-o': selection.expired, 'fa-square-o': !selection.expired}"></i> Expired <span class="badge">{{countExpired(event.ticketCategories)}}</span></label>
                    <label><div class="input-group"><div class="input-group-addon"><i class="fa fa-search"></i></div><input type="text" class="form-control input-sm" data-ng-model="selection.freeText"></div></label>
                </div>

                <div data-ng-if="(event.ticketCategories | showSelectedCategories : selection).length === 0" class="alert alert-warning">
                    No categories matching the selected criteria have been found.
                </div>

                <div data-ng-repeat="ticketCategory in event.ticketCategories | orderBy: ['id'] | showSelectedCategories : selection" class="container wMarginBottom" data-ng-class="evaluateCategoryStatusClass($index, ticketCategory)">
                    <div class="page-header">
                        <div class="alert alert-danger" data-ng-if="ticketCategory.containingOrphans" data-ng-form="moveTickets">
                            <div class="form-inline">
                                <i class="fa fa-warning"></i> This category contains orphan (not sold) tickets. Move them to another category:
                                <select class="form-control" data-ng-model="targetCategoryId" required data-ng-options="category.id as category.name for category in validCategories"></select>
                                <button class="btn btn-warning" data-ng-click="moveOrphans(ticketCategory, targetCategoryId, event.id)">apply</button>
                                <button data-ng-if="event.containsUnboundedCategories" class="btn btn-danger" data-ng-click="unbindTickets(event, ticketCategory)">Assign to dynamic categories</button>
                            </div>
                        </div>
                        <div class="alert alert-warning" data-ng-if="ticketCategory.containingStuckTickets">
                            <div class="container">
                                <i class="fa fa-warning"></i> This category contains tickets that have been paid but not yet confirmed. This is usually due to a Database failure after a successful payment. Please fix them.
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="col-sm-5">
                                    <h4>{{::ticketCategory.name}} <a class="btn btn-default" data-ng-click="openConfiguration(event, ticketCategory)"><i class="fa fa-wrench"></i></a><span class="sr-only"> Configuration</span></h4>
                                </div>
                                <div class="col-sm-7">
                                    <div class="row">
                                        <div class="col-sm-4"><strong>Max tickets</strong></div>
                                        <div class="col-sm-8" data-ng-if="ticketCategory.bounded">{{::ticketCategory.maxTickets}}</div>
                                        <div class="col-sm-8" data-ng-if="!ticketCategory.bounded">dynamic</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4"><strong>Initial sale date</strong></div>
                                        <div class="col-sm-8">{{::ticketCategory.formattedInception | formatDate}} </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4"><strong>End sale date</strong></div>
                                        <div class="col-sm-8">{{::ticketCategory.formattedExpiration | formatDate}} </div>
                                    </div>
                                    <div class="row" data-ng-if="!event.freeOfCharge">
                                        <div class="col-sm-4"><strong>Final price</strong></div>
                                        <div class="col-sm-8">{{::ticketCategory.actualPrice | currency : (event.currency || "")}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <ticket-status data-statistics-container="ticketCategory"></ticket-status>
                            </div>
                        </div>
                    </div>
                    <div class="wMarginBottom">
                            <button class="btn btn-warning" data-ng-click="editCategory(ticketCategory, event)"><i class="fa fa-edit"></i> edit</button>
                            <button data-ng-if="ticketCategory.containingTickets" class="btn btn-default" data-ng-click="toggleTicketViewCollapse(ticketCategory)">
                                <i class="fa fa-ticket"></i> <span data-ng-if="isTicketViewCollapsed(ticketCategory)">show</span><span data-ng-if="!isTicketViewCollapsed(ticketCategory)">hide</span> tickets
                            </button>
                            <button class="btn btn-default" data-ng-if="ticketCategory.accessRestricted" data-ng-click="toggleTokenViewCollapse(ticketCategory)">
                                <i class="fa fa-qrcode"></i> <span data-ng-if="isTokenViewCollapsed(ticketCategory)">show</span><span data-ng-if="!isTokenViewCollapsed(ticketCategory)">hide</span> tokens
                            </button>
                            <button data-ng-if="ticketCategory.accessRestricted && !ticketCategory.expired" class="btn btn-warning" data-ui-sref="events.single.sendInvitations({eventName: event.shortName, categoryId: ticketCategory.id})"><i class="fa fa-envelope-o"></i> send invitations</button>
                    </div>
                    <div data-ng-if="ticketCategory.containingTickets">
                        <div class="wMarginBottom table-responsive" data-collapse="isTicketViewCollapsed(ticketCategory)">
                            <table class="table">
                                <thead>
                                    <th>status</th>
                                    <th>id</th>
                                    <th>timestamp</th>
                                    <th>Owner's name</th>
                                    <th>Owner's e-mail</th>
                                    <th>Customer's name</th>
                                    <th>Customer's e-mail</th>
                                    <th>Payment Type</th>
                                    <th>transaction id</th>
                                    <th>payment gateway id</th>
                                    <th>transaction timestamp</th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="ticket in ::ticketCategory.tickets | orderBy: ['timestamp', 'transaction.id' , 'uuid']">
                                        <td data-ng-class-even="'active'"><i data-ng-class="evaluateTicketStatus(ticket.status)" data-uib-tooltip="{{ticket.status | statusText}}"></i><br/></td>
                                        <td data-ng-class-even="'active'"><a href="/event/{{::event.shortName}}/reservation/{{::ticket.ticketReservation.id}}/" target="_blank">{{::ticket.uuid}}</a></td>
                                        <td data-ng-class-even="'active'">{{::ticket.timestamp | formatDate:'DD.MM.YYYY HH:mm:ss'}}</td>
                                        <td data-ng-class-even="'active'">{{::ticket.fullName}}</td>
                                        <td data-ng-class-even="'active'">{{::ticket.email}}</td>
                                        <td data-ng-class-even="'active'">{{::ticket.ticketReservation.fullName}}</td>
                                        <td data-ng-class-even="'active'">{{::ticket.ticketReservation.email}}</td>
                                        <td data-ng-class-even="'active'">{{::ticket.ticketReservation.paymentMethod}}</td>
                                        <td data-ng-class-even="'active'"><span data-ng-if="ticket.paid">{{::ticket.transaction.id}}</span></td>
                                        <td data-ng-class-even="'active'"><span data-ng-if="ticket.paid">{{::ticket.transaction.transactionId}}</span></td>
                                        <td data-ng-class-even="'active'"><span data-ng-if="ticket.paid">{{::ticket.transactionTimestamp | formatDate:'DD.MM.YYYY HH:mm:ss'}}</span></td>
                                        <td data-ng-class-even="'active'"><button class="btn btn-warning" data-ng-click="toggleLocking(event, ticket, ticketCategory)"><span data-ng-if="ticket.lockedAssignment"><i class="fa fa-unlock"></i> unlock</span><span data-ng-if="!ticket.lockedAssignment"><i class="fa fa-lock"></i> lock</span></button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div data-ng-if="ticketCategory.accessRestricted">
                        <div class="wMarginBottom" data-collapse="isTokenViewCollapsed(ticketCategory)">
                            <div class="row">
                                <div class="col-sm-2" data-ng-repeat="token in ::ticketCategory.tokenStatus | orderBy: ['status', 'code']"><i class="status-icon" data-ng-class="evaluateClass(token)" title="{{::token.status}}"></i> {{::token.code}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="wMarginBottom">
                    <button type="button" class="btn btn-success" data-ng-disabled="!event.addCategoryEnabled" data-ng-click="addCategory(event)"><i class="fa fa-plus"></i> add category</button>
                </div>

                <!-- -->
                <div class="page-header">
                    <h3>Additional Fields</h3>
                    <h5 class="text-muted">Here are the additional fields defined</h5>
                </div>
                <div>
                    <div data-ng-repeat="field in additionalFields | orderBy: 'order' " class="category container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Field name</label>
                                    <div>{{field.name}}</div>
                                </div>
                                <div class="form-group">
                                    <label>Order</label>
                                    <div>{{field.order}}</div>
                                </div>
                                <div class="form-group">
                                    <label>Type</label>
                                    <div>{{field.type}}</div>
                                </div>
                            </div>
                            <div class="col-md-4" ng-if="field.type != 'country'">
                                <div data-ng-if="field.type === 'select'">
                                    <div data-ng-repeat="restrictedValue in field.restrictedValues">
                                        <div class="form-group">
                                            <label>Value</label>
                                            <div>{{restrictedValue}}</div>
                                        </div>
                                        <div>
                                            <div ng-repeat="lang in allLanguages" ng-if="isLanguageSelected(lang.value, event.locales)" class="form-group">
                                                <label>Text {{lang.displayLanguage}}</label>
                                                <div ng-if="!edit">{{field.description[lang.locale].description.restrictedValues[restrictedValue]}}</div>
                                                <input ng-if="edit" type="text" class="form-control" ng-model="toEdit.description[lang.locale].description.restrictedValues[restrictedValue]">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div data-ng-if="field.type == 'input:text' || field.type == 'input:tel' || field.type == 'textarea'">
                                    <div class="form-group">
                                        <label>Min length</label>
                                        <div>{{field.minLength}}</div>
                                    </div>
                                    <div class="form-group">
                                        <label>Max length</label>
                                        <div>{{field.maxLength}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div>
                                    <div ng-repeat="lang in allLanguages" ng-if="isLanguageSelected(lang.value, event.locales)">
                                        <div class="form-group">
                                            <label>Label {{lang.displayLanguage}}</label>
                                            <div ng-if="!edit">{{field.description[lang.locale].description.label}}</div>
                                            <input ng-if="edit" type="text" class="form-control" ng-model="toEdit.description[lang.locale].description.label">
                                        <div class="form-group">
                                            <label>Placeholder {{lang.displayLanguage}}</label>
                                            <div ng-if="!edit">{{field.description[lang.locale].description.placeholder}}</div>
                                            <input ng-if="edit" type="text" class="form-control" ng-model="toEdit.description[lang.locale].description.placeholder">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 text-right">
                            <p>
                                <button class="btn btn-default" ng-click="fieldUp($index)" ng-hide="edit || $first"><i class="fa fa-arrow-up"></i></button>
                                <button class="btn btn-default" ng-click="fieldDown($index)" ng-hide="edit || $last"><i class="fa fa-arrow-down"></i></button>
                                <button class="btn btn-danger" type="button" ng-click="deleteFieldModal(field)" ng-hide="edit"><i class="fa fa-trash"></i></button>
                                <button class="btn btn-warning" type="button" ng-click="toEdit = {};prepareFieldDescriptionEdit(toEdit, field);edit=true" ng-hide="edit"><i class="fa fa-wrench"></i></button>
                                <button class="btn btn-success" type="button" ng-click="saveFieldDescription(toEdit.description);edit=false" ng-show="edit">Save</button>
                                <button class="btn btn-default" type="button" ng-click="edit=false" ng-show="edit">Cancel</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="wMarginBottom">
                <button type="button" class="btn btn-success" data-ng-click="addField(event)"><i class="fa fa-plus"></i> add additional field</button>
            </div>

            <div class="page-header">
                <additional-services data-selected-languages="event.locales" data-event-is-free-of-charge="event.freeOfCharge" data-available-languages="allLanguages" data-on-modification="setAdditionalServices(event, additionalServices)" data-event-id="event.id" data-event-start-date="event.formattedBegin"></additional-services>
            </div>
           </div>

        </div>
</div>
