<div class="fa fa-refresh fa-spin fa-2x text-muted" data-ng-if="!event">
</div>
<div class="container" data-ng-if="event">
    <form name="headerForm" role="form" data-ng-submit="saveEventHeader(headerForm, eventHeader)" novalidate>
        <event-header data-ng-if="!editEventHeader"></event-header>
        <edit-event-header data-ng-if="editEventHeader" data-show-dates-warning="true" data-event-obj="event" data-target-obj="eventHeader" data-organizations="organizations"></edit-event-header>
        <button class="btn btn-warning" data-ng-if="!editEventHeader" data-ng-click="toggleEditHeader(false)"><i class="fa fa-edit"></i> edit</button>
        <button class="btn btn-success" type="submit" data-ng-if="editEventHeader" data-ng-disabled="headerForm.$waiting || !headerForm.$valid">save</button>
        <button class="btn btn-default" data-ng-if="editEventHeader" data-ng-disabled="headerForm.$waiting" data-ng-click="toggleEditHeader(true)">cancel</button>
    </form>
    <form name="pricesForm" role="form" data-ng-submit="saveEventPrices(pricesForm, eventPrices)" novalidate>
        <prices data-ng-if="!editPrices"></prices>
        <edit-prices data-ng-if="editPrices" data-show-price-warning="true" data-event-obj="event" data-target-obj="eventPrices" data-allowed-payment-proxies="allowedPaymentProxies"></edit-prices>
        <button class="btn btn-warning" data-ng-if="!editPrices" data-ng-click="toggleEditPrices(false)"><i class="fa fa-edit"></i> edit</button>
        <button class="btn btn-success" type="submit" data-ng-if="editPrices" data-ng-disabled="pricesForm.$waiting || !pricesForm.$valid">save</button>
        <button class="btn btn-default" data-ng-if="editPrices" data-ng-disabled="pricesForm.$waiting" data-ng-click="toggleEditPrices(true)">cancel</button>
    </form>

    <div class="page-header">
        <h3>Categories</h3>
        <h5 class="text-muted">Here the categories that have been defined for this event.</h5>
    </div>

    <div data-ng-repeat="ticketCategory in event.ticketCategories" class="container wMarginBottom" data-ng-class="evaluateCategoryStatusClass($index, ticketCategory)">
        <div class="page-header">
            <div class="alert alert-danger" data-ng-if="ticketCategory.containingOrphans" data-ng-form="moveTickets">
                <div class="form-inline">
                    <i class="fa fa-warning"></i> This category contains orphan (not sold) tickets. Move them to another category:
                    <select class="form-control" data-ng-model="targetCategoryId" required data-ng-options="category.id as category.name for category in validCategories"></select>
                    <button class="btn btn-danger" data-ng-click="moveOrphans(ticketCategory, targetCategoryId, event.id)">apply</button>
                </div>
            </div>
            <div class="alert alert-warning" data-ng-if="ticketCategory.containingStuckTickets">
                <div class="container">
                    <i class="fa fa-warning"></i> This category contains tickets that have been paid but not yet confirmed. This is usually due to a Database failure after a successful payment. Please fix them.
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <h4>{{::ticketCategory.name}}</h4>
                    <h5 class="text-muted">{{::ticketCategory.description}}</h5>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-4"><strong>Available seats</strong></div>
                        <div class="col-sm-8">{{::ticketCategory.maxTickets}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4"><strong>Initial sale date</strong></div>
                        <div class="col-sm-8">{{::ticketCategory.formattedInception | formatDate}} </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4"><strong>End sale date</strong></div>
                        <div class="col-sm-8">{{::ticketCategory.formattedExpiration | formatDate}} </div>
                    </div>
                    <div class="row" data-ng-if="!event.freeOfCharge">
                        <div class="col-sm-4"><strong>Final price</strong></div>
                        <div class="col-sm-8">{{calcCategoryPrice(ticketCategory, event) | currency : (event.currency || "")}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <progress>
                    <bar data-ng-if="ticketCategory.soldTickets > 0" type="success" value="ticketCategory.soldTicketsPercent">{{ticketCategory.soldTickets}}</bar>
                    <bar data-ng-if="ticketCategory.notSoldTickets > 0" type="danger" value="ticketCategory.notSoldTicketsPercent">{{ticketCategory.notSoldTickets}}</bar>
                </progress>
            </div>
            <div class="col-sm-4">sold: {{::ticketCategory.soldTickets}}, available: {{::ticketCategory.notSoldTickets}}</div>
        </div>
        <div data-ng-if="ticketCategory.containingTickets">
            <div class="wMarginBottom">
                <button class="btn btn-default" data-ng-click="toggleTicketViewCollapse(ticketCategory)">
                    <span data-ng-if="isTicketViewCollapsed(ticketCategory)">show</span><span data-ng-if="!isTicketViewCollapsed(ticketCategory)">hide</span> tickets
                </button>
            </div>
            <div class="wMarginBottom table-responsive" data-collapse="isTicketViewCollapsed(ticketCategory)">
                <table class="table">
                    <thead>
                        <th>status</th>
                        <th>id</th>
                        <th>timestamp</th>
                        <th>Owner's name</th>
                        <th>Owner's e-mail</th>
                        <th>Customer's name</th>
                        <th>Customer's e-mail</th>
                        <th>transaction id</th>
                        <th>transaction timestamp</th>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="ticket in ::ticketCategory.tickets">
                            <td data-ng-class-even="'active'"><i data-ng-class="evaluateTicketStatus(ticket.status)"></i></td>
                            <td data-ng-class-even="'active'">{{::ticket.uuid}}</td>
                            <td data-ng-class-even="'active'">{{::ticket.timestamp | formatDate:'DD.MM.YYYY HH:mm:ss'}}</td>
                            <td data-ng-class-even="'active'">{{::ticket.fullName}}</td>
                            <td data-ng-class-even="'active'">{{::ticket.email}}</td>
                            <td data-ng-class-even="'active'">{{::ticket.ticketReservation.fullName}}</td>
                            <td data-ng-class-even="'active'">{{::ticket.ticketReservation.email}}</td>
                            <td data-ng-class-even="'active'"><span data-ng-if="ticket.paid">{{::ticket.transaction.id}}</span></td>
                            <td data-ng-class-even="'active'"><span data-ng-if="ticket.paid">{{::ticket.transactionTimestamp | formatDate:'DD.MM.YYYY HH:mm:ss'}}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div data-ng-if="ticketCategory.accessRestricted">
            <div class="wMarginBottom">
                <button class="btn btn-default" data-ng-click="toggleTokenViewCollapse(ticketCategory)">
                    <span data-ng-if="isTokenViewCollapsed(ticketCategory)">show</span><span data-ng-if="!isTokenViewCollapsed(ticketCategory)">hide</span> tokens
                </button>
            </div>
            <div class="wMarginBottom" data-collapse="isTokenViewCollapsed(ticketCategory)">
                <div class="row">
                    <div class="col-sm-2" data-ng-repeat="token in ::ticketCategory.tokenStatus"><i class="status-icon" data-ng-class="evaluateClass(token)"></i> {{::token.code}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <button class="btn btn-default" data-ui-sref="events.edit({eventName: event.shortName})">edit</button>
    </div>
</div>