<div class="fa fa-refresh fa-spin fa-2x text-muted" data-ng-if="!event">
</div>
<div data-ng-if="event">
    <div class="container">
            <event-header data-ng-if="!editEventHeader">
                <button class="btn btn-sm btn-default" data-ng-click="editHeader()"><i class="fa fa-edit"></i> edit</button>
            </event-header>
            <prices>
                <button class="btn btn-sm btn-default" data-ng-click="editPrices()"><i class="fa fa-edit"></i> edit</button>
            </prices>

            <div class="page-header visible-sm visible-xs" data-ng-if="isInternal(event) && pendingReservations.length > 0">
                <h3>Payments to be confirmed</h3>
                <h5>There are reservations for which a payment has not yet confirmed.</h5>
                <a class="btn btn-warning" data-ui-sref="events.single.pending-reservations({eventName: event.shortName})">
                    <i class="fa fa-dollar"></i> Pending payments <pending-reservations-badge data-event-name="{{event.shortName}}"></pending-reservations-badge>
                </a>
            </div>

            <div data-ng-if="isInternal(event)">

                <div class="page-header">
                    <h3><i class="fa fa-paperclip"></i> Categories</h3>
                    <h5 class="text-muted">Here the categories that have been defined for this event.</h5>
                    <button type="button" class="btn btn-success" data-ng-disabled="!event.addCategoryEnabled" data-ng-click="addCategory(event)"><i class="fa fa-plus"></i> add category</button>
                </div>

                <div class="form-inline">
                    <label class="btn btn-sm btn-default" data-ng-model="selection.active" data-uib-btn-checkbox><i class="fa" data-ng-class="{'fa-check-square-o': selection.active, 'fa-square-o': !selection.active}"></i> Active <span class="badge">{{countActive(event.ticketCategories)}}</span></label>
                    <label class="btn btn-sm btn-default" data-ng-model="selection.expired" data-uib-btn-checkbox><i class="fa" data-ng-class="{'fa-check-square-o': selection.expired, 'fa-square-o': !selection.expired}"></i> Expired <span class="badge">{{countExpired(event.ticketCategories)}}</span></label>
                    <label><div class="input-group"><div class="input-group-addon"><i class="fa fa-search"></i></div><input type="text" class="form-control input-sm" data-ng-model="selection.freeText" data-ng-change="updateSelectionText(selection.freeText)"></div></label>
                </div>

                <div data-ng-switch="(event.ticketCategories | showSelectedCategories : selection).length">
                    <div data-ng-switch-when="0" class="alert alert-warning">
                        No categories matching the selected criteria have been found.
                    </div>
                    <div data-ng-switch-default="">
                        <div class="panel panel-default" data-ng-repeat="ticketCategory in event.ticketCategories | orderBy: ['formattedInception'] | showSelectedCategories : selection"
                             data-ng-class="{'panel-danger':ticketCategory.containingOrphans, 'panel-warning':ticketCategory.containingStuckTickets}"
                             data-ng-init="displayWarning = ticketCategory.containingStuckTickets || ticketCategory.containingOrphans"
                             id="ticket-category-{{ticketCategory.id}}">

                            <div class="panel-heading">
                                <div class="panel-title">
                                    <div class="row">
                                        <div class="col-xs-3" data-ng-class="{'text-danger':displayWarning}">
                                            <div class="category-name" data-ng-class="{'category-active': !ticketCategory.expired}"><i class="fa" data-ng-class="{'fa-warning': displayWarning, 'fa-paperclip': !displayWarning}"></i> {{ticketCategory.name}}</div>
                                        </div>
                                        <div class="hidden-xs hidden-sm col-md-4">
                                            <uib-progress max="getActualCapacity(ticketCategory, event)">
                                                <uib-bar value="ticketCategory.checkedInTickets" type="success" uib-tooltip="Checked in ({{ticketCategory.checkedInTickets}})"><span>{{ticketCategory.checkedInTickets}}</span></uib-bar>
                                                <uib-bar value="ticketCategory.soldTickets" type="warning" uib-tooltip="Sold ({{ticketCategory.soldTickets}})"><span>{{ticketCategory.soldTickets}}</span></uib-bar>
                                                <uib-bar value="ticketCategory.notSoldTickets" type="info" uib-tooltip="Still available ({{ticketCategory.notSoldTickets}})">{{ticketCategory.notSoldTickets}}</uib-bar>
                                                <uib-bar ng-if="!ticketCategory.bounded" value="event.dynamicAllocation" type="default" uib-tooltip="Dynamically allocated ({{event.dynamicAllocation}})">{{event.dynamicAllocation}}</uib-bar>
                                            </uib-progress>
                                        </div>
                                        <div class="col-xs-9 col-md-5">
                                            <div class="pull-right">
                                                <a class="btn btn-sm btn-default" data-ng-click="editCategory(ticketCategory, event)"><i class="fa fa-edit"></i> edit</a>
                                                <a class="btn btn-sm btn-default" data-ng-click="toggleTicketViewCollapse(ticketCategory)" data-ng-if="ticketCategory.containingTickets">
                                                    <i class="fa fa-ticket"></i> tickets
                                                </a>
                                                <a class="btn btn-sm btn-default" data-ng-click="toggleTokenViewCollapse(ticketCategory)" data-ng-if="ticketCategory.accessRestricted">
                                                    <i class="fa fa-qrcode"></i> tokens
                                                </a>
                                                <a class="btn btn-sm btn-default" data-ui-sref="events.single.sendInvitations({eventName: event.shortName, categoryId: ticketCategory.id})" data-ng-if="ticketCategory.accessRestricted && !ticketCategory.expired">
                                                    <i class="fa fa-envelope-o"></i> send invitations
                                                </a>
                                                <a class="btn btn-sm btn-default" data-ng-click="openConfiguration(event, ticketCategory)"><i class="fa fa-wrench"></i> options</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="row form-inline text-danger" data-ng-if="ticketCategory.containingOrphans">
                                    <div class="col-xs-12" data-ng-form="moveTickets">
                                        <i class="fa fa-warning"></i> This category contains orphan (not sold) tickets. Move them to another category:
                                        <select class="form-control input-sm" data-ng-model="targetCategoryId" required data-ng-options="category.id as category.name for category in validCategories"></select>
                                        <button class="btn btn-sm btn-warning" data-ng-click="moveOrphans(ticketCategory, targetCategoryId, event.id)">apply</button>
                                        <button data-ng-if="event.containsUnboundedCategories" class="btn btn-sm btn-warning" data-ng-click="unbindTickets(event, ticketCategory)">Assign to dynamic categories</button>
                                    </div>
                                </div>
                                <div class="row text-warning" data-ng-if="ticketCategory.containingStuckTickets">
                                    <div class="col-xs-12">
                                        <i class="fa fa-warning"></i> This category contains tickets which have been paid but not yet confirmed. This is usually due to a Database failure after a successful payment. Please fix them.
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-md-5">
                                        <div class="row">
                                            <div class="col-sm-4"><strong>Max tickets</strong></div>
                                            <div class="col-sm-8" data-ng-if="ticketCategory.bounded">{{::ticketCategory.maxTickets}}</div>
                                            <div class="col-sm-8" data-ng-if="!ticketCategory.bounded">dynamic</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4"><strong>Initial sale date</strong></div>
                                            <div class="col-sm-8">{{::ticketCategory.formattedInception | formatDate}} </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4"><strong>End sale date</strong></div>
                                            <div class="col-sm-8">{{::ticketCategory.formattedExpiration | formatDate}} </div>
                                        </div>
                                        <div class="row" data-ng-if="!event.freeOfCharge">
                                            <div class="col-sm-4"><strong>Price</strong></div>
                                            <div class="col-sm-8">{{::ticketCategory.price | currency : (event.currency || "")}}</div>
                                        </div>
                                        <div class="row" data-ng-if="!event.freeOfCharge">
                                            <div class="col-sm-4"><strong>Final price</strong></div>
                                            <div class="col-sm-8">{{::ticketCategory.actualPrice | currency : (event.currency || "")}}</div>
                                        </div>
                                    </div>
                                    <div class="col-md-7 hidden-xs"><p class="text-muted" data-ng-repeat="(lang, desc) in ticketCategory.description" title="{{lang}}"><display-commonmark-preview text="desc"></display-commonmark-preview> {{desc}}</p></div>
                                </div>
                                <div data-ng-if="ticketCategory.accessRestricted" class="wMarginBottom" data-uib-collapse="isTokenViewCollapsed(ticketCategory)">
                                    <hr>
                                    <button class="close" aria-label="Close" data-ng-click="toggleTokenViewCollapse(ticketCategory)"><i class="fa fa-close"></i></button>
                                    <h4>Tokens</h4>
                                    <ul class="list-inline">
                                        <li data-ng-repeat="token in ::ticketCategory.tokenStatus | orderBy: ['id']"><i class="status-icon" data-ng-class="evaluateClass(token)" title="{{::token.status}}"></i> {{::token.code}}</li>
                                    </ul>
                                </div>
                                <div data-ng-if="ticketCategory.containingTickets && !isTicketViewCollapsed(ticketCategory)">
                                    <hr>
                                    <button class="close" aria-label="Close" data-ng-click="toggleTicketViewCollapse(ticketCategory)"><i class="fa fa-close"></i></button>
                                    <h4><i class="fa fa-ticket"></i> Tickets</h4>
                                    <div class="h4">&nbsp;</div>
                                    <label><div class="input-group"><div class="input-group-addon"><i class="fa fa-search"></i></div><input name="ticket-{{ticketCategory.id}}-filter" type="text" class="form-control input-sm" data-ng-model="ticketCategory.ticketFilter" data-grab-focus=""></div></label>
                                    <div class="list-group">
                                        <div class="list-group-item" data-ng-repeat="ticket in ticketCategory.tickets | filter:ticketCategory.ticketFilter | orderBy: ['timestamp', 'transaction.id' , 'uuid']">
                                            <div class="list-group-item-heading">
                                                <button class="btn btn-sm btn-default pull-right" data-ng-click="toggleLocking(event, ticket, ticketCategory)"><span data-ng-if="ticket.lockedAssignment"><i class="fa fa-unlock"></i> unlock</span><span data-uib-tooltip="forbid ticket reassignment" data-tooltip-placement="left" data-ng-if="!ticket.lockedAssignment"><i class="fa fa-lock"></i> lock</span></button>
                                                <h4><i data-ng-class="evaluateTicketStatus(ticket.status)" data-uib-tooltip="{{ticket.status | statusText}}"></i> {{::ticket.uuid | limitTo:8}} <span data-ng-if="ticket.paid">Confirmed on: {{::ticket.transactionTimestamp | formatDate:'DD.MM.YYYY HH:mm:ss'}}</span> by {{::ticket.ticketReservation.fullName}}</h4>
                                            </div>
                                            <div class="list-group-item-text">
                                                <dl class="dl-horizontal">
                                                    <dt>id</dt>
                                                    <dd><a href="/event/{{::event.shortName}}/reservation/{{::ticket.ticketReservation.id}}/" target="_blank">{{::ticket.uuid}}</a></dd>
                                                    <dt>Reservation by</dt>
                                                    <dd>{{::ticket.ticketReservation.fullName}} &lt;{{::ticket.ticketReservation.email}}&gt;</dd>
                                                    <dt data-ng-if="!ticket.pending">Confirmed on</dt>
                                                    <dd data-ng-if="!ticket.pending">{{::ticket.ticketReservation.confirmationTimestamp | formatDate:'DD.MM.YYYY HH:mm:ss'}}</dd>
                                                    <dt data-ng-class="{'text-warning': !ticket.fullName}">Assignee</dt>
                                                    <dd>{{::ticket.fullName}} <span data-ng-if="ticket.email">&lt;{{::ticket.email}}&gt;</span></dd>
                                                    <dt data-ng-if="ticket.appliedDiscount > 0">Discount</dt>
                                                    <dd data-ng-if="ticket.appliedDiscount > 0"><samp>- {{::ticket.appliedDiscount | currency:ticket.currencyCode}}</samp></dd>
                                                    <dt data-ng-if="ticket.paid">Payment</dt>
                                                    <dd data-ng-if="ticket.paid"><samp>{{::ticket.finalPrice | currency:event.currency}}</samp> ({{::ticket.ticketReservation.paymentMethod}}) on {{::ticket.timestamp | formatDate:'DD.MM.YYYY HH:mm:ss'}}</dd>
                                                    <dt data-ng-if="ticket.paid">Transaction info</dt>
                                                    <dd data-ng-if="ticket.paid"><samp>{{::ticket.transaction.transactionId}}</samp> on {{::ticket.transactionTimestamp | formatDate:'DD.MM.YYYY HH:mm:ss'}}</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="wMarginBottom">
                    <button type="button" class="btn btn-success" data-ng-disabled="!event.addCategoryEnabled" data-ng-click="addCategory(event)"><i class="fa fa-plus"></i> add category</button>
                </div>

                <div data-ng-if="isInternal(event) && !event.freeOfCharge" id="promo-codes">
                    <div class="page-header">
                        <h3><i class="fa fa-percent"></i> Promo codes</h3>
                        <h5 class="text-muted">Manage/Handle the promo codes.</h5>
                    </div>
                    <div class="table-responsive">
                        <table class="table" data-ng-if="promocodes.length > 0">
                            <thead>
                            <tr>
                                <th>Code</th>
                                <th><abbr title="Usage count">count</abbr></th>
                                <th>Start</th>
                                <th>End</th>
                                <th>Type</th>
                                <th>Amount</th>
                                <th>Categories</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="promocode in promocodes" data-ng-class="{'text-muted': promocode.expired}">
                                <td>{{::promocode.promoCode}} <span data-ng-if="promocode.expired">(Expired)</span></td>
                                <td>{{promocode.useCount}}</td>
                                <td>{{::promocode.formattedStart | formatDate}}</td>
                                <td>{{::promocode.formattedEnd | formatDate}}</td>
                                <td>{{::promocode.discountType}}</td>
                                <td>
                                    <span data-ng-if="promocode.discountType === 'PERCENTAGE'">{{::promocode.discountAmount}}%</span>
                                    <span data-ng-if="promocode.discountType === 'FIXED_AMOUNT'">{{::promocode.formattedDiscountAmount | currency : (event.currency || "")}}</span>
                                </td>
                                <td><div ng-if="promocode.categories.length > 0"><p ng-repeat="categoryId in promocode.categories">{{::ticketCategoriesById[categoryId].name}}</p></div><div class="text-muted" ng-if="promocode.categories.length == 0 || promocode.categories == null">Apply to all</div></td>
                                <td>
                                    <button class="btn btn-sm btn-default" ng-click="changeDate(promocode)"><i class="fa fa-calendar"></i> Change date</button>
                                    <button data-ng-hide="promocode.expired" class="btn btn-sm btn-default" data-ng-click="disablePromocode(promocode)"><i class="fa fa-remove"></i> Disable</button>
                                    <button data-ng-show="promocode.useCount === 0" class="btn btn-sm btn-default" data-ng-click="deletePromocode(promocode)"><i class="fa fa-trash"></i> Delete</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div>
                            <button type="button" class="btn btn-success" data-ng-click="addPromoCode(event)"><i class="fa fa-plus"></i> add promo code</button>
                        </div>
                    </div>
                </div>

                <!-- -->
                <div class="page-header" id="additional-fields">
                    <h3><i class="fa fa-info-circle"></i> Attendees' data to collect</h3>
                    <h5 class="text-muted">The following data will be collected (full name, e-mail and language are collected by default)</h5>
                </div>
                <div class="panel panel-default" data-ng-repeat="field in additionalFields | orderBy: 'order' ">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <div class="row">
                                <div class="col-xs-5 col-md-3">
                                    [{{field.order}}] {{field.name}}
                                </div>
                                <div class="col-xs-7 col-md-9">
                                    <div class="pull-right"><!-- ng-click="toEdit = {};prepareFieldDescriptionEdit(toEdit, field);edit=true"-->
                                        <button class="btn btn-sm btn-default" type="button" data-ng-click="editField(event, false, field)" ng-hide="edit"><i class="fa fa-edit"></i> edit</button>
                                        <button class="btn btn-sm btn-default" ng-click="fieldUp($index)" ng-hide="edit || $first"><i class="fa fa-arrow-up"></i> move up</button>
                                        <button class="btn btn-sm btn-default" ng-click="fieldDown($index)" ng-hide="edit || $last"><i class="fa fa-arrow-down"></i> move down</button>
                                        <button class="btn btn-sm btn-default" type="button" ng-click="deleteFieldModal(field)" ng-hide="edit"><i class="fa fa-trash"></i> delete</button>
                                        <button class="btn btn-sm btn-success" type="button" ng-click="saveFieldDescription(toEdit.description);edit=false" ng-show="edit">Save</button>
                                        <button class="btn btn-sm btn-default" type="button" ng-click="edit=false" ng-show="edit">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12 col-md-5">
                                <div class="row">
                                    <div class="col-sm-4"><strong>Field name</strong></div>
                                    <div class="col-sm-8" >{{field.name}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4"><strong>Type</strong></div>
                                    <div class="col-sm-8">{{field.type}} </div>
                                </div>
                                <div class="row" data-ng-if="field.type == 'input:text' || field.type == 'input:tel' || field.type == 'textarea'">
                                    <div class="col-sm-4"><strong>Min length</strong></div>
                                    <div class="col-sm-8">{{field.minLength}}</div>
                                </div>
                                <div class="row" data-ng-if="field.type == 'input:text' || field.type == 'input:tel' || field.type == 'textarea'">
                                    <div class="col-sm-4"><strong>Max Length</strong></div>
                                    <div class="col-sm-8">{{field.maxLength}}</div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-5">
                                <div class="row">
                                    <div class="col-sm-4"><strong>Label</strong></div>
                                    <div class="col-sm-8">
                                        <span data-ng-repeat="lang in allLanguages | selectedLanguages:event.locales"><span title="{{lang.displayLanguage}}">{{field.description[lang.locale].description.label}}</span><span data-ng-if="!$last"> / </span></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4"><strong>Placeholder</strong></div>
                                    <div class="col-sm-8">
                                        <span data-ng-repeat="lang in allLanguages | selectedLanguages:event.locales">
                                            <span title="{{lang.displayLanguage}}">{{field.description[lang.locale].description.placeholder}}</span><span data-ng-if="!$last"> / </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr data-ng-if="field.type == 'select'" />
                        <div class="row" data-ng-if="field.type == 'select'">
                            <div class="col-xs-1"><strong>Values</strong></div>
                            <div class="col-xs-11">
                                <div data-ng-repeat="restrictedValue in field.restrictedValues">
                                    <span><strong>{{restrictedValue}}</strong>: </span>
                                    <span data-ng-repeat="lang in allLanguages | selectedLanguages:event.locales">
                                        <span title="{{lang.displayLanguage}}">{{field.description[lang.locale].description.restrictedValues[restrictedValue]}}</span><span data-ng-if="!$last"> / </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <hr data-ng-if="field.context === 'ADDITIONAL_SERVICE'" />
                        <div data-ng-if="field.context === 'ADDITIONAL_SERVICE'">
                            <i class="fa fa-info-circle"></i> collected only if <i><a data-ng-click="goToAdditionalService(field.additionalServiceId)">{{additionalServiceDescription(event, field.additionalServiceId)}}</a></i> has been selected.
                        </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="wMarginBottom">
                <button type="button" class="btn btn-success" data-ng-click="editField(event, true)"><i class="fa fa-plus"></i> add new</button>
            </div>

            <div class="page-header" id="donation-options">
                <additional-services data-selected-languages="event.locales" data-event-is-free-of-charge="event.freeOfCharge" data-on-modification="setAdditionalServices(event, additionalServices)" data-event-id="event.id" data-event-start-date="event.formattedBegin"></additional-services>
            </div>
           </div>

        </div>
</div>
