<div class="container text-center" data-ng-if="!event">
    <i class="fa fa-cog fa-3x"></i>
</div>
<div class="container" data-ng-if="event">
    <div class="page-header">
        <h1>Create new Event</h1>
        <small class="text-muted">Please fill in the required information and then save</small>
    </div>
    <div>
        <button class="btn btn-success" type="button" data-ng-click="openCopyEvent()">
            <i class="fa fa-copy"></i> Copy from previous event
        </button>
    </div>
    <form role="form" name="editEvent" data-ng-submit="save(editEvent, event)" data-error-sensitive="editEventHeader,editPrices" novalidate>
        <edit-event-header data-target-obj="event" data-organizations="organizations" data-full-edit-mode="true" data-show-existing-errors="showExistingErrors" data-all-languages="allLanguages" data-all-languages-mapping="allLanguagesMapping"></edit-event-header>

        <div class="alert alert-warning" ng-if="event && !event.organizationId">
            <i class="fa fa-warning"></i>
            <span>Please select an Organizer to continue</span>
        </div>

        <div ng-if="event && event.organizationId">
            <div class="page-header">
                <h3>Seats and payment info</h3>
            </div>

            <edit-prices data-target-obj="event" data-full-edit-mode="true" data-allowed-payment-proxies="allowedPaymentProxies" data-show-existing-errors="showExistingErrors"></edit-prices>

            <div class="page-header">
                <h3>Categories</h3>
                <small class="text-muted">Here you can define all the ticket categories for the event. Please note that at least one category is required in order to create the event.</small>
            </div>

            <div class="row wMarginBottom" ng-if="event.ticketCategories.length > 0">
                <div class="col-sm-12">
                    Allocated Seats:
                    <uib-progress max="event.availableSeats || 0">
                        <uib-bar data-ng-repeat="category in event.ticketCategories | boundedCategories | orderBy: ['inception', 'expiration']" value="calcBarValue(category)" type="{{evaluateBarType($index)}}"><strong>{{category.name}}</strong> ({{category.maxTickets}})</uib-bar>
                        <uib-bar data-ng-if="(event.ticketCategories | boundedCategories:true).length > 0" value="calcDynamicTickets(event.availableSeats, event.ticketCategories)"><strong>{{allDynamicCategories(event.availableSeats, event.ticketCategories)}}</strong> ({{calcDynamicTickets(event.availableSeats, event.ticketCategories)}})</uib-bar>
                    </uib-progress>
                </div>
            </div>
            <div data-ng-form="category" data-ng-repeat="ticketCategory in event.ticketCategories | orderBy:['ordinal', 'inception.date','inception.time']" ng-class="'category-'+$index">
                <ticket-category-detail data-box-class="'category-' + evaluateBarType($index)"
                                        data-event="event"
                                        data-ticket-category="ticketCategory"
                                        data-edit-handler="editCategory"
                                        data-remove-handler="removeCategory"
                                        data-panel-mode-enabled="true"
                                        data-swap-enabled="event.ticketCategories.length > 1"
                                        data-swap-handler="swap"
                                        data-is-first="$first"
                                        data-is-last="$last"></ticket-category-detail>
            </div>

            <div class="alert alert-danger" ng-if="event.ticketCategories.length === 0">
                <i class="fa fa-warning"></i>
                <span ng-if="canAddCategory(event.ticketCategories)">Please define at least one category</span>
                <span ng-if="!canAddCategory(event.ticketCategories)">Please define the number of seats (Max Tickets)</span>
            </div>


            <div class="row">
                <div class="col-xs-12">
                    <button type="button" class="btn btn-success" data-ng-disabled="!canAddCategory(event.ticketCategories)" data-ng-click="addCategory()"><i class="fa fa-plus"></i> Add new</button>
                </div>
            </div>

            <hr class="wMarginTop30px"/>

            <div class="row">
                <div class="col-xs-12 col-md-10 col-md-push-2">
                    <control-buttons data-form-obj="editEvent" data-disable-submit="submitting"></control-buttons>
                </div>
                <div class="col-xs-12 col-md-2 col-md-pull-10">
                    <button class="btn btn-lg btn-block btn-default" ng-click="reset()" type="button">Reset values</button>
                </div>
            </div>
        </div>
    </form>
</div>