<div class="container text-center" data-ng-if="!event">
    <i class="fa fa-cog fa-3x"></i>
</div>
<div class="container" data-ng-if="event">
    <div class="page-header">
        <h1>Create new Event</h1>
        <h4 class="text-muted">Please fill in the required information and then save</h4>
    </div>
    <form role="form" name="editEvent" data-ng-submit="save(editEvent, event)" data-error-sensitive="editEventHeader,editPrices" novalidate>
        <edit-event-header data-target-obj="event" data-organizations="organizations" data-full-edit-mode="true" data-show-existing-errors="showExistingErrors" data-all-languages="allLanguages" data-all-languages-mapping="allLanguagesMapping"></edit-event-header>

        <div data-ng-if="isInternal(event)">
            <edit-prices data-target-obj="event" data-full-edit-mode="true" data-allowed-payment-proxies="allowedPaymentProxies" data-show-existing-errors="showExistingErrors"></edit-prices>

            <div class="page-header">
                <h3>Categories</h3>
                <h5 class="text-muted">Here you can define all the ticket categories for the event. Please note that at least one category is required in order to create the event.</h5>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    total:
                    <uib-progressbar value="100">{{event.availableSeats}}</uib-progressbar>
                    assigned:
                    <uib-progress>
                        <uib-bar data-ng-repeat="category in event.ticketCategories | orderBy: ['inception', 'expiration', 'bounded']" value="calcBarValue(category, event.availableSeats)" type="{{evaluateBarType($index)}}">{{category.name}} ({{category.maxTickets}})</uib-bar>
                    </uib-progress>
                </div>
            </div>
            <div class="row category" data-ng-form="category" data-ng-repeat="ticketCategory in event.ticketCategories" data-ng-class="'category-' + evaluateBarType($index)">
                <edit-category></edit-category>
            </div>

            <div class="row">
                <div class="col-sm-11"><span class="text-right" data-ng-if="event.ticketCategories.length == 0">No ticket categories have been defined. Please add a new one by clicking here</span></div>
                <div class="col-sm-1"><button type="button" class="btn btn-success" data-ng-disabled="!canAddCategory(event.ticketCategories)" data-ng-click="addCategory()"><i class="fa fa-plus"></i></button></div>
            </div>
            <br class="clearfix"/>


            <div class="page-header">
                <h3>Ticket form fields</h3>
                <h5 class="text-muted">Here you can add/remove additional fields</h5>
            </div>

            <div data-ng-repeat="field in event.ticketFields | orderBy: 'order' " class="category container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Field name</label>
                            <input type="input" ng-model="field.name" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Order</label>
                            <input type="number" ng-model="field.order" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Type</label>
                            <select ng-model="field.type" ng-options="option for option in fieldTypes" class="form-control" required></select>
                        </div>
                    </div>
                    <div class="col-md-4" ng-if="field.type != 'country'">
                        <div data-ng-if="field.type === 'select'">
                            <div data-ng-repeat="restrictedValue in field.restrictedValues">
                                <div class="form-group">
                                    <label>Value</label>
                                    <input ng-model="restrictedValue.value" class="form-control" required>
                                </div>
                                <div>
                                    <div ng-repeat="lang in allLanguages" ng-if="isLanguageSelected(lang.value, event.locales)" class="form-group">
                                        <label>Text {{lang.displayLanguage}}</label>
                                        <input ng-model="field.description[lang.locale].restrictedValues[restrictedValue.value]" class="form-control" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="button" ng-click="field.restrictedValues.splice(field.restrictedValues.indexOf(restrictedValue), 1)" class="btn btn-default">Remove</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="button" data-ng-click="addRestrictedValue(field);" class="btn btn-success">Add value</button>
                            </div>
                        </div>
                        <div data-ng-if="field.type == 'input:text' || field.type == 'input:tel' || field.type == 'textarea'">
                            <div class="form-group">
                                <label>Min length</label>
                                <input type="number" ng-model="field.minLength" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Max length</label>
                                <input type="number" ng-model="field.maxLength" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <div ng-repeat="lang in allLanguages" ng-if="isLanguageSelected(lang.value, event.locales)">
                                <div class="form-group">
                                    <label>Label {{lang.displayLanguage}}</label>
                                    <input ng-model="field.description[lang.locale].label" type="text" placeholder="label" class="form-control" required></div>
                                <div class="form-group">
                                    <label>Placeholder {{lang.displayLanguage}}</label>
                                    <input ng-model="field.description[lang.locale].placeholder" type="text" placeholder="placeholder" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12"><button type="button" ng-click="removeTicketField(event.ticketFields, field)" class="btn btn-default"><i class="fa fa-trash-o"></i></button></div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-11">
                    <h4>Add from template <span data-ng-repeat="template in dynamicFieldTemplates" ><a class="btn btn-primary btn-xs" data-ng-click="addTicketFieldFromTemplate(event, template)">{{template.name}}</a> </span></h4>

                </div>
                <div class="col-sm-1"><p><button type="button" class="btn btn-success" ng-click="addNewTicketField(event)"><i class="fa fa-plus"></i></button></p></div>
            </div>
        </div>

        <div class="wMarginBottom">
            <additional-services data-selected-languages="event.locales" data-event-is-free-of-charge="event.freeOfCharge" data-available-languages="allLanguages" data-on-modification="setAdditionalServices(event, additionalServices)" data-event-start-date="event.begin | formatDateTimeModification"></additional-services>
        </div>

        <control-buttons data-form-obj="editEvent"></control-buttons>
    </form>
</div>