<div class="container text-center" data-ng-if="!event">
    <i class="fa fa-cog fa-3x"></i>
</div>
<div class="container" data-ng-if="event">
    <div class="page-header">
        <h1>Create new Event</h1>
        <h4 class="text-muted">Please fill in the required information and then save</h4>
    </div>
    <form role="form" name="editEvent" data-ng-submit="save(editEvent, event)" data-error-sensitive="editEventHeader,editPrices" novalidate>
        <edit-event-header data-target-obj="event" data-organizations="organizations" data-full-edit-mode="true" data-show-existing-errors="showExistingErrors" data-all-languages="allLanguages" data-all-languages-mapping="allLanguagesMapping"></edit-event-header>

        <edit-prices data-target-obj="event" data-full-edit-mode="true" data-allowed-payment-proxies="allowedPaymentProxies" data-show-existing-errors="showExistingErrors"></edit-prices>

        <div class="page-header">
            <h3>Categories</h3>
            <h5 class="text-muted">Here you can define all the ticket categories for the event. Please note that at least one category is required in order to create the event.</h5>
        </div>

        <div class="row">
            <div class="col-sm-12">
                total:
                <progressbar value="100">{{event.availableSeats}}</progressbar>
                assigned:
                <progress>
                    <bar data-ng-repeat="category in event.ticketCategories | orderBy: ['inception', 'expiration', 'bounded']" value="calcBarValue(category, event.availableSeats)" type="{{evaluateBarType($index)}}">{{category.name}} ({{category.maxTickets}})</bar>
                </progress>
            </div>
        </div>
        <div class="row category" data-ng-form="category" data-ng-repeat="ticketCategory in event.ticketCategories" data-ng-class="'category-' + evaluateBarType($index)">
            <edit-category></edit-category>
        </div>

        <div class="row">
            <div class="col-sm-11"><span class="text-right" data-ng-if="event.ticketCategories.length == 0">No ticket categories have been defined. Please add a new one by clicking here</span></div>
            <div class="col-sm-1"><button type="button" class="btn btn-success" data-ng-disabled="!canAddCategory(event.ticketCategories)" data-ng-click="addCategory()"><i class="fa fa-plus"></i></button></div>
        </div>
        <br class="clearfix"/>
        <control-buttons data-form-obj="editEvent"></control-buttons>
    </form>
</div>