<div class="modal-body">
    <div ng-if="!ctrl.showReservation"><reservation-create event="ctrl.event" on-cancel="ctrl.close" on-creation="ctrl.onCreation" fast-creation="true"></reservation-create></div>
    <div ng-if="ctrl.showReservation && !ctrl.resetReservationView"><reservation-view purchase-context="ctrl.event" purchase-context-type="ctrl.purchaseContextType" reservation-descriptor="ctrl.reservationDescriptor" on-update="ctrl.onUpdate" on-confirm="ctrl.onConfirm"></reservation-view></div>
</div>